{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>My Account</title>

  <!--GOOGLE FONTS-->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@1,600&family=PT+Sans+Narrow:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet" >

  <!--CSS STYLESHEETS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'sheltownapp/css/useraccstylevan.css' %}">

  <!--FONT fontawesome-->
  <script src="https://kit.fontawesome.com/16f30f9210.js" crossorigin="anonymous"></script>

  <!--BOOTSTRAP SCRIPTS-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
  <section class="desktop-acc">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;padding-right: 0px;">
        <img class="mobile-img" src="{% static 'sheltownapp/img/seraccimg/mobile.jpg' %}" alt="mobile">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 0px;padding-right: 25px;" >
        <section class="my-acc" style="  background-color: #2ECAB6;">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <p class="heading">
                <a href="{% url 'sheltown-emptyredirect' %}" style="color:#fff"><i class="fas fa-arrow-left" style="margin-right:5px;margin-left: 10px;margin-top: 10px;"></i> </a> My Account
              </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 home">
              <p>
                <a href="{% url 'sheltown-emptyredirect' %}" style="color:#fff"><i class="fas fa-home" style="margin-right: 10px;margin-top: 10px;"></i></a>
              </p>
            </div>
          </div>

          <div class="row ">
            <div class="col-lg-12 col-md-12 col-s-12 acc-info">
              <i class="far fa-user-circle fa-7x"></i> <br /> {{ user.custom_user.f_name }}&nbsp;{{ user.custom_user.l_name }} <br /> {{ user.username }} <br />{{ user.custom_user.phone_number }}
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 edit">
              <a href="#" style="color:#fff"> <i class="fas fa-pencil-alt" style="margin-right: 10px;margin-top: 15px;"></i></a>
            </div>
          </div> -->

        </section>

        <section>
          <div class="card-container" style="margin-top: 32px;">
            <div class="card-col">
              <div class="card-inner">
                <div class="icon">
                  <strong style="font-size: 20px;"><i class="fa fa-home" aria-hidden="true"></i> My Bookings</strong>
                  <hr style="margin-bottom: 0px;">
                  <div class="hidden-content">
                    <p style="margin-top:10px;"><a href="{% url 'bookings-user' %}">View properties you booked</a></p>
                    </br>
                  </div>
                </div>
              </div>
            </div>
            </br>

            <div class="card-col">
              <div class="card-inner">
                <div class="icon">
                  <strong style="font-size: 20px;"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> My Appointments</strong>
                     <hr style="margin-bottom: 0px;">
                  <div class="hidden-content">
                    <p style="margin-top:10px;"><a href="{% url 'userappointment' %}">View services you booked</a></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="card-col">
              <div class="card-inner">
                <div class="icon">
                  <strong style="font-size: 20px;"><i class="fa fa-bell" aria-hidden="true"></i> Notifications</strong>
                    <hr style="margin-bottom: 0px;">

                  <div class="hidden-content">
                    <p style="margin-top:10px;"><a href="notifications.html" ; style="margin-right: 0.5rem;">View all notifications</a></p>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="card-col">
              <div class="card-inner">
                <div class="icon">
                  <strong style="font-size: 20px;"><i class="fa fa-clock-o" aria-hidden="true"></i> 24/7 Help</strong>
                    <hr style="margin-bottom: 0px;">

                  <div class="hidden-content">
                    <p style="margin-top:10px;"><a href="{% url 'query-247-help' %}">Raise and issue</a></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-col">
              <div class="card-inner">
                <div class="icon">
                  <strong style="font-size: 20px;"><i class="fa fa-check" aria-hidden="true"></i> Sheltown Verified</strong>
                      <hr style="margin-bottom: 0px;">

                  <div class="hidden-content">
                    <p style="margin-top:10px;"><a href="{% url 'verifyuseraccount' %}">Verify yourself</a></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-col">
              <div class="card-inner">
                <div class="icon">
                  <strong style="font-size: 20px;">
                    <i class="fa fa-credit-card" aria-hidden="true"></i> Transaction Details</strong>
                      <hr style="margin-bottom: 0px;">
                  <div class="hidden-content">
                    <p style="margin-top:10px;"><a href="{% url 'userpartner-mytransactions' %}">View </a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="button">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom:30px;">
              <a href="{% url 'logout' %}?next=/"><button type="button" class="btn btn-light button-style">Logout</button></a>
            </div>
          </div>
        </section>
      </div>

    </div>
  </section>


  <section class="mobile-acc">
    <section class="my-acc" style="  background-color: #2ECAB6; margin-left:20px; margin-right:20px; height:700px;">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <p class="heading">
            <a href="{% url 'sheltown-emptyredirect' %}" style="color:#fff; font-size:45px;"><i class="fas fa-arrow-left" style="margin-right:5px;margin-left: 10px;margin-top: 10px;"></i> </a> <span style="font-size:45px; font-family: " Montserrat", sans-serif;">My Account</span>
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 home">
          <p >
            <a href="{% url 'sheltown-emptyredirect' %}" style="color:#fff; font-size:45px;"><i class="fas fa-home" style="margin-right: 10px;margin-top: 10px;"></i></a>
          </p>
        </div>
      </div>

      <div class="row " style="margin-top:115px;">
        <div class="col-lg-12 col-md-12 col-s-12 acc-info">
          <i class="far fa-user-circle fa-7x"></i> <br /> <span style="font-size:45px;font-family: " Montserrat", sans-serif;">{{ user.custom_user.f_name }}&nbsp;{{ user.custom_user.l_name }} <br /> {{ user.username }} <br />{{ user.custom_user.phone_number }} <br /></span>
        </div>
      </div>
      <!-- <div class="row" style="margin-top:120px;">
        <div class="col-lg-12 col-md-12 col-sm-12 edit">
          <a href="#" style="color:#fff"> <i class="fas fa-pencil-alt" style="margin-right: 10px;margin-bottom: 10px; font-size:35px;"></i></a>
        </div>
      </div> -->

    </section>



    <section>
      <div class="card-container mob-cont">

        <div class="card-col">
          <div class="card-inner" style="height:300px;">
            <div class="icon">
              <i class="fa fa-home" style="font-size:45px;" aria-hidden="true"></i><span class="mob-heading"> My Bookings</span>
              <hr style="margin-top:50px;margin-bottom: 100px;">
              <div class="hidden-content">
                <p><a href="booking_user.html" class="para-heading">View properties you booked</a></p>
                </br>
              </div>
            </div>
          </div>
        </div>




        <div class="card-col">
          <div class="card-inner" style="height:300px;">
            <div class="icon">
              <i class="fa fa-calendar-check-o" style="font-size:45px;" aria-hidden="true"></i> <span class="mob-heading">My Appointments</span>

              <hr style="margin-top:50px;margin-bottom: 100px;">
              <div class="hidden-content">
                <p><a href="{% url 'userappointment' %}" class="para-heading">View services you booked</a></p>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="card-col">
          <div class="card-inner" style="height:300px;">
            <div class="icon">
              <i class="fa fa-bell" style="font-size:45px;" aria-hidden="true"></i><span class="mob-heading"> Notifications</span>
              <hr style="margin-top:50px;margin-bottom: 100px;">

              <div class="hidden-content">
                <p><a href="notifications.html" class="para-heading" style="margin-right: 0.5rem;">View all notifications</a></p>
              </div>
            </div>
          </div>
        </div> -->


        <div class="card-col">
          <div class="card-inner" style="height:300px;">
            <div class="icon">
              <i class="fa fa-clock-o" style="font-size:45px;" aria-hidden="true"></i><span class="mob-heading"> 24/7 Help</span>

              <hr style="margin-top:50px;margin-bottom: 100px;">
              <div class="hidden-content">
                <p><a href="{% url 'query-247-help' %}" class="para-heading">Raise and issue</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-col">
          <div class="card-inner" style="height:300px;">
            <div class="icon">
              <i class="fa fa-check" style="font-size:45px;" aria-hidden="true"></i><span class="mob-heading">Sheltown Verified</span>

              <hr style="margin-top:50px; margin-bottom: 100px;">
              <div class="hidden-content">
                <p><a href="{% url 'verifyuseraccount' %}" class="para-heading">Verify yourself</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card-col">
          <div class="card-inner" style="height:300px;">
            <div class="icon">

              <i class="fa fa-credit-card" style="font-size:45px;" aria-hidden="true"></i><span class="mob-heading">Transaction Details</span>
              <hr style="margin-top:50px; margin-bottom: 100px;">
              <div class="hidden-content">
                <p><a href="transaction.html" class="para-heading">View </a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="row" style="text-align: right;">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <a href="{% url 'logout' %}?next=/"><button type="button" class="btn btn-light button-style mob-button">Logout</button></a>
        </div>
      </div>
    </section>
  </section>
</body>

</html>