
<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@1,600&family=PT+Sans+Narrow:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  

</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@1,600&family=PT+Sans+Narrow:wght@700&family=Source+Sans+Pro&display=swap');
h1{
font-family: 'Montserrat', sans-serif bold;
font-size: 30px;
color:white;
}
 h2{
font-family: 'PT Sans Narrow', sans-serif bold;
font-size: 30px;
color:white;
}
h3{ font-family: 'Montserrat', sans-serif;
 font-size:20px;}
@media only screen and (max-width: 600px) {
        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 15px;
        }
        h3{
          font-size: 13px;
        }
          .card {
            width: 100% !important;
        }
       
        .col{
          width:100%;

        }
        .hide{
          display:none;
        }
        

    }
.img{
  height:50px;
}

.content{
  margin-left:40px;
  margin-top:40px;
  

}
.temp{
  text-align:right;
}
.button {
  background-color: #2EC4B6; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif bold;
}


i , h1{
  display:inline-block;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
@media only screen and (max-width: 600px) {
        .button{
          font-size: 10px;
        }
        *{
    margin: 0;
    padding: 0;
}
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.temp1{
  display:inline-block;
}

  
   
</style>
<body style="font-style:montserrat;">
<section style="height:40px;">
	<div class="card " style="background-color: #2ECAB6; width:100%; margin:0 auto;">
	<div class="card-body" >
		
		<a href="{% url 'myaccount-servicepartner' %}"><i class="fa fa-arrow-left" style="font-size:24px; color:white;"></i></a>

		<h1 style="font-size:30px;">  My Bookings</h1>
		


	</div>
</div>
</section>
<br>
<br>
<br>
<div class="container">
<div class="row">


<div class="col-xs-6 col-md-6 col-lg-6 hide" style="">
<img src="{% static 'sheltownapp/img/propaccimg/booking.jpg' %}" align="left" class="img1" style="width:500px; height:800px; align:left;"></img>
</div>
<div class="col-xs-6 col-md-6 col-lg-6">
<section>
	<div class="card shadow-lg p-3 mb-5 bg-white rounded " style="width:100%; margin:0 auto;">
	<div class="card-body">
		<div class="card-title" style="background-color: #2EC4B6; ">
			<h2 style="font-size:30px; margin-left:10px;">Scheduled</h2>

		</div>
		<div class="content">
		<h3 >Property Name: Imperial house apartments</h3>
		<br>
		<h3 >Booked on: 08:14 AM 08/02/2020</h3>
		<br>
		<h3 >Payement status:Recieved</h3>
		<br>
		<h3 >Move in as scheduled :5/5/2020</h3>
		</div>

<div class="temp">
    <button class="button" data-toggle="modal" data-target="#payrent"><span>Pay rent</span></button>
   
<button class="button" data-toggle="modal" data-target="#issue"><span>Raise an issue</span></button>
	</div>
</div>

</section>


<section>
	<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width:100%; margin:0 auto;">
<div class="card-body">
		<div class="card-title" style="background-color: #2EC4B6;">
			<h2 style="font-size:30px; margin-left:10px;" >Previous Bookings<h2>

		</div>
		<div class="content">
		<h3 >Service:Personalized service</h3>
		<br>
		<h3>Booked on:23/5/2020</h3>
		<br>
            <h3>Moved out:24/5/2020</h3>
		<br>

		</div>


<button class="button" data-toggle="modal" data-target="#myModal"><span>Feedback</span></button>
</section></div></div></div>
    <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title">Your Feedback is important</h3>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
         <form class="was-validated">
  <div class="mb-3">
    <label for="validationTextarea">Write your Review</label>
    <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Write something" required></textarea>
    <div class="invalid-feedback">
      Please enter a message in the textarea.
    </div>
      <div class="rate">&nbsp;
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
  </div>
      <button class="button"  data-dismiss="modal">Submit</button>
  </div>
         </form>
        </div>
      </div>
    </div>
  </div>
	</div>





	</div>

</div>





</section>

<!-- pay rent modal -->
<div class="modal" id="payrent" >
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h1 class="modal-title"><button type="button" class="btn btn-warning" disabled>Pay Rent</button></h1>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purpose</th>
      <th scope="col">Amount(₹)</th>
      <th scope="col">Due Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Security</th>
      <td>4000</td>
      <td>21/07/2020</td>
      <td><button type="button" class="btn btn-warning">Pay Now</button></td>
    </tr>
     <tr>
      <th scope="row">Maintinance</th>
      <td>5000</td>
      <td>21/07/2020</td>
      <td><button type="button" class="btn btn-warning">Pay Now</button></td>
    </tr>
     <table class="table table-striped">

  <tbody>
    <tr>
      <th scope="row">Security</th>
      <td>3500</td>
      <td>June 2020</td>
      <td>Paid</td>
    </tr>
   <tr>
      <th scope="row">Security</th>
      <td>3500</td>
      <td>May 2020</td>
      <td>Paid</td>
    </tr>
    <tr>
      <th scope="row">Security</th>
      <td>3500</td>
      <td>April 2020</td>
      <td>Paid</td>
    </tr>
  <tr>
      <th scope="row">Security</th>
      <td>3500</td>
      <td>March 2020</td>
      <td>Paid</td>
    </tr>
   <tr>
      <th scope="row">Security</th>
      <td>3000</td>
      <td>Feb 2020</td>
      <td>Paid</td>
    </tr>
    <tr>
      <th scope="row">Security</th>
      <td>3000</td>
      <td>Jan 2020</td>
      <td>Paid</td>
    </tr>
  <tr>
      <th scope="row">Maintinance</th>
      <td>3500</td>
      <td>June 2020</td>
      <td>Paid</td>
    </tr>
   <tr>
      <th scope="row">Maintinance</th>
      <td>3500</td>
      <td>May 2020</td>
      <td>Paid</td>
    </tr>
    <tr>
      <th scope="row">Maintinance</th>
      <td>3500</td>
      <td>April 2020</td>
      <td>Paid</td>
    </tr>
  <tr>
      <th scope="row">Maintinance</th>
      <td>3500</td>
      <td>March 2020</td>
      <td>Paid</td>
    </tr>
   <tr>
      <th scope="row">Maintinance</th>
      <td>3000</td>
      <td>Feb 2020</td>
      <td>Paid</td>
    </tr>
    <tr>
      <th scope="row">Maintinance</th>
      <td>3000</td>
      <td>Jan 2020</td>
      <td>Paid</td>
    </tr>
  </tbody>
     </table>
  </tbody>
          </table>
        </div>

        <!-- Modal footer -->


      </div>
    </div>
  </div>



<!-- Raise an issue -->

<!-- Raise an issue -->
<div class="modal" id="issue" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal">&times;

          </button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form class="was-validated">
  <div class="mb-3">
      <div style="display:none;"><!----pop up by clicking cancel booking----->
          <div id="cancelop">
              <h4 >Are You Sure?</h4>
              <p><button type="button" class="btn btn-success btn-lg"  data-dismiss="modal" >YES</button><button type="button" class="btn btn-danger btn-lg"  data-dismiss="modal" style="text-align:center;">No</button>
                  </p>
          </div>
      </div>

<a href="#" data-featherlight="#cancelop"><button type="button" class="btn btn-outline-primary">Cancel Booking</button></a><br>
      <div style="display:none;"><!----pop up by clicking ----->
          <div id="24help">
              <h3 >Contact Us at</h3>
              <p>872139029</p><br>
              <p>or</p><br>
              <p>sheltown.co.in</p>
          </div>
      </div>

<a href="#" data-featherlight="#24help"><button type="button" class="btn btn-outline-primary">24/7 Help</button></a><br>
      <div style="display:none;"><!----pop up by clicking ----->
          <div id="moveout">
              <label for="start">Moved Out On:</label>
              <input type="date" id="start" name="trip-start"
                     value="2018-07-22"
                     min="2018-01-01" max="2018-12-31">
              <input class="btn btn-primary" type="submit" value="Submit">

          </div>
      </div>


<a href="#" data-featherlight="#moveout"><button type="button" class="btn btn-outline-primary">Move Out</button></a>
  </div>
        </div>
      </div>


</body>
</html>