{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="HandheldFriendly" content="true">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



</head>
<style>
  @media (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@1,600&family=PT+Sans+Narrow:wght@700&family=Source+Sans+Pro&display=swap');
h1{
font-family: 'Montserrat', sans-serif bold;
font-size: 30px;
color:white;
}
 
 h2{
font-family: 'Montserrat', sans-serif bold;
font-size: 25px;
color:white;
}
h3{ font-family: 'Montserrat', sans-serif;
 font-size:20px;}


.content{
	margin-left:40px;
	margin-top:40px;


}
.temp{
	text-align:right;
}
.button {
  background-color: #2EC4B6; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif bold;
}

i , h1{
	display:inline-block;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
        *{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 600px) {
        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 15px;
        }
        h3{
          font-size: 13px;
        }
        .card {
            width: 100% !important;
        }

        .col{
          width:100%;

        }
        .hide{
          display:none;
        }

    }
    .img1{
  height:50%;
  width:50%;

}
@media only screen and (max-width: 600px) {
  .img1{
    display:none;
  }
}
#customSwitch1{
  size: 50px;
}

</style>
<body style="font-style:montserrat;">
<section style="height:40px;">
	<div class="card " style="background-color: #2ECAB6; width:100%; margin:0 auto;">
	<div class="card-body" >

		<a href="{% url 'myaccount-servicepartner' %}"><i class="fa fa-arrow-left" style="font-size:24px; color:white;"></i></a>

		<h1 style="font-size:30px;">  My  Services Listings</h1>



	</div>
</div>
</section>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
  
  
  <div class="col col col-xs-6 col-md-6 col-lg-6 hide" style="">
  <img src="{% static 'sheltownapp/img/seraccimg/appoint.jpg' %}" align="left" class="img1" style="width:500px; height:600px; align:left;"></img>
  </div>
  <div class="col col-xs-6 col-md-6 col-lg-6">

<section>
	<div class="card shadow-lg p-3 mb-5 bg-white rounded " style="width:100%; margin:0 auto;">
	<div class="card-body">
		<div class="card-title" style="background-color: #2EC4B6; ">
			<h2 style="font-size:30px; margin-left:10px;">Details and Availablility</h2>

		</div>
		<!-- <div class="content">
      <ul>
		<h3 ><li>City:</li></h3>
		<br>
    <h3 ><li>Locality:</li></h3>
		<br>
		<h3 ><li>Category: Repair,Maintenance</li></h3>
		<br>
    <h3 ><li>Experience:10+ years</li></h3>
    </ul>
    </div> -->
    <!-- <div class="temp">
     
    </div>     -->

    <form method="POST" id="availform" action="{% url 'servicepartnerlisting' %}" >
      {% csrf_token %}
      <small><input name="availtoggle" id="avail" type="submit" class="btn btn-warning" value="Make {% if request.user.custom_user.service_provider.is_available %}Not{% else %}{% endif %} Available" style="margin-top: 10px;margin-bottom: 10px;"/>
      </small>
      </form>


<div class="temp">
  <button class="button" ><span>Available Staus :{% if request.user.custom_user.service_provider.is_available %}Yes{% else %}Not{% endif %}</span></button>
  <button class="button" data-toggle="modal" data-target="#addnewservices"><span>Add New Services</span></button>
</div>
<div class="temp">
  <button class="button" data-toggle="modal" data-target="#mydetails"><span>My General Details</span></button>
  <button class="button" data-toggle="modal" data-target="#myservicedetails"><span>My Service Details</span></button>
    </div>
  </div>
  </div>
 {% for ser in request.user.custom_user.service_provider.services_offered.all %}
  <div class="card shadow-lg p-3 mb-5 bg-white rounded " style="width:100%; margin:0 auto;">
    <div class="card-body">
      <div class="card-title" style="background-color: #2EC4B6; ">
        <h2 style="font-size:30px; margin-left:10px;">{{ ser.name }}</h2>
  
      </div>
      <div class="content">
        <ul>
      <!-- <h3 ><li>City:</li></h3> -->
      <!-- <br> -->
      <!-- <h3 ><li>Locality:</li></h3> -->
      <br>
      <h3 ><li>Category: {{ ser.category.name }}</li></h3>
      <br>
      <!-- <h3 ><li>Experience:10+ years</li></h3> -->
      </ul>
      </div>
  

    </div>
    </div>
{% endfor %}
</section>
  </div>
<!--Add new services modal-->
<!-- pay rent modal -->
<div class="modal" id="addnewservices" >
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h1 class="modal-title" style="color: black;font-size: 30px;font-family:Montserrat, sans-serif bold">Enter New Services</h1>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          {{ form.non_field_errors }}
           {{ form.source.errors }}
          {{ form.source }}          
          <div class="form-row">
            <div class="col">
              <!-- <label for="inputCategory">Personal Service</label> -->
             <div>{{ form.persercat.errors }} </div> 
              {{ form.persercat.label_tag }}
              {{ form.persercat }}
              
              <!-- <select id="inputCategory" class="form-control">
                <option selected>Others</option>
                <option>Personal Care</option>
                  <option>Homecare</option>
                  <option>Maintinance/Repair</option>
                  <option>Mart</option>
              </select> -->
            </div>

            <!-- <div class="col">
              <label for="inputlocality">Locality</label>
              <select id="inputlocality" class="form-control">
                <option selected>Choose...</option>
                <option></option><br>
              </select><br>
            </div> -->

          </div>

          <div class="form-row">

            <div class="col">
              <div>{{ form.perservice.errors }} </div>
              {{ form.perservice.label_tag }}
              {{ form.perservice }}
             
              <!-- <label for="inputCity">Personal Service</label>
              <select id="inputCity" class="form-control">
                <option selected>Choose...</option>
                <option>Dehradun</option>
                  <option>Lucknow</option>
                  <option>Agra</option>
                  <option>Varanasi</option>
                  <option>Mumbai</option>
                  <option>Panipat</option>

              </select> -->
            </div>
          </div>
          <script>  
            var cat_list = "{{cat_array|safe|escapejs}}";
            cat_list=JSON.parse(cat_list);
            var ser_list = "{{ser_array|safe|escapejs}}";
            ser_list=JSON.parse(ser_list);
            var local =[];
            var a = function(selectedcat){
              for(var i=0;i<cat_list.length;i++)
              {
                if(selectedcat == cat_list[i])
                { local.push(ser_list[i]);
                }
              }
            }
            $(document).ready(function(){
              $("select#persercat").change(function(){
                  var selectedCat = $(this).children("option:selected").val();
                  a(selectedCat);
                  var $perservice = $("#perservice");
                  $perservice.empty();
                  console.log(local);
                  $.each(local, function(index,value) { 
                    console.log(value);
                    $('#perservice').append('<option value="'+value.id+'">' +value.name+ '</option>') ; 
                  }); 
                  local=[];
              });
              // $("#searchfunc").click(function(){
              //   var selectedCity = ""
              //   selectedCity = $("select#cityname").children("option:selected").val();
              //   var selectedlocal = ""
              //   selectedlocal = $("select#localityname").children("option:selected").val();
              //   var selectedServices = ""
              //   selectedServices = $("select#servicename").children("option:selected").val();
              //   if (selectedServices == "none"){
              //     window.location.href = "";
              //   }
              //   else{
              //   window.location.href =  "/"+selectedServices+"/"+selectedCity+"/"+selectedlocal+"/";
              //   }
              // });
            });
          </script>          
                      <!-- <div class="form-group row">
            <div class="col-sm-2">Type:</div>
            <div class="col-sm-10">
              <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">type 1</label>
        </div>
                <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">type 2</label>
        </div>
                <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
          <label class="form-check-label" for="inlineCheckbox3">type 3</label>
        </div>
                <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
          <label class="form-check-label" for="inlineCheckbox2">type 4</label>
        </div>
                <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
          <label class="form-check-label" for="inlineCheckbox2">type 2</label>
        </div>
                <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option6">
          <label class="form-check-label" for="inlineCheckbox2">type 2</label>
        </div>
                <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option7">
          <label class="form-check-label" for="inlineCheckbox6">type 2</label>
        </div>
          </div>
                      </div><br>
                          <div class="form-group row ">
                              <div class="col-sm-4" >Add Photos:</div>
                          <div class="custom-file mb-3 col-sm-7">
    <input type="file" class="custom-file-input col-sm-5" id="validatedCustomFile" required>
    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
    <div class="invalid-feedback">Example invalid custom file feedback</div>
  </div></div>
                      <div class="form-inline">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Years of Experience</label>
          <select class="custom-select col-sm-2" id="inlineFormCustomSelectPref">
            <option selected>...</option>
            <option value="1">0-1</option>
            <option value="2">1-4</option>
            <option value="3">4-6</option>
              <option value="3">6-10</option>
              <option value="3">10+</option>
          </select>
                         <label for="inputEmail3" class="col-form-label col-sm-3">Any Course Done:</label>
    <div class="col-sm-3">
      <input type="email" class="form-control col-sm-10" id="inputEmail3">
    </div>
              </div><br>
              <div class="form-row">
              <div class="form-group col-md-6">
              <label for="phone">Phone number:</label>
          <input type="tel" id="phone" class="form-control"name="phone" pattern="[0-9]{10}">
            </div>
            <div class="form-group col-md-6">
              <label for="altphone">Alternate phone number:</label>
          <input type="tel" id="altphone" class="form-control"name="phone" pattern="[0-9]{10}">
            </div>
            </div>
                      <div class="form-group">
            <label for="inputAddress">Email</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="example@gmail.com">
          </div></div> -->
                <div class="col-auto">
              <!-- <button type="submit" class="btn btn-primary mb-2">Submit</button> -->
              <center>
                <button type="submit" name="perser"   style="margin-top: 10px;"  class="btn btn-primary mb-2">Submit</button>
              </center>
            </div>
                      </div>



                  </form>
      </div>

      <!-- Modal footer -->


    </div>
  </div>
</div>

<!-- Enter my details-->

<div class="modal" id="mydetails" >
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h1 class="modal-title" style="color: black;font-size: 30px;font-family:Montserrat, sans-serif bold">My General Details</h1>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <form>
          <div class="form-row">
              <!-- <div class="col-sm-2">
              <select id="inputState" class="form-control">
                <option selected>Ms</option>
                <option>Mr</option>
                   <option>Mrs</option>
                  <option>Mrs</option>

              </select>
            </div> -->
            <div class="col">
              <label for="f_name">First Name</label>
              <input id="First Name" type="text" value="{{ request.user.custom_user.f_name }}" disabled class="form-control" placeholder="First name">
            </div>
            <div class="col">
              <label for="l_name">Last Name</label>
              <input id="l_name" type="text" value="{{ request.user.custom_user.l_name }}" disabled class="form-control" placeholder="Last name"><br>
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-sm-4" >
              <!-- Upload photo:<br><h5 style="font-size:12px ;">(Max size allowed 5kb)</h5> -->
              <label>User Image</label>
              <!-- <img src="{{ request.user.custom_user.user_image.url }}" width="200" height="200" alt="user image" /> -->
            </div>
        <div class="mb-3 col-sm-8 ">
<!-- <input type="file" class="custom-file-input col-sm-8" id="validatedCustomFile" required>
<label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
<div class="invalid-feedback">Example invalid custom file feedback</div><br> -->
<img src="{{ request.user.custom_user.user_image.url }}" width="100" height="100" alt="user image" />
</div>

</div>
                    
                      <!-- <div class="form-row">
                        <label for="assistants" class="col-sm-4">Have Assistant(s):</label>
                        <input type="text" value="{{ request.user.custom_user.service_provider.has_assistant }}" disabled class="form-control col-sm-6" id="assistants" >
                    </div>    <br>             -->
                    <div class="form-row">
                        <label for="birthday" class="col-sm-4">DOB:</label>
                        <input type="date" value="{{ request.user.custom_user.dob|date:'Y-m-d' }}" disabled class="form-control col-sm-6" id="birthday" >
                    </div><br>
                  
                  <br>
                  <div class="form-row">
                    
                      <label for="phone" class="col-sm-4">Phone number:</label>
                      <input type="tel" id="phone" value="{{ request.user.custom_user.phone_number }}" disabled class="form-control col-sm-6"name="phone" pattern="[0-9]{10}">
                    </div>  <br>
                    <div class="form-row">
                      <label for="alternate_phone" class="col-sm-4">Whatsapp number:</label>
                      <input type="tel" id="alternate_phone" value="{{ request.user.custom_user.service_provider.whatsapp_number }}" disabled class="form-control col-sm-6"name="alternate_phone" pattern="[0-9]{10}">
                    </div>  <br>
                  
                    <div class="form-row">
                      <label for="inputAddress" class="col-sm-4">Email</label>
                      <input type="text" value="{{ request.user.custom_user.email }}" disabled class="form-control col-sm-6" id="inputAddress" placeholder="example@gmail.com">
                    </div>  <br>
                    <div class="form-row">
                      <label for="exampleFormControlTextarea1" class="col-sm-4">Address</label>
                      <textarea class="form-control col-sm-6"  disabled id="exampleFormControlTextarea1" >{{ request.user.custom_user.address_1 }}&#13;&#10;{{ request.user.custom_user.address_2 }}</textarea>
                    </div>   <br>
                   
                    <div class="form-row">
                      <label for="city" class="col-sm-4">City</label>
                      <input type="text" id="city" value="{{ request.user.custom_user.city }}" disabled class="form-control col-sm-6" name="city" ></label>
                    </div><br>
                    <div class="form-row">
                      <label for="state" class="col-sm-4">State</label>
                      <input type="text" id="state" value="{{ request.user.custom_user.state }}" disabled class="form-control col-sm-6" name="state" ></label>
                    </div><br>
                    <div class="form-row">
                      <label for="pincode" class="col-sm-4">Pincode</label>
                      <input type="text" id="pincode" value="{{ request.user.custom_user.zip_code }}" disabled class="form-control col-sm-6" name="pincode" ></label>
                    </div><br>
                  
                    <!-- <div class="form-row">
                      <label for="exp" class="col-sm-4">Experience</label>
                      <input type="number" id="pincode" value="{{ request.user.custom_user.service_partner.experience }}" disabled class="form-control col-sm-6" name="exp" id="exp" ></label>
                    </div><br>
                    <div class="form-row">
                      <label for="exampleFormControlTextarea1" class="col-sm-4">Course Details</label>
                      <textarea class="form-control col-sm-6"  disabled id="exampleFormControlTextarea1" >{{ request.user.custom_user.service_partner.course_details }}</textarea>
                    </div>   <br>                                      -->
                    <!-- <div class="form-row">
                      <label for="bank" class="col-sm-4">Bank Account No.</label>
                      <label type="number" id="bank" value="{{ request.user.custom_user.service_partner.cancelled_cheque }}" disabled class="form-control col-sm-6" name="bank" ></label>
                    </div><br> -->
                    <!-- <div class="form-group row ">
                      <div class="col-sm-4" >Upload cancelled cheque:<h5 style="font-size:12px ;">(Max size allowed 50kb)</h5></div>
                  <div class="custom-file mb-3 col-sm-8 ">
                    <input type="file" class="custom-file-input col-sm-8" id="validatedCustomFile1" required>
                    <label class="custom-file-label" for="validatedCustomFile1">Choose file...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div> -->
                  <!-- </div></div> -->

 
                  <div class="col-auto">
                    <a href="{% url 'servicepartnersignup' %}">Edit Details</a>
                  </div>
          </div>

        </form>

      </div>

      <!-- Modal footer -->


    </div>
  </div>
</div>

<div class="modal" id="myservicedetails" >
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h1 class="modal-title" style="color: black;font-size: 30px;font-family:Montserrat, sans-serif bold">My Service Details</h1>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <form>
         
              <!-- <div class="col-sm-2">
              <select id="inputState" class="form-control">
                <option selected>Ms</option>
                <option>Mr</option>
                   <option>Mrs</option>
                  <option>Mrs</option>

              </select>
            </div> -->

                  <div class="form-row">
                    <label for="assistants" class="col-sm-4">Have Assistant(s):</label>
                    <input type="text" value="{{ request.user.custom_user.service_provider.has_assistant }}" disabled class="form-control col-sm-6" id="assistants" >
                  </div>    <br>            
                  <!-- <div class="form-row">
                    <label for="birthday" class="col-sm-4">DOB:</label>
                    <input type="date" value="{{ request.user.custom_user.dob|date:'Y-m-d' }}" disabled class="form-control col-sm-6" id="birthday" >
                  </div><br> -->
                  
                  <!-- <div class="form-row">
                    <div class="col">
                      <label for="phone" class="col-sm-4">Phone number:</label>
                      <input type="tel" id="phone" value="{{ request.user.custom_user.phone_number }}" disabled class="form-control col-sm-6"name="phone" pattern="[0-9]{10}">
                    </div>  <br>
                    <div class="col">
                      <label for="alternate_phone" class="col-sm-4">Whatsapp number:</label>
                      <input type="tel" id="alternate_phone" value="{{ request.user.custom_user.service_provider.whatsapp_number }}" disabled class="form-control col-sm-6"name="alternate_phone" pattern="[0-9]{10}">
                    </div>  <br>
                  </div>
                    <div class="form-row">
                      <label for="inputAddress" class="col-sm-4">Email</label>
                      <input type="text" value="{{ request.user.custom_user.email }}" disabled class="form-control col-sm-6" id="inputAddress" placeholder="example@gmail.com">
                    </div>  <br>
                    <div class="form-row">
                      <label for="exampleFormControlTextarea1" class="col-sm-4">Address</label>
                      <textarea class="form-control col-sm-6"  disabled id="exampleFormControlTextarea1" >{{ request.user.custom_user.address_1 }},&nbsp;{{ request.user.custom_user.address_2 }}</textarea>
                    </div>   <br>
                    <div class="form-row">
                    <div class="col">
                      <label for="city" class="col-sm-4">City</label>
                      <input type="text" id="city" value="{{ request.user.custom_user.city }}" disabled class="form-control col-sm-6" name="city" ></label>
                    </div><br>
                    <div class="col">
                      <label for="state" class="col-sm-4">State</label>
                      <input type="text" id="state" value="{{ request.user.custom_user.state }}" disabled class="form-control col-sm-6" name="state" ></label>
                    </div><br>
                    <div class="col">
                      <label for="pincode" class="col-sm-4">Pincode</label>
                      <input type="number" id="pincode" value="{{ request.user.custom_user.zip_code }}" disabled class="form-control col-sm-6" name="pincode" ></label>
                    </div><br>
                  </div> -->
                    <div class="form-row">
                      <label for="exp" class="col-sm-4">Experience</label>
                      <input type="text" id="pincode" value="{{ request.user.custom_user.service_provider.experience_in_years }}" disabled class="form-control col-sm-6" name="exp" id="exp" ></label>
                    </div><br><br>

                    <div class="form-row">
                      <label for="exampleFormControlTextarea1" class="col-sm-4">Course Details</label>
                      <textarea class="form-control col-sm-6"  disabled id="exampleFormControlTextarea1" >{{ request.user.custom_user.service_provider.course_details }}</textarea>
                    </div>   <br>  

                    <div class="form-row">
                      <label for="bank" class="col-sm-4">Bank Account No.</label>
                      <input type="number" id="bank" value="{{ request.user.custom_user.service_provider.bank_account_number }}" disabled class="form-control col-sm-6" name="bank" ></label>
                    </div><br>

                    <!-- <div class="form-group row ">
                      <div class="col-sm-4" >Upload cancelled cheque:<h5 style="font-size:12px ;">(Max size allowed 50kb)</h5></div>
                  <div class="custom-file mb-3 col-sm-8 ">
                    <input type="file" class="custom-file-input col-sm-8" id="validatedCustomFile1" required>
                    <label class="custom-file-label" for="validatedCustomFile1">Choose file...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div> -->
                  <!-- </div></div> -->
                  <div class="form-group row ">
                    <div class="col-sm-4" >
                      <!-- Upload photo:<br><h5 style="font-size:12px ;">(Max size allowed 5kb)</h5> -->
                      <label>Cancelled Cheque</label>
                      <!-- <img src="{{ request.user.custom_user.user_image.url }}" width="200" height="200" alt="user image" /> -->
                    </div>
                <div class="mb-3 col-sm-8 ">
  <!-- <input type="file" class="custom-file-input col-sm-8" id="validatedCustomFile" required>
  <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
  <div class="invalid-feedback">Example invalid custom file feedback</div><br> -->
  <img src="{{ request.user.custom_user.service_provider.cancelled_cheque.url }}" width="200" height="100" alt="cheque image" />
</div>

</div><br>

<div class="form-row">
  <label for="exampleFormControlTextarea1" class="col-sm-4">Offered in locality</label>
  <textarea class="form-control col-sm-6"  rows=5 disabled id="exampleFormControlTextarea1" >{% for locality in request.user.custom_user.service_provider.services_offered_in.all %}{{ locality }}&#13;&#10;{% endfor %}</textarea>
</div>   <br> 
                  <div class="col-auto">
                    <a href="{% url 'servicepartnersignup' %}">Edit Details</a>
                  </div>
          </div>

        </form>

      </div>

      <!-- Modal footer -->


    </div>
  </div>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.innerHTML === "Available") {
    x.innerHTML = "Not Available";
  } else {
    x.innerHTML = "Available";
  }
  // document.getElementById('availform').submit();
  
  
}
$("#customSwitch1").change(function () {
      console.log( $(this).val() );
    });
    
    $("#availcheck").change(function () {
      console.log( $(this).val() );
    });    
</script>
</body>
</html>
