{% load static %}
{% load security_deposit %}
<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@1,600&family=PT+Sans+Narrow:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  {% if messages %}
  {% for message in messages %}
   {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
  {% endfor %}
  {% endif %}  

</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@1,600&family=PT+Sans+Narrow:wght@700&family=Source+Sans+Pro&display=swap');
h1{
font-family: 'Montserrat', sans-serif bold;
font-size: 30px;
color:white;
}
 h2{
font-family: 'PT Sans Narrow', sans-serif bold;
font-size: 30px;
color:white;
}
h3{ font-family: 'Montserrat', sans-serif;
 font-size:20px;}
.col{
  margin-right:0px;
  
}
@media only screen and (max-width: 600px) {
        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 15px;
        }
        h3{
          font-size: 13px;
        }
        .card {
            width: 100% !important;
        }
       
        .col{
          width:100%;

        }
        .hide{
          display:none;
        }
        
    }
.img{
	height:50px;
}

.content{
	margin-left:40px;
	margin-top:40px;
	

}
.temp{
	text-align:right;
}
.button {
  background-color: #2EC4B6; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif bold;
}


i , h1{
	display:inline-block;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
@media only screen and (max-width: 600px) {
        .button{
          font-size: 10px;
        }
        *{
    margin: 0;
    padding: 0;
}
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
.img1{
  height:50%;
  width:50%;

}
@media only screen and (max-width: 600px) {
  .img1{
    display:none;
  }
}
  
   
</style>
<body style="font-style:montserrat;">
<section style="">
	<div class="card " style="background-color: #2ECAB6; width:100%;">
	<div class="card-body" >
		
		<a href="{% url 'myaccount-servicepartner' %}"><i class="fa fa-arrow-left" style="font-size:24px; color:white;"></i></a>

		<h1 style="font-size:30px;">  My Appointment</h1>
		


	</div>
</div>
</section>
<br>
<div class="container">
<div class="row">


<div class="col col col-xs-6 col-md-6 col-lg-6 hide" style="">
<img src="{% static 'sheltownapp/img/seraccimg/appoint.jpg' %}" align="left" class="img1" style="width:500px; height:800px; align:left;"></img>
</div>
<div class="col col-xs-6 col-md-6 col-lg-6">

{% for booking in upcoming_booking %}
<section>
	<div class="card shadow-lg p-3 mb-5 bg-white rounded " style="width:100%;">
	<div class="card-body" >
		<div class="card-title" style="background-color: #2EC4B6; ">
			<h2 style="margin-left:10px;">Scheduled</h2>

		</div>
		<div class="content">
		<h3 >Service:  {{ booking.personal_service }}</h3>
    <br>
    <h3 >Issues :  {{ booking.personal_service_issue }}</h3>
		<h3 >Booked on: {{booking.created_at}}</h3>
		<br>
		<h3 >Booked for:{{ booking.scheduled_datetime }}</h3>
		<br>

    <h3 >Payment Status:{% if booking.second_payment == True %}Complete Payment Received{% else %} Only booking amount received{% endif %}</h3>
    <br>
    {% if booking.second_payment == True and booking.second_payment_mode == "paytm" %}
    <h3>Paid Through : Paytm</h3>
    {% endif %}
    {% if booking.second_payment == True and booking.second_payment_mode == "cash" %}
    <h3> Paid Through : Cash</h3>
    {% endif %}
    <br>
    {% if booking.second_payment %}{% else  %} 
    <h3 >Post Service Payment Amount: Rs. {{ booking.post_service_amount }}</h3>
		
    <br>
    {% endif %}

		<h3 >Service Address:{{ booking.address_1}}&#13;&#10;{{ booking.address_2}}&#13;&#10;{{ booking.zip_code }}{{ booking.state }}</h3>
		<h3>Customer's Mobile Number: {{ booking.booking_user.phone_number }}</h3>
    </div>

  {% check_past booking.scheduled_datetime as bool1 %}
  {% if bool1 %}
<div class="temp">
<a href="{% url 'servicepartnerbookingpaid' method="cash" uuid=booking.id %}"><button class="button"><span>Served and payment in cash</span></button></a>
<a href="{% url 'servicepartnerbookingpaid' method="paytm" uuid=booking.id %}"><button class="button"><span>Served and payment through paytm</span></button></a>
	</div>
  {% endif %}

</div>
</div>
</section>
{% endfor %}

{% for booking in comp_booking %}
<section>
	<div class="card shadow-lg p-3 mb-5 bg-white rounded " style="width:100%;">
	<div class="card-body" >
		<div class="card-title" style="background-color: #2EC4B6; ">
			<h2 style="margin-left:10px;">Completed</h2>

		</div>
		<div class="content">
		<h3 >Service:  {{ booking.personal_service }}</h3>
    <br>
    <h3 >Issues :  {{ booking.personal_service_issue }}</h3>
		<h3 >Booked on: {{booking.created_at}}</h3>
		<br>
		<h3 >Booked for:{{ booking.scheduled_datetime }}</h3>
		<br>

    <h3 >Payment Status:{% if booking.second_payment == True %}Complete Payment Received{% else %} Only booking amount received{% endif %}</h3>
    <br>
    {% if booking.second_payment == True and booking.second_payment_mode == "paytm" %}
    <h3>Paid Through : Paytm</h3>
    {% endif %}
    {% if booking.second_payment == True and booking.second_payment_mode == "cash" %}
    <h3> Paid Through : Cash</h3>
    {% endif %}

    {% if booking.second_payment == True %}{% else %} 
    <h3 >Post Service Payment Amount: Rs. {{ booking.post_service_amount }}</h3>
		
    <br>
    {% endif %}

		<h3 >Service Address:{{ booking.address_1}}&#13;&#10;{{ booking.address_2}}&#13;&#10;{{ booking.zip_code }}{{ booking.state }}</h3>
		<h3>Customer's Mobile Number: {{ booking.booking_user.phone_number }}</h3>
    </div>

</div>
</div>
</section>
{% endfor %}

</div>
</div></div>

  


   <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="modal-title">Your Feedback is important</h3>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
         <form class="was-validated">
  <div class="mb-3">
    <label for="validationTextarea">Write your Review</label>
    <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Write something" required></textarea>
    <div class="invalid-feedback">
      Please enter a message in the textarea.
    </div>
      <div class="rate">&nbsp;
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
  </div>
      <button class="button"  data-dismiss="modal">Submit</button>
  </div>
         </form>
        </div>
      </div>
    </div>
  </div> 
</body>
</html>