{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@1,600&family=PT+Sans+Narrow:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    {% if messages %}
    {% for message in messages %}
     {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
    {% endif %}
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@1,600&family=PT+Sans+Narrow:wght@700&family=Source+Sans+Pro&display=swap');
    body {
        font-family: 'Montserrat', sans-serif;
        color: white;
    }

    h1 {
        font-family: 'Montserrat', sans-serif bold;
font-size: 30px;

    }

    h2 {
        font-family: 'PT Sans Narrow', sans-serif bold;
font-size: 25px;
    }

    .card {
        background-color: #2ECAB6;
    }

    @media only screen and (max-width: 600px) {
        h1 {
            font-size: 20px
        }
        h2 {
            font-size: 15px
        }
        .card {
            width: 90% !important;
        }

    }

    .card-title {
        background-color: #2EC4B6;
    }

    .card-body {
        padding: 0;
    }

    .fa-arrow-left {
        cursor: pointer;
        color: #fff
    }

    /*btn*/
    .btn-custom {
        background-color: #2EC4B6;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
    }

    .btn-custom span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .btn-custom span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .btn-custom:hover span {
        padding-right: 25px;
    }

    .btn-custom:hover span:after {
        opacity: 1;
        right: 0;
    }

    /*btn*/
</style>

<body class="font-weight-normal">
    <section>
        <div class="card w-50 m-auto">
            <div class="card-body py-3 p-md-4 float-left">
                {% ifequal user.custom_user.usertype "User" %}
                
                <h1 class="font-weight-bold" ><a href="{% url 'myaccount-userpartner' %}"><i class="fa fa-arrow-left ml-2"></i></a><span class="ml-3 ml-md-5">Get SheltOwn Verified </span></h1>
                
                {% endifequal %}

                {% ifequal user.custom_user.usertype "Property Owner" %}
                

                <h1 class="font-weight-bold" ><a href="{% url 'myaccount-userpartner' %}"><i class="fa fa-arrow-left ml-2"></i></a><span class="ml-3 ml-md-5"> Get SheltOwn Verified </span></h1>               
                {% endifequal %}

                {% ifequal user.custom_user.usertype "Service Provider" %}
                

                <h1 class="font-weight-bold" ><a href="{% url 'myaccount-servicepartner' %}"><i class="fa fa-arrow-left ml-2"></i></a><span class="ml-3 ml-md-5"> Get SheltOwn Verified </span></h1>                
                {% endifequal %}

            </div>
        </div>
    </section>
    <br>
    
    
    <section>
        <div class="card w-50 shadow-lg m-auto mb-5 bg-white rounded">
            <div class="card-body pb-3">
                <div class="card-title">
                    <h2 class="p-3">Upload A Valid Id Card</h2>
                    {% if request.user.custom_user.is_sheltown_verified %}
                    <h2 class="p-3">Verification Status:- Verified</h2>
                    {% else %}
                    <h2 class="p-3">Verification Status:- Not Verified</h2>
                    {% endif %}
                </div>
                <div class="mt-5 px-3">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                    
                        {{ form.source.errors }}
                        {{ form.source }}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button type="submit" id="inputGroupFileAddon03" class="btn-custom px-md-4 py-1"><span>Upload</span></button>
                        </div>
                        <div class="custom-file py-1">
                            {{ form.identity_proof.errors }}
                            {{ form.identity_proof }}
                            <!-- <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03"> -->
                            <label class="custom-file-label" for="inputGroupFile03">Identity Proof(Aadhaar Card/ PAN Card/ Driving License):</label>
                            {{ form.identity_proof.label_tag }}
                            <!-- <label class="custom-file-label" for="inputGroupFile03">Choose file</label> -->
                        </div>
                    </div>
                </form>
                </div>
            </div>
    </section>
</body></html>

