@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@1,600&family=PT+Sans+Narrow:wght@700&family=Source+Sans+Pro&display=swap');

body {
  background: #f1f1f1;
  color: #444;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #ff8c00;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #000;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

h3,
h4,
h5,
h6 {
  font-family: 'PT Sans Narrow', sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.t{
float:left;
}
@@media only screen and (max-width:600px) {
  t{
    align-items:center;
  }

}

#header {
  padding: 3px 0;
  height: 50px;
  transition: all 0.5s;
  z-index: 997;
  background: #2ECAB6;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}
.main{
  align:center;
}

#header p {
  color: black;
  display: inline;
  margin-left: 5px;
  font-size: 17px;
  font-weight: bold;
}

#header #logo img {
  padding: 0px;
  margin-left: 15px;
  margin-top: 0px;
  color:black;
  width: 110px;
  height: 40px;
}

#header #logo p {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

@media (max-width: 1000px) {
  #header {
    padding: 20px 0;
    height: 74px;
  }

  #header #logo h1 {

    font-size: 34px;
  }
  #header #logo p {
    align-items: center;
  }


  #header #logo img {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: : 5px;

    max-height: 30px;
  }

}

@media (max-width:450px) {
  #header-sticky-wrapper {
    padding: 0px 0px;
    height: 40px !important;
  }

  #header {
    padding: 0px 0px;
    height: 40px !important;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu>li {
  float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  position: absolute;
  right: 8px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 16px;
  outline: none;
}

.nav-menu li:hover>a,
.nav-menu .menu-active>a {
  color: #000;
}

.nav-menu>li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 2px 0 0 0;
  padding: 5px;
  box-shadow: 0px 0px 30px rgb(200, 200, 200);
  background-color: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 5px;
  color: #000;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover>a {
  color: #ff8c00;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;

  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
  color: black;
}

#mobile-nav-toggle i {
  color: #black;
  margin-top: 10px;
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: #2ECAB6;
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  margin-left: 0px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}


#mobile-nav ul li a:hover {
  color: black;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #ff8c00;
}

#mobile-nav ul .menu-item-active {
  color: #ff8c00;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.08);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

@media (max-width: 1000px) {
  #nav-menu-container {
    display: none;
  }

  #mobile-nav-toggle {
    display: inline;
  }
}

@media (max-width:450px) {
  #mobile-nav-toggle {
    margin: 0 5px 0 0;
  }
}

.heading-background {
  padding: 10px;
}

.heading {
  font-size: 30px;
  font-weight: bold;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  height: 12em;
  position: relative;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

#intro h3 {
  color: #000;
}

#intro .fa-check {
  color: #66D39E;
}

.search-container select {
  background-color: #f1f1f1;
  width: 10px;
  padding: 5px;
  margin: 0 10px 0 10px;
  border: 1px solid #666;
  border-radius: 5px;
  height: 50px;
  order: 0;
  align-self: auto;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border: 1px solid #A9A9A9;
  border-radius: 3px;
}

.search-container .button {
  padding: 8px 16px;
  margin: 0 10px 0 10px;
  min-height: 48px;
  min-width: 10px;
  word-wrap: nowrap;

  color: #black;
  border: 0;
  border-radius: 5px;
  order: 4;
  flex: 0 1 auto;
  align-self: auto;
  background-color:#FFCA0B;
}

.search-container .search {
  flex: 2 1 auto;
}

.search-container .flex-item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.search-container .flex-item:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.search-container .flex-item:nth-child(3) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.search-container .flex-item:nth-child(4) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

#intro-mobile {
  height: 18em;
  position: relative;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

#intro-mobile .fa-check {
  color: #66D39E;
}

#intro-mobile .col-sm-12 select {
  background-color: #f1f1f1;
  width: 95%;
  padding: 5px;
  margin: 0 10px 0 10px;
  border: 1px solid #666;
  border-radius: 5px;
  height: 30px;
  order: 0;
  align-self: auto;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border: 1px solid #A9A9A9;
  border-radius: 3px;
  font-size: 14px;
}

#intro-mobile .col-sm-12 button {
  padding: 5px 16px;
  margin: 0 10px 0 10px;
  min-height: 30px;
  min-width: 10px;
  background: #000;
  color: #black;
  border: 0;
  border-radius: 5px;
  order: 4;
  flex: 0 1 auto;
  align-self: auto;
  background-color:#FFCA0B;
  font-size: 14px;
}

@media only screen and (max-width: 700px) {
  #intro {
    display: none;
  }

  #intro-mobile {
    display: block;
  }
}

@media only screen and (max-width: 372px) {
  #intro-mobile small {
    display: none;
  }
}


/*------------------------------
 Services Section
--------------------------------*/
#services {
  padding: 3px 0 0 0;
}

.row_service {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
}

#services .box {
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 10px 10px 15px rgba(255, 146, 107, 0.3);
  background: #fff;
}

#services .box .icon {
  float: left;
}

#services .box .icon i {
  color: #444;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 34px;
}

#services .box .icon i:before {
  background: linear-gradient(45deg, #ff8c00 0%, #f05d23 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

#services .box h4 a {
  color: #444;
}

#services .box p {
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
}

#services .box button {
  width: 120px;
  text-align: center;
  background-color: #ff8c00;
  color: white;
  font-weight: bold;
  margin-left: 12.5rem;
}

@media (max-width: 767px) {
  #services .box .box {
    margin-bottom: 20px;
  }

  #services .box .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }

  #services .box h4,
  #services .box p {
    margin-left: 0;
    text-align: center;
  }

  #services .box button {
    width: 80px;
    height: 30px;
    font-size: 9px;
    text-align: center;
    background-color: #ff8c00;
    color: white;
    font-weight: bold;
    margin-left: 120px;
  }
}

/*extra carousel parts */
#introduction-section,
#introduction-section-1,
#introduction-section-2 {
  width: 85%;
  margin-left: 7.5%;
}

#introduction-section img,
#introduction-section-1 img,
#introduction-section-2 img {
  border-radius: 10px;
}

#introduction-section,
#introduction-section-1 {
  display: none;
}

#introduction-section-2 {
  display: block;
}

@media only screen and (max-width: 800px) {
  #introduction-section-1 {
    display: block;
  }

  #introduction-section-2 {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  #introduction-section {
    display: block;
  }

  #introduction-section-1 {
    display: none;
  }

  #introduction-section-2 {
    display: none;
  }
}

/* Intro list property */
#intro-list-property .btn-primary,
      .btn-primary:hover,
      .btn-primary:active,
      .btn-primary:visited,
      .btn-primary:focus {
        background-color: #2ecab6;
        border-color: #2ecab6;
        font-size: 14px;
      }
#intro-list-property .btn-primary small {
        background-color: yellow;
        color: #000;
        font-size: 10px;
        font-weight: bold;
        padding: 6px;
        border-radius: 30px;
      }

@media only screen and (max-width: 425px) {
  #intro-list-property .btn-primary,
        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary:visited,
        .btn-primary:focus {
          position: relative;
          left: 25%;
        }
      }

/* ------------------------------
  icon section 
--------------------------------*/
.icon-content{
  text-align:left;
}

@media only screen and (max-width: 450px) {
  .icon-content{
    text-align:left;
  }
}



/* ------------------------------
    Why SheltOwn? Section
--------------------------------*/
#portfolio {
  margin-top: 40px;
  margin-bottom: 30px;
}

.row_why {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.overlay_why {
  width: 100%;
  height: 100%;
  /*background-color: rgba(200, 200, 200, 0.6);*/
}

#portfolio .row {
  margin-left: 0rem;
}

#portfolio .portfolio-bg {
  box-shadow: 10px 10px 15px rgba(114, 27, 101, 0.1);
  background-image: url("../img/portfolio_why.png");
  background-size: 470px 620px;
  background-repeat: no-repeat;
  width: 100%;
}

#portfolio .portfolio-bg img {
  width: 100%;
  height: 90%;
}

#portfolio .portfolio-bg h1 {
  font-weight: bold;
  font-size: 3.5em;
}

#portfolio .portfolio-cards {
  display: inline-block;
  padding: 35px;
  text-align: center;
  background-color: rgba(187, 241, 200, 0.5);
  box-shadow: 10px 10px 15px rgba(114, 27, 101, 0.3);
}

#portfolio .portfolio-cards p {
  color: black;
  font-weight: bold;
}

#portfolio .col-sm-6 .row .card-1 {
  background-image: url("img/portfolio/1.jpg");
}

/* Why SheltOwn? Section mobile and mobile-desktop view
--------------------------------*/
#why-sheltown {
  margin-top: 40px;
  margin-bottom: 30px;
  display: none;
}

#why-sheltown .row {
  margin-left: 0rem;
}

#why-sheltown img {
  width: 50px;
  height: auto;
}

#why-sheltown p {
  color: black;
  font-size: 12px;
}

#why-sheltown .col-4 {
  padding: 10px;
  text-align: center;
  background-color: rgba(187, 241, 200, 0.5);
  box-shadow: 10px 10px 15px rgba(114, 27, 101, 0.3);
}

@media only screen and (max-width: 1200px) {
  #why-sheltown {
    display: block;
  }
  #portfolio {
    display: none;
  }
}



/* Testimonials Section
--------------------------------*/
#testimonials {
  padding: 30px 0;
}

#testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  background-color: #E8E8EE;
}

#testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
  margin-top: 1.5rem;
}

#testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #ff8c00;
  margin: 0;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 10px auto;
}

#testimonials .testimonial-item .las {
  color: #ff8c00;
}

#testimonials .owl-nav,
#testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #ff8c00;
}

@media (max-width: 767px) {
  #testimonials .testimonial-item {
    margin: 30px 10px;
  }

  #testimonials .owl-dots {
    display: none !important;
  }
}

@media (max-width: 450px) {
  #testimonials .section-header p {
    font-size: 0px;
  }

  #testimonials p {
    font-size: 12px;
  }

  #testimonials .testimonial-item {
    margin: 10px 10px;
  }

  #testimonials .owl-nav,
  #testimonials .owl-dots {
    margin-top: 1px;
  }

  #testimonials .owl-dot {
    margin: 0 5px;
    width: 8px;
    height: 8px;
  }
}

/*--------------------------------------------------------------
# offers css
--------------------------------------------------------------*/
#offers {
  padding: 0px 0px;
  margin: 0px;
}

#offers .card {
  height: auto;
  margin: 10px;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.5);
}

#offers img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  #offers .card {
    height: auto;
    margin: 30px;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.5);
  }
}

/*#offers .offer-item {
  box-sizing: content-box;
  margin: 10px 15px;
  min-height: 200px;
}*/
/*-------------------------------
 SheltOwnplus
--------------------------------*/
/*#background_image_sheltownplus {
  width: 100%;
  height: 70%;
  margin-bottom: 5%;
  background-color: #ff0073;
  color: white;
}
#background_image_familyplus {
  width: 100%;
  height: 50%;
  margin-bottom: 5%;
  background-color: #00ff8c;
}
.content-img {
  position: relative;
}
.content-img img {
  float: left;
  width: 250px;
  height: 170px;
}
#content {
  text-align: right;
  color: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  font-size: 18px;
  height: 170px;
}
#content .btn-sheltownplus {
  background-color: #ff2e63;
  border-color: #ff2e63;
}
.btn-sheltownplus {
  padding: 10px;
  border: 1px solid #ff8c00;
  border-radius: 10px;
  background-color: #ff8c00;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  background-color: #323232;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
  font-family: 'Source Sans Pro', sans-serif;
}

.about-text {
  padding-right: 4.5rem;
}

.site-footer a {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.site-footer a:hover {
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: white;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

#footer-two {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

#footer-two .footer-two-links li {
  list-style-type: none;
}

#footer-two .footer-two-links a {
  color: black;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #323232;
}

.copyright-text {
  margin: 0;
}

@media (max-width:1000px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}

@media (max-width:1000px) {
  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}

@media (max-width:1000px) {
  .site-footer h6 {
    font-size: 16px;
    margin-top: 1px;
  }

  .site-footer p {
    font-size: 12px;
    margin-top: 1px;
  }

  .about-text {
    padding-right: 12px;
  }

  .site-footer [class^=col-] {
    margin-bottom: 0px;
  }

  .footer-links li {
    font-size: 12px;
  }

  .site-footer .social-icons a {
    width: 30px;
    height: 20px;
    line-height: 20px;
  }

  .category-text {
    width: 50%;
  }

  .quick-text {
    width: 50%;
    float: right;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #323232;
  color: white;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #062466;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #0e76a8
}

.social-icons a.dribbble:hover {
  background-color: #c41540
}

/* end of footer */
/* end of css */
@media (max-width:1000px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}

.modal .btn{
  color:black;
  background-color: #5bc0de;
}
a[href^="mailto:info@sheltown.com"] {
  color:#2ECAB6;
}