body{
    overflow-x: hidden;
  }
  .my-acc{
    /* margin-left: 400px;
    margin-right: 400px; */
    color: #fff;
    font-family: "Montserrat", sans-serif;
     box-shadow: 3px 3px 3px 3px #888888;
  }
  .heading{
    font-size: 20px;
  }
  .home{
    text-align: right;
  }
  
  .mobile-img{
    margin-top: 80px;
    margin-right:  40px;
    width: 730px;
    height: 800px;
  }
  .acc-info{
    text-align: center;
    font-size: 20px;
  }
  
  
  .edit{
    text-align: right;
  }
  
  
  /* card */
  *, :after, :before {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  .card-container {
  
      max-width: 1260px;
      margin: 0 auto;
      margin-top:  4rem;
      margin-bottom: 2rem;
      /* margin-left: 400px;
      margin-right: 400px; */
  
  }
  
  .card-col{
      float: left;
      width: 100%;
      background-color: white
  }
  
  .card-inner{
      display: block;
      overflow: hidden;
      color: black;
      margin-bottom: 10px;
     box-shadow: 3px 3px 3px 3px #888888;
      height: 90px;
  }
  .card-inner i{
      margin-left: 10px;
  }
  
  
  .card-inner p{
  
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      text-align: right;
      margin-right: 10px;
      margin-bottom: 0px;
      margin-top: 18px;
  
  
  }
  
  .card-inner a{
      text-decoration: none;
  
  }
  
  .button{
    margin-top: 600px;
    /* margin-left: 400px;
    margin-right: 400px; */
    text-align: right;
  }
  
  .button-style{
    background-color: #2ECAB6;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #fff;
     box-shadow: 3px 3px 3px 3px #888888;
    border-radius: 50px;
    width: 150px;
    margin-right: 20px;
  }
  /* mobile responsive */
  .mobile-acc{
    margin-top: 50px;
  
  }
  
  hr{
  margin-left: 40px;
  margin-right: 40px;
  border-top: 1px solid #99b898;
  
  }
  
  .mob-cont{
    margin-top: 32px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 0px;
    height:1800px;
  }
  
  .mob-heading{
    font-size:45px;
    font-family: "Montserrat-Bold", sans-serif;"
    font-weight: 700px;
  
  }
  
  .para-heading{
    margin-top: 90px;
    font-size:40px;
    font-family: "Montserrat", sans-serif;"
  }
  
  
  .mob-button{
     margin-top:30px;
     margin-right:40px;
     margin-bottom: 30px;
     font-size:40px;
     height: 80px;
     width:250px;
     font-family: "Montserrat", sans-serif;
  }
  /* @media  query { */
  
  
  
  @media  (max-width:1100px) {
    .desktop-acc{
      display: none;
    }
  }
  
  
  @media  (min-width:1099px) {
    .mobile-acc{
      display: none;
    }
  }