{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@1,600&family=PT+Sans+Narrow:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  

</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@1,600&family=PT+Sans+Narrow:wght@700&family=Source+Sans+Pro&display=swap');
h1{
font-family: 'Montserrat', sans-serif bold;
font-size: 30px;
color:white;
}
 h2{
font-family: 'PT Sans Narrow', sans-serif bold;
font-size: 30px;
color:white;
}
h3{ font-family: 'Montserrat', sans-serif;
 font-size:20px;}
@media only screen and (max-width: 600px) {
        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 15px;
        }
        h3{
          font-size: 13px;
        }
          .card {
            width: 100% !important;
        }
       
        .col{
          width:100%;

        }
        .hide{
          display:none;
        }
        

    }
.img{
  height:50px;
}

.content{
  margin-left:40px;
  margin-top:40px;
  

}
.temp{
  text-align:right;
}
.button {
  background-color: #2EC4B6; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif bold;
}


i , h1{
  display:inline-block;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
@media only screen and (max-width: 600px) {
        .button{
          font-size: 10px;
        }
        *{
    margin: 0;
    padding: 0;
}
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.temp1{
  display:inline-block;
}

  
   
</style>
<body style="font-style:montserrat;">
<section style="height:40px;">
	<div class="card " style="background-color: #2ECAB6; width:100%; margin:0 auto;">
	<div class="card-body" >
		
		<a href="{% url 'myaccount-propertypartner' %}"><i class="fa fa-arrow-left" style="font-size:24px; color:white;"></i></a>

		<h1 style="font-size:30px;">  My Bookings</h1>
		


	</div>
</div>
</section>
<br>
<br>
<br>
<div class="container">
<div class="row">


<div class="col-xs-6 col-md-6 col-lg-6 hide" style="">
<img src="{% static 'sheltownapp/img/propaccimg/booking.jpg' %}" align="left" class="img1" style="width:500px; height:800px; align:left;"></img>
</div>
<div class="col-xs-6 col-md-6 col-lg-6">
  {% for book in bookings %}
  <section>
    <div class="card shadow-lg p-3 mb-5 bg-white rounded " style="width:100%; margin:0 auto;">
    <div class="card-body">
      <div class="card-title" style="background-color: #2EC4B6; ">
        <h2 style="font-size:30px; margin-left:10px;">Scheduled</h2>
  
      </div>
      <div class="content">
      <h3 >Property Name: {{book.booked_property.name}}</h3>
      <br>
      <h3 >Payment status:Booking Done</h3>
      <br>
      <h3 >Move in as scheduled :{{ book.checkin_date }}</h3>
      </div>
  
  <div class="temp">
      <button class="button" data-toggle="modal" data-target="#payrent{{ book.id }}"><span>Rent Status</span></button>
    </div>
  </div>
  
  </section>
  <!-- pay rent modal -->
  <div class="modal" id="payrent{{ book.id }}" >
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h1 class="modal-title">Rent Status</h1>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purpose</th>
      <th scope="col">Amount(₹)</th>
      <th scope="col">Due Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for booking in rec_bookings %}
    {% if booking.booked_property.name == book.booked_property.name%}
    <tr>
      <th scope="row">{{ booking.booked_property.name }}-Rent</th>
      <td>{{ booking.total_amount }}</td>
      <td>{{ booking.due_date }}</td>
      <td>Not Paid Yet</td>
    </tr>
    {% endif %}
    {% endfor %}
     <table class="table table-striped">

  <tbody>
    {% for booking in bookings_paid %}
    {% if booking.booked_property.name == book.booked_property.name%}
    <tr>
      <th scope="row">{{ booking.booked_property.name }}-Rent</th>
      <td>{{ booking.total_amount }}</td>
      <td>{{ booking.due_date }}</td>
      <td>Paid</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
     </table>
  </tbody>
          </table>
        </div>

        <!-- Modal footer -->


      </div>
    </div>
  </div>



  {% endfor %}

{% for booking in bookings_movedout %}
<section>
	<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width:100%; margin:0 auto;">
<div class="card-body">
		<div class="card-title" style="background-color: #2EC4B6;">
			<h2 style="font-size:30px; margin-left:10px;" >Previous Bookings<h2>

		</div>
		<div class="content">
		<h3 >Property Name: {{booking.booked_property.name}}</h3>
		<br>
            <h3>Moved out:{{ booking.move_out_date }}</h3>
		<br>

		</div>

</div>
</section>

</div></div></div>
  
	</div>





	</div>

</div>





</section>
{% endfor %}




</body>
</html>