{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>My Listings Property</title>

    <!--GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@1,600&family=PT+Sans+Narrow:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <!--CSS STYLESHEETS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="MyListings.css"> -->
    <link href="{% static 'sheltownapp/css/PropAccMyListings.css' %}" rel="stylesheet">

    <!--FONT fontawesome-->
    <script src="https://kit.fontawesome.com/16f30f9210.js" crossorigin="anonymous"></script>

    <!--BOOTSTRAP SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



</head>

<body>
    <section class="desktop-display">
        <section class="list-heading" style="  background-color: #2ECAB6;">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                    <p class="heading">
                        <a href="{% url 'myaccount-propertypartner' %}" style="color:#fff"><i class="fas fa-arrow-left" style="margin-right:5px;margin-left: 10px;margin-top: 10px;"></i> </a> <span class="title">My Listings Property</span>
                    </p>
                </div>
            </div>
        </section>
        <!-- Card 1 -->
        {% for property in properties %}
        <section>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h6 style="margin-left: 120px;font-size: 35px;font-family:  Montserrat, sans-serif; "> {{property.name}}</h6>
                    </div>
                    <div class=" card-text">
                        <ul style="list-style: none" class="card-text  list-group list-group-flush">
                            <li>City <input type="text" value="{{property.locality.city}}"  disabled style="margin-left: 94px;"></li>
                            <li>Locality <input type="text" value="{{property.locality.locality}}" disabled style="margin-left: 63px;"></li>
                            <li>Housing Type <input type="text" value="{{property.proptype}}" disabled style="margin-left: 10px;"></li>
                            <li>Rating<input type="text" value="{{property.rating}}" disabled  style="margin-left: 30px;"></li>
                            <li>Rent <input type="text"  value="{{property.rent}}" disabled style="margin-left: 90px;"></li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="onoffswitch"><form method="GET" id="onoffForm{{ property.id }}">
                                <input type="hidden" name="id" value="{{ property.id }}">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{ property.id}}" tabindex="0" value="Available" {% if property.status == "Avaliable now" %}checked{% endif %} >
                                <label class="onoffswitch-label" for="myonoffswitch{{ property.id}}">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label></form>
                            </div>
                        </div>

                        <!-- <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
                            <a data-toggle="modal" data-target="#mydetails" href="#" class="card-link">Edit Details</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <script type="text/javascript">
            $(document).ready(function(){
  $('#myonoffswitch{{ property.id}}').change(function(){
    $('#onoffForm{{ property.id }}').submit();
  });
});
        </script>
{% endfor %}
            <section>
                <div class="row" style="margin-right: 0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button type="button" class="btn btn-light button-style" style="margin-left: 450px; margin-top: 20px;"data-toggle="modal" data-target="#addnewproperty" ><span>Add new property</span><i class="fa fa-arrow-right" style="margin-left: 10px;" aria-hidden="true"></i></button>
                    </div>
                </div>
            </section>

            <section>
                <div class="row" style="margin-right: 0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button class="btn btn-light button-style" style="font-size:30px;margin-left: 450px; margin-top: 20px;" data-toggle="modal" data-target="#mydetails"><span>My Details</span><i class="fa fa-arrow-right" style="margin-left: 10px;" aria-hidden="true"></i></button>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <!-- ---------------------------------MOBILE DISPLAY--------------------------------- -->

    <section class="mobile-display">
        <section class="list-heading" style="  background-color: #2ECAB6; margin-left:0px ; margin-right:0px;">
            <div class="row " style="margin-right:0px">
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                    <p class="heading">
                        <a href="property_partner.html" style="color:#fff"><i class="fas fa-arrow-left" style="margin-right:5px;margin-left: 10px;margin-top: 10px;"></i> </a> <span class="mob-title">My Listings Property</span>
                    </p>
                </div>
            </div>
        </section>

        <section>
            <div class="card" style="margin-left:10px ; margin-right:10px;">
                <div class="card-body">
                    <div class="card-title">
                        <h6 style="margin-left: 120px;font-size: 45px;font-family: Montserrat, sans-serif; "> PG 12345 RAM</h6>
                    </div>
                    <div class=" card-text">
                        <ul class=" card-text list-group list-group-flush">
                            <li class="mob-item">City <input type="text" style="margin-left: 163px; border: 1px solid;"></li>
                            <li class="mob-item">Locality <input type="text" style="margin-left: 105px; border: 1px solid;"></li>
                            <li class="mob-item">Housing Type <input type="text" style="margin-left: 15px; border: 1px solid;"></li>
                            <li class="mob-item">Sheltown + <input type="text" style="margin-left: 52px; border: 1px solid;"></li>
                            <li class="mob-item">Rent <input type="text" style="margin-left: 155px; border: 1px solid;"></li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="flipswitch">
                                <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="fs" checked>
                                <label class="flipswitch-label" for="fs">
                                    <div class="flipswitch-inner"></div>
                                    <div class="flipswitch-switch"></div>
                                </label>
                            </div>
                        </div>

                        <!-- <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: center;">
                            <a data-toggle="modal" data-target="#mydetails" href="#" class="card-link" class="card-link" style="font-size:30px;">Edit Details</a>
                        </div> -->
                    </div>
                </div>
            </div>
            <section>
                <div class="row" style="margin-right: 0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button type="button" class="btn btn-light button-style" style="font-size: 30px; margin-left: 50px; margin-top: 20px; "data-toggle="modal" data-target="#addnewproperty" >Add new property<i class="fa fa-arrow-right" style="margin-left: 10px;" aria-hidden="true"></i></button>
                    </div>
                </div>
            </section>

            <section>
                <div class="row" style="margin-right: 0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button class="btn btn-light button-style" style="margin-left: 50px; margin-top: 20px;" data-toggle="modal" data-target="#mydetails"><span>My Details</span></button>
                    </div>
                </div>
            </section>
        </section>

    </section>
    <!--1234567890-=234567890-234567890-2345iop[123euiop[1234567890-=234567890-234567890-2345iop[123euiop[-->
    <div class="modal" id="mydetails">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">

                    <h1 class="modal-title" style="color: black;font-size: 30px;font-family:Montserrat, sans-serif bold">My Details</h1>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

             

      <!-- Modal body -->
      <div class="modal-body">

        <form>
          <div class="form-row">
              <!-- <div class="col-sm-2">
              <select id="inputState" class="form-control">
                <option selected>Ms</option>
                <option>Mr</option>
                   <option>Mrs</option>
                  <option>Mrs</option>

              </select>
            </div> -->
            <div class="col">
              <label for="f_name">First Name</label>
              <input id="First Name" type="text" value="{{ request.user.custom_user.f_name }}" disabled class="form-control" placeholder="First name">
            </div>
            <div class="col">
              <label for="l_name">Last Name</label>
              <input id="l_name" type="text" value="{{ request.user.custom_user.l_name }}" disabled class="form-control" placeholder="Last name"><br>
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-sm-4" >
              <!-- Upload photo:<br><h5 style="font-size:12px ;">(Max size allowed 5kb)</h5> -->
              <label>User Image</label>
              <!-- <img src="{{ request.user.custom_user.user_image.url }}" width="200" height="200" alt="user image" /> -->
            </div>
        <div class="mb-3 col-sm-8 ">
<!-- <input type="file" class="custom-file-input col-sm-8" id="validatedCustomFile" required>
<label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
<div class="invalid-feedback">Example invalid custom file feedback</div><br> -->
<img src="{{ request.user.custom_user.user_image.url }}" width="100" height="100" alt="user image" />
</div>

</div>
                    
                      <!-- <div class="form-row">
                        <label for="assistants" class="col-sm-4">Have Assistant(s):</label>
                        <input type="text" value="{{ request.user.custom_user.service_provider.has_assistant }}" disabled class="form-control col-sm-6" id="assistants" >
                    </div>    <br>             -->
                    <div class="form-row">
                        <label for="birthday" class="col-sm-4">DOB:</label>
                        <input type="date" value="{{ request.user.custom_user.dob|date:'Y-m-d' }}" disabled class="form-control col-sm-6" id="birthday" >
                    </div><br>
                  
                  <br>
                  <div class="form-row">
                    
                      <label for="phone" class="col-sm-4">Phone number:</label>
                      <input type="tel" id="phone" value="{{ request.user.custom_user.phone_number }}" disabled class="form-control col-sm-6"name="phone" pattern="[0-9]{10}">
                    </div>  <br>
                    <div class="form-row">
                      <label for="alternate_phone" class="col-sm-4">Whatsapp number:</label>
                      <input type="tel" id="alternate_phone" value="{{ request.user.custom_user.service_provider.whatsapp_number }}" disabled class="form-control col-sm-6"name="alternate_phone" pattern="[0-9]{10}">
                    </div>  <br>
                  
                    <div class="form-row">
                      <label for="inputAddress" class="col-sm-4">Email</label>
                      <input type="text" value="{{ request.user.custom_user.email }}" disabled class="form-control col-sm-6" id="inputAddress" placeholder="example@gmail.com">
                    </div>  <br>
                    <div class="form-row">
                      <label for="exampleFormControlTextarea1" class="col-sm-4">Address</label>
                      <textarea class="form-control col-sm-6"  disabled id="exampleFormControlTextarea1" >{{ request.user.custom_user.address_1 }}&#13;&#10;{{ request.user.custom_user.address_2 }}</textarea>
                    </div>   <br>
                   
                    <div class="form-row">
                      <label for="city" class="col-sm-4">City</label>
                      <input type="text" id="city" value="{{ request.user.custom_user.city }}" disabled class="form-control col-sm-6" name="city" ></label>
                    </div><br>
                    <div class="form-row">
                      <label for="state" class="col-sm-4">State</label>
                      <input type="text" id="state" value="{{ request.user.custom_user.state }}" disabled class="form-control col-sm-6" name="state" ></label>
                    </div><br>
                    <div class="form-row">
                      <label for="pincode" class="col-sm-4">Pincode</label>
                      <input type="text" id="pincode" value="{{ request.user.custom_user.zip_code }}" disabled class="form-control col-sm-6" name="pincode" ></label>
                    </div><br>
                  
                    <!-- <div class="form-row">
                      <label for="exp" class="col-sm-4">Experience</label>
                      <input type="number" id="pincode" value="{{ request.user.custom_user.service_partner.experience }}" disabled class="form-control col-sm-6" name="exp" id="exp" ></label>
                    </div><br>
                    <div class="form-row">
                      <label for="exampleFormControlTextarea1" class="col-sm-4">Course Details</label>
                      <textarea class="form-control col-sm-6"  disabled id="exampleFormControlTextarea1" >{{ request.user.custom_user.service_partner.course_details }}</textarea>
                    </div>   <br>                                      -->
                    <!-- <div class="form-row">
                      <label for="bank" class="col-sm-4">Bank Account No.</label>
                      <label type="number" id="bank" value="{{ request.user.custom_user.service_partner.cancelled_cheque }}" disabled class="form-control col-sm-6" name="bank" ></label>
                    </div><br> -->
                    <!-- <div class="form-group row ">
                      <div class="col-sm-4" >Upload cancelled cheque:<h5 style="font-size:12px ;">(Max size allowed 50kb)</h5></div>
                  <div class="custom-file mb-3 col-sm-8 ">
                    <input type="file" class="custom-file-input col-sm-8" id="validatedCustomFile1" required>
                    <label class="custom-file-label" for="validatedCustomFile1">Choose file...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div> -->
                  <!-- </div></div> -->

 
                  <div class="col-auto">
                    <a href="{% url 'propertypartnersignup' %}">Edit Details</a>
                  </div>
          </div>

        </form>

      </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal footer -->
    <div class="modal" id="addnewproperty">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h1 class="modal-title" style="color: black;font-size: 30px;font-family:Montserrat, sans-serif bold">Add New Property</h1>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
               

                <!-- Modal body -->
                <div class="modal-body">
                    <form method="POST" >
                         {% csrf_token %}
                {% for hidden in postForm.hidden_fields %}
                {{ hidden }}
                {% endfor %} 
                        <div class="form-row">
                          <div class="col-4">

                              <label for="inputAddress">Property Name</label>
                              {% render_field postForm.name  class="form-control" id="inputAddress" %}
          {{ postForm.name.errors }}

                          </div>
                          <div class="col">
                        <select class="search-city" name="city" id="cityname" required>
          <option class="search" value="ChooseCity" disabled="true" selected>Choose City...</option>
          {% for item in cities %}
          <option value="{{ item.city }}">{{ item.city }}</option>
          {% endfor %}
        </select>
        <script>  
          var city_list = "{{city_array|safe|escapejs}}";
          city_list=JSON.parse(city_list);
          var locality_list = "{{locality_array|safe|escapejs}}";
          locality_list=JSON.parse(locality_list);
          var local =[];
          var a = function(selectedCity){
            for(var i=0;i<city_list.length;i++)
            {
              if(selectedCity == city_list[i])
              { local.push(locality_list[i]);
              }
            }
          }
          $(document).ready(function(){
            $("select#cityname").change(function(){
                var selectedCity = $(this).children("option:selected").val();
                a(selectedCity);
                var $localityname = $("#localityname");
                $localityname.empty();
                $.each(local, function(index,value) { 
                  $('#localityname').append('<option value='+value+'>'+value+'</option>') ; 
                }); 
                local=[];
            });
          });
        </script>
        <select class="search-locality" name="locality" id="localityname">
          <option class="search" value="" disabled="true" selected>Choose Locality...</option>
       <!--      {% for item in localities %}
            <option value="{{ item.locality }}">{{ item.locality }}</option>
            {% endfor %} -->
        </select>
                   <br>
                  </div>

              </div>
               <div class="form-row">
                          <div class="col-6">

                              <label for="inputAddress">Adress line 1</label>
                              {% render_field postForm.address_1  class="form-control" id="inputAddress" %}
          {{ postForm.address_1.errors }}

                          </div>
                           <div class="col-6">

                              <label for="inputAddress">Adress line 2</label>
                              {% render_field postForm.address_2  class="form-control" id="inputAddress" %}
          {{ postForm.address_1.errors }}

                          </div>
                          
                      

              </div>
              <!-- address end -->
              <div class="form-group row ">
                  <div class="col-sm-4" >Photos</div>

                  <div class="custom-file mb-3 col-sm-7">
                    <div class="row">
                        {{ formset.management_form }}
                        {% for form in formset %}
                        {{ form.image }}
                        {% endfor %}
                        <!-- <input type="file" multiple> -->
                    </div>
                <!--     <input type="file" class="custom-file-input col-sm-5" id="validatedCustomFile" required>

                    <label class="custom-file-label" for="validatedCustomFile">Choose file..</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div> -->
                </div></div>
  <div class="form-row">
                          <div class="col-12">

                              <label for="inputAddress">Virtual tour video link:</label>
                              {% render_field postForm.virtual_tour  class="form-control" id="inputAddress" %}
          {{ postForm.virtual_tour.errors }}

                          </div>
                           
                          
                      

              </div>

                <div class="form-group row">
                    <div class="col-sm-4" >Housing Type</div>

                        <!-- 
                        <select id="inputCity" class="form-control col-sm-6">
                          <option selected>Choose...</option>
                          <option>PG</option>
                            <option>Apartments</option>
                            <option>Flat</option>
                            <option>House</option>
                            <option>Others</option>
                            
                      
                        </select> -->
   <div class=" form-check form-check-inline">
    {% render_field postForm.proptype id="inputCity"  %}
    {{ postForm.proptype.errors }}

    <!--  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
     <label class="form-check-label  " for="inlineRadio1">Yes</label>
 </div>
 <div class="form-check form-check-inline">
     <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
     <label class="form-check-label  " for="inlineRadio1">No</label>
 </div>
 <div class="form-check form-check-inline">
     <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
     <label class="form-check-label  " for="inlineRadio1">Maybe</label>
 </div> -->
</div>  

                    </div>

                   <!--  <label><input type="radio" name="proptype" id="1" value="pg/hostel +1 mate" />&nbspPG : 1 mate</label>
                    <label><input type="radio" name="proptype" id="1" value="pg/hostel +2 mate" />&nbspPG : 2 mate</label>
                    <label><input type="radio" name="proptype" id="1" value="pg/hostel +3 mate" />&nbspPG : 3 mate</label>
                    <label><input type="radio" name="proptype" id="1" value="pg/hostel +4 mate" />&nbspPG : 4 mate</label>

                    <label><input type="radio" name="proptype" id="3" value="flat/apartment 1BHK" />&nbspFlat : 1BHK&nbsp</label>

                    <label><input type="radio" name="proptype" id="3" value="flat/apartment 2BHK" />&nbspFlat : 2BHK&nbsp</label>

                    <label><input type="radio" name="proptype" id="3" value="flat/apartment 3BHK" />&nbspFlat : 3BHK&nbsp</label>

                    <label><input type="radio" name="proptype" id="5" value="house" />&nbspHouse</label> -->

                    <!-- <div class="form-inline"> -->
                        <!-- <label class="my-1 mr-2 " for="inlineFormCustomSelectPref">Number of beds</label>
                        <div class="col-sm-2">


                          <input type="number" id="quantity" name="quantity" min="1" class="form-control col-sm-10">
                      </div> -->

                      <label for="inputEmail3" class="col-form-label col-sm-4">Beds in a room:</label>
                      <div class="col-sm-6">
                        
          {% render_field postForm.max_bed_in_room class="form-control col-sm-6" %}
          {{ postForm.max_bed_in_room.errors }}
</div>
          <label for="inputEmail3" class="col-form-label col-sm-4">Total No of beds:</label>
                      <div class="col-sm-6">
                        
          {% render_field postForm.total_no_of_beds class="form-control col-sm-6" %}
          {{ postForm.total_no_of_beds.errors }}



                        <!-- <input type="number" id="quantity" name="quantity" min="1" max="2" class="form-control col-sm-10"> -->
                    </div>
                <!-- </div> -->

                <!-- Family+ -->
                <div class="form-group row">
                  <div class="col-sm-4">Best Suited For:</div><br>
                  <div class=" form-check form-check-inline">
    {% render_field postForm.gender_restrictions id="inputCity"  %}
    {{ postForm.gender_restrictions.errors }}

    <!--  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
     <label class="form-check-label  " for="inlineRadio1">Yes</label>
 </div>
 <div class="form-check form-check-inline">
     <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
     <label class="form-check-label  " for="inlineRadio1">No</label>
 </div>
 <div class="form-check form-check-inline">
     <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
     <label class="form-check-label  " for="inlineRadio1">Maybe</label>
 </div> -->
</div>  
                 <!--  <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <label><input type="radio" name="gender_restrictions" id="1" value="Family+" />&nbspFamily+</label>
                        <label><input type="radio" name="gender_restrictions" id="1" value="Female only" />&nbsp Female only</label>
                        <label><input type="radio" name="gender_restrictions" id="1" value="Male only" />&nbsp Male only</label>
                        <label><input type="radio" name="gender_restrictions" id="1" value="Sheltown+" />&nbsp Couples</label> -->


                       <!--  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Student</label>
                      </div>
                              <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Professional</label>
                      </div>
                              <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">Family</label>
                      </div>
                              <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                        <label class="form-check-label" for="inlineCheckbox2">Couples</label>
                    </div> -->

                <!-- </div> -->
            <!-- </div><br> -->
            <div class="form-group row">
              <div class="col-sm-6" style="padding-left: 10px">Meals Included in Rent:</div>

            <!--   <select id="inputCity" class="form-control col-sm-6">
                <option selected>Choose...</option>
                <option>Yes</option>
                <option>No</option>
            </select> -->
            {% render_field postForm.is_meals_included id="inputCity"  %}
          {{ postForm.is_meals_included.errors }}

        </div>       
        <div class="form-group row">
          <div class="col-sm-4" >House Keeping</div>
          
          {% render_field postForm.housekeeping_freq class="form-control col-sm-6" %}
          {{ postForm.housekeeping_freq.errors }}

          <!-- <select id="inputCity" class="form-control col-sm-6">
            <option selected>Choose...</option>
            <option>Daily</option>
            <option>Weekly</option>
        </select> -->

    </div>  <br>
    <div class="form-group row">
      <div class="col-sm-5">Common Areas:</div>
      <!-- model multichoice field -->
      <div class="col-sm-10">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Living Room</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Dining Hall</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Kitchen</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
            <label class="form-check-label" for="inlineCheckbox2">Study Room</label>
        </div> 
    </div>
</div>
<br>
<!--Owner stays at property-->

<div class="form-group">
    <label for="gender">Owner stays at property:</label>
            {% render_field postForm.owner_stays id="inputCity"  %}
          {{ postForm.owner_stays.errors }}
    
    <!-- <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label  " for="inlineRadio1">Yes</label>


  </div>
  <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label  " for="inlineRadio1">No</label>


  </div> -->
</div> 
<br>
<div class="form-group">
    <label for="inputEmail3" class="col-form-label">Non veg allowed:</label>
            {% render_field postForm.non_veg_allowed id="inputCity"  %}
          {{ postForm.non_veg_allowed.errors }}

    
</div><br>

<!-- <div class="form-group">
  <label class="my-1 mr-2" for="gender">People in one flat if PG:</label>
  <div class="form-check form-check-inline">
    <input type="number" id="quantity" name="quantity" min="1" max="3" class="form-control col-sm-10">


</div> -->

</div> 
<br>
<div class="form-group">
 <label for="inputEmail3" class="col-form-label">Drinking/Smoking Allowed:</label>
 <div class=" form-check form-check-inline">
    {% render_field postForm.smoking_drinking_allowed id="inputCity"  %}
          {{ postForm.smoking_drinking_allowed.errors }}


  <!--  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
   <label class="form-check-label  " for="inlineRadio1">Yes</label>
</div>
<div class="form-check form-check-inline">
   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
   <label class="form-check-label  " for="inlineRadio1">No</label>
</div>
<div class="form-check form-check-inline">
   <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
   <label class="form-check-label  " for="inlineRadio1">Maybe</label>
</div> -->
</div><br>
<div class="form-group ">
    <label class="my-1 mr-2" for="rent">Rent:</label>

    <div class="form-check form-check-inline">
      <!-- <input type="text" id="rent" name="rent" placeholder="Rs." class="form-control col-sm-10"> -->
          {% render_field postForm.rent class="form-control col-sm-6" %}
          {{ postForm.rent.errors }}


  </div>

</div> 
<br>
<div class="form-row">
                          <div class="col-12">

                              <label for="inputAddress">Property Description </label>
                              {% render_field postForm.description_by_property_owner  class="form-control" id="inputAddress" %}
          {{ postForm.description_by_property_owner.errors }}

                          </div>
                           
                          
                      

              </div>
</div>

<div class="form-group">
   <label for="inputEmail3" class="col-form-label">Security Deposit Present?:</label>
   <div class=" form-check form-check-inline">
    {% render_field postForm.security_deposit id="inputCity"  %}
    {{ postForm.security_deposit.errors }}

    <!--  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
     <label class="form-check-label  " for="inlineRadio1">Yes</label>
 </div>
 <div class="form-check form-check-inline">
     <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
     <label class="form-check-label  " for="inlineRadio1">No</label>
 </div>
 <div class="form-check form-check-inline">
     <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
     <label class="form-check-label  " for="inlineRadio1">Maybe</label>
 </div> -->
</div>      
<div class="form-group">
   <label for="inputEmail3" class="col-form-label">Furnished Type:</label>
   <div class=" form-check form-check-inline">
    {% render_field postForm.furnished_type id="inputCity"  %}
    {{ postForm.furnished_type.errors }}

    <!--  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
     <label class="form-check-label  " for="inlineRadio1">Yes</label>
 </div>
 <div class="form-check form-check-inline">
     <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
     <label class="form-check-label  " for="inlineRadio1">No</label>
 </div>
 <div class="form-check form-check-inline">
     <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
     <label class="form-check-label  " for="inlineRadio1">Maybe</label>
 </div> -->
</div>      
<div >
    <br>
  <label for="exampleFormControlTextarea1" class="col-sm-4">Amenities:</label><br>
  
  {% for field in amenityForm %}
 &nbsp {{ field.name }} &nbsp {{ field }}<br>
  {% endfor %}

</div> 
 <label for="inputEmail3" class="col-form-label">Availabilty:</label>
 <div class=" form-check form-check-inline">
    {% render_field postForm.status id="inputCity"  %}
          {{ postForm.status.errors }}

</div>
<div class="col-auto">
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</div>
</div>



</form>
</div>
</div>
</div>
</div>
</body></html>
