{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@1,600&family=PT+Sans+Narrow:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: 'Montserrat', sans-serif;
        color: white;
    }

    h1 {
        font-size: 30px
    }

    .card {
        background-color: #2ECAB6;
    }
    @media only screen and (max-width: 600px) {
        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 15px;
        }
        h3{
          font-size: 13px;
        }
        .card {
            width: 100% !important;
        }
       
        .col{
          width:100%;

        }
        .hide{
          display:none;
        }
        
    }

    .card-body {
        padding: 0;
    }

    .fa-arrow-left {
        cursor: pointer;
        color: #fff
    }

    .table .thead-custom th {
        background-color: #2EC4B6;
        color: #fff;
        font-size: 20px;
        vertical-align: top
    }

    .table td,
    .table th {
        color:
    }

    .table-striped tbody tr:nth-of-type(even) {
        background-color: #CBF3F0
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #fff
    }

    @media only screen and (max-width: 600px) {
        h1 {
            font-size: 20px
        }

        .card {
            width: 90% !important;
        }

        .table .thead-custom th {
            font-size: 15px;
        }

        .table td,
        .table th {
            font-size: 10px;
        }

    }

</style>

<body class="font-weight-normal">
    <section>
        <div class="card w-100 m-auto">
            <div class="card-body py-3 p-md-4 float-left">
                <h1 class="font-weight-bold"><a href="{% url 'myaccount-propertypartner' %}"><i class="fa fa-arrow-left ml-2"></i></a><span class="ml-3 ml-md-5">Transaction Details</span></h1>
            </div>
        </div>
    </section>
    <br>
   <div class="container">
<div class="row">


<div class="col col col-xs-6 col-md-6 col-lg-6 hide" style="">
<img src="{% static 'sheltownapp/img/propaccimg/transact.jpg' %}" align="left" class="img1" style="width:500px; height:380px; align:left;"></img>
</div>
<div class="col col-xs-6 col-md-6 col-lg-6">
    <section>
        <div class="card w-100 shadow-lg m-auto mb-5 bg-white rounded">
            <div class="card-body pb-3">
                <div class="card-title">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="px-3 thead-custom">
                                <tr>
                                    <th scope="col ">Paid For</th>
                                    <th scope="col ">Date</th>
                                    <th scope="col ">Payment Method</th>
                                    <th scope="col ">Amount paid</th>
                                    <th scope="col ">ID</th>
                                    <th scope="col ">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in bookings %}
                                {% for transaction in booking.transactions.all %}
                                <tr>
                                    <th scope="row">{{ booking.booked_property.name }}</th>
                                    <td>{{ transaction.TXNDATE }}</td>
                                    <td>{{ transaction.PAYMENTMODE }}</td>
                                    <td>{{ transaction.TXNAMOUNT }}</td>
                                    <td>{{ transaction.TXNID }}</td>
                                    <td>{{ transaction.STATUS }}</td>
                                </tr>
                                {% endfor %}
                                {% endfor %}
                                {% for booking in rec_bookings %}
                                {% for transaction in booking.transactions.all %}
                                <tr>
                                    <th scope="row">{{ booking.booked_property.name }}</th>
                                    <td>{{ transaction.TXNDATE }}</td>
                                    <td>{{ transaction.PAYMENTMODE }}</td>
                                    <td>{{ transaction.TXNAMOUNT }}</td>
                                    <td>{{ transaction.TXNID }}</td>
                                    <td>{{ transaction.STATUS }}</td>
                                </tr>
                                {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </section>  </div>
                </div>
            </div>
</body>

</html>
