body
 {
  width: 100%;
}

/* LARGE SCREENS */
@media all and (min-width: 992px) {
    nav i {
        font-size: 1.5rem;
    }
}
/* ====== all post and drop down button =========*/
.blog-topic{
  padding: 10px 20px;
  margin:10px 0px;
  max-width: max-content;
}
.all-post{
  color:rgb(117, 117, 117);
  text-decoration:none;
  border-radius:10px;
  background-color:rgb(242, 242, 242);
  text-align:center;
  font-weight: bolder;
  padding:5px 20px;
  margin:10px;
}
.all-post:hover,
.all-post:focus,
.all-post:active
{
  color:rgb(117, 117, 117);
  text-decoration:none;
  border-radius:10px;
  background-color:rgb(242, 242, 242);
  text-align:center;
  font-weight: bolder;
  padding:5px 20px;
  margin:10px;
}
.category{
  color:rgb(117, 117, 117);
  text-decoration:none;
  border-radius:50px;
  background-color:rgb(242, 242, 242);
  text-align:center;
  font-weight: bolder;
  padding:5px 20px 5px 10px;
  margin:10px;
}
.category:hover,
.category:active,
.category:focus
{
  color:rgb(117, 117, 117);
  text-decoration:none;
  border-radius:50px;
  background-color:rgb(242, 242, 242);
  text-align:center;
  font-weight: bolder;
  padding:5px 20px 5px 10px;
  margin:10px;
}
.hash-icon{
  background-color:black;
  color:white;
  padding:5px;
  margin-right:10px;
  border-radius:50px;
}
@media screen and (max-width: 460px) {
  .all-post{
    font-weight: normal;
    margin-right:5px;
  }
  .all-post:hover,
  .all-post:focus,
  .all-post:active
  {
    font-weight: normal;
    margin-right: 5px;
  }
  .category{
    font-weight: normal;
    margin-right:5px;
  }
  .category:hover,
  .category:focus,
  .category:active
  {
    font-weight: normal;
    margin-right: 5px;
  }
}
@media screen and (max-width: 320px) {
  .all-post{
    margin-right:5px;
  }
  .all-post:hover,
  .all-post:focus,
  .all-post:active
  {
    margin-right: 5px;
  }
  .category{
    margin-right:5px;
  }
  .category:hover,
  .category:focus,
  .category:active
  {
    margin-right: 5px;
  }
}
/* ====== cards css =========*/
.middle{
  background-color: white;
  border-radius:5px;
}
.content{
  display:none;
}

#card{
    border:1px solid rgb(242, 242, 242);
    border-radius: 5px;
    margin:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-title{
  margin-bottom: 0px;
  padding-bottom: 5px;
  color:black;
  font-weight: bold;
}
.card-body{
  padding:10px 10px 10px 30px;
}
.card-body h5{
  font-size:15px;
  color:rgb(117, 117, 117);
}
#card a{
  background-color:#ff971d; 
  color:white;
  border-radius: 100px;
  text-align: center;
  font-size:15px;
  text-decoration: none;
  padding:5px 20px;
}
#card a:hover,
#card a:focus,
#card a:active{
  background-color:white; 
  color:#ff971d;
  border:1px solid #ff971d;
  border-radius: 100px;
  text-align: center;
  font-size:15px;
  text-decoration: none;
  padding:5px 20px;
}
#card p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.post-tags{
  margin-left:20px;
}
.post-tag-name{
  background-color:rgb(242, 242, 242);
  color:rgb(117, 117, 117);
  margin:5px 5px 0px 5px;
  border:1px solid rgb(242, 242, 242);
  padding:2px 5px;
  border-radius:10px;
}
#loadMore{
  display:block;
  width:200px;
  background-color:#ff971d; 
  color:white;
  border-radius: 100px;
  text-align: center;
  font-size:15px;
  font-weight: bold;
  text-decoration: none;
  padding:10px 40px;
  margin-top:40px !important;
  margin-bottom:30px;
}
#loadMore:hover,
#loadMore:focus,
#loadMore:active{
  display:block;
  width:200px;
  background-color:white; 
  color:#ff971d;
  border:1px solid #ff971d;
  border-radius: 100px;
  text-align: center;
  font-size:15px;
  font-weight:bold;
  text-decoration: none;
  padding:10px 40px;
  margin-top:40px !important;
  margin-bottom:30px;
}
.noContent{
  color:rgb(117, 117, 117) !important;
  border:1px solid transparent  !important;
  background-color:transparent !important; 
  pointer-events: none !important;
}
@media screen and (max-width:460px){
  .post-tag-name{
    display:none;
  }
}
  /* Responsive columns */
/*@media screen and (max-width: 1285px) {
  .column {
    float: left;
    width: 40%;
    padding: 10px;
  }
}
@media screen and (max-width: 724px) {
  .column {
    width: 90%;
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 460px) {
  .column {
    width: 86%;
    display: block;
    margin-bottom: 20px;
  }
  div{
    margin:5px;
  }
}
@media screen and (max-width: 320px) {
  .column {
    width:80%;
    display: block;
    margin-bottom: 20px;
  }
  div{
    margin:5px;
  }
}*/


/* ====== slide panel sign up css =========*/
.signupbox{
  margin:10px 10px 40px 10px;
}
.signupbox h4{
  color:black;
  text-align:center;
}
.signupbox input{
  width:100%;
}
.create {
  background-color: #ff971d;
  text-align: center;
  color: white;
  font-weight: bolder;
  padding:5px 10px;
  margin: 10px;
}
.create:hover,
.create:focus,
.create:active
 {
  background-color: #ff971d;
  text-align: center;
  color: white;
  font-weight: bolder;
  padding:5px 10px;
  margin: 10px;
}
/* ====== side panel email us line css =========*/
.post{
  margin:40px 10px;
}
.post h4{
  color:black;
}
/* ====== side panel tag css =========*/
.tags {
  color: #fff;
  margin:40px 10px;
  position: relative;
  z-index: 0;
}
.tags h4{
  width:100%;
  color:black;
}
.tags p{
  color:black;
}
.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 5px;
  color: #000;
  border: 1px solid #ccc;
  font-size: 13px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.tagcloud a:hover {
  text-decoration: none;
  border-color:rgb(242, 242, 242);
  background:rgb(242, 242, 242);
  color:rgb(117, 117, 117);
  font-weight: bolder;
}

