body {
 width: 100%;
}

/* LARGE SCREENS */
@media all and (min-width: 992px) {
    nav i {
        font-size: 1.5rem;
    }
}
/* ====== all post and drop down button =========*/
.blog-topic{
  padding: 10px 20px;
  margin:10px 0px;
  max-width: max-content;
}
.all-post{
  color:rgb(117, 117, 117);
  text-decoration:none;
  border-radius:10px;
  background-color:rgb(242, 242, 242);
  text-align:center;
  font-weight: bolder;
  padding:5px 20px;
  margin:10px;
}
.all-post:hover,
.all-post:focus,
.all-post:active
{
  color:rgb(117, 117, 117);
  text-decoration:none;
  border-radius:10px;
  background-color:rgb(242, 242, 242);
  text-align:center;
  font-weight: bolder;
  padding:5px 20px;
  margin:10px;
}
.category{
  color:rgb(117, 117, 117);
  text-decoration:none;
  border-radius:50px;
  background-color:rgb(242, 242, 242);
  text-align:center;
  font-weight: bolder;
  padding:5px 20px 5px 10px;
  margin:10px;
}
.category:hover,
.category:active,
.category:focus
{
  color:rgb(117, 117, 117);
  text-decoration:none;
  border-radius:50px;
  background-color:rgb(242, 242, 242);
  text-align:center;
  font-weight: bolder;
  padding:5px 20px 5px 10px;
  margin:10px;
}
.hash-icon{
  background-color:black;
  color:white;
  padding:5px;
  margin-right:10px;
  border-radius:50px;
}
@media screen and (max-width: 460px) {
  .all-post{
    font-weight: normal;
    margin-right:5px;
  }
  .all-post:hover,
  .all-post:focus,
  .all-post:active
  {
    font-weight: normal;
    margin-right: 5px;
  }
  .category{
    font-weight: normal;
    margin-right:5px;
  }
  .category:hover,
  .category:focus,
  .category:active
  {
    font-weight: normal;
    margin-right: 5px;
  }
}
@media screen and (max-width: 320px) {
  .all-post{
    margin-right:5px;
  }
  .all-post:hover,
  .all-post:focus,
  .all-post:active
  {
    margin-right: 5px;
  }
  .category{
    margin-right:5px;
  }
  .category:hover,
  .category:focus,
  .category:active
  {
    margin-right: 5px;
  }
}
/* =============== blog post part =============*/
.middle{
  background-color: white;
  border-radius:5px;
  padding-left:50px;
  padding-right:50px;
}
.heading #title {
  color: black;
  font-weight: 1000;
  margin-top: 32px;
}
.heading p{
  color:rgb(117, 117, 117);
}
.post-tag-name{
  background-color:rgb(242, 242, 242);
  color:rgb(117, 117, 117);
  margin:5px 5px 5px 5px;
  border:1px solid rgb(242, 242, 242);
  padding:2px 5px;
  border-radius:10px;
  margin:10px;
}
.blog_image {
  background-color: white;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  width:100%;
}
.blog_image img{
  width:100%;

}
P.drop-cap:first-letter {
    font-size: 4.5em;
    float: left;
    margin-top: .15em;
    margin-right:10px;
}
.blog_text {
  padding: 50px 10px;
}
@media screen and (max-width: 460px) {
  .middle{
    padding-left:10px;
    padding-right:10px;
  }
  .heading {
    padding-left:15px;
    padding-top:10px;
  }
}

/* ====== slide panel sign up css =========*/

.signupbox{
  margin:10px 10px 10px 10px;
}
.signupbox h4{
  color:black;
  text-align:center;
}
.signupbox input{
  width:100%;
}
.create {
  background-color: #ff971d;
  text-align: center;
  color: white;
  font-weight: bolder;
  padding:5px 10px;
  margin: 10px;
}

.create:hover,
.create:focus,
.create:active {
  background-color: #ff971d;
  text-align: center;
  color: white;
  font-weight: bolder;
  padding:5px 10px;
  margin: 10px;
}


/* ====== slide recent post section css =========*/
.recent-post {
  margin: 40px 10px;
}

.recent-post h4 {
  color:black;
}

.recent-box .row {
  margin:20px 0px;
}

.recent-box img {
  width: 100%;
}
.recent-box .img-thumbnail
{
  padding:0px;
}

.recent-box h5 {
  width: 100%;
  color:rgb(117, 117, 117);
}

.recent-box p {
  font-size: 13px;
  width: 100%;
}
.col{
  padding-right:5px;
  padding-left:5px;
}
@media screen and (max-width: 460px) {
  .recent-box .row {
    margin:10px 0px;
  }
}
/*=========== like css ===================*/
.like{
  margin:20px 0px 20px 0px;
  padding-left:50px;
  padding-right:50px;
}
.like h6{
  font-size:20px;
  font-weight:bold;
}
.like-login{
  background-color:#ff971d; 
  color:white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
.like-login:hover,
.like-login:active,
.like-login:focus
{
  background-color:#ff971d; 
  color:white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
@media screen and (max-width: 460px) {
  .like {
    padding-left:20px;
    padding-right:20px;
  }
}
/*=========== reply css ===================*/
.reply{
  margin:20px 0px 20px 0px;
  padding-left:50px;
  padding-right:50px;
}
.reply h6{
  font-size:20px;
  font-weight:bold;
}
.click{
  text-align: center;
  color:#ff971d;
  font-weight: bolder;
  padding:5px 10px;
  text-decoration:none;
  border-radius:5px;
}
.click:hover,
.click:active,
.click:focus
{
  background-color: #ff971d;
  text-align: center;
  color: white;
  font-weight: bolder;
  padding:5px 10px;
  text-decoration:none;
  border-radius:5px;
}
@media screen and (max-width: 460px) {
  .reply {
    padding-left:20px;
    padding-right:20px;
  }
}
/*=========== sharebox css ===================*/
.sharebox{
  margin:10px 10px 10px 10px;
}
.sharebox h4 {
  color: #000;
}
.sharebox .social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.sharebox  .social-icons li {
  margin-right:10px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.sharebox  .social-icons a {
  color: white;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.sharebox  .social-icons a:active,
.sharebox  .social-icons a:focus, 
.sharebox  .social-icons a:hover {
  color: #fff;
}

.sharebox .social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.sharebox .social-icons a.facebook {
  background-color: #3b5998;
}

.sharebox .social-icons a.twitter {
  background-color: #00aced;
}

.sharebox .social-icons a.whatsapp {
  background-color: #25D366;
}

.sharebox .social-icons a.instagram {
  background-color: #c41540;
}

.share{
  margin:20px 0px 20px 0px;
  padding-left:50px;
  padding-right:50px;
}
.share h6{
  font-size:20px;
  font-weight:bold;
}
.share .col-md-12{
  padding:0px;
}
.share .social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.share .social-icons li {
  margin-right:10px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.share .social-icons a {
  color: white;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.share .social-icons a:active,
.share .social-icons a:focus, 
.share .social-icons a:hover {
  color: #fff;
}

.share .social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.share .social-icons a.facebook {
  background-color: #3b5998;
}

.share .social-icons a.twitter {
  background-color: #00aced;
}

.share .social-icons a.whatsapp {
  background-color: #25D366;
}

.share .social-icons a.instagram {
  background-color: #c41540;
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}
@media screen and (max-width: 460px) {
  .share {
    padding-left:20px;
    padding-right:20px;
  }
  .sharebox{
    display:none;
  }
}

/*=========== comment box ===================*/
.comments {
  margin-top: 50px;
  padding-left:50px;
  padding-right:50px;
}
.comments h6{
  font-size:20px;
  font-weight:bold;
}
.comments .media{
  margin:10px 0px 10px 0px;
}
.comment-box-textarea {
  resize: none;
  padding: 20px;
  height: 130px;
  margin-bottom: 15px;
  margin-top: 0px;
  width: 100%;
  border: 1px solid #F2F2F2;
}
/* -------------load more comment part  -----------------*/
.content {
  display: none;
}
#loadMore{
  background-color:#ff971d; 
  color:white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  width: 250px;
  display: block;
  margin: 20px auto;
  padding: 10px;
  transition: .3s;
}
#loadMore:hover,
#loadMore:focus,
#loadMore:active{
  background-color:#ff971d; 
  color:white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  width: 250px;
  display: block;
  margin: 20px auto;
  padding: 10px;
  transition: .3s;
}

.noContent{
  color:#000 !important;
  border:1px solid transparent  !important;
  background-color:transparent !important; 
  pointer-events: none !important;
}
@media screen and (max-width: 460px) {
  .comments {
    padding-left:20px;
    padding-right:20px;
  }
}