{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="utf-8">
  <title>SheltOwn</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'sheltownapp/img/favicon.png' %}" rel="icon">
  <link href="{% static 'sheltownapp/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

   <!-- Favicons -->
  <link href="{% static 'sheltownapp/img/favicon.png' %}" rel="icon">
  <link href="{% static 'sheltownapp/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <!-- Libraries CSS Files -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="{% static 'sheltownapp/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link href="{% static 'sheltownapp/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="{% static 'sheltownapp/lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/assets/owl.carousel.min.css'>
  <link href="{% static 'sheltownapp/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>

  <!-- Main Stylesheet File -->
  <link href="{% static 'sheltownapp/css/style2.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/assets/css/aboutus.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/assets/css/signup-modal.css' %}" rel="stylesheet">

  <style>
    #b-link{
      color: white;
      cursor: pointer;
    }

    #b-link:hover{
      color: black;
      cursor: pointer;
    }
  </style>
</head>

<body id="body" onload="myFunction()" style="background-color: white;">
      <!--==========================
         Header
       ============================-->
       <header id="header" >
        <div id="logo" class="pull-left">
          <a href="{% url 'sheltown-emptyredirect' %}">
            <img src="{% static 'sheltownapp/img/favicon.png' %}" alt="logo">
          </a>
        </div>
    
    <div id="logo" class="pull-left" style="margin-top:8px;">
          <a href="{% url 'sheltown-emptyredirect' %}">
          <p >SheltOwn</p>
          </a>
        </div>
          </div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu">
             
           {% if user.is_authenticated %}
           {% ifequal user.custom_user.usertype "User" %}
           <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
           <li><a href="{% url 'sheltown-personalservice' 'DELHI' 'NCR' %}"><i class="fa fa-star" aria-hidden="true" style="color:white;"></i> &nbsp;Personalised</a></li>
           <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true" style="color:white;"></i> &nbsp;Rental</a></li>
           <li><a href="{% url 'myaccount-userpartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true" style="color:white;"></i> &nbsp;My Account</a></li>

           {% endifequal %}

           {% ifequal user.custom_user.usertype "Property Owner" %}
           <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
           <li><a href="{% url 'myaccount-propertypartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true" style="color:white;"></i> &nbsp;My Account</a></li>
           {% endifequal %}

           {% ifequal user.custom_user.usertype "Service Provider" %}
           <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
           <li><a href="{% url 'myaccount-servicepartner'  %}"><i class="fa fa-user-circle-o" aria-hidden="true" style="color:white;"></i> &nbsp;My Account</a></li>
           {% endifequal %}  

           {% else %}
           <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
           <li><a href="{% url 'sheltown-personalservice' 'DELHI' 'NCR' %}"><i class="fa fa-star" aria-hidden="true" style="color:white;"></i> &nbsp;Personalised</a></li>
           <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true" style="color:white;"></i> &nbsp;Rental</a></li>
    
    
               
           <li><a href="{% url 'sheltown-index' 'openmodal' %}"><i class="fa fa-user-plus" aria-hidden="true" style="color:white;"></i> &nbsp;Sign up</a></li>
           <li><a href="{% url 'login' %}"><i class="fa fa-user-circle-o" aria-hidden="true" style="color:white;"></i> &nbsp;Log in</a></li>
           {% endif %}
         </ul>
          </nav><!-- #nav-menu-container -->
        </div>
      </header><!-- #header -->

 
<br>
     <div class="container marketing" >
      <!-- Three columns of text below the carousel -->
      <div class="row counter" style="padding: 20px; background-color: #FBD549">
        <section>
            <div class="container">
              {% for x in abt %}
                <div class="row container">
                    <h1 style="font-family: 'Lato', sans-serif;  color: #000;font-size: 32px;">{{ x.heading }}</h1>
                </div>
                <div class="row">
                    <div class="col-lg-6 text-justify">
                        {{ x.text|linebreaks }}      </div>
                    <div class="col-lg-6"> <img id="intro-pic" src="{% static 'sheltownapp/img/sheltownfamily.jpeg'%}"  style="width:100%;height:350px;">
                    </div>
                </div>
                <br>
                <div class="row" style="background-color: #5FDDE0; padding: 30px 30px 0 0;">
                    <ul style="list-style:none;">
                       {{ x.points|linebreaks}}    </ul>                   
                </div>
                {% endfor %}
            </div>
        </section>
      </div>
    <!-- START THE FEATURETTES -->
    <div class="container marketing">
<br>
      <div class="row container justify-content-center">
        <h1 style="font-family: 'Lato', sans-serif;  color: #000;font-size: 32px; margin-bottom: 0;">Our Services</h1>
      </div>

      <div class="row featurette justify-content-around">
        <div class="col-md-5" id="ser">
        <br>
        <div class="row"><h3><a href="rental/">Rental Services</a></h3></div>
          <div class="row" style="background-color: #ffff00;border: 5px solid black; padding: 20px;">
                <div class="col-lg-4 col-md-6">
                    <center><img src="https://img.icons8.com/clouds/100/000000/4-star-hotel.png"/>
                    <br><small><b>PG</b></small></center>
                </div>
                <div class="col-lg-4 col-md-6">
                    <center>
                        <img src="https://img.icons8.com/clouds/100/000000/hotel-room-key--v1.png"/>
                        <br><small><b>Flat</b> </small>
                    </center>
                </div>
                <div class="col-lg-4 col-md-6">
                    <center>
                        <img src="https://img.icons8.com/clouds/100/000000/apartment.png"/>
                        <br><small><b>Apartment</b> </small>
                    </center>
                </div>

                <div class="col-lg-4 col-md-6">
                    <center>
                        <img src="https://img.icons8.com/clouds/100/000000/home-page.png"/>                            
                        <br><small><b>House</b> </small>
                    </center>
                </div>

                <div class="col-lg-4 col-md-6">
                    <center>
                        <img src="https://img.icons8.com/clouds/100/000000/building.png"/>
                        <br><small><b>Commercial Rentals</b> </small>
                    </center>
                </div>

                <div class="col-lg-4 col-md-6">
                    <center>
                        <img src="https://img.icons8.com/clouds/100/000000/bed.png"/>
                        <br><small><b>Hostels</b> </small>
                    </center>
                </div>
          </div>
        </div>
        <div class="col-md-5" id="ser">
        <br>
        <div class="row"><h3><a href="personal/">Personalised Services</a></h3></div>
          <div class="row" style="background-color: #00ffff;;border: 5px solid black; padding: 20px;">
                <div class="col-lg-4 col-md-6">
                        <center>
                            <img src="https://img.icons8.com/clouds/100/000000/perfume-bottle.png"/>

                                <br><small><b>Personal Care</b> </small>
                            </center>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <center>
                                <img src="https://img.icons8.com/clouds/100/000000/broom.png"/>

                               <br> <small><b>Home care</b> </small>
                            </center>
                        </div>

                        <div class="text-center col-lg-4 col-md-6">
                            <img src="https://img.icons8.com/clouds/100/000000/contract.png"/>
                            <br><small><b>Edu Smart</b> </small>
                        </div>

                        <div class="col-lg-4 col-md-6">
                        <center>
                            <img src="https://img.icons8.com/clouds/100/000000/hammer.png"/>

                                <br><small><b>Repair and Maintenance</b> </small>
                            </center>
                        </div>

                        <div class="text-center col-lg-4 col-md-6">
                            <img src="https://img.icons8.com/clouds/100/000000/earbud-headphones.png"/>
                            <br><small><b>iListen</b> </small>
                        </div>
                        <div class="text-center col-lg-4 col-md-6">
                            <img src="https://img.icons8.com/clouds/100/000000/missed-call.png"/>
                            <br><small><b>Value-added Services</b> </small>
                        </div>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row counter" style="background-color: #5FDDE0;">
          <div class="col-12 col-sm-12">
            <center>
              <small><b>We make sure you get your worth</b></small>
            </center>
          </div>
        </div><!-- /.row -->
      </div>
      <hr class="featurette-divider">

      <div class="container marketing" style="background-color: #9dc183; padding-top: 10px;">

        <!-- Three columns of text below the carousel -->
        <div class="row counter" >
          <div class="col-4 col-sm-4">
            <center>
              <h5>5000+</h5>
              <p>Partners</p>
            </center>
          </div>
          <div class="col-4 col-sm-4">
            <center>
              <h5>8000+</h5>
              <p>Services</p>
            </center>
          </div>
          <div class="col-4 col-sm-4">
            <center>
              <h5>2000+</h5>
              <p>Cities across India</p>
            </center>
          </div>
        </div><!-- /.row -->
      </div>

<hr class="featurette-divider">

      <div class="row featurette">

      <div class="col-lg-5 order-md-2">
          <img src="{% static 'sheltownapp/img/broke.jpg' %}" style="width: 100%;"> 
        </div>
        <div class="col-lg-7 order-md-1">
          {% for x in broke %}
            <h1 id="some" style="font-family: 'Lato', sans-serif;  color: #000;font-size: 32px;">{{ x.brokage }}</h1>
          
          <p class="lead" style="margin-top: 0;margin-bottom: 0;"><i class="fa fa-arrow-down"></i> 100% No Brokerage!</p>
          <br><small >{{ x.description|linebreaks }}</small>
          {% endfor %}
        </div>
        <br>
        <br>
      </div>
    
<hr class="featurette-divider">
<br>
<div class="row container">
    <h1 style="font-family: 'Lato', sans-serif;  color: #000;font-size: 32px;">Our Family</h1>
</div>

<section class="testimonials">
<div class="col-sm-12">
<div id="customers-testimonials" class="owl-carousel">
{% for x in fam %}
<div class="item">
  
<div class="shadow-effect">
<img class="img-responsive" src= {{ x.Image.url }} style="height: 220px;" alt="">
<div class="item-details">
<h5>{{ x.name }} <span>{{ x.designation }}</span></h5>
<p><b>{{ x.description }}</b></p>
</div>
</div>
</div>
{% endfor %}
</div>
</div>
</div>
</div>
</section>

<div style="background-color: lightblue; padding-top: 20px;">
<div class="container">
  <div class="row container">
      <h1 style="font-family: 'Lato', sans-serif;  color: #000;font-size: 32px;">Our Initial Team</h1>
  </div>
</div>

<div class="container">

<div class="row">
<div class="col-md-12 heroSlider-fixed">
<div class="overlay">
</div>

<div class="slider responsive">
{% for i in intial %}
<div class="card_team" style="height:350px; background-color: white;">
      <img src={{ i.Image.url }} alt="Jane" style="width:100%;height:200px;border-radius: 0px;">
      <div class="container_team">
        <h2>{{ i.name }}</h2>
        <p class="title_team">{{ i.qualification }}</p>
        
      </div>
    </div>
    {% endfor %}

<div class="prev_br">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
</div>
<div class="next_br">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
</div>
</div>
</div>
</div>
</div>
</div>

<br><br>

<!-- START THE FEATURETTES -->
<a name="contact-us"></a>
    <div class="container marketing">
      <div class="row container justify-content-center">
        <h1 style="font-family: 'Lato', sans-serif;  color: #000;font-size: 32px; margin-left: 30px;margin-bottom: 0;">Contact Us</h1>
      </div>
      <br>

      <div class="row featurette justify-content-around">
        <div class="col-md-6">
              <div class="row justify-content-center" style="border: 1px solid lightgrey;border-radius: 5px 5px 0 0; margin-top: 10px;padding-top: 20px;">

                <div class="col-sm-4" style="text-align: center;">
                  <div class="las la-map-marker">
                    <div class="contact-address">
                      <h5 style="font-family: 'Lato', sans-serif; color: #ff9719;">Address</h5>
                      <p>India</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4" style="text-align: center;">
                  <div class="las la-phone">
                    <div class="contact-phone">
                      <h5 style="font-family: 'Lato', sans-serif; color: #ff9719;">Phone Number</h5>
                      <p><a href="tel:7644080506" style="color:black;">7644080506</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4" style="text-align: center;">
                  <div class="las la-envelope">
                    <div class="contact-email">
                      <h5 style="font-family: 'Lato', sans-serif; color: #ff9719;">Email</h5>
                      <p><a href="mailto:info@sheltown.com" style="color: black;">info@sheltown.com</a></p>
                    </div>
                  </div>
                </div>

              </div>
          
              <div class="row">
                <iframe style="height: 428px; width: 100%;" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d9913.633211580622!2d77.25411706624713!3d28.539760743888966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x390ce3dbdccef085%3A0x99333fe6f1b3a237!2sKalkaji%2C%20New%20Delhi%2C%20Delhi!3m2!1d28.539951499999997!2d77.25915789999999!5e0!3m2!1sen!2sin!4v1593072274885!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
              </div>

        </div>

        <div class="col-md-5">
          <div class="row" style="padding: 10px;">
                <div class="container" style="background-color: #ff9719; border-radius: 5px; padding: 20px;">
                  <h4 style="text-align:center"> Send Us a Message! </h4>
                  <br>
                  <form method= 'post'>
                  {% csrf_token %}
                  {{ form.as_p }}
             
                  <!--  <label for="fname">Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your Name">
                  <br><br>

                  <label for="lname">Email</label>  
                  <input type="email" id="email" name="email" placeholder="Your email">
                  <br><br>

                  <label for="country">Contact No</label><br>
                  <input type="number" id="fname" name="contact" placeholder="Your Phone Number">
                  <br><br>

                  <label for="subject">Message</label><br>
                  <textarea id="subject" name="subject" placeholder="Your Text Here" style="height:100px;"></textarea>
                  -->   <br>
                  <center><input id="subs" type="submit"  value="Submit"></center>
                  </form>
                </div>
            </div>
        </div>
      </div>
    </div>


<br>
    
  <!--==========================
    Footer
  ============================-->

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 about-text">
          <h6>About</h6>
          <p class="text-justify">We are a strong team focused on building a network where we could serve you regarding all your needs of having your own shelter.

We are bound to provide you the best possible care and support which helps you meet your demands.

Our core values- “Honesty, Authenticity, Concerns for Customer’s Privacy and Safety” are all closely interwoven into the fibre of our efforts.

We help you to find your match, book rental homes of choice across Indian cities.
 </p>
          <p>Accept our warm SheltOwn hug.</p>
        </div>

        <div class="col-xs-6 col-md-3 category-text">
          <ul class="footer-links">
            <li><a href="{% url 'sheltown-aboutus' %}">About Us</a></li>
            <li><a href="{% url 'policy_list' %}">Policy</a></li>
            <li><a href="{% url 'policy_list' %}">FAQs</a></li>
            <li><a href="{% url 'policy_list' %}">SheltOwn+</a></li>
            <li><a href="{% url 'policy_list' %}">SheltOwn Family+</a></li>
            <li><a href="{% url 'sheltown-aboutus' %}#contact-us" class="scrollto">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 quick-text">
          <ul class="footer-links">
            <li><a href="{% url 'sheltown-testimonial' %}">Testimonials</a></li>
            <li><a href="{% url 'sheltown-blog' %}">Blogs</a></li>
            <li><a href="{% url 'join' %}">Join our Team</a></li>

       
            <li><a href="{% url 'becomepartner' %}">List your Property</a></li>
            <li><a href="{% url 'becomepartner' %}">Become our Service Partner</a></li>
                         
            
            <li><a href="#">SiteMap</a></li>
          </ul>
        </div>


      </div>
    </div>
  </footer>
  <section id="footer-two">
    <div class="container">
      <a style="color: #2ECAB6;; cursor: pointer;" onclick="javascript:ShowHide('HiddenDiv')">More info</a>
      <br>
      <div class="mid" id="HiddenDiv" style="display: none;">
        <div class="row" id="more">
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Delhi</a></li>
              <li><a href="#">Room for boys in Delhi</a></li>
              <li><a href="#">Room for girls in Delhi</a></li>
              <li><a href="#">Room for family in Delhi</a></li>
              <li><a href="#">Room for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Delhi</a></li>
              <li><a href="#">PG for boys in Delhi</a></li>
              <li><a href="#">PG for girls in Delhi</a></li>
              <li><a href="#">PG for family in Delhi</a></li>
              <li><a href="#">PG for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Delhi</a></li>
              <li><a href="#">Hostel for boys in Delhi</a></li>
              <li><a href="#">Hostel for girls in Delhi</a></li>
              <li><a href="#">Hostel for family in Delhi</a></li>
              <li><a href="#">Hostel for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Delhi</a></li>
              <li><a href="#">Flats for boys in Delhi</a></li>
              <li><a href="#">Flats for girls in Delhi</a></li>
              <li><a href="#">Flats for family in Delhi</a></li>
              <li><a href="#">Flats for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Delhi</a></li>
              <li><a href="#">Apartments for boys in Delhi</a></li>
              <li><a href="#">Apartments for girls in Delhi</a></li>
              <li><a href="#">Apartments for family in Delhi</a></li>
              <li><a href="#">Apartments for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Delhi</a></li>
              <li><a href="#">House for boys in Delhi</a></li>
              <li><a href="#">House for girls in Delhi</a></li>
              <li><a href="#">House for family in Delhi</a></li>
              <li><a href="#">House for couple in Delhi</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Kota</a></li>
              <li><a href="#">Room for boys in Kota</a></li>
              <li><a href="#">Room for girls in Kota</a></li>
              <li><a href="#">Room for family in Kota</a></li>
              <li><a href="#">Room for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Kota</a></li>
              <li><a href="#">PG for boys in Kota</a></li>
              <li><a href="#">PG for girls in Kota</a></li>
              <li><a href="#">PG for family in Kota</a></li>
              <li><a href="#">PG for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Kota</a></li>
              <li><a href="#">Hostel for boys in Kota</a></li>
              <li><a href="#">Hostel for girls in Kota</a></li>
              <li><a href="#">Hostel for family in Kota</a></li>
              <li><a href="#">Hostel for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Kota</a></li>
              <li><a href="#">Flats for boys in Kota</a></li>
              <li><a href="#">Flats for girls in Kota</a></li>
              <li><a href="#">Flats for family in Kota</a></li>
              <li><a href="#">Flats for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Kota</a></li>
              <li><a href="#">Apartments for boys in Kota</a></li>
              <li><a href="#">Apartments for girls in Kota</a></li>
              <li><a href="#">Apartments for family in Kota</a></li>
              <li><a href="#">Apartments for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Kota</a></li>
              <li><a href="#">House for boys in Kota</a></li>
              <li><a href="#">House for girls in Kota</a></li>
              <li><a href="#">House for family in Kota</a></li>
              <li><a href="#">House for couple in Kota</a></li>
            </ul>
          </div>


          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Varanasi</a></li>
              <li><a href="#">Room for boys in Varanasi</a></li>
              <li><a href="#">Room for girls in Varanasi</a></li>
              <li><a href="#">Room for family in Varanasi</a></li>
              <li><a href="#">Room for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Varanasi</a></li>
              <li><a href="#">PG for boys in Varanasi</a></li>
              <li><a href="#">PG for girls in Varanasi</a></li>
              <li><a href="#">PG for family in Varanasi</a></li>
              <li><a href="#">PG for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Varanasi</a></li>
              <li><a href="#">Hostel for boys in Varanasi</a></li>
              <li><a href="#">Hostel for girls in Varanasi</a></li>
              <li><a href="#">Hostel for family in Varanasi</a></li>
              <li><a href="#">Hostel for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Varanasi</a></li>
              <li><a href="#">Flats for boys in Varanasi</a></li>
              <li><a href="#">Flats for girls in Varanasi</a></li>
              <li><a href="#">Flats for family in Varanasi</a></li>
              <li><a href="#">Flats for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Varanasi</a></li>
              <li><a href="#">Apartments for boys in Varanasi</a></li>
              <li><a href="#">Apartments for girls in Varanasi</a></li>
              <li><a href="#">Apartments for family in Varanasi</a></li>
              <li><a href="#">Apartments for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Varanasi</a></li>
              <li><a href="#">House for boys in Varanasi</a></li>
              <li><a href="#">House for girls in Varanasi</a></li>
              <li><a href="#">House for family in Varanasi</a></li>
              <li><a href="#">House for couple in Varanasi</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Patna</a></li>
              <li><a href="#">Room for boys in Patna</a></li>
              <li><a href="#">Room for girls in Patna</a></li>
              <li><a href="#">Room for family in Patna</a></li>
              <li><a href="#">Room for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Patna</a></li>
              <li><a href="#">PG for boys in Patna</a></li>
              <li><a href="#">PG for girls in Patna</a></li>
              <li><a href="#">PG for family in Patna</a></li>
              <li><a href="#">PG for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Patna</a></li>
              <li><a href="#">Hostel for boys in Patna</a></li>
              <li><a href="#">Hostel for girls in Patna</a></li>
              <li><a href="#">Hostel for family in Patna</a></li>
              <li><a href="#">Hostel for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Patna</a></li>
              <li><a href="#">Flats for boys in Patna</a></li>
              <li><a href="#">Flats for girls in Patna</a></li>
              <li><a href="#">Flats for family in Patna</a></li>
              <li><a href="#">Flats for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Patna</a></li>
              <li><a href="#">Apartments for boys in Patna</a></li>
              <li><a href="#">Apartments for girls in Patna</a></li>
              <li><a href="#">Apartments for family in Patna</a></li>
              <li><a href="#">Apartments for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Patna</a></li>
              <li><a href="#">House for boys in Patna</a></li>
              <li><a href="#">House for girls in Patna</a></li>
              <li><a href="#">House for family in Patna</a></li>
              <li><a href="#">House for couple in Patna</a></li>
            </ul>
          </div>
          <br>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Delhi</a></li>
              <li><a href="#">Plumber in Delhi</a></li>
              <li><a href="#">Repair & Maintenance in Delhi</a></li>
              <li><a href="#">Home Tuition in Delhi</a></li>
              <li><a href="#">Newspaper-Wala in Delhi</a></li>
              <li><a href="#">Salon in Delhi</a></li>
              <li><a href="#">Hair-Cut in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Varanasi</a></li>
              <li><a href="#">Plumber in Varanasi</a></li>
              <li><a href="#">Repair & Maintenance in Varanasi</a></li>
              <li><a href="#">Home Tuition in Varanasi</a></li>
              <li><a href="#">Newspaper-Wala in Varanasi</a></li>
              <li><a href="#">Salon in Varanasi</a></li>
              <li><a href="#">Hair-Cut in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Patna</a></li>
              <li><a href="#">Plumber in Patna</a></li>
              <li><a href="#">Repair & Maintenance in Patna</a></li>
              <li><a href="#">Home Tuition in Patna</a></li>
              <li><a href="#">Newspaper-Wala in Patna</a></li>
              <li><a href="#">Salon in Patna</a></li>
              <li><a href="#">Hair-Cut in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Kota</a></li>
              <li><a href="#">Plumber in Kota</a></li>
              <li><a href="#">Repair & Maintenance in Kota</a></li>
              <li><a href="#">Home Tuition in Kota</a></li>
              <li><a href="#">Newspaper-Wala in Kota</a></li>
              <li><a href="#">Salon in Kota</a></li>
              <li><a href="#">Hair-Cut in Kota</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <br>
          <a href="mailto:info@sheltown.com">info@sheltown.com</a>
          <br>
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved

          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <br>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/sheltown.india" class="fa fa-facebook"></a></li>
            <li><a class="twitter" href="https://twitter.com/OwnShelt?s=20"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="https://instagram.com/sheltown.india"><i class="fa fa-instagram"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/company/sheltown"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section><!-- #footer -->

  <!--Modal-->
<div class="modal fade container-fluid" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Create Account</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form id="first">
                        <div class="row" style="margin-top: 5px; margin-bottom: 15px;"> 
                            <div class="col-sm-3"><input type="radio" name="user" checked><small>&nbspUser</small></div>
                            <div class="col-sm-4"><input type="radio" name="user"><small>&nbspProperty Owner</small></div>
                            <div class="col-sm-4"><input type="radio" name="user"><small>&nbspService Provider</small></div>
                        </div>
                        Enter your Phone Number<br>
                        <input required type="tel" placeholder="+91" pattern="[7-9]{1}[0-9]{9}" maxlength="10" minlength="10" title="Enter a valid phone number" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"><br>
                        <small>Your information is safe with us</small>
                        <br><br>
                        <input required type="checkbox">&nbspBy continuing, you agree to our <a href="policy-page.html">Terms and Conditions</a>
                        <br>
                        <center><input type="submit" class="btn btn-success" value="Send OTP" style="margin: 5px 0;"></center>
                        <center><small>Already have an account? <a href="login-user.html">Log In now</a></small></center>
                    </form>
                </div>
                <div class="form-group">
                    <form id="second" style="display:none;">
                        <p>Phone Number: +91-1234567890 <button type="button" class="btn btn-secondary" id="back" style="float: right;">Change Number</button></p>
                        <br>
                        Enter OTP
                        <input required type="text" placeholder="xxxxxx" minlength="6" maxlength="6" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;">
                        <center><input type="submit" class="btn btn-success" value="Verify"></center>
                        <br>
                        <p>xx:xx time left<button type="button" class="btn btn-warning" style="float: right; padding: 3px;"><small>Resend OTP</small></button></p>
                    </form>
                </div>
                <div class="form-group">
                    <form id="third" style="display: none;">
                        <p>Verified Phone Number: +91 1234567890</p>
                        <table style="width: 100%">
                            <tr>
                                <td>Name&nbsp</td>
                                <td><input required type="text" placeholder="Name" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"></td>
                            </tr>
                            <tr>
                                <td>Email&nbsp</td>
                                <td><input required type="email" placeholder="e-mail" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"></td>
                            </tr>
                            <tr>
                                <td>Password&nbsp</td>
                                <td><input required type="password" placeholder="Password" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"></td>
                            </tr>
                        </table>
                        <br>
                        <center><input type="submit" class="btn btn-success" value="Create Account"></center>
                    </form>
                </div>
                <div class="form-group">
                    <form id="fourth" style="display:none;">
                        <hr>
                        <div class="google-btn" style="margin: 0 auto;">
                            <div class="google-icon-wrapper">
                                <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                            </div>
                            <a href="#" class="btn-text"><b>Sign in with google</b></a>
                        </div>
                    </form>
                </div>
                <div class="form-group"> 
                <hr>
                <form id="fifth">
                  <div class="row listbox" style="margin: 0 auto;">
                    <div class="col-sm-6"><i class="fa fa-check"></i> Safety Guaranteed</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> No Brokerage</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> Ultimate Privacy</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> Good Ambience</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> Affordable</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> Laissez-faire Policy</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> SheltOwn Verified</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> All-at-Home Services</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> Round-the-Clock Assistance</div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
$('#first').submit(function(e){
    $('#first').hide(); 
    $('#second').show(); 
    $('#third').hide(); 
    $('#fourth').hide(); 
    e.preventDefault();
    // Or with: return false;        
});
$('#second').submit(function(e){
    $('#first').hide(); 
    $('#second').hide();
    $('#third').show(); 
     $('#fourth').show(); 
     $('#fifth').hide();
    e.preventDefault();
    // Or with: return false;        
});

$('#back').click(function(e){
    $('#first').show(); 
    $('#second').hide(); 
    $('#third').hide(); 
    $('#fourth').hide(); 
    e.preventDefault();
    // Or with: return false;        
});
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/owl.carousel.min.js'></script>
<script id="rendered-js">
jQuery(document).ready(function ($) {
  "use strict";
  $('#customers-testimonials').owlCarousel({
    loop: false,
    center: false,
    items: 4,
    margin: 20,
    autoplay: false,
    dots: true,
    nav: false,
    autoplayTimeout: 8500,
    smartSpeed: 450,
    navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
    responsive: {
      0: {
        items: 1 },

      768: {
        items: 2 },

      1170: {
        items: 4 } } });
      });
    </script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js'></script>
<script id="rendered-js">
$('.responsive').slick({
  dots: true,
  prevArrow: $('.prev_br'),
  nextArrow: $('.next_br'),
  infinite: false,
  speed: 300,
  slidesToShow: 5,
  slidesToScroll: 4,
  responsive: [
  {
    breakpoint: 1024,
    settings: {
      slidesToShow: 3,
      slidesToScroll: 3,
      infinite: true,
      dots: true } },


  {
    breakpoint: 600,
    settings: {
      slidesToShow: 2,
      slidesToScroll: 2 } },


  {
    breakpoint: 480,
    settings: {
      slidesToShow: 1,
      slidesToScroll: 1 } }


  // You can unslick at a given breakpoint now by adding:
  // settings: "unslick"
  // instead of a settings object
  ] });
//# sourceURL=pen.js
    </script>
    <script type="text/javascript">
      // <![CDATA[
      function ShowHide(divId) {
        var atxt = document.getElementById("atext");
        if (document.getElementById(divId).style.display == 'none') {
          document.getElementById(divId).style.display = 'block';
        } else {
          document.getElementById(divId).style.display = 'none';
        }
      }
      // ]]>
    </script>
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function() {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5ee991aa9e5f69442290b6fb/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="lib/sticky/sticky.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
</body>
</html>
