{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>SheltOwn</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/assets/owl.carousel.min.css'>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="assets/css/aboutus.css"> -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/property-owner.css" rel="stylesheet"> -->

    <head>

        <!-- Favicons -->
        <!-- <link href="{% static 'sheltownapp/img/favicon.png' %}" rel="icon"> -->
        <!-- <link href="{% static 'sheltownapp/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> -->
        <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet"> -->

        <!-- Bootstrap CSS File -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->

        <!-- Libraries CSS Files -->
        <!-- <link href="{% static 'sheltownapp/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"> -->
        <link href="{% static 'sheltownapp/css/style.css' %}" rel="stylesheet">


        <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> -->
        <link href="{% static 'sheltownapp/assets/css/aboutus.css' %}" rel="stylesheet">
        <link href="{% static 'sheltownapp/assets/css/property-owner.css' %}" rel="stylesheet">



        <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'> -->


        <!-- Bootstrap -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->

        <!-- Main style sheet -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->

        <!-- Google Font -->
        <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <!-- Main Stylesheet File -->
        <!-- <link href="css/style2.css" rel="stylesheet"> -->
        <!-- <link href="{% static 'sheltownapp/css/style2.css' %}" rel="stylesheet"> -->

        <script>
          window.console = window.console || function(t) {};
      </script>
      <script>
          if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
</head>
<body>

<!--==========================
Header
============================-->

<header id="header" style="z-index: 1000;">
    <div class="container-fluid">
        <div id="logo" class="pull-left">
            <a href="index.html">
                <img src="img/favicon.png" alt="logo">
            </a>
        </div>

        <div id="logo" class="pull-left" style="margin-top:8px;">
            <a href="index.html">
                <p >SheltOwn</p>
            </a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="index.html">Home</a></li>
                <li class="menu-has-children" style="z-index: 100;"><a href="">Our Services</a>
                    <ul>
                        <li><a href="personal_services1.html">Personalised Services</a></li>
                        <li><a href="rental-services.html">Rental Services</a></li>
                    </ul>
                </li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="blog-description-page.html">Blogs</a></li>
                <li><a href="login-user.html">Log In</a></li>
                <li><a href="signup.html">Sign Up</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->

<br>

<!-- second fixed navbar-->
<center><nav class="navbar navbar-default navbar-fixed-top navbar-secondary container-fluid" id="navbar-two" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-two--links"><span class="sr-only">Property Owner</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Property Owner</a>
  </div>
  <div class="navbar-collapse collapse" id="navbar-two--links">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="property-owner-properties.html">My Properties</a></li>
        <li class="active"><a href="property-owner-tenants.html">My Tenants</a></li>
        <li class="active"><a href="property-owner-addnew.html">Add New Property</a></li>
        <li class="active"><a href="property-owner-booking.html">My Bookings</a></li>
        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">My Account<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" style="z-index: 4;">
            <li><a href="mydetails.html"><i class="las la-user"></i> Details</a></li>
            <li><a href="bookings.html"><i class="las la-home"></i> Bookings</a></li>
            <li><a href="appointments.html"><i class="las la-users-cog"></i> Appointments</a></li>
            <li><a href="gifts.html"><i class="las la-gift"></i> Gifts</a></li>
            <li><a href="notifications.html"><i class="las la-bell"></i> Notifications</a></li>						</li>
            <li><a href="helpdesk.html"><i class="las la-phone-volume"></i> 24/7 Help</a></li>
            <li><a href="sheltownverified.html"><i class="las la-check-circle"></i> SheltOwn Verified</a></li>
            <li><a href="index.html"><i class="las la-sign-in-alt"></i> Logout</a></li>
        </ul>
    </li>
</ul>
</div>
</div>
</nav>  
</center>
<!--Second nav-->

<br><br><br>

<!--Content-->
<h2 class="container" id="propheading">Add New Property</h2>
{% csrf_token %}
{% for hidden in postForm.hidden_fields %}
{{ hidden }}
{% endfor %} 
<div class="row middler">
    <div class="row container" id="inner-row">
        <div class="col-sm-4">
            <div class="row">Property Name</div>
            <div class="row"> {% render_field postForm.name style="width: 15em; padding: 3px 5px; border: 0.2px solid grey;" %}
                <!-- <input type="text" style="width: 15em; padding: 3px 5px; border: 0.2px solid grey;"> -->
            </div>

        </div>
        <div class="col-sm-4">
            <div class="row">Address</div>
            <div class="row">{% render_field postForm.address_1 style="width: 15em; padding: 3px 5px; border: 0.2px solid grey;" %}
                <!-- <input type="text" style="width: 15em; padding: 3px 5px; border: 0.2px solid grey;"> -->
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">Photos</div>
            <div class="row">
                {{ formset.management_form }}
                {% for form in formset %}
                {{ form.image }}
                {% endfor %}
                <!-- <input type="file" multiple> -->
            </div>
        </div>
    </div>
</div>
<br>

<div class="row middler">
    <div id="inner-row">
        <div class="col-sm-12" id="category">
            <div class="row container">
                <p id="category-heading">Housing Type:</p><br>
                <!-- PG -->
                <button>
                    <label><input type="radio" name="proptype" id="1" value="pg/hostel +1 mate" />PG: 1 mate</label>
                </button>
                <button>
                    <label><input type="radio" name="proptype" id="1" value="pg/hostel +2 mate" />PG: 2 mate</label>
                </button>
                <button>
                    <label><input type="radio" name="proptype" id="1" value="pg/hostel +3 mate" />PG: 3 mate</label>
                </button>
                <button>
                    <label><input type="radio" name="proptype" id="1" value="pg/hostel +4 mate" />PG: 4 mate</label>
                </button><br>
                <!-- Flat -->
                
                <button>
                    <label><input type="radio" name="proptype" id="3" value="flat/apartment 1BHK" />Flat: 1BHK</label>
                </button>
                 <button>
                    <label><input type="radio" name="proptype" id="3" value="flat/apartment 2BHK" />Flat: 2BHK</label>
                </button>
                 <button>
                    <label><input type="radio" name="proptype" id="3" value="flat/apartment 3BHK" />Flat: 3BHK</label>
                </button>
            <!--     <button>
                    <label><input type="radio" name="proptype" id="4" value="value4" />Apartment</label>
                </button> -->
                <button>
                    <label><input type="radio" name="proptype" id="5" value="house" />House</label>
                </button>  
            </div>
        </div>

        <div class="col-sm-12" id="category">
            <div class="row container">
                <div class="col-sm-6">
                    <div class="row">
                        <p id="category-heading">Total Beds</p>
                        <br>
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <p id="category-heading">SheltOwn+ <i onmouseover="mouseOver()" onmouseout="mouseOut()" class="fa fa-info-circle"></i></p>
                        <button>
                            <label><input type="radio" name="group2" value="plus1"/>Yes</label>
                        </button>  
                        <button>
                            <label><input type="radio" name="group2" value="plus2" />No</label>
                        </button>
                    </div>   
                    <p id="sinfo" style="display: none;">SheltOwn+ provides safe and secure, couple-friendly rooms. <br> With our hassle-free SheltOwn+ rental services, we guarantee ultimate <br>privacy to our customers.</p>           
                </div>
            </div>
        </div>

        <div class="col-sm-12" id="category">
            <div class="row container">
                <div class="col-sm-6">
                    <div class="row">
                        <p id="category-heading">For</p>
                        <button>
                            <label><input type="radio" name="group3" value="male">Male</label>
                        </button>
                        <button>
                            <label><input type="radio" name="group3" value="female">Female</label>
                        </button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <p id="category-heading">Best Suited For</p>

                        <button>
                            <label><input type="radio" name="group4" value="student">Students</label>
                        </button>
                        <button>
                            <label><input type="radio" name="group4" value="partner">Professionals</label>
                        </button>
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-sm-12" id="category">
            <div class="row container">
                <div class="col-sm-6">
                    <div class="row">
                        <p id="category-heading">Meals</p>

                        <button>
                            <label><input type="radio" name="group5" value="meals">Yes</label>
                        </button>
                        <button>
                            <label><input type="radio" name="group5" value="nomeals">No</label>
                        </button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <p id="category-heading">House Keeping</p>
                        <button>
                            <label><input type="radio" name="group6" value="daily">Daily</label>
                        </button>
                        <button>
                            <label><input type="radio" name="group6" value="weekly">Weekly</label>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12" id="category">
            <div class="row container"> 
                <p id="category-heading">Common Areas</p>

                <button>
                    <label><input type="checkbox" name="group7" value="living">Living Room</label>
                </button>
                <button>
                    <label><input type="checkbox" name="group7" value="kitchen">Kitchen</label>
                </button>
                <button>
                    <label><input type="checkbox" name="group7" value="dining">Dining Hall</label>
                </button>
                <button>
                    <label><input type="checkbox" name="group7" value="study">Study Room</label>
                </button>
            </div>
        </div>

        <div class="col-sm-12" id="category">
            <div class="row container">
                <div class="col-sm-6">
                    <div class="row">
                        <p id="category-heading">Owner Stays</p>
                        <button>
                            <label><input type="radio" name="group8" value="owner">Yes</label>
                        </button>
                        <button>
                            <label><input type="radio" name="group8" value="noowner">No</label>
                        </button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <p id="category-heading">Non-Veg Allowed</p>
                        <button>
                            <label><input type="radio" name="group9" value="nonveg">Yes</label>
                        </button>
                        <button>
                            <label><input type="radio" name="group9" value="veg">No</label>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12" id="category">
            <div class="row container">
                <div class="col-sm-4">
                    <div class="row">
                        <p id="category-heading">Sharing</p>
                        <select>
                            <option>Private</option>
                            <option>+1</option>
                            <option>+2</option>
                            <option>+3</option>
                            <option>+4</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <p id="category-heading">Visitors Allowed</p>
                        <button>
                            <label><input type="radio" name="group10" value="visitors">Yes</label>
                        </button>
                        <button>
                            <label><input type="radio" name="group10" value="novisitors">No</label>
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <p id="category-heading">Drinking/Smoking</p>
                        <button>
                            <label><input type="radio" name="group11" value="smoke">Yes</label>
                        </button>
                        <button>
                            <label><input type="radio" name="group11" value="nosmoke">No</label>
                        </button>
                        <button>
                            <label><input type="radio" name="group11" value="maybe">Maybe</label>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12" id="category">
            <div class="row container">
                <p id="category-heading">Maximum Beds in a Room</p>
                <button>
                    <label><input type="radio" name="group12" value="1bed">1</label>
                </button>
                <button>
                    <label><input type="radio" name="group12" value="2bed">2</label>
                </button>
                <button>
                    <label><input type="radio" name="group12" value="3bed">3</label>
                </button>
                <button>
                    <label><input type="radio" name="group12" value="4bed">4</label>
                </button>     
            </div>
        </div>

    </div>
</div>

<br>

<div class="row middler">
    <div class="row container" id="inner-row">
        <div class="col-sm-4">
            <div class="row">Rent</div>
            <div class="row"><input type="text" style="width: 15em; padding: 3px 5px; border: 0.2px solid grey;"></div>
        </div>
        <div class="col-sm-4">
            <div class="row">Security</div>
            <div class="row"><input type="text" style="width: 15em; padding: 3px 5px; border: 0.2px solid grey;"></div>
        </div>
    </div>
</div>

<br>

<div class="middler row">
    <div class="col-sm-12">
        <div class="row container" id="inner-row">
            <p id="category-heading">Amenities (Select all that apply)</p>
        </div>
        <div class="row container">
            <button>
                <label><input type="checkbox" name="group13">Table and Chair</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">TV</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">AC</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Cooler</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Balcony</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Attached Bathroom</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Meals included in rent</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Electricity included in rent</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">CCTV</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Gated</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Guard</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Biometric</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Fridge</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Washing Machine</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Microwave</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">R.O.</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Coffee Machine</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Laundry Service</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Wifi</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Gym</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Lift</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Pool</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Parking</label>
            </button>
            <button>
                <label><input type="checkbox" name="group13">Power Backup</label>
            </button>
        </div>
    </div>
</div>

<br>

<div class="row middler justify-content-center">
    <center><input id="btn-add" type="submit"></center>
</div>

</div>
<!--Content-->

<br><br>


<!--==========================
    Footer
    ============================-->

    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6 about-text">
              <h6>About</h6>
              <p class="text-justify">We are a strong team focused on building a network where we could serve you regarding all your needs of having your own shelter.

                We are bound to provide you the best possible care and support which helps you meet your demands.

                Our core values- “Honesty, Authenticity, Concerns for Customer’s Privacy and Safety” are all closely interwoven into the fibre of our efforts.

                We help you to find your match, book rental homes of choice across Indian cities. We assist with "Move-in, Personalised services, Transportation and Appliances & Furniture rentals".

                We are with you whenever you are in need!
            </p>
            <p>Accept our warm SheltOwn hug.</p>
        </div>

        <div class="col-xs-6 col-md-3 category-text">
          <ul class="footer-links">
            <li><a href="about-us.html">About Us</a></li>
            <li><a href="policy-page.html">Policy</a></li>
            <li><a href="policy-page.html">FAQs</a></li>
            <li><a href="policy-page.html">SheltOwn+</a></li>
            <li><a href="policy-page.html">SheltOwn Family+</a></li>
            <li><a href="about-us.html#contactus-scroll" class="scrollto">Contact Us</a></li>
        </ul>
    </div>

    <div class="col-xs-6 col-md-3 quick-text">
      <ul class="footer-links">
        <li><a href="testimonials.html">Testimonials</a></li>
        <li><a href="blog-description-page.html">Blogs</a></li>
        <li><a href="work-with-us.html">Join our Team</a></li>
        <li><a href="policy-page.html">List your Property</a></li>
        <li><a href="policy-page.html">Become our Service Partner</a></li>
        <li><a href="#">SiteMap</a></li>
    </ul>
</div>
</div>
</div>
</footer>
<section id="footer-two">
    <div class="container">
      <a style="color: #ff9719; cursor: pointer;" onclick="javascript:ShowHide('HiddenDiv')">More info</a>
      <br>
      <div class="mid" id="HiddenDiv" style="display: none;">
        <div class="row" id="more">
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Delhi</a></li>
              <li><a href="#">Room for boys in Delhi</a></li>
              <li><a href="#">Room for girls in Delhi</a></li>
              <li><a href="#">Room for family in Delhi</a></li>
              <li><a href="#">Room for couple in Delhi</a></li>
          </ul>
      </div>
      <div class="col-xs-6 col-sm-4">
        <ul class="footer-two-links">
          <li><a href="#">PG for rent in Delhi</a></li>
          <li><a href="#">PG for boys in Delhi</a></li>
          <li><a href="#">PG for girls in Delhi</a></li>
          <li><a href="#">PG for family in Delhi</a></li>
          <li><a href="#">PG for couple in Delhi</a></li>
      </ul>
  </div>
  <div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">Hostel for rent in Delhi</a></li>
      <li><a href="#">Hostel for boys in Delhi</a></li>
      <li><a href="#">Hostel for girls in Delhi</a></li>
      <li><a href="#">Hostel for family in Delhi</a></li>
      <li><a href="#">Hostel for couple in Delhi</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">Flats for rent in Delhi</a></li>
      <li><a href="#">Flats for boys in Delhi</a></li>
      <li><a href="#">Flats for girls in Delhi</a></li>
      <li><a href="#">Flats for family in Delhi</a></li>
      <li><a href="#">Flats for couple in Delhi</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">Apartments for rent in Delhi</a></li>
      <li><a href="#">Apartments for boys in Delhi</a></li>
      <li><a href="#">Apartments for girls in Delhi</a></li>
      <li><a href="#">Apartments for family in Delhi</a></li>
      <li><a href="#">Apartments for couple in Delhi</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">House for rent in Delhi</a></li>
      <li><a href="#">House for boys in Delhi</a></li>
      <li><a href="#">House for girls in Delhi</a></li>
      <li><a href="#">House for family in Delhi</a></li>
      <li><a href="#">House for couple in Delhi</a></li>
  </ul>
</div>

<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">Room for rent in Kota</a></li>
      <li><a href="#">Room for boys in Kota</a></li>
      <li><a href="#">Room for girls in Kota</a></li>
      <li><a href="#">Room for family in Kota</a></li>
      <li><a href="#">Room for couple in Kota</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">PG for rent in Kota</a></li>
      <li><a href="#">PG for boys in Kota</a></li>
      <li><a href="#">PG for girls in Kota</a></li>
      <li><a href="#">PG for family in Kota</a></li>
      <li><a href="#">PG for couple in Kota</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">Hostel for rent in Kota</a></li>
      <li><a href="#">Hostel for boys in Kota</a></li>
      <li><a href="#">Hostel for girls in Kota</a></li>
      <li><a href="#">Hostel for family in Kota</a></li>
      <li><a href="#">Hostel for couple in Kota</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">Flats for rent in Kota</a></li>
      <li><a href="#">Flats for boys in Kota</a></li>
      <li><a href="#">Flats for girls in Kota</a></li>
      <li><a href="#">Flats for family in Kota</a></li>
      <li><a href="#">Flats for couple in Kota</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">Apartments for rent in Kota</a></li>
      <li><a href="#">Apartments for boys in Kota</a></li>
      <li><a href="#">Apartments for girls in Kota</a></li>
      <li><a href="#">Apartments for family in Kota</a></li>
      <li><a href="#">Apartments for couple in Kota</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">House for rent in Kota</a></li>
      <li><a href="#">House for boys in Kota</a></li>
      <li><a href="#">House for girls in Kota</a></li>
      <li><a href="#">House for family in Kota</a></li>
      <li><a href="#">House for couple in Kota</a></li>
  </ul>
</div>


<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">Room for rent in Varanasi</a></li>
      <li><a href="#">Room for boys in Varanasi</a></li>
      <li><a href="#">Room for girls in Varanasi</a></li>
      <li><a href="#">Room for family in Varanasi</a></li>
      <li><a href="#">Room for couple in Varanasi</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">PG for rent in Varanasi</a></li>
      <li><a href="#">PG for boys in Varanasi</a></li>
      <li><a href="#">PG for girls in Varanasi</a></li>
      <li><a href="#">PG for family in Varanasi</a></li>
      <li><a href="#">PG for couple in Varanasi</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">Hostel for rent in Varanasi</a></li>
      <li><a href="#">Hostel for boys in Varanasi</a></li>
      <li><a href="#">Hostel for girls in Varanasi</a></li>
      <li><a href="#">Hostel for family in Varanasi</a></li>
      <li><a href="#">Hostel for couple in Varanasi</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">Flats for rent in Varanasi</a></li>
      <li><a href="#">Flats for boys in Varanasi</a></li>
      <li><a href="#">Flats for girls in Varanasi</a></li>
      <li><a href="#">Flats for family in Varanasi</a></li>
      <li><a href="#">Flats for couple in Varanasi</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">Apartments for rent in Varanasi</a></li>
      <li><a href="#">Apartments for boys in Varanasi</a></li>
      <li><a href="#">Apartments for girls in Varanasi</a></li>
      <li><a href="#">Apartments for family in Varanasi</a></li>
      <li><a href="#">Apartments for couple in Varanasi</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">House for rent in Varanasi</a></li>
      <li><a href="#">House for boys in Varanasi</a></li>
      <li><a href="#">House for girls in Varanasi</a></li>
      <li><a href="#">House for family in Varanasi</a></li>
      <li><a href="#">House for couple in Varanasi</a></li>
  </ul>
</div>

<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">Room for rent in Patna</a></li>
      <li><a href="#">Room for boys in Patna</a></li>
      <li><a href="#">Room for girls in Patna</a></li>
      <li><a href="#">Room for family in Patna</a></li>
      <li><a href="#">Room for couple in Patna</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">PG for rent in Patna</a></li>
      <li><a href="#">PG for boys in Patna</a></li>
      <li><a href="#">PG for girls in Patna</a></li>
      <li><a href="#">PG for family in Patna</a></li>
      <li><a href="#">PG for couple in Patna</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">Hostel for rent in Patna</a></li>
      <li><a href="#">Hostel for boys in Patna</a></li>
      <li><a href="#">Hostel for girls in Patna</a></li>
      <li><a href="#">Hostel for family in Patna</a></li>
      <li><a href="#">Hostel for couple in Patna</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">Flats for rent in Patna</a></li>
      <li><a href="#">Flats for boys in Patna</a></li>
      <li><a href="#">Flats for girls in Patna</a></li>
      <li><a href="#">Flats for family in Patna</a></li>
      <li><a href="#">Flats for couple in Patna</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">Apartments for rent in Patna</a></li>
      <li><a href="#">Apartments for boys in Patna</a></li>
      <li><a href="#">Apartments for girls in Patna</a></li>
      <li><a href="#">Apartments for family in Patna</a></li>
      <li><a href="#">Apartments for couple in Patna</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-4">
    <ul class="footer-two-links">
      <li><a href="#">House for rent in Patna</a></li>
      <li><a href="#">House for boys in Patna</a></li>
      <li><a href="#">House for girls in Patna</a></li>
      <li><a href="#">House for family in Patna</a></li>
      <li><a href="#">House for couple in Patna</a></li>
  </ul>
</div>
<br>
<div class="col-xs-6 col-sm-3">
    <ul class="footer-two-links">
      <li><a href="#">Electrician in Delhi</a></li>
      <li><a href="#">Plumber in Delhi</a></li>
      <li><a href="#">Repair & Maintenance in Delhi</a></li>
      <li><a href="#">Home Tuition in Delhi</a></li>
      <li><a href="#">Newspaper-Wala in Delhi</a></li>
      <li><a href="#">Salon in Delhi</a></li>
      <li><a href="#">Hair-Cut in Delhi</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-3">
    <ul class="footer-two-links">
      <li><a href="#">Electrician in Varanasi</a></li>
      <li><a href="#">Plumber in Varanasi</a></li>
      <li><a href="#">Repair & Maintenance in Varanasi</a></li>
      <li><a href="#">Home Tuition in Varanasi</a></li>
      <li><a href="#">Newspaper-Wala in Varanasi</a></li>
      <li><a href="#">Salon in Varanasi</a></li>
      <li><a href="#">Hair-Cut in Varanasi</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-3">
    <ul class="footer-two-links">
      <li><a href="#">Electrician in Patna</a></li>
      <li><a href="#">Plumber in Patna</a></li>
      <li><a href="#">Repair & Maintenance in Patna</a></li>
      <li><a href="#">Home Tuition in Patna</a></li>
      <li><a href="#">Newspaper-Wala in Patna</a></li>
      <li><a href="#">Salon in Patna</a></li>
      <li><a href="#">Hair-Cut in Patna</a></li>
  </ul>
</div>
<div class="col-xs-6 col-sm-3">
    <ul class="footer-two-links">
      <li><a href="#">Electrician in Kota</a></li>
      <li><a href="#">Plumber in Kota</a></li>
      <li><a href="#">Repair & Maintenance in Kota</a></li>
      <li><a href="#">Home Tuition in Kota</a></li>
      <li><a href="#">Newspaper-Wala in Kota</a></li>
      <li><a href="#">Salon in Kota</a></li>
      <li><a href="#">Hair-Cut in Kota</a></li>
  </ul>
</div>
</div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
      <br>
      <a href="mailto:info@sheltown.com" style="color: #ff9719">info@sheltown.com</a>
      <br>
      <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved

      </p>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
      <br>
      <ul class="social-icons">
        <li><a href="https://www.facebook.com/sheltown.india" class="fa fa-facebook"></a></li>
        <li><a class="twitter" href="https://twitter.com/OwnShelt?s=20"><i class="fa fa-twitter"></i></a></li>
        <li><a class="dribbble" href="https://instagram.com/sheltown.india"><i class="fa fa-instagram"></i></a></li>
        <li><a class="linkedin" href="https://www.linkedin.com/company/sheltown"><i class="fa fa-linkedin"></i></a></li>
    </ul>
</div>
</div>
</div>
</section><!-- #footer -->

<!--Modal-->
<div class="modal fade container-fluid" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Create Account</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form id="first">
                        <div class="row" style="margin-top: 5px; margin-bottom: 15px;"> 
                            <div class="col-sm-3"><input type="radio" name="user" checked><small>&nbspUser</small></div>
                            <div class="col-sm-4"><input type="radio" name="user"><small>&nbspProperty Owner</small></div>
                            <div class="col-sm-4"><input type="radio" name="user"><small>&nbspService Provider</small></div>
                        </div>
                        Enter your Phone Number<br>
                        <input required type="tel" placeholder="+91" pattern="[7-9]{1}[0-9]{9}" maxlength="10" minlength="10" title="Enter a valid phone number" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"><br>
                        <small>Your information is safe with us</small>
                        <br><br>
                        <input required type="checkbox">&nbspBy continuing, you agree to our <a href="policy-page.html">Terms and Conditions</a>
                        <br>
                        <center><input type="submit" class="btn btn-success" value="Send OTP" style="margin: 5px 0;"></center>
                        <center><small>Already have an account? <a href="login-user.html">Log In now</a></small></center>
                    </form>
                </div>
                <div class="form-group">
                    <form id="second" style="display:none;">
                        <p>Phone Number: +91-1234567890 <button type="button" class="btn btn-secondary" id="back" style="float: right;">Change Number</button></p>
                        <br>
                        Enter OTP
                        <input required type="text" placeholder="xxxxxx" minlength="6" maxlength="6" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;">
                        <center><input type="submit" class="btn btn-success" value="Verify"></center>
                        <br>
                        <p>xx:xx time left<button type="button" class="btn btn-warning" style="float: right; padding: 3px;"><small>Resend OTP</small></button></p>
                    </form>
                </div>
                <div class="form-group">
                    <form id="third" style="display: none;">
                        <p>Verified Phone Number: +91 1234567890</p>
                        <table style="width: 100%">
                            <tr>
                                <td>Name&nbsp</td>
                                <td><input required type="text" placeholder="Name" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"></td>
                            </tr>
                            <tr>
                                <td>Email&nbsp</td>
                                <td><input required type="email" placeholder="e-mail" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"></td>
                            </tr>
                            <tr>
                                <td>Password&nbsp</td>
                                <td><input required type="password" placeholder="Password" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"></td>
                            </tr>
                        </table>
                        <br>
                        <center><input type="submit" class="btn btn-success" value="Create Account"></center>
                    </form>
                </div>
                <div class="form-group">
                    <form id="fourth" style="display:none;">
                        <hr>
                        <div class="google-btn" style="margin: 0 auto;">
                            <div class="google-icon-wrapper">
                                <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                            </div>
                            <a href="#" class="btn-text"><b>Sign in with google</b></a>
                        </div>
                    </form>
                </div>
                <div class="form-group"> 
                    <hr>
                    <form id="fifth">
                      <div class="row listbox" style="margin: 0 auto;">
                        <div class="col-sm-6"><i class="fa fa-check"></i> Safety Guaranteed</div>
                        <div class="col-sm-6"><i class="fa fa-check"></i> No Brokerage</div>
                        <div class="col-sm-6"><i class="fa fa-check"></i> Ultimate Privacy</div>
                        <div class="col-sm-6"><i class="fa fa-check"></i> Good Ambience</div>
                        <div class="col-sm-6"><i class="fa fa-check"></i> Affordable</div>
                        <div class="col-sm-6"><i class="fa fa-check"></i> Laissez-faire Policy</div>
                        <div class="col-sm-6"><i class="fa fa-check"></i> SheltOwn Verified</div>
                        <div class="col-sm-6"><i class="fa fa-check"></i> All-at-Home Services</div>
                        <div class="col-sm-6"><i class="fa fa-check"></i> Round-the-Clock Assistance</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $('#first').submit(function(e){
        $('#first').hide(); 
        $('#second').show(); 
        $('#third').hide(); 
        $('#fourth').hide(); 
        e.preventDefault();
    // Or with: return false;        
});
    $('#second').submit(function(e){
        $('#first').hide(); 
        $('#second').hide();
        $('#third').show(); 
        $('#fourth').show(); 
        $('#fifth').hide();
        e.preventDefault();
    // Or with: return false;        
});

    $('#back').click(function(e){
        $('#first').show(); 
        $('#second').hide(); 
        $('#third').hide(); 
        $('#fourth').hide(); 
        e.preventDefault();
    // Or with: return false;        
});
</script>


<script type="text/javascript">
      // <![CDATA[
      function ShowHide(divId) {
        var atxt = document.getElementById("atext");
        if (document.getElementById(divId).style.display == 'none') {
          document.getElementById(divId).style.display = 'block';
      } else {
          document.getElementById(divId).style.display = 'none';
      }
  }
      // ]]>
  </script>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.1/owl.carousel.min.js'></script>

  <script>
      $(document).ready(function() {
         $('[data-toggle="popover"]').popover({
          placement: 'top',
          trigger: 'hover'
      });
     });
 </script>

 <script>
    $(document).ready(function() {
        $('input').click(function() {
            $('input:not(:checked)').parent().removeClass("checked");
            $('input:checked').parent().addClass("checked");
        });
    });
</script>

<script>
  function mouseOver() {
    document.getElementById("sinfo").style.display = "block";
}

function mouseOut() {
    document.getElementById("sinfo").style.display = "none";
}
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js'></script>

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/superfish/hoverIntent.js"></script>
<script src="lib/superfish/superfish.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/magnific-popup/magnific-popup.min.js"></script>
<script src="lib/sticky/sticky.js"></script>

<!-- Contact Form JavaScript File -->
<script src="contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>

</body>
</html>

