{% block content %}
{% load widget_tweaks %}

<form method="post" novalidate>
  {% csrf_token %}

  {% for hidden_field in filter.form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if filter.form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in filter.form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in filter.form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if filter.form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
  
  <!-- {{ filter.form.as_p }} -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    {% for obj in filter.qs %}
        {{ obj }} <br />
    {% endfor %}
{% endblock %}