{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rental</title>
  <!-- {% static 'sheltownapp/' %} -->
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Main style sheet -->
  <link href="{% static 'sheltownapp/assets/css/rental-services.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <style media="screen">
    .check {
      background-color: blue;
      color: #fff;
      font-size: 18px;
      padding: 3px;
      border-radius: 50px;
    }

    .btn-primary {
      background-color: #ff9719;
      border-color: #ff9719;
    }

    .ratings {
      background-color: green;
      color: white;
      padding: 5px;
      border-radius: 5px;
    }
    .price {
      width: 50px;
      height: 40px;
      padding: 5px;
      border: none;
    }
  </style>
</head>
<script>
  function docfunc(){
  x=document.referrer
  document.getElementsByTagName('form')[0].setAttribute("action", x)
  document.getElementById('close').setAttribute("href", x)
}
</script>
<body class="aa-price-range" onload="docfunc()">
  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <a type="button" class="btn btn-primary" id="close" href="">
        Close
      </a><br><br>
      <!-- Start properties content body -->
      <div class="aa-properties-content-body">
        <aside class="aa-properties-sidebar">
          <!-- Start Single properties sidebar -->
          <div class="aa-properties-single-sidebar">
            <h4>FILTERS</h4>

                  <div class="aa-single-advance-search">

                    <!-- <select id="" name=""> -->
                      <select class="search-city" name="cityname" id="cityname" required>
                        <option class="search" value="ChooseCity" disabled="true" selected>Choose City...</option>
                        {% for item in cities %}
                        <option value="{{ item.city }}">{{ item.city }}</option>
                        {% endfor %}
                      </select>
                      <script>  
                        var city_list = "{{city_array|safe|escapejs}}";
                        city_list=JSON.parse(city_list);
                        var locality_list = "{{locality_array|safe|escapejs}}";
                        locality_list=JSON.parse(locality_list);
                        var local =[];
                        var a = function(selectedCity){
                          for(var i=0;i<city_list.length;i++)
                          {
                            if(selectedCity == city_list[i])
                              { local.push(locality_list[i]);
                              }
                            }
                          }
                          $(document).ready(function(){
                            $("select#cityname").change(function(){
                              var selectedCity = $(this).children("option:selected").val();
                              a(selectedCity);
                              var $localityname = $("#localityname");
                              $localityname.empty();
                              $.each(local, function(index,value) { 
                                $('#localityname').append('<option>'+value+'</option>') ; 
                              }); 
                              local=[];
                            });
                          });
                        </script>
                        <script>  
                          var city_list = "{{city_array|safe|escapejs}}";
                          city_list=JSON.parse(city_list);
                          var locality_list = "{{locality_array|safe|escapejs}}";
                          locality_list=JSON.parse(locality_list);
                          var local =[];
                          var a = function(selectedCity){
                            for(var i=0;i<city_list.length;i++)
                            {
                              if(selectedCity == city_list[i])
                                { local.push(locality_list[i]);
                                }
                              }
                            }
                            $(document).ready(function(){
                              $("select#cityname").change(function(){
                                var selectedCity = $(this).children("option:selected").val();
                                a(selectedCity);
                                var $localityname = $("#localityname");
                                $localityname.empty();
                                $.each(local, function(index,value) { 
                                  $('#localityname').append('<option>'+value+'</option>') ; 
                                }); 
                                local=[];
                              });
                              $("#searchfunc").click(function(){
                                var selectedCity = ""
                                selectedCity = $("select#cityname").children("option:selected").val();
                                var selectedlocal = ""
                                selectedlocal = $("select#localityname").children("option:selected").val();
                                
                                  window.location.href = "/rental/"+selectedCity+"/"+selectedlocal+"/";
                                
                              });
                            });
                          </script>
                          <select class="search-locality" name="localityname" id="localityname">
                            <option class="search" value="" disabled="true" selected>Choose Locality...</option>
       <!--      {% for item in localities %}
            <option value="{{ item.locality }}">{{ item.locality }}</option>
            {% endfor %} -->
        </select>
        <center>
          <button type="submit" class="button" id="searchfunc">Search <i class="fa fa-search"></i> </button>
        </center>
    </div>
            <form>
             <!--  <div class="aa-single-advance-search">
                <select id="" name="">
                  <option value="ChooseCity">Choose City...</option>
                  <option value="Mumbai">Mumbai</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Bangalore">Bangalore</option>
                  <option value="Hyderabad">Hyderabad</option>
                  <option value="Ahmedabad">Ahmedabad</option>
                  <option value="Chennai">Chennai</option>
                  <option value="Kolkata">Kolkata</option>
                  <option value="Surat">Surat</option>
                  <option value="Pune">Pune</option>
                  <option value="Jaipur">Jaipur</option>
                  <option value="Vishakhapatnam">Vishakhapatanam</option>
                  <option value="Nagpur">Nagpur</option>
                  <option value="Lucknow">Lucknow</option>
                  <option value="Kanput">Kanput</option>
                  <option value="Thane">Thane</option>
                  <option value="Bhopal">Bhopal</option>
                  <option value="Indore">Indore</option>
                  <option value="Patna">Patna</option>
                  <option value="Vadodara">Vadodara</option>
                  <option value="Pimpri-Chinchwad">Pimpri-Chinchwad</option>
                  <option value="Gaziabad">Gaziabad</option>
                  <option value="Ludhiana">Ludhiana</option>
                  <option value="Agra">Agra</option>
                  <option value="Nashik">Nashik</option>
                  <option value="Faridabad">Faridbad</option>
                  <option value="Meerut">Meerut</option>
                  <option value="Rajkot">Rajkot</option>
                  <option value="Kalyan-Dombivli">Kalyan-Dombivli</option>
                  <option value="Vasai-Virar">Vasai-Virar</option>
                  <option value="Varanasi">Varanasi</option>
                </select>
              </div>
              <div class="aa-single-advance-search">
                <select id="" name="">
                  <option value="ChooseCity">Choose Locality...</option>
                  <option value="Mumbai">Chandni Chowk</option>
                  <option value="Delhi">Patel Nagar</option>
                  <option value="Bangalore">Kamla Nagar</option>
                  <option value="Hyderabad">Delhi Gate</option>
                  <option value="Ahmedabad">Kahmiri Gate</option>
                </select>
              </div> -->
             <!--  <div class="aa-single-advance-search" style="margin-bottom: 20px;">
  <input type="submit" value=" Locality Search"  id="searchfunc" class="btn btn-primary btn-block">
</div> -->
          <!-- <button type="submit" class="button" id="searchfunc" style="color: white; background-color: #FF8C00; height: 20px;width: 100%;margin-bottom: 20px;margin-top: 20px">Search <i class="fa fa-search"></i> </button> -->
        <!-- </center>

      </div> -->
              
    
              <div class="aa-single-advance-search">
                <h5>Catagories:</h5>
                {% render_field filter.form.proptype %}
              </div>
              <div class="aa-single-advance-search">
                <h5>Preference:</h5>
                {% render_field filter.form.gender_restrictions %}
              </div>
              <div class="aa-single-advance-search">
                <h5>Furnishing type:</h5>
                {% render_field filter.form.furnished_type %}
              </div>
              <div class="aa-single-advance-search">
                <h5>Security Deposit:</h5>
                {% render_field filter.form.security_deposit %}
              </div>
              <div class="aa-single-filter-search">
                <span>PRICE ($)</span>
                <span>FROM</span>
                <span id="skip-value-lower2" class="example-val">{% render_field filter.form.price__gte class="price" min="0"  type="number" %} </span>
                <span>TO</span>
                <span id="skip-value-upper2" class="example-val">{% render_field filter.form.price__lte class="price" min="0"  type="number" %} </span>
              </div>
              <div class="aa-single-advance-search">
                <input type="submit" value="Search" class="btn btn-primary btn-block">
              </div>
            </form>
          </div>
      </div>
    </div>
  </section>
  <!-- / Properties  -->


  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <!-- Price picker slider -->
  <script type="text/javascript" src="{% static 'sheltownapp/assets/js/nouislider.js' %}"></script>
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function() {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5ee991aa9e5f69442290b6fb/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
</body>

</html>
