{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>SheltOwn</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- {% static 'sheltownapp/' %} -->

  <!-- Favicons -->
  <link href="{% static 'sheltownapp/img/favicon.png' %}" rel="icon">
  <link href="{% static 'sheltownapp/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <!-- <link href="{% static 'sheltownapp/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- Libraries CSS Files -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="{% static 'sheltownapp/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <!-- <link href="{% static 'sheltownapp/lib/animate/animate.min.css' %}" rel="stylesheet"> -->
  <!-- <link href="{% static 'sheltownapp/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet"> -->
  <link href="{% static 'sheltownapp/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <!-- <link href="{% static 'sheltownapp/lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet"> -->
  <!-- <link href="{% static 'sheltownapp/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet"> -->

  <!-- slick carousel -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css'>

  <!-- Main Stylesheet File -->
  <link href="{% static 'sheltownapp/css/style2.css' %}" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script> -->

  <style>
  .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: 0px;
      margin-left: -15px;
  }
  .custom-user-type-radio-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
label[for*="id_password1"] {
  margin-bottom: 9.5rem;
}
  </style>
  <link href="{% static 'sheltownapp/assets/css/signup-modal.css' %}" rel="stylesheet">
  {% if messages %}
  {% for message in messages %}
   {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
  {% endfor %}
  {% endif %}

</head>

<body id="body" onload="myFunction()">

  <!--==========================
    Header
  ============================-->
  <header id="header" >
    <div id="logo" class="pull-left">
      <a href="{% url 'sheltown-emptyredirect' %}">
        <img src="{% static 'sheltownapp/img/logo.png' %}" alt="logo">
      </a>
    </div>


      <nav id="nav-menu-container">
        <ul class="nav-menu">
         
       {% if user.is_authenticated %}
       {% ifequal user.custom_user.usertype "User" %}
       <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
       <li><a href="{% url 'sheltown-personalservice' 'DELHI' 'NCR' %}"><i class="fa fa-star" aria-hidden="true"></i> &nbsp;Personalised</a></li>
       <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true" ></i> &nbsp;Rental</a></li>
       <li><a href="{% url 'myaccount-userpartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;My Account</a></li>

       {% endifequal %}

       {% ifequal user.custom_user.usertype "Property Owner" %}
       <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
       <li><a href="{% url 'myaccount-propertypartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;My Account</a></li>
       {% endifequal %}

       {% ifequal user.custom_user.usertype "Service Provider" %}
       <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
       <li><a href="{% url 'myaccount-servicepartner'  %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;My Account</a></li>
       {% endifequal %}  

       {% else %}
       <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
       <li><a href="{% url 'sheltown-personalservice' 'DELHI' 'NCR' %}"><i class="fa fa-star" aria-hidden="true" ></i> &nbsp;Personalised</a></li>
       <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true" ></i> &nbsp;Rental</a></li>


           
       <li><a href="{% url 'sheltown-index' 'openmodal' %}"><i class="fa fa-user-plus" aria-hidden="true" ></i> &nbsp;Sign up</a></li>
       <!-- IMPORTANT -->
       
       <li><a href="{% url 'login' %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;Log in</a></li>
       <li><a id="proxyAnchor"  style="display: none;" data-toggle="modal" data-target="#myModal">Open Modal</a></li>
       {% endif %}
      
     </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <br>
    <center>
      <h3>Live Like You Own It</h3>
      <small><i class="fa fa-check"></i>Exclusive services</small>&nbsp;&nbsp;<small><i class="fa fa-check"></i>Ultimate Privacy</small>&nbsp;&nbsp;<small><i class="fa fa-check"></i>Brokerage Free</small>
    </center>
    <br>
    <!-- row -->
    <div class="search-container">

      <select class="search-services" id="servicename">
        <option class="search" value="none">Choose Services...</option>
        <option value="personal">Personal Services</option>
        <option value="rental">Rental Services</option>
      </select>

        <select class="search-city" name="cityname" id="cityname" required>
          <option class="search" value="ChooseCity" disabled="true" selected>Choose City...</option>
          {% for item in cities %}
          <option value="{{ item.city }}">{{ item.city }}</option>
          {% endfor %}
        </select>
       
        <select class="search-locality" name="localityname" id="localityname">
          <option class="search" value="" disabled="true" selected>Choose Locality...</option>
       <!--      {% for item in localities %}
            <option value="{{ item.locality }}">{{ item.locality }}</option>
            {% endfor %} -->
        </select>
       
        <script>  
          var city_list = "{{city_array|safe|escapejs}}";
          city_list=JSON.parse(city_list);
          var locality_list = "{{locality_array|safe|escapejs}}";
          locality_list=JSON.parse(locality_list);
          var local =[];
          var a = function(selectedCity){
            for(var i=0;i<city_list.length;i++)
            {
              if(selectedCity == city_list[i])
              { local.push(locality_list[i]);
              }
            }
          }
          $(document).ready(function(){
            $("select#cityname").change(function(){
                var selectedCity = $(this).children("option:selected").val();
                a(selectedCity);
                var $localityname = $("#localityname");
                $localityname.empty();
                $.each(local, function(index,value) { 
                  $('#localityname').append('<option>'+value+'</option>') ; 
                }); 
                local=[];
            });
            $("#searchfunc").click(function(){
              var selectedCity = ""
              selectedCity = $("select#cityname").children("option:selected").val();
              var selectedlocal = ""
              selectedlocal = $("select#localityname").children("option:selected").val();
              var selectedServices = ""
              selectedServices = $("select#servicename").children("option:selected").val();
              if (selectedServices == "none"){
                window.location.href = "";
              }
              else if(selectedCity == "ChooseCity"){
              window.location.href =  "/"+selectedServices+"/";
              }
              else{
                window.location.href =  "/"+selectedServices+"/"+selectedCity+"/"+selectedlocal+"/";
              }
            });
          });
        </script>
       

        <br>
        <center>
          <button type="submit" class="button" id="searchfunc">Search <i class="fa fa-search"></i> </button>
        </center>
    </div>
  </section>


  <section id="intro-mobile">
    <br>
    <center>
      <h3>Live Like You Own It</h3>
      <small><i class="fa fa-check"></i>Exclusive services</small>&nbsp;&nbsp;<small><i class="fa fa-check"></i>Ultimate Privacy</small>&nbsp;&nbsp;<small><i class="fa fa-check"></i>Brokerage Free</small>
    </center>
    <br>
    <div class="row">

      <div class="col-sm-12">
        <select class="search-services" id="servicenamemob">
          <option class="search" value="none">Choose Services...</option>
          <option value="personal">Personal Services</option>
          <option value="rental">Rental Services</option>
        </select>
      </div>

      <div class="col-sm-12">
        <select class="search-city" name="citynamemob" id="citynamemob" required>
          <option class="search" value="ChooseCity" disabled="true" selected>Choose City...</option>
          {% for item in cities %}
          <option value="{{ item.city }}">{{ item.city }}</option>
          {% endfor %}
        </select>
      </div>

      
      <div class="col-sm-12">
        <select class="search-locality" name="localitynamemob" id="localitynamemob">
          <option class="search" value="" disabled="true" selected>Choose Locality...</option>
            <!-- {% for item in localities %} -->
            <!-- <option value="{{ item.locality }}">{{ item.locality }}</option> -->
            <!-- {% endfor %} -->
        </select>
      </div>

      <script>  
        var city_list = "{{city_array|safe|escapejs}}";
        city_list=JSON.parse(city_list);
        var locality_list = "{{locality_array|safe|escapejs}}";
        locality_list=JSON.parse(locality_list);
        var local =[];
        var a = function(selectedCity){
          for(var i=0;i<city_list.length;i++)
          {
            if(selectedCity == city_list[i])
            { local.push(locality_list[i]);
            }
          }
        }
        $(document).ready(function(){
          $("#citynamemob").change(function(){
              var selectedCity = $(this).children("option:selected").val();
              a(selectedCity);
              var $localityname = $("#localitynamemob");
              $localityname.empty();
              $.each(local, function(index,value) { 
                $('#localitynamemob').append('<option>'+value+'</option>') ; 
              }); 
              local=[];
          });
          $("#searchfuncmob").click(function(){
            var selectedCity = ""
            selectedCity = $("#citynamemob").children("option:selected").val();
            var selectedlocal = ""
            selectedlocal = $("#localitynamemob").children("option:selected").val();
            var selectedServices = ""
            selectedServices = $("#servicenamemob").children("option:selected").val();
            if (selectedServices == "none"){
              window.location.href = "";
            }
            else{
            window.location.href =  "/"+selectedServices+"/"+selectedCity+"/"+selectedlocal+"/";
            }
          });
        });
      </script>


      <div class="col-sm-12">
        <br>
        <center>
          <button type="submit" class="button" id="searchfuncmob">Search <i class="fa fa-search"></i> </button>
        </center>
      </div>
    </div>
  </section>

  <br>

  <section id="intro-list-property">
    <div class="become-partner-refer-earn row">
      <div class="col-lg-2 col-md-2"></div>
      <div class="col-lg-3 col-md-3">
        <a href="#">
        <button type="button" class="btn btn-primary btn-lg">
          Become Our Partner
        </button>
      </a>
      </div>
      <div class="col-lg-2 col-md-2"></div>
      <div class="col-lg-3 col-md-3">
        <a href="{% url 'policy_list' %}">
        <button type="button" class="btn btn-primary btn-lg">
          Refer and Earn <small>Hurry</small>
        </button>
      </a>

      </div>
      <div class="col-lg-2 col-md-2"></div>
    </div>
  </section>

 <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <br>
        <h2 class="heading heading-background" style="text-shadow:5px 5px 10px #2ecab6;">Services we provide</h2>
        <div class="row_service">
  
          <div class="col-lg-6">
            <a href="personal_services1.html"><img src="{{ landingimage.personalservice.url }}" alt="" style="width:100%; height: auto; box-shadow: 5px 10px rgba(200,200,200,0.3); margin: 10px;"></a>
          </div>
  
          <div class="col-lg-6">
            <a href="rental-services.html"><img src="{{ landingimage.rentalservice.url }}" alt="" style="width:100%; height: auto; box-shadow: 5px 10px rgba(200,200,200,0.3); margin: 10px;"></a>
          </div>
  
        </div>
  
      </div>
    </section>
    <br>

  <!-- #services -->

   <!--==========================
      Icons Section
    ============================-->
    <section id="icons">
      <div class="container">
        <br />
        <div class="header">
          <p class="text-center font-weight-bold" style="font-size: 32px;text-shadow:5px 5px 10px #2ecab6;">100% Safety</p>
          <p class="text-center font-weight-bold" style="font-size: 32px;text-shadow:5px 5px 10px #2ecab6;">We Care For You</p>
        </div>
        <br />
        <div class="row">
          <div class="col-6 col-md-3">
            <img src="{% static 'sheltownapp/img/who.png' %}" style="width: 50%; height: auto; margin-bottom: 15px;" />
            <p class="icon-content font-weight-light">Maintaining WHO Safety Standards</p>
          </div>
          <div class="col-6 col-md-3">
            <img src="{% static 'sheltownapp/img/protective-gear.png' %}" style="width: 50%; height: auto; margin-bottom: 15px;" /><br />
            <p class="icon-content font-weight-light">100% Protective Gear By Our Partners & Team</p>
          </div>
          <div class="col-6 col-md-3">
            <img src="{% static 'sheltownapp/img/bactericide.png' %}" style="width: 50%; height: auto; margin-bottom: 15px;" />
            <p class="icon-content font-weight-light">Frequent Disinfection Of Properties & Service Tools</p>
          </div>
          <div class="col-6 col-md-3">
            <img src="{% static 'sheltownapp/img/checkup.png' %}" style="width: 50%; height: auto; margin-bottom: 15px;" />
            <p class="icon-content font-weight-light">Regular Checkup For All Service Partners, Arogya Setu
              Mandatory</p>
          </div>
        </div>
      </div>
    </section>
  
      <!-- #portfolio -->
  <section id="promise">
    <div class="container">
      <h2 class="heading heading-background" style="text-shadow:5px 5px 10px #2ecab6;">Our Promise</h2>
      <div class="row" >
        <div class="col-sm-6" style="margin-left: 19px;">
          <p>We are not just a Platform,</p>
          <p style="text-shadow:5px 5px 10px #2ecab6;">We are Sheltown Family! <br>
          You are Family to us!</p>
          {{ landingimage.promise_text }}  
          <!-- No Need To Pay complete Amount while Booking;
          just pay 25% of it as Booking Amount and Pay
          the rest while you Move-In/ Get served.
         -->
        </div>
      </div>
    </div>
  </section>
  
    <!--==========================
    Testimonials Section
  ============================-->
  <section id="testimonials" class="wow fadeInUp">
    <div class="container">
      <h2 class="heading heading-background" style="text-shadow:5px 5px 10px #2ecab6;">Testimonials</h2>
      <div class="owl-carousel testimonials-carousel">
        {% for testimonial in testimonials %}
        <div class="testimonial-item">
          <p>
            <i class="las la-quote-left"></i>
            {{testimonial.content}}
            <i class="las la-quote-right"></i>
          </p>
          <img src="{{testimonial.user.user_image.url}}" class="testimonial-img" alt="" style="height: 125px;width: 125px">
          <h3>{{testimonial.user.user}}</h3>
          <!-- <h4>Ceo &amp; Founder</h4> -->
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- #testimonials -->
  
    <!--==========================
  Offers Carousel == testimonial css same
  ============================-->
  <!-- <section id="offers" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <br><br>
        <h2>Offers</h2>
      </div>
      <div class="owl-carousel testimonials-carousel">
        {% for coupon in coupons %}
        <div class="testimonial-item">
          <div style="border: 0px;" class="card mb-3" style="max-width: 18rem;">
            <div class="card-header"><strong>{{ coupon.code }}</strong>   
            </div>
            <div class="card-body">
              <p class="card-text">{{ coupon.display_text }}</p>
              <h5 class="card-title"><a href="#"><button class="btn-offers btn-block">Redeem</button></a></h5>
            </div>
          </div>
        </div>
         {%endfor%}
        </div>
    </div>
  </section> -->

  <section id="offers" class="wow fadeInUp">
    <div class="container">
        <div class="owl-carousel offers-carousel">
          {% for u in upper_images %}  
            <div class="offer-item">
                <div class="card offer-card">
                    <img class="card-img-top" src="{{u.upper_img.url}}" alt="Card image">
                </div>
            </div>
          {% endfor %}  
        </div>
    </div>
  </section>
  <!--end of offers carousel -->

  <!--==========================
      Refer and Earn
    ============================-->
  <!--refer and earn desktop -->
  <!-- <br/>
  <section id="refer-and-earn">
    <center>
      <a href="policy-page.html">
        <button type="button" class="btn btn-info" name="button">Refer and Earn
          &nbsp;&nbsp;<small>HURRY</small>
        </button>
      </a>
    </center>
  </section> -->
  <!--refer and earn mobile and mobile desktop -->
  <!-- <section id="refer-and-earn-2">
    <center>
      <a href="policy-page.html">
        <button type="button" class="btn btn-info" name="button">Refer and Earn
          &nbsp;&nbsp;<small>HURRY</small>
        </button>
      </a>
    </center>
  </section> -->
 




  <!--==========================
     extra carousel mobile
  ============================-->
  <!-- <section class="extra-carousel" id="introduction-section">
      <div class="container">
          <div class="row">
              <div class="col-md-12 heroSlider-fixed">
                  <div class="slider responsive">
                    {% for lower_image in lower_images %}
                      <div>
                          <img src="{{lower_image.lower_mobile_img.url}}" class="d-block w-100" alt="" />
                      </div>
                    {% endfor %}  
                  </div>
              </div>
          </div>
      </div>
  </section> -->
  <!--==========================
   extra carousel desktop-mobile
  ============================-->
  <!-- <section class="extra-carousel" id="introduction-section-1">
      <div class="container">
          <div class="row">
              <div class="col-md-12 heroSlider-fixed">
                  <div class="slider responsive">
                    {% for lower_image in lower_images %}
                      <div>
                          <img src="{{lower_image.lower_tab_img.url}}" class="d-block w-100" alt="" />
                      </div>
                    {% endfor %}  
                  </div>
              </div>
          </div>
      </div>
  </section> -->
  <!--==========================
    extra carousel
  ============================-->
  <!-- <section class="extra-carousel" id="introduction-section-2">
      <div class="container">
          <div class="row">
              <div class="col-md-12 heroSlider-fixed">
                  <div class="slider responsive">
                    {% for lower_image in lower_images %}
                      <div>
                          <img src="{{lower_image.lower_desktop_img.url}}" class="d-block w-100" alt="" />
                      </div>
                    {% endfor %}  
                  </div>
              </div>
          </div>
      </div>
  </section> -->

  <!--==========================
  extra carousel
  ============================-->
 <!--  <section class="extra-carousel">
      <div class="container">
          <div class="row">
              <div class="col-md-12 heroSlider-fixed">
                  <div class="slider responsive">
                    {% for lower_image in lower_images %}
                      <div>
                          <img src="{{lower_image.lower_img.url}}" alt="" />
                      </div>
                    {% endfor %}  
                  </div>
                  <div class="prev">
                      <span class="fa fa-chevron-left" aria-hidden="true"></span>
                  </div>
                  <div class="next">
                      <span class="fa fa-chevron-right" aria-hidden="true"></span>
                  </div>
              </div>
          </div>
      </div>
  </section> -->

<!--==========================
    Our Why SheltOwn? Section
  ============================-->
  <section id="portfolio">

    <div class="container">
      <div class="row">

        <div class="portfolio-bg col-sm-5" style="background-image: {{ landingimage.whysheltown.url }};">
          <div class="overlay_why">
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7">
          <div class="row_why">
            <div class="portfolio-cards card-1 col-lg-4">
              <img src="https://img.icons8.com/dusk/64/000000/guarantee.png" /><br>
              <p>Safety Guaranteed</p>
            </div>
            <div class="portfolio-cards card-2 col-lg-4">
              <img src="https://img.icons8.com/dusk/64/000000/tax.png" /><br>
              <p>No Brokerage</p>
            </div>
            <div class="portfolio-cards card-3 col-lg-4">
              <img src="https://img.icons8.com/dusk/64/000000/security-configuration.png" /><br>
              <p>Ultimate Privacy</p>
            </div>

          </div>
          <div class="row_why">
            <div class="portfolio-cards card-4 col-lg-4">
              <img src="https://img.icons8.com/dusk/64/000000/company.png" /><br>
              <p>Good Ambience</p>
            </div>
            <div class="portfolio-cards card-5 col-lg-4">
              <img src="https://img.icons8.com/dusk/64/000000/money-transfer.png" /><br>
              <p>Affordable</p>
            </div>
            <div class="portfolio-cards card-6 col-lg-4">
              <img src="https://img.icons8.com/dusk/64/000000/rules.png" />
              <p>Laissez-faire Policy</p>
            </div>

          </div>
          <div class="row_why">
            <div class="portfolio-cards card-7 col-lg-4">
              <img src="https://img.icons8.com/dusk/64/000000/approval.png" /><br>
              <p>SheltOwn Verified</p>
            </div>
            <div class="portfolio-cards card-8 col-lg-4">
              <img src="https://img.icons8.com/dusk/64/000000/barbershop.png" /><br>
              <p>All-in-Home Services</p>
            </div>
            <div class="portfolio-cards card-9 col-lg-4">
              <img src="https://img.icons8.com/dusk/64/000000/solve.png" /><br>
              <p>Round-the-Clock Assistance</p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>
  <!--==========================
    Our Why SheltOwn? Section-Mobile and Mobile-desktop view
  ============================-->
  <section id="why-sheltown">

    <div class="container">
      <h2 class="heading heading-background">Why SheltOwn?</h2>
      <div class="row">
        <div class="col-4 col-sm-4">
          <img src="https://img.icons8.com/dusk/64/000000/guarantee.png" /><br>
          <p>Safety Guaranteed</p>
        </div>
        <div class="col-4 col-sm-4">
          <img src="https://img.icons8.com/dusk/64/000000/tax.png" /><br>
          <p>No Brokerage</p>
        </div>
        <div class="col-4 col-sm-4">
          <img src="https://img.icons8.com/dusk/64/000000/security-configuration.png" /><br>
          <p>Ultimate Privacy</p>
        </div>
        <div class="col-4 col-sm-4">
          <img src="https://img.icons8.com/dusk/64/000000/company.png" /><br>
          <p>Good Ambience</p>
        </div>
        <div class="col-4 col-sm-4">
          <img src="https://img.icons8.com/dusk/64/000000/money-transfer.png" /><br>
          <p>Affordable</p>
        </div>
        <div class="col-4 col-sm-4">
          <img src="https://img.icons8.com/dusk/64/000000/rules.png" />
          <p>Laissez-faire Policy</p>
        </div>
        <div class="col-4 col-sm-4">
          <img src="https://img.icons8.com/dusk/64/000000/approval.png" /><br>
          <p>SheltOwn Verified</p>
        </div>
        <div class="col-4 col-sm-4">
          <img src="https://img.icons8.com/dusk/64/000000/barbershop.png" /><br>
          <p>All-in-Home Services</p>
        </div>
        <div class="col-4 col-sm-4">
          <img src="https://img.icons8.com/dusk/64/000000/solve.png" /><br>
          <p>Round-the-Clock Assistance</p>
        </div>

      </div>
    </div>
    </div>

    </div>
  </section>
  <!-- #portfolio -->



  <!--==========================
    Footer
  ============================-->

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 about-text">
          <h6>About</h6>
          <p class="text-justify">We are a strong team focused on building a network where we could serve you regarding all your needs of having your own shelter.

            We are bound to provide you the best possible care and support which helps you meet your demands.

            Our core values- “Honesty, Authenticity, Concerns for Customer’s Privacy and Safety” are all closely interwoven into the fibre of our efforts.

            We help you to find your match, book rental homes of choice across Indian cities. We assist with "Move-in, Personalised services, Transportation and Appliances & Furniture rentals".

            We are with you whenever you are in need!
          </p>
          <p>Accept our warm SheltOwn hug.</p>
        </div>

         <div class="col-xs-6 col-md-3 category-text">
          <ul class="footer-links">
            <li><a href="{% url 'sheltown-aboutus' %}">About Us</a></li>
            <li><a href="{% url 'policy_list' %}">Policy</a></li>
            <li><a href="{% url 'policy_list' %}">FAQs</a></li>
            <li><a href="{% url 'policy_list' %}">SheltOwn+</a></li>
            <li><a href="{% url 'policy_list' %}">SheltOwn Family+</a></li>
            <li><a href="{% url 'sheltown-aboutus' %}#contact-us" class="scrollto">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 quick-text">
          <ul class="footer-links">
            <li><a href="{% url 'sheltown-testimonial' %}">Testimonials</a></li>
            <li><a href="{% url 'sheltown-blog' %}">Blogs</a></li>
            <li><a href="{% url 'join' %}">Join our Team</a></li>
            <li><a href="{% url 'becomepartner' %}">List your Property</a></li>
            <li><a href="{% url 'becomepartner' %}">Become our Service Partner</a></li>
            <li><a href="#">SiteMap</a></li>
          </ul>
        </div>


      </div>
    </div>
  </footer>
  <section id="footer-two">
    <div class="container">
      <a style="color:#2ECAB6;" cursor: pointer;" onclick="javascript:ShowHide('HiddenDiv')">More info</a>
      <br>
      <div class="mid" id="HiddenDiv" style="display: none;">
        <div class="row" id="more">
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Delhi</a></li>
              <li><a href="#">Room for boys in Delhi</a></li>
              <li><a href="#">Room for girls in Delhi</a></li>
              <li><a href="#">Room for family in Delhi</a></li>
              <li><a href="#">Room for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Delhi</a></li>
              <li><a href="#">PG for boys in Delhi</a></li>
              <li><a href="#">PG for girls in Delhi</a></li>
              <li><a href="#">PG for family in Delhi</a></li>
              <li><a href="#">PG for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Delhi</a></li>
              <li><a href="#">Hostel for boys in Delhi</a></li>
              <li><a href="#">Hostel for girls in Delhi</a></li>
              <li><a href="#">Hostel for family in Delhi</a></li>
              <li><a href="#">Hostel for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Delhi</a></li>
              <li><a href="#">Flats for boys in Delhi</a></li>
              <li><a href="#">Flats for girls in Delhi</a></li>
              <li><a href="#">Flats for family in Delhi</a></li>
              <li><a href="#">Flats for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Delhi</a></li>
              <li><a href="#">Apartments for boys in Delhi</a></li>
              <li><a href="#">Apartments for girls in Delhi</a></li>
              <li><a href="#">Apartments for family in Delhi</a></li>
              <li><a href="#">Apartments for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Delhi</a></li>
              <li><a href="#">House for boys in Delhi</a></li>
              <li><a href="#">House for girls in Delhi</a></li>
              <li><a href="#">House for family in Delhi</a></li>
              <li><a href="#">House for couple in Delhi</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Kota</a></li>
              <li><a href="#">Room for boys in Kota</a></li>
              <li><a href="#">Room for girls in Kota</a></li>
              <li><a href="#">Room for family in Kota</a></li>
              <li><a href="#">Room for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Kota</a></li>
              <li><a href="#">PG for boys in Kota</a></li>
              <li><a href="#">PG for girls in Kota</a></li>
              <li><a href="#">PG for family in Kota</a></li>
              <li><a href="#">PG for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Kota</a></li>
              <li><a href="#">Hostel for boys in Kota</a></li>
              <li><a href="#">Hostel for girls in Kota</a></li>
              <li><a href="#">Hostel for family in Kota</a></li>
              <li><a href="#">Hostel for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Kota</a></li>
              <li><a href="#">Flats for boys in Kota</a></li>
              <li><a href="#">Flats for girls in Kota</a></li>
              <li><a href="#">Flats for family in Kota</a></li>
              <li><a href="#">Flats for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Kota</a></li>
              <li><a href="#">Apartments for boys in Kota</a></li>
              <li><a href="#">Apartments for girls in Kota</a></li>
              <li><a href="#">Apartments for family in Kota</a></li>
              <li><a href="#">Apartments for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Kota</a></li>
              <li><a href="#">House for boys in Kota</a></li>
              <li><a href="#">House for girls in Kota</a></li>
              <li><a href="#">House for family in Kota</a></li>
              <li><a href="#">House for couple in Kota</a></li>
            </ul>
          </div>


          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Varanasi</a></li>
              <li><a href="#">Room for boys in Varanasi</a></li>
              <li><a href="#">Room for girls in Varanasi</a></li>
              <li><a href="#">Room for family in Varanasi</a></li>
              <li><a href="#">Room for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Varanasi</a></li>
              <li><a href="#">PG for boys in Varanasi</a></li>
              <li><a href="#">PG for girls in Varanasi</a></li>
              <li><a href="#">PG for family in Varanasi</a></li>
              <li><a href="#">PG for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Varanasi</a></li>
              <li><a href="#">Hostel for boys in Varanasi</a></li>
              <li><a href="#">Hostel for girls in Varanasi</a></li>
              <li><a href="#">Hostel for family in Varanasi</a></li>
              <li><a href="#">Hostel for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Varanasi</a></li>
              <li><a href="#">Flats for boys in Varanasi</a></li>
              <li><a href="#">Flats for girls in Varanasi</a></li>
              <li><a href="#">Flats for family in Varanasi</a></li>
              <li><a href="#">Flats for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Varanasi</a></li>
              <li><a href="#">Apartments for boys in Varanasi</a></li>
              <li><a href="#">Apartments for girls in Varanasi</a></li>
              <li><a href="#">Apartments for family in Varanasi</a></li>
              <li><a href="#">Apartments for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Varanasi</a></li>
              <li><a href="#">House for boys in Varanasi</a></li>
              <li><a href="#">House for girls in Varanasi</a></li>
              <li><a href="#">House for family in Varanasi</a></li>
              <li><a href="#">House for couple in Varanasi</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Patna</a></li>
              <li><a href="#">Room for boys in Patna</a></li>
              <li><a href="#">Room for girls in Patna</a></li>
              <li><a href="#">Room for family in Patna</a></li>
              <li><a href="#">Room for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Patna</a></li>
              <li><a href="#">PG for boys in Patna</a></li>
              <li><a href="#">PG for girls in Patna</a></li>
              <li><a href="#">PG for family in Patna</a></li>
              <li><a href="#">PG for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Patna</a></li>
              <li><a href="#">Hostel for boys in Patna</a></li>
              <li><a href="#">Hostel for girls in Patna</a></li>
              <li><a href="#">Hostel for family in Patna</a></li>
              <li><a href="#">Hostel for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Patna</a></li>
              <li><a href="#">Flats for boys in Patna</a></li>
              <li><a href="#">Flats for girls in Patna</a></li>
              <li><a href="#">Flats for family in Patna</a></li>
              <li><a href="#">Flats for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Patna</a></li>
              <li><a href="#">Apartments for boys in Patna</a></li>
              <li><a href="#">Apartments for girls in Patna</a></li>
              <li><a href="#">Apartments for family in Patna</a></li>
              <li><a href="#">Apartments for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Patna</a></li>
              <li><a href="#">House for boys in Patna</a></li>
              <li><a href="#">House for girls in Patna</a></li>
              <li><a href="#">House for family in Patna</a></li>
              <li><a href="#">House for couple in Patna</a></li>
            </ul>
          </div>
          <br>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Delhi</a></li>
              <li><a href="#">Plumber in Delhi</a></li>
              <li><a href="#">Repair & Maintenance in Delhi</a></li>
              <li><a href="#">Home Tuition in Delhi</a></li>
              <li><a href="#">Newspaper-Wala in Delhi</a></li>
              <li><a href="#">Salon in Delhi</a></li>
              <li><a href="#">Hair-Cut in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Varanasi</a></li>
              <li><a href="#">Plumber in Varanasi</a></li>
              <li><a href="#">Repair & Maintenance in Varanasi</a></li>
              <li><a href="#">Home Tuition in Varanasi</a></li>
              <li><a href="#">Newspaper-Wala in Varanasi</a></li>
              <li><a href="#">Salon in Varanasi</a></li>
              <li><a href="#">Hair-Cut in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Patna</a></li>
              <li><a href="#">Plumber in Patna</a></li>
              <li><a href="#">Repair & Maintenance in Patna</a></li>
              <li><a href="#">Home Tuition in Patna</a></li>
              <li><a href="#">Newspaper-Wala in Patna</a></li>
              <li><a href="#">Salon in Patna</a></li>
              <li><a href="#">Hair-Cut in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Kota</a></li>
              <li><a href="#">Plumber in Kota</a></li>
              <li><a href="#">Repair & Maintenance in Kota</a></li>
              <li><a href="#">Home Tuition in Kota</a></li>
              <li><a href="#">Newspaper-Wala in Kota</a></li>
              <li><a href="#">Salon in Kota</a></li>
              <li><a href="#">Hair-Cut in Kota</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <br>
          <a href="mailto:info@sheltown.com" style="color:#2ECAB6;">info@sheltown.com</a>
          <br>
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved

          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <br>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/sheltown.india" class="fa fa-facebook"></a></li>
            <li><a class="twitter" href="https://twitter.com/OwnShelt?s=20"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="https://instagram.com/sheltown.india"><i class="fa fa-instagram"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/company/sheltown"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- #footer -->

   <!--Modal-->
<div class="modal fade container-fluid" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Create Account</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <!-- <form id="first">
                      <div class="row" style="margin-top: 5px; margin-bottom: 15px;"> 
                          <div class="col-sm-3"><input type="radio" name="user" checked><small>&nbspUser</small></div>
                          <div class="col-sm-4"><input type="radio" name="user"><small>&nbspProperty Owner</small></div>
                          <div class="col-sm-4"><input type="radio" name="user"><small>&nbspService Provider</small></div>
                      </div>
                      Enter your Phone Number<br>
                      <input required type="tel" placeholder="+91" pattern="[7-9]{1}[0-9]{9}" maxlength="10" minlength="10" title="Enter a valid phone number" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"><br>
                      <small>Your information is safe with us</small>
                      <br><br>
                      <input required type="checkbox">&nbspBy continuing, you agree to our <a href="policy-page.html">Terms and Conditions</a>
                      <br>
                      <center><input type="submit" class="btn btn-success" value="Send OTP" style="margin: 5px 0;"></center>
                      <center><small>Already have an account? <a href="login-user.html">Log In now</a></small></center>
                  </form> -->

                  <form method="POST" id="first">
                    
                    {% csrf_token %}
                    {{ phoneverifyform.non_field_errors }}
        
                    {{ phoneverifyform.source.errors }}
                    {{ phoneverifyform.source }}
                    <!-- class="row" -->
                    <div  style="margin-top: 5px; margin-bottom: 15px;"> 
                      {{ phoneverifyform.user_type.label_tag }}
                     <small>
                      {{ phoneverifyform.user_type.errors }}
                     
                      {{ phoneverifyform.user_type }}
                    </small>
                      <!-- <div class="col-sm-3"><input type="radio" name="user" checked><small>&nbspUser</small></div>
                      <div class="col-sm-4"><input type="radio" name="user"><small>&nbspProperty Owner</small></div>
                      <div class="col-sm-4"><input type="radio" name="user"><small>&nbspService Provider</small></div> -->

                  </div>
                  <!-- Enter your Phone Number<br> -->

                    <!-- {{ form.name.label_tag }}</th>
                    <td>
                      {{ form.name.errors }}
                      {{ form.name }} -->
        
                    <!-- {{ callbackform.as_p }} -->
                    {{ phoneverifyform.phone_number.label_tag }} <br>
                    {{ phoneverifyform.phone_number.errors }}
                    {{ phoneverifyform.phone_number }}<br>
                    <small>Your information is safe with us</small>
                    <br><br>
                    <input required type="checkbox">&nbspBy continuing, you agree to our <a href="policy-page.html">Terms and Conditions</a>
                    <br>
                    <!-- data-dismiss="modal" -->
                    <center><button id="sendotp" type="submit" name="sendotp"  class="btn btn-success"  style="margin: 5px 0;">Send OTP</button></center>
                    <center><small>Already have an account? <a href="{% url 'login' %}">Log In now</a></small></center>
                </form> 

              </div>
              <div class="form-group">
                  <form method="POST" id="second" style="display:none;">
                    {% csrf_token %}
                    {{ otpverificationform.non_field_errors }}
        
                    {{ otpverificationform.source.errors }}
                    {{ otpverificationform.source }}
                      <p>Phone Number: +91-{{ phone_no }} <button type="button" class="btn btn-secondary" id="back" style="float: right;">Change Number</button></p>
                      <br>
                      {{ otpverificationform.otp.label_tag }}
                      {{ otpverificationform.otp.errors }}
                      {{ otpverificationform.otp }}<br>
                      <!-- Enter OTP -->
                      <!-- <input required type="text" placeholder="xxxxxx" minlength="6" maxlength="6" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"> -->
                      <center><button type="submit" name="verifyotp" class="btn btn-success" >Verify OTP</button></center>
                      <br>
                      <p><span id="timecounter">300 seconds remaining</span></p>
                  </form>

                  <form method="POST" id="secondex" style="display:none;" action="{% url 'sheltown-index' modal='anything' %}" >
                    {% csrf_token %}
                    <small><input name="resendotp" id="resendotp" type="submit" class="btn btn-warning" value="Resend OTP" style="float: right; padding: 3px;margin-top: 10px;margin-bottom: 10px;"/>
                    </small>
                    </form>
                

              </div>
              <div class="form-group">
                 
                
                <form method="POST" id="second" style="display:none;">
                  {% csrf_token %}
                  {{ otpverificationform.non_field_errors }}
      
                  {{ otpverificationform.source.errors }}
                  {{ otpverificationform.source }}
                    <p>Phone Number: +91-{{ phone_no }} <button type="button" class="btn btn-secondary" id="back" style="float: right;">Change Number</button></p>
                    <br>
                    {{ otpverificationform.otp.label_tag }}
                    {{ otpverificationform.otp.errors }}
                    {{ otpverificationform.otp }}<br>
                    <!-- Enter OTP -->
                    <!-- <input required type="text" placeholder="xxxxxx" minlength="6" maxlength="6" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"> -->
                    <center><button type="submit" name="verifyotp" class="btn btn-success" >Verify OTP</button></center>
                    <br>
                    <p><span id="timecounter">300 seconds remaining</span></p>
                </form>
                <form method="POST" id="third" style="display: none;">
                  {% csrf_token %}
                  <small class=".custom-user-type-radio-list" style="color: red"> {{ signupform.non_field_errors }} </small>
      
                  {{ signupform.source.errors }}
                  {{ signupform.source }}
                     <small> <p>Verified Phone Number: +91 {{ phone_no }} </p>
                      
                      <p>Signing up as {{ user_type }}</p>
                    </small>
                      <table style="width: 100%">
                        <tr>
                          <td>  {{ signupform.email.label_tag }}&nbsp</td>
                          <td>
                            
                            {{ signupform.email}}
                            <small class=".custom-user-type-radio-list" style="color: red"> {{ signupform.email.errors }} </small>
                            <!-- {% for error in signupform.email.errors %}
                            <p style="color: red">{{ error }}</p>
                          {% endfor %} -->
                            <!-- <small>{{  signupform.email.help_text }}</small> -->
                          </td>
                      </tr>
                        <tr>
                              <td>  {{ signupform.username.label_tag }}&nbsp</td>
                              <td>
                                
                                {{ signupform.username}}
                                <small class=".custom-user-type-radio-list" style="color: red"> {{ signupform.username.errors }} </small>
                                <!-- <small>{{  signupform.username.help_text }}</small> -->
                              </td>
                              
                          </tr>

                        <tr>
                          <td>  {{ signupform.password1.label_tag }}&nbsp</td>
                          <td>
                            
                            {{ signupform.password1}}
                            <small class=".custom-user-type-radio-list" style="color: red"> {{ signupform.password1.errors }} </small>
                            <!-- {% for error in signupform.email.errors %}
                            <p style="color: red">{{ error }}</p>
                          {% endfor %}                             -->
                            <small>{{  signupform.password1.help_text }}</small>
                          </td>
                      </tr>
                      <tr>
                        <td>  {{ signupform.password2.label_tag }}&nbsp</td>
                        <td>
                          
                          {{ signupform.password2 }}
                          <small class=".custom-user-type-radio-list" style="color: red"> {{ signupform.password2.errors }} </small>
                          <!-- <small>{{  signupform.password2.help_text }}</small> -->
                        </td>
                    </tr>
                    <!-- <tr>
                      {% if signupform.errors %}
                        {% for field in signupform %}
                          <div class="error_message">
                                   {{ field.errors }}
                          </div>
                         {% endfor %}
                      {% endif %}
                      {{ form.non_field_errors }}
                    </tr>                       -->
                      </table>
                      <br>
                      <center><button id="signup" type="submit" name="signup" class="btn btn-success" >Create Account</button></center>
                  </form>

              </div>
              <div class="form-group">
                  <form id="fourth" style="display:none;">
                      <hr>
                      <div class="google-btn" style="margin: 0 auto;">
                          <div class="google-icon-wrapper">
                              <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                          </div>
                          <a href="#" class="btn-text"><b>Sign in with google</b></a>
                      </div>
                  </form>
              </div>
              <div class="form-group"> 
              <hr>
              <form id="fifth">
                <div class="row listbox" style="margin: 0 auto;">
                  <div class="col-sm-6"><i class="fa fa-check"></i> Safety Guaranteed</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> No Brokerage</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> Ultimate Privacy</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> Good Ambience</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> Affordable</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> Laissez-faire Policy</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> SheltOwn Verified</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> All-at-Home Services</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> Round-the-Clock Assistance</div>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>

{% if openmodal %}
<script>
$('#proxyAnchor')[0].click();
console.log("cdf");
</script>
{% endif %}

{% if open1modal %} 
<script> 
$('#proxyAnchor')[0].click();
// $('#first').submit(function(e){
      $('#first').show(); 
      $('#second').hide(); 
      $('#secondex').hide();
      $('#third').hide(); 
      $('#fourth').hide(); 
      // e.preventDefault();
      // Or with: return false;        
  // });
 </script> 
{% endif %}

{% if open2modal %} 
<script> 
  $('#proxyAnchor')[0].click();
      // console.log("TSEST");
// $('#first').submit(function(e){
      $('#first').hide(); 
      $('#second').show(); 
      $('#secondex').show();
      $('#third').hide(); 
      $('#fourth').hide(); 
      // e.preventDefault();
      // Or with: return false;        
  // });
 </script> 
{% endif %}  

{% if open3modal %} 
<script>
  // $('#second').submit(function(e){
    $('#proxyAnchor')[0].click();  
    $('#first').hide(); 
      $('#second').hide();
      $('#secondex').hide();
      $('#third').show(); 
       $('#fourth').show(); 
       $('#fifth').hide();
      // e.preventDefault();
      // Or with: return false;        
  // });
</script>
{% endif %}
<script>
  $('#back').click(function(e){
      $('#first').show(); 
      $('#second').hide(); 
      $('#secondex').hide();
      $('#third').hide(); 
      $('#fourth').hide(); 
      // e.preventDefault();
      // Or with: return false;        
  });
  </script>


<script>
var timeleft = 300;
var downloadTimer = setInterval(function(){
  if(timeleft <= 0){
    clearInterval(downloadTimer);
    document.getElementById("timecounter").innerHTML = "Finished";
  } else {
    document.getElementById("timecounter").innerHTML = timeleft + " seconds remaining";
  }
  timeleft -= 1;
}, 1000);  
$('#resendotp').click(function(){
    $("#sendotp").click();
});

// $('#resendotp')[0].onclick(
//   $('#sendotp')[0].click()
// );

</script>

  <!-- JavaScript Libraries -->
  <script src="{% static 'sheltownapp/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/magnific-popup/magnific-popup.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/sticky/sticky.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'sheltownapp/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'sheltownapp/js/main.js' %}"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js'></script>

  <!--  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
  <script type="text/javascript">
    // <![CDATA[
    function ShowHide(divId) {
      var atxt = document.getElementById("atext");
      if (document.getElementById(divId).style.display == 'none') {
        document.getElementById(divId).style.display = 'block';
      } else {
        document.getElementById(divId).style.display = 'none';
      }
    }
    // ]]>
  </script>

  <script>
    function TapButtonNav(evt, Click) {
      var i, tabcontent, tablinks;
      location.replace("./policy-page.html");
    }
  </script>

  <script>
    function redirect(){
      location.replace("./policy-page.html");
      function TapButtonNav(evt, Click) {
      var i, tabcontent, tablinks;
      }
    }
  </script>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5ee991aa9e5f69442290b6fb/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
  </script>
  <!--End of Tawk.to Script-->

  <!-- script for extra carousel -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js'></script>
  <script id="rendered-js">
      $('.responsive').slick({
        dots: true,
        prevArrow: $('.prev'),
        nextArrow: $('.next'),
        infinite: false,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1,
        responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            dots: true } },


        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1 } },


        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1 } }


        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
        ] });
  </script>
  <!-- end of extra carousel script -->
</body>

</html>
