{% load static %}
{% load security_deposit %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>SheltOwn</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <!-- {% static 'sheltownapp/' %} -->
  <!-- Favicons -->
  <link href="{% static 'sheltownapp/img/favicon.png' %}" rel="icon">
  <link href="{% static 'sheltownapp/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <!-- Libraries CSS Files -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="{% static 'sheltownapp/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link href="{% static 'sheltownapp/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--------------popup------------------------>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!------add---------------------->
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css'>

  <!-- Main Stylesheet File -->
  <link href="{% static 'sheltownapp/css/style2.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/assets/css/personal-style.css' %}" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <style>

.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.slick-dots li.slick-active button {
  background-color: black;
}
.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #999;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.slick-dots li :hover {
  background-color: black;
}

/* Custom Arrow */
.prev {
  color: #999;
  position: absolute;
  top: 38%;
  left: -2em;
  font-size: 1.5em;
}
.prev :hover {
  cursor: pointer;
  color: black;
}

.next {
  color: #999;
  position: absolute;
  top: 38%;
  right: -2em;
  font-size: 1.5em;
}
.next :hover {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 800px) {
  .next {
    display: none !important;
  }
}

.inv {
    display: none;
   
}
.inv1 {
    display: none;
   
}
.inv2 {
    display: none;
   
}

.column_ser {
  float: left;
  padding: 10px;
  /* Should be removed. Only for demonstration */
}

.left{width: 40%;}
.middle{width: 30%;}
.right{width: 30%;}
.column_serr {
  float: left;
  width: 50%;
  padding: 10px;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row_ser:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 1000px) {
  .column_ser {
    width: 90%;
    height:100%;
  }

}
      
.dropdown{
  border: 1px solid #ff9719;
  height:30px;
  width:80%;
  border-radius:10px;
      }
.dropdown1{
  border: 1px solid #ff9719;
  height:30px;
  width:80%;
  border-radius:10px;
      }
      
.button_add{
  border: none;
  color: white;
text-decoration: none;
  display: inline-block;
  font-size: 16px;
 cursor: pointer;
 background-color:#ff9719;
       height:30px;

  width:50px;
  border-radius:10px;
  float:right;
   
      }

.button_book{

  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  margin-bottom:10px;
  border-radius:10px;
  color: white;
  background-color: #29e823;
  text-align: center;
  cursor: pointer;
  width: 150px;
 
}


.button_book1{
 border: none;
  color: white;
text-decoration: none;
display: inline-block;
font-size: 16px;
 cursor: pointer;
 background-color:#ff9719;

background-color: #29e823;
  width:150px;
  border-radius:10px;
  float:right;
}

 input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

 input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.list-group {
    padding-left: 0;
   
}
.list-group-item+.list-group-item {
   border-top-width: 1px;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  top: 50%;
  left: -200%;
  
}

/* Popup arrow */
.popup .popuptext::after {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.cardedu {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
background-color: #fff;
}

.cardedu:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container_edu {
  padding: 2px 16px;
background-color: #fff;
}
.well .btn-green {
      background-color: #408E3C;
      border: 0px;
      color: white;
    }
    .btn-def {
      background-color: #2874F0;
      color: #fff;
      border-radius: 50px;
      padding: 5px;
      font-size: 10px;
    }
    .btn-primary {
      background-color: #ff9719;
      border: none;
      font-size: 18px;
    }
.guest {
    margin-top: 20px;
    margin-bottom: 30px;
}
.heading {
    font-size: 20px;
    font-weight: bold;
    margin-left:65px;
}

#introduction-section,
#introduction-section-1,
#introduction-section-2 {
  width: 85%;
  margin-left: 7.5%;
}

#introduction-section img,
#introduction-section-1 img,
#introduction-section-2 img {
  border-radius: 10px;
}

#introduction-section,
#introduction-section-1 {
  display: none;
}

#introduction-section-2 {
  display: block;
}

@media only screen and (max-width: 800px) {
  #introduction-section-1 {
    display: block;
  }

  #introduction-section-2 {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  #introduction-section {
    display: block;
  }

  #introduction-section-1 {
    display: none;
  }

  #introduction-section-2 {
    display: none;
  }
}

</style>
{% if messages %}
{% for message in messages %}
 {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
{% endfor %}
{% endif %}
</head>

<body id="body" onload="myFunction()">
        <!--==========================
         Header
       ============================-->
       <header id="header">
        <div id="logo" class="pull-left">
          <a href="{% url 'sheltown-emptyredirect' %}">
            <img src="{% static 'sheltownapp/img/logo.png' %}" alt="logo">
          </a>
        </div>
     
     <!-- <div id="logo" class="pull-left" style="margin-top:8px;">
           <a href="{% url 'sheltown-emptyredirect' %}">
           <p >SheltOwn</p>
           </a>
         </div>
           </div> -->
     
           <nav id="nav-menu-container">
             <ul class="nav-menu">
              
            {% if user.is_authenticated %}
            {% ifequal user.custom_user.usertype "User" %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'sheltown-personalservice' 'DELHI' 'NCR' %}"><i class="fa fa-star" aria-hidden="true" ></i> &nbsp;Personalised</a></li>
            <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true"></i> &nbsp;Rental</a></li>
            <li><a href="{% url 'myaccount-userpartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;My Account</a></li>

            {% endifequal %}

            {% ifequal user.custom_user.usertype "Property Owner" %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'myaccount-propertypartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;My Account</a></li>
            {% endifequal %}

            {% ifequal user.custom_user.usertype "Service Provider" %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'myaccount-servicepartner'  %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;My Account</a></li>
            {% endifequal %}  

            {% else %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'sheltown-personalservice' 'DELHI' 'NCR' %}"><i class="fa fa-star" aria-hidden="true" ></i> &nbsp;Personalised</a></li>
            <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true" ></i> &nbsp;Rental</a></li>
     
     
                
            <li><a href="{% url 'sheltown-index' 'openmodal' %}"><i class="fa fa-user-plus" aria-hidden="true" ></i> &nbsp;Sign up</a></li>
            <li><a href="{% url 'login' %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;Log in</a></li>
            {% endif %}
          </ul>
           </nav><!-- #nav-menu-container -->
         </div>
       </header><!-- #header -->
  
 
  <!--==========================
      Intro Section
    ============================-->



  <!-- intro ends -->
<br>
<div class ="row_ser">
<div class="column_ser left">
<h3 style="margin-left:65px;">Need an "Service Expert" for? </h2>
 <div class="mobile" style="margin-left:70px;">
 <input type="checkbox" id="myCheck" data-toggle="modal" data-target="#myModal" style="margin-left:-55px;">
   <label for="myCheck" style="color:#ff9719;">or Request a Call Back from our Executive</label> 
</div>
<p style="margin-left:70px;"> Select the Service </p>
        <select id="target" class="dropdown" style="margin-left:70px;">
            <option value="">Select...</option>
            {% for service in personalservice %}
            <option value="content_{{ forloop.counter }}">{{ service.name }}</option>
            {% endfor %}  
        </select>

<!-- first dropdown blocks     -->
{% for service in personalservice %}         
<div id="content_{{ forloop.counter }}" class="inv">
{% if service.subcat1.count > 0 %}
        <br>
        <select  class="dropdown target1" style="margin-left:70px;">
                    <option value="">Select...</option>
                    {% for subcat in service.subcat1.all  %}
                    <option value="content_{{ forloop.parentloop.counter}}_{{ forloop.counter }}">{{ subcat.name }}</option>
                    {% endfor %}
        </select>
{% else %}
<div class="container_opt" >
  <h2 ><br>Select the issue</h2>
  <form  action="booking/" method="GET" class="issueform">
  <ul class="list-group">
    {% for issue in service.of_service.all %}
    {% if issue in per_issue %}
   <li class="list-group-item">{{ issue.name }}(${{ issue.price }})
      <div class="check">
        <input type="checkbox" id="servicess" class="issuename" data-price="{{ issue.price }}" name="name" value="{{ issue.name }},{{issue.price}}">
        <!-- <input type="hidden" class="issueprice" name="price" value="{{ issue.price }}"> -->
        <label for="servicess"> Service</label></div>
    </li>
    {% endif %}
    {% empty %}
              <li class="list-group-item">No available services</li>
    {% endfor %}
    <li class="list-group-item" ><p style="float:right;margin-right:50px;" >Total Amount = <span class="tots"></span></p></li> 
</ul>
<input type="hidden" name="perser"value="{{ service.name }}">
<input type="hidden" name="subcat" value="">
<input type="hidden" name="subcat2" value="">
<input type="hidden" name="total" class="tots" value="">
<input type="submit" class="button_book" value="Continue to book" >
</form>
</div>
{% endif %}
</div>


<!-- second dropdown -->

{% for subcat in service.subcat1.all %}
{% if subcat.subcat2.count > 0 %}
    <div id="content_{{ forloop.parentloop.counter}}_{{ forloop.counter }}" class="inv1"><br>
      <select  class="target2 dropdown1" style="margin-left:70px;">
      <option value="">Select </option>
      {% for subcat2 in subcat.subcat2.all  %}
      <option value="content_{{ forloop.parentloop.parentloop.counter }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">{{ subcat2.name }}</option>
      {% endfor %}
      </select>  
    </div>
{% else %}

    <div id="content_{{ forloop.parentloop.counter}}_{{ forloop.counter }}" class="inv1">
  
        <div class="container_opt" >
            <h2 ><br>Select the issue</h2>
            <form  action="booking/" method="GET" >
            <ul class="list-group">
                {% for issue in subcat.of_subcat1.filter %}
                {% if issue in per_issue %}
                <li class="list-group-item">{{ issue.name }}(${{ issue.price }})
                  <div class="check">
                    <input type="checkbox" id="servicess" class="issuename" data-price="{{ issue.price }}" name="name" value="{{ issue.name }},{{issue.price}}">
                    <!-- <input type="hidden" class="issueprice" name="price" value="{{ issue.price }}"> -->
                    <label for="servicess"> Service</label></div>
                  
                  </li>
                  {% endif %}
                  {% empty %}
              <li class="list-group-item">No available services</li>
                {% endfor %}
                  <li class="list-group-item" ><p style="float:right;margin-right:50px;">Total Amount =<span class="tots"></span></p></li> 
            </ul>
            <input type="hidden" name="perser"value="{{ service.name }}">
            <input type="hidden" name="subcat" value="{{ subcat.name }}">
            <input type="hidden" name="subcat2" value="">
            <input type="hidden" name="total" class="tots" value="">
          <input type="submit" class="button_book" value="Continue to book" >
          </form>
        </div>
  </div>
{% endif %}
<!-- third issue blocks -->
{% for subcat2 in subcat.subcat2.all  %}
      <div id="content_{{ forloop.parentloop.parentloop.counter }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" class="inv2">
  
        <div class="container_opt" >
            <h2 ><br>Select the issue</h2>
            <form action="booking/" method="get">
            <ul class="list-group">
              {% for issue in subcat2.of_subcat2.all %}
              {% if issue in per_issue %}
                          <li class="list-group-item">{{ issue.name }}(${{ issue.price }}/pm)
                            <div class="check">
                              <input type="checkbox" id="servicess" class="issuename" data-price="{{ issue.price }}" name="name" value="{{ issue.name }},{{issue.price}}">
                              <!-- <input type="hidden" class="issueprice" name="price" value="{{ issue.price }}"> -->
                              <div class="popup" onclick="popupedufem()"><b>See Profile</b>
                        <div class="popuptext" id="myPopupfem">
                        <div class="cardedu">
                      <div class="row_edu">
                      <div class="col_edu">
                        <img src="img/img_avatar2.png" alt="Avatar" style="height:100px;border-radius:50px;"></div>
                      <div class="col_edu">
                          <h4><b>John Doe</b></h4> 
                          <p>Delhi-NCR</p>
                      <p>From-Jaipur</p>
                      <p>Experience- 3 Years</p>
                      <p>Expertise- English</p> 
                        </div>
                      </div>
                      </div> 
                      </div></div></div></li>
                      {% endif %}
              {% empty %}
              <li class="list-group-item">No available services</li>
              {% endfor %}
            <li class="list-group-item" ><p style="float:right;margin-right:50px;" >Total Amount =<span class="tots"></span></p></li> 
            </ul> 
          <input type="hidden" name="perser"value="{{ service.name }}">
          <input type="hidden" name="subcat" value="{{ subcat.name }}">
          <input type="hidden" name="subcat2" value="{{ subcat2.name }}">
          <input type="hidden" name="total" class="tots" value="">
          <input type="submit" class="button_book" value="Continue to book" >
          </form>
        </div>  
      </div>
      {% endfor %}

{% endfor %}

{% endfor %}

</div><!--ser-left end-->

 <div class="column_ser middle">
<div class="container_work" >
<!---<h1>How it works</h1>
<hr class="new1"> --->
<article>
<div class="row_work">
 <div class="column_work left_work"><br>
<!---- <i class="fas fa-gears" style="font-size:35px;color:#ff9719;"></i>--->
<img src="{% static 'sheltownapp/img/selection.png'%}" alt="logo" style="width:40px;color:#ff9719;">
 </div>
 <div class="column_work right_work"><br>
 <p><b>Choose the Personal Service</b></p>
  <p>Personal Care,Home Care,Repairs & Maintananace,Edumart etc..</p>
  </div>
  </div>
</article>
<hr class="new1">
<article>
<div class="row_work">
 <div class="column_work left_work">
 <!----<i class="fas fa-address-card" style="font-size:38px;color:#ff9719;"></i>------>
  <img src="{% static 'sheltownapp/img/detail.png'%}" alt="logo" style="width:40px;color:#ff9719;">
 </div>
 <div class="column_work right_work">
  <p><b>Provide the appointement details</b></p>
  <p>Submit basic details or request a callback;we will call you to know the details</p>
  </div>
  </div>
</article>
<hr class="new1">
<article>
<div class="row_work">
 <div class="column_work left_work">
<!---- <i class="fas fa-calendar" style="font-size:40px;color:#ff9719;"></i> ---->
 <img src="{% static 'sheltownapp/img/clock.png'%}" alt="logo" style="width:40px;color:#ff9719;">
 </div>
 <div class="column_work right_work">
 <p><b>Confirm and Schedule booking</b></p>
  <p>Our Service partners will visit you</p>
  </div>
  </div>
  
</article>

</div>
</div>

 <div class="column_ser right">

<div class="container_work">
<!---<h1>How it works</h1>
<hr class="new1"> ---->
<article>
<div class="row_work">
 <div class="column_work left_work"><br>
<!--- <i class="fas fa-clock" style="font-size:38px;color:#ff9719;"></i> --->
<img src="{% static 'sheltownapp/img/door.png'%}" alt="logo" style="width:40px;color:#ff9719;">
 </div>
 <div class="column_work right_work"><br>
 
  <h4 style="margin-top:8px;"><b>Hassle-free Service</b></h4>
 
  </div>
  </div>
</article>
<hr class="new1">
<article>
<div class="row_work">
 <div class="column_work left_work">
<!--- <i class="fas fa-phone-square" style="font-size:38px;color:#ff9719;"></i>--------->
 <img src="{% static 'sheltownapp/img/phone.png'%}" alt="logo" style="width:40px;color:#ff9719;">
 </div>
 <div class="column_work right_work">
  <h4 style="margin-top:8px;"><b>One Call Away</b></h4>
  </div>
  </div>
</article>
<hr class="new1">
<article>
<div class="row_work">
 <div class="column_work left_work">
<!---- <i class="fas fa-check-circle" style="font-size:38px;color:#ff9719;"></i>---->
 <img src="{% static 'sheltownapp/img/checkmark.png'%}" alt="logo" style="width:40px;color:#ff9719;">
 </div>
 <div class="column_work right_work">
  <h4 style="margin-top:8px;"><b>Verified Servicemen </b></h4>
  </div>
  </div>
</article>
<hr class="new1">
<article>
<div class="row_work">
 <div class="column_work left_work">
<!------- <i class="fas fa-list-alt" style="font-size:38px;color:#ff9719;"></i>--------->
 <img src="{% static 'sheltownapp/img/help.png'%}" alt="logo" style="width:40px;color:#ff9719;">
 </div>
 <div class="column_work right_work">
  <h4><b>After Service Assistance</b></h4><br><br>
  </div>
  </div>
</article>
</div>

</div>
</div>

<br>

<div class ="row_ser">
<!----<div class="column_serr">
<h2 style="margin-left:65px;">Need an "Service" Expert for? </h2></div>
 <div class="column_serr"><div class="mobile">
 <input type="checkbox" id="myCheck" data-toggle="modal" data-target="#myModal" style="margin-left:-115px;">
   <label for="myCheck" style="color:#ff9719;">Request a callback?</label> </div> </div>
</div>--->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title" style="float:left;">Request a call Back?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
          
          <!-- <label for="psw"><b>Enter your mobile number</b></label><br>
          <input type="number"  class="noscroll"  placeholder="Enter here" name="psw" required> -->

          <form method="POST" >
            <div class="modal-body">
            {% csrf_token %}
            {{ callbackform.non_field_errors }}

            {{ callbackform.source.errors }}
            {{ callbackform.source }}
           
            <!-- {{ form.name.label_tag }}</th>
            <td>
              {{ form.name.errors }}
              {{ form.name }} -->

            <!-- {{ callbackform.as_p }} -->
            {{ callbackform.phone_number.label_tag }} <br>
            {{ callbackform.phone_number.errors }}
            {{ callbackform.phone_number }}
          </div>
            <div class="modal-footer"> 
              <!-- data-dismiss="modal" -->
              <button type="submit" name="callbackrequest"  class="btn btn-default"  style="background-color:#ff9719;">Submit</button>
            </div>
        </form> 


      
      
    </div>
  </div>
  
</div>

<!--------------------------------------popup----------------------------------->
<!---------------  <h2 style="color:#ff9719;margin-left:70px;">Need an "Service" Expert for?</h2> -------->


      
<br>
<br>
<br>

<!----------------<div class="container_work" style="margin-left:75px;">
<div class="container personal-container">
<div class="col-lg-6">
          <h4>Request a Callback</h4>
          
            <label class="form-title" for="phone"><b>Enter a phone number:</b></label><br>
            <input type="tel" id="phone" name="phone" placeholder="99XXXXXXXX" pattern="[789][0-9]{9}" required>
            <input type="submit" value="Submit"><br>
            <small>Format:+91-XXXXXXXX</small>

            <!---- <label class="form-title" for="feedback"><b>Send us your booking feedback:</b></label><br>
            <textarea rows="4" cols="45" name="comment" form="usrform" placeholder="Enter.." id="feedback"></textarea><br>   --->
</div>
</div> 
</div>


<!--
<div class="col-md-12 heroSlider-fixed">


<div class="slider responsive">
<div>
<img style=" width: 100%;height: auto;padding:5px;" src="https://assets.oyoroomscdn.com/cmsMedia/83f8da10-a580-4d00-a169-c492ed855951.jpg" alt="" />
</div>
<div>
<img style=" width: 100%;height: auto;padding:5px;" src="https://assets.oyoroomscdn.com/cmsMedia/83f8da10-a580-4d00-a169-c492ed855951.jpg" alt="" />
</div>
<div>
<img  style=" width: 100%;height: auto;padding:5px;" src="https://assets.oyoroomscdn.com/cmsMedia/83f8da10-a580-4d00-a169-c492ed855951.jpg" alt="" />
</div>
<div>
<img style=" width: 100%;height: auto;padding:5px;" src="https://assets.oyoroomscdn.com/cmsMedia/83f8da10-a580-4d00-a169-c492ed855951.jpg" alt="" />
</div>
<div>
<img style=" width: 100%;height: auto;padding:5px;" src="https://assets.oyoroomscdn.com/cmsMedia/83f8da10-a580-4d00-a169-c492ed855951.jpg" alt="" />
</div>
<div>
<img style=" width: 100%;height: auto;padding:5px;" src="https://assets.oyoroomscdn.com/cmsMedia/83f8da10-a580-4d00-a169-c492ed855951.jpg" alt="" />
</div>
<div>
<img style=" width: 100%;height: auto;padding:5px;" src="https://assets.oyoroomscdn.com/cmsMedia/83f8da10-a580-4d00-a169-c492ed855951.jpg" alt="" />
</div>
<div>
<img style=" width: 100%;height: auto;padding:5px;" src="https://assets.oyoroomscdn.com/cmsMedia/83f8da10-a580-4d00-a169-c492ed855951.jpg" alt="" />
</div>
</div>

<div class="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
</div>
<div class="next">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
</div>
</div>

-->

<div id="introduction-section" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for offer in offers %}
    <li data-target="#carouselExampleCaptions" data-slide-to="{{ forloop.counter0 }} " class="{% if forloop.first %} active{% endif %}"></li>
      {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for offer in offers %}
    <div class="carousel-item {% if forloop.first %} active{% endif %}" style="padding: 20px; width: 100%; height: auto;">
      <center>
        <img src="{{ offer.image_MOBILEVIEW_with_all_information_to_be_displayed.url  }}" class="d-block w-100" alt="...">
      </center>
    </div>
      {% endfor %}      
    
  </div>
  <a class="carousel-control-prev" href="#introduction-section" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#introduction-section" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--==========================
 extra carousel desktop-mobile
 ============================-->
<div id="introduction-section-1" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for offer in offers %}
    <li data-target="#carouselExampleCaptions" data-slide-to="{{ forloop.counter0 }} " class="{% if forloop.first %} active{% endif %}"></li>
      {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for offer in offers %}
    <div class="carousel-item {% if forloop.first %} active{% endif %}" style="padding: 20px; width: 100%; height: auto;">
      <center>
        <img src="{{ offer.image_TABVIEW_with_all_information_to_be_displayed.url  }}" class="d-block w-100" alt="...">
      </center>
    </div>
      {% endfor %}    
  </div>

  <a class="carousel-control-prev" href="#introduction-section-1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#introduction-section-1" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--==========================
  extra carousel
  ============================-->
<div id="introduction-section-2" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for offer in offers %}
    <li data-target="#carouselExampleCaptions" data-slide-to="{{ forloop.counter0 }} " class="{% if forloop.first %} active{% endif %}"></li>
      {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for offer in offers %}
    <div class="carousel-item {% if forloop.first %} active{% endif %}" style="padding: 20px; width: 100%; height: auto;">
      <center>
        <img src="{{ offer.image_DESKTOPVIEW_with_all_information_to_be_displayed.url  }}" class="d-block w-100" alt="...">
      </center>
    </div>
      {% endfor %}

  </div>

  <a class="carousel-control-prev" href="#introduction-section-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#introduction-section-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>





<section class="guest">
  <div class="container-fluid">
    <h2 class="heading">User Reviews</h2>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="comment-tabs">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab">
                <h4 class="reviews text-capitalize">Reviews</h4>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <br>
            <div class="tab-pane active" id="comments-logout">
              <ul class="media-list">

                  {% for review in reviews %}
                  <li class="media">

                  <a name="review{{review.pk}}">   </a> 
                  <div class="media-body">
                    <div class="well well-lg">
                      <h4 class="media-heading text-uppercase reviews">{{ review.user }}</h4>
                      <small>{{ review.updated_at | date:'M d, Y'  }}</small>
                      <small style="float:right;">Service:- {{review.personalservice.name}}</small>
                      <br><br>
                      <p class="media-comment">
                          {{ review.review | linebreaksbr}}
                      </p>
                      <br>
                     
                      <!-- <button class="btn btn-primary btn-circle text-uppercase"> -->
                          {% if request.user.custom_user in review.likes.users.all%}
                          <!-- already liked-->
                          <a href={% url 'personal_review_vote' review_id=review.pk opinion='like' city=city locality=locality %} class="btn btn-primary btn-circle text-uppercase"> <i
                             data-toggle="tooltip" data-placement="bottom" title="Unlike"
                             class="fas fa-thumbs-up" style="color: #fff;">
                          <span>{{review.get_total_likes}}</span>
                          </i>
                          </a>
                          {% else %}
                          <!--not liked-->
                          <a href={% url 'personal_review_vote' review_id=review.pk opinion='like' city=city locality=locality %} class="btn btn-primary btn-circle text-uppercase"><i
                             data-toggle="tooltip" data-placement="bottom" title="Like"
                             class="fa fa-thumbs-o-up" aria-hidden="true" style="color: #fff;">
                             
                          <span>{% if review.get_total_likes  %}{{review.get_total_likes}} {% else %} 0
                          {% endif %}</span></i>
                          </a>
                          {% endif %}
                      <!-- </button> -->
                      <!-- {{user.custom_user}} -->
                      <button class="btn btn-primary btn-circle text-uppercase">
                       {% if request.user.custom_user in review.dis_likes.users.all %}
                       <a href={% url 'personal_review_vote' review_id=review.pk opinion='dis_like' city=city locality=locality %}><i
                          data-toggle="tooltip" data-placement="bottom" title="Undislike"
                          class="fas fa-thumbs-down " style="color: #fff;">
                       <span>{{review.get_total_dis_likes}}</span></i>
                       </a>
                       {% else %}
                       <a href={% url 'personal_review_vote' review_id=review.pk opinion='dis_like' city=city locality=locality %}><i
                          data-toggle="tooltip" data-placement="bottom" title="dislike"
                          class="fa fa-thumbs-o-down " style="color: #fff;">
                       <span>{% if  review.get_total_dis_likes %}{{review.get_total_dis_likes}}
                       {% else %} 0 {% endif %}</span></i>
                       </a>
                       {% endif %}
                      </button>                                               
                     
                      <a class="btn btn-green btn-circle text-uppercase">
                        
                          {% with ''|center:review.rating as range %}
                          {% for _ in range %}
                          <span class="glyphicon glyphicon-star"></span>
                          {% endfor %}
                          {% endwith %}
                          {% five_minus_rating review.rating as five_minus_rate %}
                          
                          {% with ''|center:five_minus_rate as range %}
                          {% for _ in range %}
                          <span class="glyphicon glyphicon-star-empty"></span>
                          {% endfor %}
                          {% endwith %}
                      
                      </a>
                    </div>
                  </div>
              
              </li>

              
                {% endfor %}

               </ul>
            </div>
          </div>
          <center>
            <a class="btn btn-info" name="button" href="{% url 'sheltown-personalservicecategory-review' service=personalcategory city=city locality=locality %}">View All Reviews</a>
          </center>
        </div>
      </div>
    </div>
</section>


  <!--==========================
    Footer
  ============================-->

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 about-text">
          <h6>About</h6>
          <p class="text-justify">We are a strong team focused on building a network where we could serve you regarding all your needs of having your own shelter.

We are bound to provide you the best possible care and support which helps you meet your demands.

Our core values- “Honesty, Authenticity, Concerns for Customer’s Privacy and Safety” are all closely interwoven into the fibre of our efforts.

We help you to find your match, book rental homes of choice across Indian cities. We assist with "Move-in, Personalised services, Transportation and Appliances & Furniture rentals".

We are with you whenever you are in need!
 </p>
          <p>Accept our warm SheltOwn hug.</p>
        </div>

        <div class="col-xs-6 col-md-3 category-text">
          <ul class="footer-links">
            <li><a href="{% url 'sheltown-aboutus' %}">About Us</a></li>
            <li><a href="{% url 'policy_list' %}">Policy</a></li>
            <li><a href="{% url 'policy_list' %}">FAQs</a></li>
            <li><a href="{% url 'policy_list' %}">SheltOwn+</a></li>
            <li><a href="{% url 'policy_list' %}">SheltOwn Family+</a></li>
            <li><a href="{% url 'sheltown-aboutus' %}#contact-us" class="scrollto">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 quick-text">
          <ul class="footer-links">
            <li><a href="{% url 'sheltown-testimonial' %}">Testimonials</a></li>
            <li><a href="{% url 'sheltown-blog' %}">Blogs</a></li>
            <li><a href="{% url 'join' %}">Join our Team</a></li>

       
            <li><a href="{% url 'becomepartner' %}">List your Property</a></li>
            <li><a href="{% url 'becomepartner' %}">Become our Service Partner</a></li>
                         
            
            <li><a href="#">SiteMap</a></li>
          </ul>
        </div>
        
      </div>
    </div>
  </footer>
  <section id="footer-two">
    <div class="container">
      <a style="color: #2ecab580; cursor: pointer;" onclick="javascript:ShowHide('HiddenDiv')">More info</a>
      <br>
      <div class="mid" id="HiddenDiv" style="display: none;">
        <div class="row" id="more">
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Delhi</a></li>
              <li><a href="#">Room for boys in Delhi</a></li>
              <li><a href="#">Room for girls in Delhi</a></li>
              <li><a href="#">Room for family in Delhi</a></li>
              <li><a href="#">Room for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Delhi</a></li>
              <li><a href="#">PG for boys in Delhi</a></li>
              <li><a href="#">PG for girls in Delhi</a></li>
              <li><a href="#">PG for family in Delhi</a></li>
              <li><a href="#">PG for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Delhi</a></li>
              <li><a href="#">Hostel for boys in Delhi</a></li>
              <li><a href="#">Hostel for girls in Delhi</a></li>
              <li><a href="#">Hostel for family in Delhi</a></li>
              <li><a href="#">Hostel for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Delhi</a></li>
              <li><a href="#">Flats for boys in Delhi</a></li>
              <li><a href="#">Flats for girls in Delhi</a></li>
              <li><a href="#">Flats for family in Delhi</a></li>
              <li><a href="#">Flats for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Delhi</a></li>
              <li><a href="#">Apartments for boys in Delhi</a></li>
              <li><a href="#">Apartments for girls in Delhi</a></li>
              <li><a href="#">Apartments for family in Delhi</a></li>
              <li><a href="#">Apartments for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Delhi</a></li>
              <li><a href="#">House for boys in Delhi</a></li>
              <li><a href="#">House for girls in Delhi</a></li>
              <li><a href="#">House for family in Delhi</a></li>
              <li><a href="#">House for couple in Delhi</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Kota</a></li>
              <li><a href="#">Room for boys in Kota</a></li>
              <li><a href="#">Room for girls in Kota</a></li>
              <li><a href="#">Room for family in Kota</a></li>
              <li><a href="#">Room for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Kota</a></li>
              <li><a href="#">PG for boys in Kota</a></li>
              <li><a href="#">PG for girls in Kota</a></li>
              <li><a href="#">PG for family in Kota</a></li>
              <li><a href="#">PG for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Kota</a></li>
              <li><a href="#">Hostel for boys in Kota</a></li>
              <li><a href="#">Hostel for girls in Kota</a></li>
              <li><a href="#">Hostel for family in Kota</a></li>
              <li><a href="#">Hostel for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Kota</a></li>
              <li><a href="#">Flats for boys in Kota</a></li>
              <li><a href="#">Flats for girls in Kota</a></li>
              <li><a href="#">Flats for family in Kota</a></li>
              <li><a href="#">Flats for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Kota</a></li>
              <li><a href="#">Apartments for boys in Kota</a></li>
              <li><a href="#">Apartments for girls in Kota</a></li>
              <li><a href="#">Apartments for family in Kota</a></li>
              <li><a href="#">Apartments for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Kota</a></li>
              <li><a href="#">House for boys in Kota</a></li>
              <li><a href="#">House for girls in Kota</a></li>
              <li><a href="#">House for family in Kota</a></li>
              <li><a href="#">House for couple in Kota</a></li>
            </ul>
          </div>


          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Varanasi</a></li>
              <li><a href="#">Room for boys in Varanasi</a></li>
              <li><a href="#">Room for girls in Varanasi</a></li>
              <li><a href="#">Room for family in Varanasi</a></li>
              <li><a href="#">Room for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Varanasi</a></li>
              <li><a href="#">PG for boys in Varanasi</a></li>
              <li><a href="#">PG for girls in Varanasi</a></li>
              <li><a href="#">PG for family in Varanasi</a></li>
              <li><a href="#">PG for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Varanasi</a></li>
              <li><a href="#">Hostel for boys in Varanasi</a></li>
              <li><a href="#">Hostel for girls in Varanasi</a></li>
              <li><a href="#">Hostel for family in Varanasi</a></li>
              <li><a href="#">Hostel for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Varanasi</a></li>
              <li><a href="#">Flats for boys in Varanasi</a></li>
              <li><a href="#">Flats for girls in Varanasi</a></li>
              <li><a href="#">Flats for family in Varanasi</a></li>
              <li><a href="#">Flats for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Varanasi</a></li>
              <li><a href="#">Apartments for boys in Varanasi</a></li>
              <li><a href="#">Apartments for girls in Varanasi</a></li>
              <li><a href="#">Apartments for family in Varanasi</a></li>
              <li><a href="#">Apartments for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Varanasi</a></li>
              <li><a href="#">House for boys in Varanasi</a></li>
              <li><a href="#">House for girls in Varanasi</a></li>
              <li><a href="#">House for family in Varanasi</a></li>
              <li><a href="#">House for couple in Varanasi</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Patna</a></li>
              <li><a href="#">Room for boys in Patna</a></li>
              <li><a href="#">Room for girls in Patna</a></li>
              <li><a href="#">Room for family in Patna</a></li>
              <li><a href="#">Room for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Patna</a></li>
              <li><a href="#">PG for boys in Patna</a></li>
              <li><a href="#">PG for girls in Patna</a></li>
              <li><a href="#">PG for family in Patna</a></li>
              <li><a href="#">PG for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Patna</a></li>
              <li><a href="#">Hostel for boys in Patna</a></li>
              <li><a href="#">Hostel for girls in Patna</a></li>
              <li><a href="#">Hostel for family in Patna</a></li>
              <li><a href="#">Hostel for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Patna</a></li>
              <li><a href="#">Flats for boys in Patna</a></li>
              <li><a href="#">Flats for girls in Patna</a></li>
              <li><a href="#">Flats for family in Patna</a></li>
              <li><a href="#">Flats for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Patna</a></li>
              <li><a href="#">Apartments for boys in Patna</a></li>
              <li><a href="#">Apartments for girls in Patna</a></li>
              <li><a href="#">Apartments for family in Patna</a></li>
              <li><a href="#">Apartments for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Patna</a></li>
              <li><a href="#">House for boys in Patna</a></li>
              <li><a href="#">House for girls in Patna</a></li>
              <li><a href="#">House for family in Patna</a></li>
              <li><a href="#">House for couple in Patna</a></li>
            </ul>
          </div>
          <br>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Delhi</a></li>
              <li><a href="#">Plumber in Delhi</a></li>
              <li><a href="#">Repair & Maintenance in Delhi</a></li>
              <li><a href="#">Home Tuition in Delhi</a></li>
              <li><a href="#">Newspaper-Wala in Delhi</a></li>
              <li><a href="#">Salon in Delhi</a></li>
              <li><a href="#">Hair-Cut in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Varanasi</a></li>
              <li><a href="#">Plumber in Varanasi</a></li>
              <li><a href="#">Repair & Maintenance in Varanasi</a></li>
              <li><a href="#">Home Tuition in Varanasi</a></li>
              <li><a href="#">Newspaper-Wala in Varanasi</a></li>
              <li><a href="#">Salon in Varanasi</a></li>
              <li><a href="#">Hair-Cut in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Patna</a></li>
              <li><a href="#">Plumber in Patna</a></li>
              <li><a href="#">Repair & Maintenance in Patna</a></li>
              <li><a href="#">Home Tuition in Patna</a></li>
              <li><a href="#">Newspaper-Wala in Patna</a></li>
              <li><a href="#">Salon in Patna</a></li>
              <li><a href="#">Hair-Cut in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Kota</a></li>
              <li><a href="#">Plumber in Kota</a></li>
              <li><a href="#">Repair & Maintenance in Kota</a></li>
              <li><a href="#">Home Tuition in Kota</a></li>
              <li><a href="#">Newspaper-Wala in Kota</a></li>
              <li><a href="#">Salon in Kota</a></li>
              <li><a href="#">Hair-Cut in Kota</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <br>
          <a href="mailto:info@sheltown.com">info@sheltown.com</a>
          <br>
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved

          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <br>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/sheltown.india" class="fa fa-facebook"></a></li>
            <li><a class="twitter" href="https://twitter.com/OwnShelt?s=20"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="https://instagram.com/sheltown.india"><i class="fa fa-instagram"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/company/sheltown"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section><!-- #footer -->


  <!--  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
  <script type="text/javascript">
    // <![CDATA[
    function ShowHide(divId) {
      var atxt = document.getElementById("atext");
      if (document.getElementById(divId).style.display == 'none') {
        document.getElementById(divId).style.display = 'block';
      } else {
        document.getElementById(divId).style.display = 'none';
      }
    }
    // ]]>
  </script>

  <!-- JavaScript Libraries -->
  <script src="{% static 'sheltownapp/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/magnific-popup/magnific-popup.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/sticky/sticky.js' %}"></script>


  <!-- Optional JavaScript -->
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict'

      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation')

        // Loop over them and prevent submission
        Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.classList.add('was-validated')
          }, false)
        })
      }, false)
    }())
  </script>
  <script src="{% static 'sheltownapp/js/main.js' %}"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>



 

  
    <!-- Contact Form JavaScript File -->
    <script src="{% static 'sheltownapp/contactform/contactform.js' %}"></script>

    <!-- Template Main Javascript File -->
    <script src="{% static 'sheltownapp/js/main.js' %}"></script>
<script>
            document
                .getElementById('target')
                .addEventListener('change', function () {
                    'use strict';
                    var vis = document.querySelector('.vis'),   
                        target = document.getElementById(this.value);
                    if (vis !== null) {
                        vis.className = 'inv';
                    }
                    if (target !== null ) {
                        target.className = 'vis';
                    }
            });
        </script>
<script>
            var x = document.getElementsByClassName("target1");
            for (i = 0; i < x.length; i++) {
                x[i].addEventListener('change', function () {
                    'use strict';
                    var vis = document.querySelector('.vis'),   
                        target1 = document.getElementById(this.value);
                    if (vis !== null) {
                        vis.className = 'inv2';
                    }
                    if (target1 !== null ) {
                        target1.className = 'vis';
                    }
            });
                } 
        </script>
<script>
            // document
            //     .querySelector('.target2 :visible')
            //     .addEventListener('change', function () {
            //         'use strict';
            //         var vis = document.querySelector('.vis'),   
            //             target2 = document.getElementById(this.value);
            //         if (vis !== null) {
            //             vis.className = 'inv2';
            //         }
            //         if (target2 !== null ) {
            //             target2.className = 'vis';
            //         }
            // });
            var x = document.getElementsByClassName("target2");
            for (i = 0; i < x.length; i++) {
                x[i].addEventListener('change', function () {
                    'use strict';
                    var vis = document.querySelector('.vis'),   
                        target2 = document.getElementById(this.value);
                    if (vis !== null) {
                        vis.className = 'inv2';
                    }
                    if (target2 !== null ) {
                        target2.className = 'vis';
                    }
            });
                } 
            
        </script>


<script>
function openCity(evt, cityName) {
  var i, container_revmain, tablinks;
  container_revmain = document.getElementsByClassName("container_revmain");
  for (i = 0; i < container_revmain.length; i++) {
    container_revmain[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>


  <script type="text/javascript">
document.addEventListener("wheel", function(event) {
  if (document.activeElement.type === "number" &&
    document.activeElement.classList.contains("noscroll")) {
    document.activeElement.blur();
  }
});

</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js'></script>
<script id="rendered-js">
$('.responsive').slick({
  dots: true,
  prevArrow: $('.prev'),
  nextArrow: $('.next'),
  infinite: false,
  speed: 300,
  slidesToShow: 1,
  slidesToScroll: 1,
  responsive: [
  {
    breakpoint: 1024,
    settings: {
      slidesToShow: 3,
      slidesToScroll: 3,
      infinite: true,
      dots: true } },


  {
    breakpoint: 600,
    settings: {
      slidesToShow: 1,
      slidesToScroll: 1 } },


  {
    breakpoint: 480,
    settings: {
      slidesToShow: 1,
      slidesToScroll: 1 } }


  // You can unslick at a given breakpoint now by adding:
  // settings: "unslick"
  // instead of a settings object
  ] });
//# sourceURL=pen.js
    </script>
<script>
// When the user clicks on div, open the popup
function popupedufem() {
  var popup = document.getElementById("myPopupfem");
  popup.classList.toggle("show");
}
</script>
<script>
  function calc() {
  var tots = 0;
  $(".issuename:checked:visible").each(function() {
    var price = $(this).attr("data-price");
    tots += parseFloat(price);
  });
  $('.tots').text(tots.toFixed(2));
  $('.tots').val(tots.toFixed(2));   
}


$(function() {
  $(document).on("change", ".issuename , .target1, .target2 , #target", calc);
  calc();
});
</script>
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API = Tawk_API || {},
    Tawk_LoadStart = new Date();
  (function() {
    var s1 = document.createElement("script"),
      s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = 'https://embed.tawk.to/5ee991aa9e5f69442290b6fb/default';
    s1.charset = 'UTF-8';
    s1.setAttribute('crossorigin', '*');
    s0.parentNode.insertBefore(s1, s0);
  })();
</script>
</body>

</html>
