{% load static %}
{% load security_deposit %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SheltOwn</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'sheltownapp/img/favicon.png' %}" rel="icon">
  <link href="{% static 'sheltownapp/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  
  <!-- Libraries CSS Files -->
  <link href="{% static 'sheltownapp/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'sheltownapp/css/style2.css' %}">
  <link href="{% static 'sheltownapp/assets/css/signup-modal.css' %}" rel="stylesheet">
  <style>
       /** page layout **/
       main {
      display: grid;
      grid-template-columns: 18% 82%;
      max-width: 100em;
      width: 100%;

    }

    section {
      padding-right: 2.5em;
    }

* {box-sizing: border-box}
body {height:700px;overflow-x:hidden;}



/* Style the tab */
.tab {
  float: left;
  border: 1px solid #2ECAB6;
  background-color:#fff ;
  height:700px;
}


/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ffe8d6;
}

/* Create an active/current "tab button" class */
.tab button.active {
 background-color: #f5f5f5;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #2ECAB6;
  background-color:#FFCA0B fade ;
  border-left: none;
  height: 700px;
  overflow-x:hidden;
}

.column_btn {
  float: left;
  width: 50%;
  margin-bottom: 20px;
  padding: 0 2px;
}


.column {
  float: left;
  width: 25%;
  margin-bottom: 10px;
  padding: 0 8px;
}

.card {
  box-shadow:10px 10px 15px rgba(255, 146, 107, 0.7);
  margin: 8px;
  border-radius:6px;
  z-index:1;
  width:100%;
  background-color: #f0f0f0;
}


.container {
  padding: 0 15px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color:#000;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 7px;
  font-size: 12px;
  text-transform: capitalize;
}
#HomeCare p{
  text-transform:uppercase;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  margin-bottom:10px;
  border-radius:10px;
  color: black;
  background-color: #FFCA0B;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #fff;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
.column_btn {
    width: 100%;
    display: block;
  }

  .tab button {
display: block;
  background-color: inherit;
  color: black;
  padding: 22px 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 9px;
font-weight: bold;
}
}


.container_work{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  padding:8px;
  border-radius:6px;
  width:360px;
  z-index:1;
  background-color: #fff;
  border: 1px solid #ff971d;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column_work {
  float: left;
  padding: 10px;
  padding: 0 8px;
}
.left{
width:10%;
}
.right{
float:left;
}
hr.new1 {
  border-top: 1px solid #ff971d;
  width:70%;
}

.demo-problem, .demo-solution {
  font-size: 1em;
  color:#ff9719;
}

.demo-solution--flexbox {
  display: flex;
  align-items: center;

}
.short{

}
@media screen and (max-width: 650px) {
  .short{
    font-size: 20px;
  }
  }

@media screen and (max-width: 450px) {
  .tab{
    width:140%;
  }
  .tabcontent{
    padding-left:30px;
  }
}
</style>
</head>

<body id="body" onload="myFunction()">
        <!--==========================
         Header
       ============================-->
       <header id="header">
        <div id="logo" class="pull-left">
          <a href="{% url 'sheltown-emptyredirect' %}">
            <img src="{% static 'sheltownapp/img/logo.png' %}" alt="logo">
          </a>
        </div>
     
     <!-- <div id="logo" class="pull-left" style="margin-top:8px;">
           <a href="{% url 'sheltown-emptyredirect' %}">
           <p >SheltOwn</p>
           </a>
         </div>
           </div> -->
     
           <nav id="nav-menu-container">
             <ul class="nav-menu">
              
            {% if user.is_authenticated %}
            {% ifequal user.custom_user.usertype "User" %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'sheltown-personalservice' 'DELHI' 'NCR' %}"><i class="fa fa-star" aria-hidden="true" ></i> &nbsp;Personalised</a></li>
            <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true"></i> &nbsp;Rental</a></li>
            <li><a href="{% url 'myaccount-userpartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;My Account</a></li>

            {% endifequal %}

            {% ifequal user.custom_user.usertype "Property Owner" %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'myaccount-propertypartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;My Account</a></li>
            {% endifequal %}

            {% ifequal user.custom_user.usertype "Service Provider" %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'myaccount-servicepartner'  %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;My Account</a></li>
            {% endifequal %}  

            {% else %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'sheltown-personalservice' 'DELHI' 'NCR' %}"><i class="fa fa-star" aria-hidden="true" ></i> &nbsp;Personalised</a></li>
            <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true" ></i> &nbsp;Rental</a></li>
     
     
                
            <li><a href="{% url 'sheltown-index' 'openmodal' %}"><i class="fa fa-user-plus" aria-hidden="true" ></i> &nbsp;Sign up</a></li>
            <li><a href="{% url 'login' %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;Log in</a></li>
            {% endif %}
          </ul>
           </nav><!-- #nav-menu-container -->
         </div>
       </header><!-- #header -->
  
 <main>
<div class="tab" style="background-color:#fff;">
 {% for cat in personalcategory %}
 {% if cat.services %}
 <button class="tablinks" onclick="openCity(event, '{% removespace cat.name %}')" id="defaultOpen">{{ cat.name }}</button>
 {% endif %}
 {% endfor %}   

<!-- <button class="tablinks" onclick="openCity(event, 'HomeCare')" id="defaultOpen">Home Care</button> -->
<!-- <button class="tablinks" onclick="openCity(event, 'Repair')" id="defaultOpen">Repair & Maintanance</button> -->
<!-- <button class="tablinks" onclick="openCity(event, 'EduSmart')" id="defaultOpen">EduSmart</button> -->
<!-----<button class="tablinks" onclick="openCity(event, 'PersonalCare')" id="defaultOpen">Others</button> ------>
</div>
{% for cat in personalcategory %}
 {% if cat.services %}
   <section id="{% removespace cat.name %}" class="tabcontent" style="padding-right: 30px;">
  
    <div class="row">
        {% for service in cat.services.all %}
      <div class="column">
        <div class="card">
          <img src="{{ service.image.url }}" alt="{{service.name}} service" style="width:100%;height: 170px;border-radius: 6px 6px 0px 0px ;">
          <div class="container">
             <p class="title">{{service.name}}</p>
              <a href="{{ cat.name }}" class="button">Book Now</a>
            </div>
        </div>
      </div>
        {% endfor %}

    
    </div>
    

    </section>
 {%endif %}
{% endfor %} 




</main>



<!--==========================
    Footer
  ============================-->

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 about-text">
          <h6>About</h6>
          <p class="text-justify">We are a strong team focused on building a network where we could serve you regarding all your needs of having your own shelter.

We are bound to provide you the best possible care and support which helps you meet your demands.

Our core values- “Honesty, Authenticity, Concerns for Customer’s Privacy and Safety” are all closely interwoven into the fibre of our efforts.

We help you to find your match, book rental homes of choice across Indian cities. We assist with "Move-in, Personalised services, Transportation and Appliances & Furniture rentals".

We are with you whenever you are in need!
 </p>
          <p>Accept our warm SheltOwn hug.</p>
        </div>

        <div class="col-xs-6 col-md-3 category-text">
          <ul class="footer-links">
            <li><a href="{% url 'sheltown-aboutus' %}">About Us</a></li>
            <li><a href="{% url 'policy_list' %}">Policy</a></li>
            <li><a href="{% url 'policy_list' %}">FAQs</a></li>
            <li><a href="{% url 'policy_list' %}">SheltOwn+</a></li>
            <li><a href="{% url 'policy_list' %}">SheltOwn Family+</a></li>
            <li><a href="{% url 'sheltown-aboutus' %}#contact-us" class="scrollto">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 quick-text">
          <ul class="footer-links">
            <li><a href="{% url 'sheltown-testimonial' %}">Testimonials</a></li>
            <li><a href="{% url 'sheltown-blog' %}">Blogs</a></li>
            <li><a href="{% url 'join' %}">Join our Team</a></li>

       
            <li><a href="{% url 'becomepartner' %}">List your Property</a></li>
            <li><a href="{% url 'becomepartner' %}">Become our Service Partner</a></li>
                         
            
            <li><a href="#">SiteMap</a></li>
          </ul>
        </div>

      </div>
    </div>
  </footer>
  <section id="footer-two">
    <div class="container">
      <a style="color: #2ecab580; cursor: pointer;" onclick="javascript:ShowHide('HiddenDiv')">More info</a>
      <br>
      <div class="mid" id="HiddenDiv" style="display: none;">
        <div class="row" id="more">
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Delhi</a></li>
              <li><a href="#">Room for boys in Delhi</a></li>
              <li><a href="#">Room for girls in Delhi</a></li>
              <li><a href="#">Room for family in Delhi</a></li>
              <li><a href="#">Room for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Delhi</a></li>
              <li><a href="#">PG for boys in Delhi</a></li>
              <li><a href="#">PG for girls in Delhi</a></li>
              <li><a href="#">PG for family in Delhi</a></li>
              <li><a href="#">PG for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Delhi</a></li>
              <li><a href="#">Hostel for boys in Delhi</a></li>
              <li><a href="#">Hostel for girls in Delhi</a></li>
              <li><a href="#">Hostel for family in Delhi</a></li>
              <li><a href="#">Hostel for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Delhi</a></li>
              <li><a href="#">Flats for boys in Delhi</a></li>
              <li><a href="#">Flats for girls in Delhi</a></li>
              <li><a href="#">Flats for family in Delhi</a></li>
              <li><a href="#">Flats for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Delhi</a></li>
              <li><a href="#">Apartments for boys in Delhi</a></li>
              <li><a href="#">Apartments for girls in Delhi</a></li>
              <li><a href="#">Apartments for family in Delhi</a></li>
              <li><a href="#">Apartments for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Delhi</a></li>
              <li><a href="#">House for boys in Delhi</a></li>
              <li><a href="#">House for girls in Delhi</a></li>
              <li><a href="#">House for family in Delhi</a></li>
              <li><a href="#">House for couple in Delhi</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Kota</a></li>
              <li><a href="#">Room for boys in Kota</a></li>
              <li><a href="#">Room for girls in Kota</a></li>
              <li><a href="#">Room for family in Kota</a></li>
              <li><a href="#">Room for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Kota</a></li>
              <li><a href="#">PG for boys in Kota</a></li>
              <li><a href="#">PG for girls in Kota</a></li>
              <li><a href="#">PG for family in Kota</a></li>
              <li><a href="#">PG for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Kota</a></li>
              <li><a href="#">Hostel for boys in Kota</a></li>
              <li><a href="#">Hostel for girls in Kota</a></li>
              <li><a href="#">Hostel for family in Kota</a></li>
              <li><a href="#">Hostel for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Kota</a></li>
              <li><a href="#">Flats for boys in Kota</a></li>
              <li><a href="#">Flats for girls in Kota</a></li>
              <li><a href="#">Flats for family in Kota</a></li>
              <li><a href="#">Flats for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Kota</a></li>
              <li><a href="#">Apartments for boys in Kota</a></li>
              <li><a href="#">Apartments for girls in Kota</a></li>
              <li><a href="#">Apartments for family in Kota</a></li>
              <li><a href="#">Apartments for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Kota</a></li>
              <li><a href="#">House for boys in Kota</a></li>
              <li><a href="#">House for girls in Kota</a></li>
              <li><a href="#">House for family in Kota</a></li>
              <li><a href="#">House for couple in Kota</a></li>
            </ul>
          </div>


          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Varanasi</a></li>
              <li><a href="#">Room for boys in Varanasi</a></li>
              <li><a href="#">Room for girls in Varanasi</a></li>
              <li><a href="#">Room for family in Varanasi</a></li>
              <li><a href="#">Room for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Varanasi</a></li>
              <li><a href="#">PG for boys in Varanasi</a></li>
              <li><a href="#">PG for girls in Varanasi</a></li>
              <li><a href="#">PG for family in Varanasi</a></li>
              <li><a href="#">PG for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Varanasi</a></li>
              <li><a href="#">Hostel for boys in Varanasi</a></li>
              <li><a href="#">Hostel for girls in Varanasi</a></li>
              <li><a href="#">Hostel for family in Varanasi</a></li>
              <li><a href="#">Hostel for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Varanasi</a></li>
              <li><a href="#">Flats for boys in Varanasi</a></li>
              <li><a href="#">Flats for girls in Varanasi</a></li>
              <li><a href="#">Flats for family in Varanasi</a></li>
              <li><a href="#">Flats for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Varanasi</a></li>
              <li><a href="#">Apartments for boys in Varanasi</a></li>
              <li><a href="#">Apartments for girls in Varanasi</a></li>
              <li><a href="#">Apartments for family in Varanasi</a></li>
              <li><a href="#">Apartments for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Varanasi</a></li>
              <li><a href="#">House for boys in Varanasi</a></li>
              <li><a href="#">House for girls in Varanasi</a></li>
              <li><a href="#">House for family in Varanasi</a></li>
              <li><a href="#">House for couple in Varanasi</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Patna</a></li>
              <li><a href="#">Room for boys in Patna</a></li>
              <li><a href="#">Room for girls in Patna</a></li>
              <li><a href="#">Room for family in Patna</a></li>
              <li><a href="#">Room for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Patna</a></li>
              <li><a href="#">PG for boys in Patna</a></li>
              <li><a href="#">PG for girls in Patna</a></li>
              <li><a href="#">PG for family in Patna</a></li>
              <li><a href="#">PG for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Patna</a></li>
              <li><a href="#">Hostel for boys in Patna</a></li>
              <li><a href="#">Hostel for girls in Patna</a></li>
              <li><a href="#">Hostel for family in Patna</a></li>
              <li><a href="#">Hostel for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Patna</a></li>
              <li><a href="#">Flats for boys in Patna</a></li>
              <li><a href="#">Flats for girls in Patna</a></li>
              <li><a href="#">Flats for family in Patna</a></li>
              <li><a href="#">Flats for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Patna</a></li>
              <li><a href="#">Apartments for boys in Patna</a></li>
              <li><a href="#">Apartments for girls in Patna</a></li>
              <li><a href="#">Apartments for family in Patna</a></li>
              <li><a href="#">Apartments for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Patna</a></li>
              <li><a href="#">House for boys in Patna</a></li>
              <li><a href="#">House for girls in Patna</a></li>
              <li><a href="#">House for family in Patna</a></li>
              <li><a href="#">House for couple in Patna</a></li>
            </ul>
          </div>
          <br>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Delhi</a></li>
              <li><a href="#">Plumber in Delhi</a></li>
              <li><a href="#">Repair & Maintenance in Delhi</a></li>
              <li><a href="#">Home Tuition in Delhi</a></li>
              <li><a href="#">Newspaper-Wala in Delhi</a></li>
              <li><a href="#">Salon in Delhi</a></li>
              <li><a href="#">Hair-Cut in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Varanasi</a></li>
              <li><a href="#">Plumber in Varanasi</a></li>
              <li><a href="#">Repair & Maintenance in Varanasi</a></li>
              <li><a href="#">Home Tuition in Varanasi</a></li>
              <li><a href="#">Newspaper-Wala in Varanasi</a></li>
              <li><a href="#">Salon in Varanasi</a></li>
              <li><a href="#">Hair-Cut in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Patna</a></li>
              <li><a href="#">Plumber in Patna</a></li>
              <li><a href="#">Repair & Maintenance in Patna</a></li>
              <li><a href="#">Home Tuition in Patna</a></li>
              <li><a href="#">Newspaper-Wala in Patna</a></li>
              <li><a href="#">Salon in Patna</a></li>
              <li><a href="#">Hair-Cut in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Kota</a></li>
              <li><a href="#">Plumber in Kota</a></li>
              <li><a href="#">Repair & Maintenance in Kota</a></li>
              <li><a href="#">Home Tuition in Kota</a></li>
              <li><a href="#">Newspaper-Wala in Kota</a></li>
              <li><a href="#">Salon in Kota</a></li>
              <li><a href="#">Hair-Cut in Kota</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <br>
          <a href="mailto:info@sheltown.com">info@sheltown.com</a>
          <br>
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved

          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <br>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/sheltown.india" class="fa fa-facebook"></a></li>
            <li><a class="twitter" href="https://twitter.com/OwnShelt?s=20"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="https://instagram.com/sheltown.india"><i class="fa fa-instagram"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/company/sheltown"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section><!-- #footer -->


  <!--  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
  <script type="text/javascript">
    // <![CDATA[
    function ShowHide(divId) {
      var atxt = document.getElementById("atext");
      if (document.getElementById(divId).style.display == 'none') {
        document.getElementById(divId).style.display = 'block';
      } else {
        document.getElementById(divId).style.display = 'none';
      }
    }
    // ]]>
  </script>

<!--Modal-->
<div class="modal fade container-fluid" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Create Account</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <form id="first">
                      <div class="row" style="margin-top: 5px; margin-bottom: 15px;"> 
                          <div class="col-sm-3"><input type="radio" name="user" checked><small>&nbspUser</small></div>
                          <div class="col-sm-4"><input type="radio" name="user"><small>&nbspProperty Owner</small></div>
                          <div class="col-sm-4"><input type="radio" name="user"><small>&nbspService Provider</small></div>
                      </div>
                      Enter your Phone Number<br>
                      <input required type="tel" placeholder="+91" pattern="[7-9]{1}[0-9]{9}" maxlength="10" minlength="10" title="Enter a valid phone number" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"><br>
                      <small>Your information is safe with us</small>
                      <br><br>
                      <input required type="checkbox">&nbspBy continuing, you agree to our <a href="policy-page.html">Terms and Conditions</a>
                      <br>
                      <center><input type="submit" class="btn btn-success" value="Send OTP" style="margin: 5px 0;"></center>
                      <center><small>Already have an account? <a href="login-user.html">Log In now</a></small></center>
                  </form>
              </div>
              <div class="form-group">
                  <form id="second" style="display:none;">
                      <p>Phone Number: +91-1234567890 <button type="button" class="btn btn-secondary" id="back" style="float: right;">Change Number</button></p>
                      <br>
                      Enter OTP
                      <input required type="text" placeholder="xxxxxx" minlength="6" maxlength="6" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;">
                      <center><input type="submit" class="btn btn-success" value="Verify"></center>
                      <br>
                      <p>xx:xx time left<button type="button" class="btn btn-warning" style="float: right; padding: 3px;"><small>Resend OTP</small></button></p>
                  </form>
              </div>
              <div class="form-group">
                  <form id="third" style="display: none;">
                      <p>Verified Phone Number: +91 1234567890</p>
                      <table style="width: 100%">
                          <tr>
                              <td>Name&nbsp</td>
                              <td><input required type="text" placeholder="Name" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"></td>
                          </tr>
                          <tr>
                              <td>Email&nbsp</td>
                              <td><input required type="email" placeholder="e-mail" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"></td>
                          </tr>
                          <tr>
                              <td>Password&nbsp</td>
                              <td><input required type="password" placeholder="Password" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"></td>
                          </tr>
                      </table>
                      <br>
                      <center><input type="submit" class="btn btn-success" value="Create Account"></center>
                  </form>
              </div>
              <div class="form-group">
                  <form id="fourth" style="display:none;">
                      <hr>
                      <div class="google-btn" style="margin: 0 auto;">
                          <div class="google-icon-wrapper">
                              <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                          </div>
                          <a href="#" class="btn-text"><b>Sign in with google</b></a>
                      </div>
                  </form>
              </div>
              <div class="form-group"> 
              <hr>
              <form id="fifth">
                <div class="row listbox" style="margin: 0 auto;">
                  <div class="col-sm-6"><i class="fa fa-check"></i> Safety Guaranteed</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> No Brokerage</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> Ultimate Privacy</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> Good Ambience</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> Affordable</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> Laissez-faire Policy</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> SheltOwn Verified</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> All-at-Home Services</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> Round-the-Clock Assistance</div>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>


<script>
$('#first').submit(function(e){
  $('#first').hide(); 
  $('#second').show(); 
  $('#third').hide(); 
  $('#fourth').hide(); 
  e.preventDefault();
  // Or with: return false;        
});
$('#second').submit(function(e){
  $('#first').hide(); 
  $('#second').hide();
  $('#third').show(); 
   $('#fourth').show(); 
   $('#fifth').hide();
  e.preventDefault();
  // Or with: return false;        
});

$('#back').click(function(e){
  $('#first').show(); 
  $('#second').hide(); 
  $('#third').hide(); 
  $('#fourth').hide(); 
  e.preventDefault();
  // Or with: return false;        
});
</script>

<!-- Optional JavaScript -->
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict'

    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation')

      // Loop over them and prevent submission
      Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
    }, false)
  }())
</script>


<!--  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
<script type="text/javascript">
  // <![CDATA[
  function ShowHide(divId) {
    var atxt = document.getElementById("atext");
    if (document.getElementById(divId).style.display == 'none') {
      document.getElementById(divId).style.display = 'block';
    } else {
      document.getElementById(divId).style.display = 'none';
    }
  }
  // ]]>
</script>

  <!-- JavaScript Libraries -->
  <script src="{% static 'sheltownapp/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/sticky/sticky.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/magnific-popup/magnific-popup.min.js' %}"></script>


  <script src="{% static 'sheltownapp/js/main.js' %}"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

   
    <!-- Template Main Javascript File -->
    
  <script src="{% static 'sheltownapp/js/main.js' %}"></script>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
    <script >
     var hash = document.location.hash;
var prefix = "tab_";
if (hash) {
    $('.tablinks a[href="'+hash.replace(prefix,"")+'"]').tab('show');
} 

// Change hash for page-reload
$('.tablinks a').on('shown', function (e) {
    window.location.hash = e.target.hash.replace("#", "#" + prefix);
});
    </script>
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function() {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5ee991aa9e5f69442290b6fb/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>    
</body>

</html>