<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="post_form" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% for hidden in postForm.hidden_fields %}
            {{ hidden }}
        {% endfor %}
    
        {% for field in postForm %}
        {{ field.name }}  {{ field }} <br />
        {% endfor %}

        {% for field in localityForm %}
            {{ field.name }}  {{ field }} <br />
        {% endfor %}

        <!-- {{ nearbyForm.management_form }} -->
        {% for form in nearbyForm %}
             {{ form }} <br />
        {% endfor %}
    
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form }}
        {% endfor %}
    
    
        <input type="submit" name="submit" value="Submit" />
    </form>
</body>
</html>