{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SheltOwn</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'sheltownapp/img/favicon.png' %}" rel="icon">
  <link href="{% static 'sheltownapp/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <!-- Libraries CSS Files -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="{% static 'sheltownapp/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <style>
    .container{
      margin-top:40px;
      margin-bottom:40px;
    }
    .heading{
      color:#ff971d;
      font-weight:bold;
    }
    label{
      color:black;
      font-weight:bold;
    }
    label[for='person_img']{
      margin-bottom:0px;
    }
    label[for='identity']{
      margin-bottom:0px;
    }
    label[for='cancel_cheque']{
      margin-bottom:0px;
    }
    .classlimit{
      margin:0px;
      padding:0px; 
    }
    span{
      color:red;
    }
    #person_img_show{
      width:300px;
      height:200px;
    }
    #identity_show{
      width:300px;
      height:200px;
    }
    #cancel_cheque_show{
      width:300px;
      height:200px;
    }
    .submit-btn{
      padding:10px 40px;
    }
    @media (max-width:450px) {
      .heading{
        font-size:25px;
      }
    }
    ul#role li{
  display: inline-block;
  }
  ul#role{
    display : inline-block;
  }
    .custom-user-type-radio-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}  
  </style>
</head>
<body>

  <div class="container">
    <h2 class="heading">Complete Property Partner Sign up Process</h2>
    <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
      {% csrf_token %}
      {{ form.non_field_errors }}

      {{ form.source.errors }}
      {{ form.source }}
      <div class="form-row my-4">
        <div class="col-sm-6">
          <!-- <label>Enter First Name</label> -->
          {{ form.f_name.label_tag }}
          <!-- <input type="text" class="form-control" id="fname" placeholder="" name="fname" required> -->
          {{ form.f_name }}
          {{ form.f_name.errors }}
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">
            Please fill out this field.
            
          </div>
        </div>
        <div class="col-sm-6">
          <!-- <label>Enter First Name</label> -->
          {{ form.l_name.label_tag }}
          <!-- <input type="text" class="form-control" id="fname" placeholder="" name="fname" required> -->
          {{ form.l_name }}
          {{ form.l_name.errors }}
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">
            Please fill out this field.
            
          </div>
      </div>
      </div>

      <div class="form-group my-4">
        {{ form.role.label_tag }}
        <!-- <label>I am :</label> -->
        <!-- <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="owner" name="persontype" value="owner" required>
          <label class="custom-control-label" for="owner">Owner</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="manager" name="persontype" value="manager">
          <label class="custom-control-label" for="manager">Manager</label>
        </div> -->
        {{ form.role }}
        {{ form.role.errors }}
        <div class="invalid-feedback">Please select one to continue.</div>
      </div>

      <div class="form-group my-4">
        <!-- <label for="person_img">Select your image</label> -->
        {{ form.user_image.label_tag }}
        <div><span class="filelimit"><small>(Max size allowed is 10KB)</small></span></div>
        <br/>
        <!-- <input type="file" id="person_img" name="person_img" accept="image/*" required> -->
        {{ form.user_image }}
        {{ form.user_image.errors }}
        <img id="person_img_show" src="#" alt="your image" />
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

      <div  class="form-group my-4">
        <!-- <label>Date of Birth</label> -->
        {{ form.dob.label_tag }}
        <!-- <input type="date" class="form-control" id="dob" name="dob" required>  -->
        {{ form.dob }}
        {{ form.dob.errors }}    
        
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
     </div>

     <div class="form-group my-4">
      <!-- <label for="phone">Whatsapp number:</label> -->
      {{ form.whatsapp_no.label_tag }}
      <!-- <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{10}" required>  -->
      {{ form.whatsapp_no }}
      {{ form.whatsapp_no.errors }}
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
   </div>

   <div class="form-row my-4">
    <div class="col-sm-6">
      <!-- <label for="inputAddress">Address 1</label> -->
      {{ form.address_1.label_tag }}
      <!-- <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" required> -->
      {{ form.address_1 }}
      {{ form.address_1.errors }}
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="col-sm-6">
      <!-- <label for="inputAddress">Address 1</label> -->
      {{ form.address_2.label_tag }}
      <!-- <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" required> -->
      {{ form.address_2 }}
      {{ form.address_2.errors }}
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
  </div>

  <div class="form-row my-4">
    <div class="col-sm-4">
      <!-- <label for="inputState">State</label>
      <select id="inputState" class="form-control" required>
        <option selected disabled>Choose...</option>
        <option>Andhra Pradesh</option>
        <option>Arunachal Pradesh</option>
        <option>Assam</option>
        <option>Bihar</option>
        <option>Chhattisgarh</option>
        <option>Goa</option>
        <option>Gujrat</option>
        <option>Haryana</option>
        <option>Himachal Pradesh</option>
        <option>Jharkhand</option>
        <option>Karnataka</option>
        <option>Kerala</option>
        <option>Madhya Pradesh</option>
        <option>Maharashtra</option>
        <option>Manipur</option>
        <option>Meghalaya</option>
        <option>Mizoram</option>
        <option>Nagaland</option>
        <option>Odisha</option>
        <option>Sikkim</option>
        <option>Tamil Nadu</option>
        <option>Telangana</option>
        <option>Tripura</option>
        <option>Uttar Pradesh</option>
        <option>Uttarakhand</option>
        <option>West Bengal</option>
      </select>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please select one option.</div> -->
      <!-- <label for="inputCity">State</label> -->
      <!-- <input type="text" class="form-control" id="inputCity" required> -->
      
      {{ form.state.label_tag }}
      {{ form.state }}
      {{ form.state.errors }}
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>        
    </div>
    <div class="col-sm-4">
      {{ form.city_live.label_tag }}
      {{ form.city_live }}
      {{ form.city_live.errors }}          
      <!-- <label for="inputCity">City</label> -->
      <!-- <input type="text" class="form-control" id="inputCity" required> -->
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="col-sm-4">
      {{ form.zip.label_tag }}
      {{ form.zip }}
      {{ form.zip.errors }}          
      <!-- <label for="inputZip">Zip</label> -->
      <!-- <input type="text" class="form-control" id="inputZip" required> -->
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
  </div>

  <div class="form-group my-4">
    <!-- <label for="indentiy">Identity Proof(Aadhaar Card/ PAN Card/ Driving License)</label> -->
    {{ form.identity_proof.label_tag }}

    <div><span class="filelimit"><small>(Max size allowed is 400KB)</small></span></div>
    <br/>
    <!-- <input type="file" id="identity" name="indentiy" accept="image/*" required> -->
    {{ form.identity_proof }}
    {{ form.identity_proof.errors }}
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
    <img id="identity_show" src="#" alt=" image" />
  </div>

  <div class="form-group my-4">
    <!-- <label for="account">Bank Acoount Number:</label> -->
    <!-- <input type="text" class="form-control" id="account" name="account" required>  -->
    {{ form.bank_acno.label_tag }}
    {{ form.bank_acno }}
    {{ form.bank_acno.errors }}         
    
    
    
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
 </div>

 <div class="form-group my-4">
  <!-- <label for="cancel_cheque">Image of Cancelled Cheque</label> -->
  {{ form.cancelled_cheque.label_tag }}
  <div><span class="filelimit"><small>(Max size allowed is 100KB)</small></span></div>
  <br/>
  <!-- <input type="file" id="cancel_cheque" name="cancel_cheque" accept="image/*" required> -->
  {{ form.cancelled_cheque }}
  {{ form.cancelled_cheque.errors }}
  <img id="cancel_cheque_show" src="#" alt="image" />
  <div class="valid-feedback">Valid.</div>
  <div class="invalid-feedback">Please fill out this field.</div>
</div>
      
      <center>
        <button type="submit" class="btn btn-success submit-btn">Submit</button>
      </center>

    </form>
  </div>


  <script>
    // to check person image file limit and to uplaod it
    var Person = document.getElementById("person_img");

    Person.onchange = function() {
      let filesize = (this.files[0].size/1024).toFixed(4); // KB
      // var filesize = ((this.files[0].size/1024)/1024).toFixed(4); //  for MB
      if(filesize <= 10){
        //upload code
        var reader = new FileReader();
        reader.onload = function(){
          var output = document.getElementById('person_img_show');
          output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
      }
      else{
        alert("File is too big!");
         this.value = "";
      }
    };

    // to check identity image limit and to uplaod it
    var Identity = document.getElementById("identity");

    Identity.onchange = function() {
      let filesize = (this.files[0].size/1024).toFixed(4); // for KB
      // var filesize = ((this.files[0].size/1024)/1024).toFixed(4); //  for MB
      if(filesize <= 400){
        //upload code
        var reader = new FileReader();
        reader.onload = function(){
          var output = document.getElementById('identity_show');
          output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
      }
      else{
        alert("File is too big!");
         this.value = "";
      }
    };

    // to check cancel check image and to uplaod it
    var Identity = document.getElementById("cancel_cheque");

    Identity.onchange = function() {
      let filesize = (this.files[0].size/1024).toFixed(4); // for KB
      // var filesize = ((this.files[0].size/1024)/1024).toFixed(4); //  for MB
      if(filesize <= 100){
        //upload code
        var reader = new FileReader();
        reader.onload = function(){
          var output = document.getElementById('cancel_cheque_show');
          output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
      }
      else{
        alert("File is too big!");
         this.value = "";
      }
    };


    // function of validations 
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function() {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5ee991aa9e5f69442290b6fb/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>

</body>
</html>