{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>SheltOwn</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'sheltownapp/img/favicon.png' %}" rel="icon">
  <link href="{% static 'sheltownapp/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>

  <!-- Libraries CSS Files -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="{% static 'sheltownapp/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link href="{% static 'sheltownapp/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

  <!-- Main Stylesheet File -->
  <link href="{% static 'sheltownapp/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/assets/css/rental-style.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/assets/css/rental-services-details.css' %}" rel="stylesheet">
</head>

<body id="body" onload="myFunction()">
  <!-- popup -->
<link rel="stylesheet" href="css/videopopup.css">
  <script src="js/videopopup.js"></script>

  <!--==========================
    Header
    ============================-->
    <header id="header" >
      <div class="container-fluid">

        <div id="logo" class="pull-left">
          <img src="{% static 'sheltownapp/img/favicon.png' %}" alt="logo"><p>RENTAL SERVICES</p>
        </div>

        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="{% url 'sheltown-index' %}">Home</a></li>
            <li class="menu-has-children"><a href="">Our Services</a>
              <ul>
                <li><a href="#">Personalised Services</a></li>
                <li><a href="{% url 'sheltown-rental' %}">Rental Services</a></li>
              </ul>
            </li>
            <li><a href="/about/">About Us</a></li>
            <li><a href="/blog/">Blogs</a></li>
            <li><a href="/login/">Log In</a></li>
            <li><a href="/signup/">Sign Up</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->

  <!--==========================
      Intro Section
      ============================-->

      <section id="intro" >
        <div class="overlay">
          <div class="container-fluid">
            <!--row 1 -->
            <div class="row">
              <div class="col-md-12 intro-content">
                <!-- <h2>SheltOwn</h2> -->

                <p>Live Like You Own It</p>
              </div>
            </div>
            <!-- row 2 -->
            <div class="row boxes" id="search_top">
              <div>
                <select class="search-city">
                  <option value="ChooseCity">Choose City...</option>
                  <option value="Mumbai">Mumbai</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Bangalore">Bangalore</option>
                  <option value="Hyderabad">Hyderabad</option>
                  <option value="Ahmedabad">Ahmedabad</option>
                  <option value="Chennai">Chennai</option>
                  <option value="Kolkata">Kolkata</option>
                  <option value="Surat">Surat</option>
                  <option value="Pune">Pune</option>
                  <option value="Jaipur">Jaipur</option>
                  <option value="Vishakhapatnam">Vishakhapatanam</option>
                  <option value="Nagpur">Nagpur</option>
                  <option value="Lucknow">Lucknow</option>
                  <option value="Kanput">Kanput</option>
                  <option value="Thane">Thane</option>
                  <option value="Bhopal">Bhopal</option>
                  <option value="Indore">Indore</option>
                  <option value="Patna">Patna</option>
                  <option value="Vadodara">Vadodara</option>
                  <option value="Pimpri-Chinchwad">Pimpri-Chinchwad</option>
                  <option value="Gaziabad">Gaziabad</option>
                  <option value="Ludhiana">Ludhiana</option>
                  <option value="Agra">Agra</option>
                  <option value="Nashik">Nashik</option>
                  <option value="Faridabad">Faridbad</option>
                  <option value="Meerut">Meerut</option>
                  <option value="Rajkot">Rajkot</option>
                  <option value="Kalyan-Dombivli">Kalyan-Dombivli</option>
                  <option value="Vasai-Virar">Vasai-Virar</option>
                  <option value="Varanasi">Varanasi</option>
                </select>
              </div>
              <div>
                <select class="search-locality">
                  <option value="ChooseCity">Choose Locality...</option>
                  <option value="Mumbai">Chandni Chowk</option>
                  <option value="Delhi">Patel Nagar</option>
                  <option value="Bangalore">Kamla Nagar</option>
                  <option value="Hyderabad">Delhi Gate</option>
                  <option value="Ahmedabad">Kahmiri Gate</option>
                </select>
              </div>
              <div>
                <div class="search-box">
                  <button class="btn search-btn">Search  <i class="las la-search"></i></a>
                  </div>
                </div>

              </div><!-- row2 -->
            </div>
          </div>
        </section>

        <!-- intro ends -->

        <!--FILTERS-->
        <div class="container-fluid" style="margin-top: 15px;">
          <div class="row">
            <div id="filters" class="col-lg-3 container-filter" >
              <div style="background-color: white;">
                <form method="get">
                  <p id="filter-heading"><b>Filters</b></p>
                  <hr>
                  <p id="filter-heading" style="color: #7268a6; margin-left: 10px; margin-bottom: -10px;">Categories</p><br>
                  <div class="container">
                    {% render_field filter.form.proptype id="whatever" style="margin: 10px;color:purple" %}
                     <!-- <input style="margin-left: 5px;" type="checkbox"  name="proptype" value='1BHK Flat'><label for="1mate" style="color: purple">&nbsp1BHK Flat</label><br>
                     <input style="margin-left: 5px;" type="checkbox"  name="proptype" value='2BHK Flat'><label for="1mate" style="color: purple">&nbsp2BHK Flat</label><br>
                     <input style="margin-left: 5px;"  type="checkbox" name="proptype" value='3BHK Flat'><label for="1mate"style="color: purple">&nbsp3BHK Flat</label><br>
                     <input style="margin-left: 5px;" type="checkbox"  name="proptype" value="House"><label for="1mate" style="color: purple">&nbspHouse </label><br>
                     <input style="margin-left: 5px;" type="checkbox"  name="proptype" value="PG with 1 mate"><label for="1mate" style="color: purple">&nbspPG with 1 mate</label><br>
                     <input style="margin-left: 5px;" type="checkbox"  name="proptype" value="PG with 2 mate"><label for="1mate" style="color: purple">&nbspPG with 2 mate</label><br>
                     <input style="margin-left: 5px;" type="checkbox"  name="proptype" value="PG with 3 mate"><label for="1mate" style="color: purple">&nbspPG with 3 mate</label><br>
                     <input style="margin-left: 5px;" type="checkbox"  name="proptype" value="PG with 4 mate"><label for="1mate" style="color: purple">&nbspPG with 4 mate</label><br> -->

                    <!-- partial:index.partial.html -->
                    <!-- <form class="bs-example" action="" >
                      <div>
                        <div class="panel-group" id="accordion" style="width: 15em;">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <label for='r11' style='width: 15em'>
                                  <input type='radio' id='r11' name='occupation' value='Working' data-smth="parent_1" required /> PG
                                  <p data-toggle="collapse" data-parent="#accordion" href="#collapseOne"></p>
                                </label>
                              </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                              <div class="panel-body">
                                <input type="radio" id="1mate" name="pg-mate" value="1mate"  data-parent="parent_1"><label for="1mate">&nbsp1 mate</label><br>
                                <input type="radio" id="2mates" name="pg-mate" value="2mates"  data-parent="parent_1"><label for="2mates">&nbsp2 mates</label><br>
                                <input type="radio" id="3mates" name="pg-mate" value="3mates"  data-parent="parent_1"><label for="3mates">&nbsp3 mates</label><br>
                                <input type="radio" id="4mates" name="pg-mate" value="4mates"  data-parent="parent_1"><label for="4mates">&nbsp4 mates</label><br>
                                <input type="radio" id="anymates" name="pg-mate" value="Anymates"  data-parent="parent_1"><label for="anymates">&nbsp Any no. of mates</label><br>             
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <label for='r12' style='width: 15em'>
                                  <input type='radio' id='r12' name='occupation' value='Working' data-smth="parent_2" required /> Flat/Apartment
                                  <p data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"></p>
                                </label>
                              </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in">
                              <div class="panel-body">
                                <input type="radio" id="1mate" name="pg-mate" value="1BHK" data-parent="parent_2"><label for="1mate">&nbsp1 BHK</label><br>
                                <input type="radio" id="2mates" name="pg-mate" value="2BHK" data-parent="parent_2"><label for="2mates">&nbsp2 BHK</label><br>
                                <input type="radio" id="3mates" name="pg-mate" value="3BHK" data-parent="parent_2"><label for="3mates">&nbsp3 BHK</label> <br>
                                <input type="radio" id="4mates" name="pg-mate" value="Anyrooms" data-parent="parent_2"><label for="3mates">&nbspAny no. of rooms</label>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <label for='r13' style='width: 15em'>
                                  <input type='radio' id='r13' name='occupation' value='Working' data-smth="parent_3" required /> House
                                  <p data-toggle="collapse" data-parent="#accordion" href="#collapseThree"></p>
                                </label>
                              </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in" style="display: none">
                              <div class="panel-body">
                                <input type="radio" id="1mate" name="pg-mate" data-parent="parent_3" value="1mate"><label for="1mate">-</label><br>

                              </div>
                            </div>

                            <script type="text/javascript">

                              $(function() {
                                $(document).on('click', '[data-smth]', function() {
                                  $('[data-parent="' + $(this).attr('data-smth') + '"]:first').prop("checked", true);
                                })

                                $(document).on('click', '[data-parent]', function() {
                                  $('[data-smth="' + $(this).attr('data-parent') + '"]').prop("checked", true);
                                })
                              })
                            </script>
                          </div>
                        </div>
                        <hr style="margin-left: -15px;">
                      </form>
                    </div>                    -->
                    
                    <p id="filter-heading" style="color: #f67280">Price Range</p>                    
                    <table>
                      <tr>
                        <td style="padding: 5px;">{% render_field filter.form.price__gte id="from" min="0" step="1000" type="number" %}</td>
                        <td style="padding: 5px;">to</td> 
                        <td style="padding: 5px;">{% render_field filter.form.price__lte id="to" min="0" step="1000" type="number" %}</td> 
                      </tr>
                    </table>
                    <hr style="margin-left: -15px;">
                    <p id="filter-heading" style="color: #3578eb">Preference</p>
                        <!-- {% render_field filter.form.gender_restrictions style="margin-left: 5px;" %} -->
                    <input style="margin-left: 5px;" type="radio" id="family" name="gender_restrictions" value="Family+"><label for="1mate">&nbspFamily</label><br>
                    <input style="margin-left: 5px;"type="radio" id="male" name="gender_restrictions" value="Male only"><label for="2mates">&nbspMale Only</label><br>
                    <input style="margin-left: 5px;"type="radio" id="female" name="gender_restrictions" value="Female only"><label for="3mates">&nbspFemale Only</label><br>
                    <input style="margin-left: 5px;"type="radio" id="shel" name="gender_restrictions" value="Sheltown+"><label for="4mates">&nbspSheltOwn+</label><br>
                    <hr style="margin-left: -15px;">
                    <p id="filter-heading" style="color: #29e823">Booking Dates</p>
                    <table>
                      <tr>
                        <td style="padding: 5px;"><input type="date" id="fromdate" name="fromdate"></td> 
                        <td style="padding: 5px;">to</td>
                        <td style="padding: 5px;"><input type="date" id="todate" name="todate"></td>
                      </tr>
                    </table>
                    <!-- <hr style="margin-left: -15px;"> -->
                    <p id="filter-heading" style="color: #ff971d">Furnishing Type</p>
                    {% render_field filter.form.furnished_type id="check-option" style="margin: 10px;" %}
                    <!-- <select id="check-option" style="margin: 10px;"> -->
                      <!-- <option value="" disabled selected>Choose Furnished type</option> -->
                      <!-- <option>Fully Furnished</option> -->
                      <!-- <option>Semi Furnished</option> -->
                      <!-- <option>Unfurnished</option> -->
                    <!-- </select> -->
                    <!-- <hr style="margin-left: -15px;"> -->
                    <p id="filter-heading" style="color: #6bb6bc">Security Deposit</p>
                    {% render_field filter.form.security_deposit id="check-option" style="margin: 10px;" %}
                    <!-- <select id="check-option" style="margin: 10px;">
                      <option value="" disabled selected>Choose Security Deposit</option>
                      <option>No security deposit</option>
                      <option>1 month</option>
                      <option>2 months</option>
                      <option>3 months</option>
                      <option>4 months</option>
                    </select> -->
                    <hr style="margin-left: -15px;">
                    <input type="submit">                      
                  </form>
                </div>
              </div>
            </div>
            


            <!--CARDS-->
            <div class="col-sm-8 container-cards" style="background-color: white;">
              <br>
              <div><p>xxx Results Found

                <select id="check-option" style="float:right;" >
                  <option>Sort By</option>
                  <option>Popularity</option>
                  <option>Price high to low</option>
                  <option>Price low to high</option>
                </select></p>
              </div>
             <!-- Button trigger modal -->




      <!-- {% for rental in rentals %} -->
      <!-- {% for image in propimg %} -->
      <!-- {% if image.property.name == rental.name %} -->
      <!-- <h3>{{rental.virtual_tour}}</h3> -->
      <!-- <img src="{{image.image.url}}"> -->
      <!-- {%endif %} -->
      <!-- {% endfor %} -->
      <!-- {% endfor %} -->

      <!-- {% for rental in rentals %} -->
<!--       {% for i in propimg.images.all %}

      <img src="{{i.image.url}}">

      {% endfor %}
 -->      <!-- {% endfor %} -->
      <!-- {% for doc in rentals %}
  {% for docimage in propimg %}
    {{ docimage.image.url }}
  {% endfor %}
{% endfor %}
 -->
      
      {% for rental in filter.qs %}
      <h1>{{rental.name}}</h1>
      {% endfor %}
      {% for rental in filter.qs %}
      <!-- <h1></h1> -->
      <div id="rental-card" class="content">
        <div class="row" style="margin-top: -20px;">
          <div class="col-sm-5" style="margin-right: -50px;">
            <div class="row_ta">
              <div class="column_ta left_ta" >
                <div class="container" style="width: 283px;">
                  <div id="myCarousel{{ rental.name }}" class="carousel slide" data-ride="carousel" style="height: 200px;width:250px;">         

                    <!-- Wrapper for slides -->

                    <div class="carousel-inner" >

                      {% for image in rental.images.all %}
       
                      <div class="carousel-item  {% if forloop.first %} active{% endif %}" >

                        <img src="{{ image.image.url }}" class="img-fluid" style="width:100%;height:200px;">

                      </div>

                      {% endfor %}

                     <!--  <div class="item">
                        <img src="{% static 'sheltownapp/img/arch2.jpeg' %}" alt="Chicago" style="width:100%;height:200px">
                      </div>

                      <div class="item">
                        <img src="{% static 'sheltownapp/img/arch3.jpeg' %}" alt="New York" style="width:100%;height:200px">
                      </div>-->
                      {% if rental.virtual_tour %}
                  <div class="carousel-item">
                <div class="carousel-video-inner"><br><br>
              <center><h3><a href="{{ rental.virtual_tour }}">Take The<br> "Virtual Tour"<br>by Clicking Me</a></h3></center>
                </div>
              </div>
                      {% endif %}
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel{{ rental.name }}" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel{{ rental.name }}" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div style="text-align:center; width: 20em;">
            <span>Rent:&nbsp</span>  
            <i class="fa fa-inr"></i>{% if rental.percentage_discount_from0to100 %}<s>{% endif %}{{rental.rent|floatformat:"0"}}{% if rental.percentage_discount_from0to100 %}</s>{% endif %}&nbsp&nbsp
            {% if rental.percentage_discount_from0to100 %}
            <b><i class="fa fa-inr"></i>{{rental.get_dicounted_price|floatformat:"0"}}</b><br>{{rental.percentage_discount_from0to100|floatformat:"0"}}% Off  
			<button type="button" id="info-button" data-toggle="popover" data-placement="bottom" title="Rent Details" data-html="true" data-content="Property Owner Rent: &#8377 {{rental.rent}} <br>SheltOwn Rent: &#8377 {{rental.get_dicounted_price}}<br><font color='red' size='1'>You save &#8377 {{rental.get_price_diff}} each month on this property</font>"><i class="fa fa-info-circle"></i></button>
            {% endif %}
            <center><a href="rental-services-details.html"><button id="btn-blue" style="margin-top: 2px">Book Now</button></a></center>
          </div>
          </div>
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm-12" id="rent-name" style="font-size: 25px"><b>{{rental.name}} &nbsp&nbsp</b><font style="color: green; font-size: 12px;"><i class="fa fa-check"></i><b>&nbspVerified</b></font>
                <br>
                <div style="font-size: 15px;"><i class="fa fa-map-marker"></i> {{rental.locality.city}},{{rental.locality.state}}</div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-9" id="rent-rating">
                <div style="border: 1px solid black; border-radius: 5px; padding: 0 5px; width: 50px; display: inline-block; color: blue;">{{rental.rating}}&nbsp<i class="fa fa-star"></i></div>&nbsp&nbsp {{rental.reviews.all|length}} Reviews
              </div>      
            </div>
            
            <br><!-- 
             <button type="button" class="btn btn-primary" data-target="www.google.com">
  Launch Virtual Tour
</button> -->

{% if rental.virtual_tour %}
<!-- <a href="{{rental.virtual_tour}}" class="button" style="font-size: 20px; color:blue; border:3px solid blue ">Launch Virtual Tour</a> -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch Virtual Tour
</button> -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 600px">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Virtual Tour</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{rental.virtual_tour|safe}}
      </div>
      
    </div>
  </div>
</div>
<script type="text/javascript">$("#exampleModal").on('hidden.bs.modal', function (e) {
    $("#exampleModal iframe").attr("src", $("#exampleModal iframe").attr("src"));
});</script>
{% endif %}

<!-- Modal -->

            <div class="row">
              <p style="color: blue; padding-left: 15px; font-size: 15px;">Nearby:</p>

              <ul id="menu">
                {% for i in rental.nearby.all %}
                    <li>{{ i.name }}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="row">
              <div class="col-sm-7">
                <div class="row">
                  <div class="col-sm-4">
                    <p style="color: blue; font-size: 15px;">Details:</p>
                  </div>
                  <div class="col-sm-8" style="border-right: 0.5px solid lightgrey; font-size: 15px;">
                    <p class="fa fa-wifi"></p>  Wifi<br>
                    <p class="fa fa-tv"></p>  TV<br>
                    <p class="fa fa-bed"></p>   Shared Room<br>
                    {{rental.proptype}}<br><br>
                  </div>
                </div>
                <div class="row" style="border-right: 0.5px solid lightgrey; padding-left: 15px;">
                  <a href="rental-services-details.html"><p style="color: green; font-size: 15px;">See More Details  <i class="fa fa-info-circle"></i></p></a>
                </div>
              </div>
              <div class="col-sm-5" style="font-size: 15px;">
                <div id="boxpref-maleonly">{{rental.gender_restrictions}}</div>
                <div id="boxpref-availablenow">{{rental.status}}</div>
                <div id="boxpref">{{rental.furnished_type}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
      <!-- Rental Card 1 -->

      <!-- Rental card 2 -->

      


      <a href="#" id="loadMore">Load More</a>




    </div>
  </div>
</div>

<br>
  <!--==========================
    Footer
    ============================-->

    <footer class="site-footer" >
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 about-text">
            <h6>About</h6>
            <p class="text-justify">We are a strong team focused on building a network where we could serve you regarding all your needs of having your own shelter.

              We are bound to provide you the best possible care and support which helps you meet your demands.

              Our core values- “Honesty, Authenticity, Concerns for Customer’s Privacy and Safety” are all closely interwoven into the fibre of our efforts.

              We help you to find your match, book rental homes of choice across Indian cities. We assist with "Move-in, Personalised services, Transportation and Appliances & Furniture rentals".

              We are with you whenever you are in need!
            </p>
            <p>Accept our warm SheltOwn hug</p>
          </div>

          <div class="col-xs-6 col-md-3 category-text">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="policy-page.html">Policy</a></li>
              <li><a href="#">SheltOwn+</a></li>
              <li><a href="#">SheltOwn Family+</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3 quick-text">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="testimonials.html">Testimonials</a></li>
              <li><a href="">Blogs</a></li>
              <li><a href="career.html">Careers</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <section id="footer-two">
      <div class="container">
        <a style="color: #ff9719; cursor: pointer;" onclick="javascript:ShowHide('HiddenDiv')">More info</a>
        <br>
        <div class="mid" id="HiddenDiv" style="display: none;">
          <div class="row" id="more">
            <div class="col-lg-4">
              <ul class="footer-two-links">
                <li><a href="#">Room for rent in Mumbai</a></li>
                <li><a href="#">Room for rent in Delhi</a></li>
                <li><a href="#">Room for rent in Bangalore</a></li>
                <li><a href="#">Room for rent in Hyderabad</a></li>
                <li><a href="#">Room for rent in Ahmedabad</a></li>
                <li><a href="#">Room for rent in Chennai</a></li>
                <li><a href="#">Room for rent in Kolkata</a></li>
                <li><a href="#">Room for rent in Surat</a></li>
                <li><a href="#">Room for rent in Pune</a></li>
                <li><a href="#">Room for rent in Jaipur</a></li>
              </ul>
            </div>
            <div class="col-lg-4">
              <ul class="footer-two-links">
                <li><a href="#">Room for rent in Vishakhapatnam</a></li>
                <li><a href="#">Room for rent in Nagpur</a></li>
                <li><a href="#">Room for rent in Lucknow</a></li>
                <li><a href="#">Room for rent in Kanpur</a></li>
                <li><a href="#">Room for rent in Thane</a></li>
                <li><a href="#">Room for rent in Bhopal</a></li>
                <li><a href="#">Room for rent in Indore</a></li>
                <li><a href="#">Room for rent in Pimpri-Chinchwad</a></li>
                <li><a href="#">Room for rent in Patna</a></li>
                <li><a href="#">Room for rent in Vadodara</a></li>
              </ul>
            </div>
            <div class="col-lg-4">
              <ul class="footer-two-links">
                <li><a href="#">Room for rent in Gaziabad</a></li>
                <li><a href="#">Room for rent in Ludhiana</a></li>
                <li><a href="#">Room for rent in Agra</a></li>
                <li><a href="#">Room for rent in Nashik</a></li>
                <li><a href="#">Room for rent in Faridabad</a></li>
                <li><a href="#">Room for rent in Meerut</a></li>
                <li><a href="#">Room for rent in Rajkot</a></li>
                <li><a href="#">Room for rent in Kalyan-Dombivli</a></li>
                <li><a href="#">Room for rent in Vasai-Virar</a></li>
                <li><a href="#">Room for rent in Varanasi</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <br>
            <a href="#">info@sheltown.com</a>
            <br>
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved

            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <br>
            <ul class="social-icons">
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- #footer -->


    <script>
      $('#r11').on('click', function(){
        $(this).parent().find('p').trigger('click')
      })
      $('#r12').on('click', function(){
        $(this).parent().find('p').trigger('click')
      })
      $('#r13').on('click', function(){
        $(this).parent().find('p').trigger('click')
      })
    </script>

    <script>
      $(document).ready(function() {
       $('[data-toggle="popover"]').popover({
        placement: 'top',
        trigger: 'hover'
      });
     });
   </script>

   <script>
    $(document).ready(function(){
      $(".content").slice(0, 3).show();
      $("#loadMore").on("click", function(e){
        e.preventDefault();
        $(".content:hidden").slice(0, 3).slideDown();
        if($(".content:hidden").length == 0) {
          $("#loadMore").text("No More Results").addClass("noContent");
        }
      });

    })
  </script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'sheltownapp/js/main.js' %}"></script>

  <!-- JavaScript Libraries -->
  <script src="{% static 'sheltownapp/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/magnific-popup/magnific-popup.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/sticky/sticky.js' %}"></script>

  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/popper.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'sheltownapp/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'sheltownapp/js/main.js' %}"></script>
  <!--Start of Tawk.to Script-->
  <script src="{% static 'sheltownapp/js/main.js' %}"></script>
  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5ee991aa9e5f69442290b6fb/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
</body>

</html>