{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>SheltOwn</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  
  <!-- Libraries CSS Files -->
  <link href="{% static 'sheltownapp/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/css/style.css' %}" rel="stylesheet">


  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="{% static 'sheltownapp/assets/css/rental-services.css' %}" rel="stylesheet">

  
 
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Main style sheet -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- Main Stylesheet File -->
  <!-- <link href="css/style2.css" rel="stylesheet"> -->
  <link href="{% static 'sheltownapp/css/style2.css' %}" rel="stylesheet">



<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!----<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />-->
<style>
.content {
      display: none;
    }

    #aa-properties {
      background-color: #fff;
    }

    .text-justify {
      color: #fff;
    }

    .price {
      width: 50px;
      height: 40px;
      padding: 5px;
      border: none;
    }

    .check {
      background-color: blue;
      color: #fff;
      font-size: 10px;
      padding: 3px;
      border-radius: 50px;
    }

    .btn-primary {
      background-color: #ff9719;
      border-color: #ff9719;
    }

    .ratings {
      background-color: green;
      color: white;
      padding: 5px;
      border-radius: 5px;
    }

    .btn {
      font-size: 18px;
    }
  /** page layout **/
    main {
      display: grid;
      
      max-width: 100em;
      width: 100%;
     
    }
.container_rent
{
padding:1px;
}
.pagination {
  display: inline-block;
  margin-left:235px;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color:#ff9719;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
@media (max-width: 768px) {
.pagination {
  
  margin-left:50px;
}
}

  </style>

</head>
<link href="assets/css/signup-modal.css" rel="stylesheet">

</head>

<body id="body" onload="myFunction()" style="background-color: white;">

        <!--==========================
         Header
       ============================-->
       <header id="header" >
        <div id="logo" class="pull-left">
          <a href="{% url 'sheltown-emptyredirect' %}">
            <img src="{% static 'sheltownapp/img/favicon.png' %}" alt="logo">
          </a>
        </div>
    
    <div id="logo" class="pull-left" style="margin-top:8px;">
          <a href="{% url 'sheltown-emptyredirect' %}">
          <p >SheltOwn</p>
          </a>
        </div>
          </div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu">
             
           {% if user.is_authenticated %}
           {% ifequal user.custom_user.usertype "User" %}
           <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
           <li><a href="{% url 'sheltown-personalservice' 'MUMBAI' 'Worli' %}"><i class="fa fa-star" aria-hidden="true" style="color:white;"></i> &nbsp;Personalised</a></li>
           <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true" style="color:white;"></i> &nbsp;Rental</a></li>
           <li><a href="{% url 'myaccount-userpartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true" style="color:white;"></i> &nbsp;My Account</a></li>

           {% endifequal %}

           {% ifequal user.custom_user.usertype "Property Owner" %}
           <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
           <li><a href="{% url 'myaccount-propertypartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true" style="color:white;"></i> &nbsp;My Account</a></li>
           {% endifequal %}

           {% ifequal user.custom_user.usertype "Service Provider" %}
           <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
           <li><a href="{% url 'myaccount-servicepartner'  %}"><i class="fa fa-user-circle-o" aria-hidden="true" style="color:white;"></i> &nbsp;My Account</a></li>
           {% endifequal %}  

           {% else %}
           <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
           <li><a href="{% url 'sheltown-personalservice' 'MUMBAI' 'Worli' %}"><i class="fa fa-star" aria-hidden="true" style="color:white;"></i> &nbsp;Personalised</a></li>
           <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true" style="color:white;"></i> &nbsp;Rental</a></li>
    
    
               
           <li><a href="{% url 'sheltown-index' 'openmodal' %}"><i class="fa fa-user-plus" aria-hidden="true" style="color:white;"></i> &nbsp;Sign up</a></li>
           <li><a href="{% url 'login' %}"><i class="fa fa-user-circle-o" aria-hidden="true" style="color:white;"></i> &nbsp;Log in</a></li>
           {% endif %}
         </ul>
          </nav><!-- #nav-menu-container -->
        </div>
      </header><!-- #header -->
  
  
 <main>
  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <div class="row">
        <div class="col-md-4 filters">
          <aside class="aa-properties-sidebar">
            <!-- Start Single properties sidebar -->
            <div class="aa-properties-single-sidebar">
              <h4>FILTERS</h4>
              <form action="">
                <div class="aa-single-advance-search">
                  <select id="" name="">
                    <option value="ChooseCity">Choose City...</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Bangalore">Bangalore</option>
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="Ahmedabad">Ahmedabad</option>
                    <option value="Chennai">Chennai</option>
                    <option value="Kolkata">Kolkata</option>
                    <option value="Surat">Surat</option>
                    <option value="Pune">Pune</option>
                    <option value="Jaipur">Jaipur</option>
                    <option value="Vishakhapatnam">Vishakhapatanam</option>
                    <option value="Nagpur">Nagpur</option>
                    <option value="Lucknow">Lucknow</option>
                    <option value="Kanput">Kanput</option>
                    <option value="Thane">Thane</option>
                    <option value="Bhopal">Bhopal</option>
                    <option value="Indore">Indore</option>
                    <option value="Patna">Patna</option>
                    <option value="Vadodara">Vadodara</option>
                    <option value="Pimpri-Chinchwad">Pimpri-Chinchwad</option>
                    <option value="Gaziabad">Gaziabad</option>
                    <option value="Ludhiana">Ludhiana</option>
                    <option value="Agra">Agra</option>
                    <option value="Nashik">Nashik</option>
                    <option value="Faridabad">Faridbad</option>
                    <option value="Meerut">Meerut</option>
                    <option value="Rajkot">Rajkot</option>
                    <option value="Kalyan-Dombivli">Kalyan-Dombivli</option>
                    <option value="Vasai-Virar">Vasai-Virar</option>
                    <option value="Varanasi">Varanasi</option>
                  </select>
                </div>
                <div class="aa-single-advance-search">
                  <select id="" name="">
                    <option value="ChooseCity">Choose Locality...</option>
                    <option value="Mumbai">Chandni Chowk</option>
                    <option value="Delhi">Patel Nagar</option>
                    <option value="Bangalore">Kamla Nagar</option>
                    <option value="Hyderabad">Delhi Gate</option>
                    <option value="Ahmedabad">Kahmiri Gate</option>
                  </select>
                </div>
                <div class="aa-single-advance-search">
                  <h5>Catagories:</h5>
                  <select id="" name="">
                    <option value="1">PG</option>
                    <option value="2">Flat</option>
                    <option value="3">House</option>
                  </select>
                </div>
                <div class="aa-single-advance-search">
                  <h5>Preference:</h5>
                  <select id="" name="">
                    <option value="1">Family +</option>
                    <option value="2">Male Only</option>
                    <option value="3">Female Only</option>
                    <option value="4">SheltOwn +</option>
                  </select>
                </div>
                <div class="aa-single-advance-search">
                  <h5>Furnishing type:</h5>
                  <select id="" name="">
                    <option value="1">Fully Furnished</option>
                    <option value="2">Semi Furnished</option>
                    <option value="3">Unfurnished</option>
                  </select>
                </div>
                <div class="aa-single-advance-search">
                  <h5>Security Deposit:</h5>
                  <select id="" name="">
                    <option value="1">Monthly</option>
                    <option value="2">Quaterly</option>
                    <option value="3">Half yearly</option>
                    <option value="3">Yearly</option>
                  </select>
                </div>
                <div class="aa-single-filter-search">
                  <span>PRICE (Rs)</span>
                  <span>FROM</span>
                  <span id="skip-value-lower2" class="example-val"><input type="text" class="price" name="" value="Rs40"> </span>
                  <span>TO</span>
                  <span id="skip-value-upper2" class="example-val"><input type="text" class="price" name="" value="Rs35k"> </span>
                </div>
            </div>
            <div class="aa-single-advance-search">
              <input type="submit" value="Search" class="btn btn-primary btn-block">
            </div>
            </form>
        </div>
           </aside>
    

        <div class="col-md-8">
          <div class="aa-properties-content">
            <!-- start properties content head -->
            <div class="aa-properties-content-head">
              <div class="aa-properties-content-head-left">
                <form action="" class="aa-sort-form">
                  <label for="">Sort by</label>
                  <select name="">
                    <option value="1" selected="Default">Most Recent</option>
                    <option value="2">Popularity</option>
                    <option value="3">Price Low to High</option>
                    <option value="4">Price High to Low</option>
                  </select>
                </form>
              </div>
              <div class="aa-properties-content-head-right">
                <!-- Button trigger modal -->
                <a type="button" class="btn btn-primary" href="filters.html">
                  <i class="fa fa-filter"></i>
                </a>
              </div>
            </div>

            {% for rental in rentals %}
      <h1>{{rental.name}}</h1>
      {% endfor %}

<!-- 
      			{% for rental in filter.qs %}	
      			<h1>{{ rental.name }}</h1>
      			{% endfor %} -->
            <!-- Start properties content body -->
            <div class="aa-properties-content-body">
              <div class="container_rent" id ="rent1">
              <div class="row">
              	<!-- Card 1 -->

                <div class="col-lg-6">
                  <article class="aa-properties-item">
                  	<div class="container" style="width: 283px;">
                  <div id="myCarousel{{ rental.name }}" class="carousel slide" data-ride="carousel" style="height: 200px;width:250px;">       
                  
                    <!-- Wrapper for slides -->

                    <div class="carousel-inner" >

                      {% for image in rental.images.all %}
       
                      <div class="carousel-item  {% if forloop.first %} active{% endif %}" >

                        <img src="{{ image.image.url }}" class="img-fluid" style="width:100%;height:200px;">

                      </div>

                      {% endfor %}

                     <!--  <div class="item">
                        <img src="{% static 'sheltownapp/img/arch2.jpeg' %}" alt="Chicago" style="width:100%;height:200px">
                      </div>

                      <div class="item">
                        <img src="{% static 'sheltownapp/img/arch3.jpeg' %}" alt="New York" style="width:100%;height:200px">
                      </div>-->
                      {% if rental.virtual_tour %}
                  <div class="carousel-item">
                <div class="carousel-video-inner"><br><br>
              <center><h3><a href="{{ rental.virtual_tour }}">Take The<br> "Virtual Tour"<br>by Clicking Me</a></h3></center>
                </div>
              </div>
                      {% endif %}
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel{{ rental.name }}" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel{{ rental.name }}" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>

                    
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>Nearby:</span>
                         {% for i in rental.nearby.all %}
                    <span>{{ i.name }}</span>
                {% endfor %}
                        
                      </div>
                      <div class="aa-properties-info">
                        <span>Amenities:</span>
                        <span><i class="fa fa-home"></i>5 Rooms</span>
                        <span><i class="fa fa-bed"></i>2 Beds</span>
                        <span><i class="fa fa-shower"></i>3 Baths</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>{{rental.gender_restrictions}}</span>
                        <span>{{rental.status}}</span>
                        <span>{{rental.furnished_type}}</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="#">Apartment Title</a> <i class="fa fa-check check"></i> </h3>
                        <p><i class="fa fa-map-marker"></i> Location</p>
                        <p><span class="ratings">4.3 <i class="fa fa-star"></i></span> 345 Reviews 475 Ratings</p>
                      </div>
                      <div class="aa-properties-detial">
                        <span>
                          <s>$35k</s>&nbsp;&nbsp;$25k
                        </span>
                        <a class="btn btn-primary btn-sm" href="rental-services-details.html">Book Now</a>
                        <a class="btn btn-info btn-sm" href="rental-services-details.html">View More</a>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-lg-6">
                  <article class="aa-properties-item">
                    <div class="aa-properties-item-img carousel slide" id="carouselExampleControls2" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="https://q-cf.bstatic.com/images/hotel/max1024x768/141/141396523.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="https://q-cf.bstatic.com/images/hotel/max1024x768/224/224590211.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="https://www.westplaza.co.nz/sites/default/files/styles/large/public/2019-06/HQ1666.jpg?itok=Y7UiXP8M" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>Nearby:</span>
                        <span><i class="fa fa-train"></i>Metro</span>
                        <span><i class="fa fa-shopping-basket"></i>Market</span>
                        <span><i class="fa fa-building"></i>Mall</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Amenities:</span>
                        <span><i class="fa fa-home"></i>5 Rooms</span>
                        <span><i class="fa fa-bed"></i>2 Beds</span>
                        <span><i class="fa fa-shower"></i>3 Baths</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Male only</span>
                        <span>Fully Furnished</span>
                        <span>Available Now</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="#">Apartment Title</a> <i class="fa fa-check check"></i> </h3>
                        <p><i class="fa fa-map-marker"></i> Location</p>
                        <p><span class="ratings">4.3 <i class="fa fa-star"></i></span> 345 Reviews 475 Ratings</p>
                      </div>
                      <div class="aa-properties-detial">
                        <span>
                          <s>$35k</s>&nbsp;&nbsp;$25k
                        </span>
                        <a class="btn btn-primary btn-sm" href="rental-services-details.html">Book Now</a>
                        <a class="btn btn-info btn-sm" href="rental-services-details.html">View More</a>
                      </div>
                    </div>
                  </article>
                </div>

                  <div class="col-lg-6">
                  <article class="aa-properties-item">
                    <div class="aa-properties-item-img carousel slide" id="carouselExampleControls1" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="https://q-cf.bstatic.com/images/hotel/max1024x768/141/141396523.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="https://q-cf.bstatic.com/images/hotel/max1024x768/224/224590211.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="https://www.westplaza.co.nz/sites/default/files/styles/large/public/2019-06/HQ1666.jpg?itok=Y7UiXP8M" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>Nearby:</span>
                        <span><i class="fa fa-train"></i>Metro</span>
                        <span><i class="fa fa-shopping-basket"></i>Market</span>
                        <span><i class="fa fa-building"></i>Mall</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Amenities:</span>
                        <span><i class="fa fa-home"></i>5 Rooms</span>
                        <span><i class="fa fa-bed"></i>2 Beds</span>
                        <span><i class="fa fa-shower"></i>3 Baths</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Male only</span>
                        <span>Fully Furnished</span>
                         <span>Available Now</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="#">Apartment Title</a> <i class="fa fa-check check"></i> </h3>
                        <p><i class="fa fa-map-marker"></i> Location</p>
                        <p><span class="ratings">4.3 <i class="fa fa-star"></i></span> 345 Reviews 475 Ratings</p>
                      </div>
                      <div class="aa-properties-detial">
                        <span>
                          <s>$35k</s>&nbsp;&nbsp;$25k
                        </span>
                        <a class="btn btn-primary btn-sm" href="rental-services-details.html">Book Now</a>
                        <a class="btn btn-info btn-sm" href="rental-services-details.html">View More</a>
                      </div>
                    </div>
                  </article>
                </div>
               
                <div class="col-lg-6">
                  <article class="aa-properties-item">
                    <a class="aa-properties-item-img" href="#">
                      <img alt="img" src="https://5.imimg.com/data5/EC/SP/MY-13018244/simple-and-spaceful-flat-at-vesu-vip-roa-with-full-furnished-500x500.jpg">
                    </a>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>Nearby:</span>
                        <span><i class="fa fa-train"></i>Metro</span>
                        <span><i class="fa fa-shopping-basket"></i>Market</span>
                        <span><i class="fa fa-building"></i>Mall</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Amenities:</span>
                        <span><i class="fa fa-home"></i>5 Rooms</span>
                        <span><i class="fa fa-bed"></i>2 Beds</span>
                        <span><i class="fa fa-shower"></i>3 Baths</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Male only</span>
                        <span>Fully Furnished</span>
                        <span>Available Now</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="#">Apartment Title</a> <i class="fa fa-check check"></i> </h3>
                        <p><i class="fa fa-map-marker"></i> Location</p>
                        <p><span class="ratings">4.3 <i class="fa fa-star"></i></span> 345 Reviews 475 Ratings</p>
                      </div>
                      <div class="aa-properties-detial">
                        <span>
                          <s>$35k</s>&nbsp;&nbsp;$25k
                        </span>
                        <a class="btn btn-primary btn-sm" href="rental-services-details.html">Book Now</a>
                        <a class="btn btn-info btn-sm" href="rental-services-details.html">View More</a>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
               </div>


              <div class="container_rent" id ="rent2">
                <div class="row" >
                <div class="col-lg-6">
                  <article class="aa-properties-item">
                    <a class="aa-properties-item-img" href="#">
                      <img alt="img" src="https://5.imimg.com/data5/EC/SP/MY-13018244/simple-and-spaceful-flat-at-vesu-vip-roa-with-full-furnished-500x500.jpg">
                    </a>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>Nearby:</span>
                        <span><i class="fa fa-train"></i>Metro</span>
                        <span><i class="fa fa-shopping-basket"></i>Market</span>
                        <span><i class="fa fa-building"></i>Mall</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Amenities:</span>
                        <span><i class="fa fa-home"></i>5 Rooms</span>
                        <span><i class="fa fa-bed"></i>2 Beds</span>
                        <span><i class="fa fa-shower"></i>3 Baths</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Male only</span>
                        <span>Fully Furnished</span>
                        <span>Available Now</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="#">Apartment Title</a> <i class="fa fa-check check"></i> </h3>
                        <p><i class="fa fa-map-marker"></i> Location</p>
                        <p><span class="ratings">4.3 <i class="fa fa-star"></i></span> 345 Reviews 475 Ratings</p>
                      </div>
                      <div class="aa-properties-detial">
                        <span>
                          <s>$35k</s>&nbsp;&nbsp;$25k
                        </span>
                        <a class="btn btn-primary btn-sm" href="rental-services-details.html">Book Now</a>
                        <a class="btn btn-info btn-sm" href="rental-services-details.html">View More</a>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-lg-6">
                  <article class="aa-properties-item">
                    <a class="aa-properties-item-img" href="#">
                      <img alt="img" src="https://5.imimg.com/data5/EC/SP/MY-13018244/simple-and-spaceful-flat-at-vesu-vip-roa-with-full-furnished-500x500.jpg">
                    </a>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>Nearby:</span>
                        <span><i class="fa fa-train"></i>Metro</span>
                        <span><i class="fa fa-shopping-basket"></i>Market</span>
                        <span><i class="fa fa-building"></i>Mall</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Amenities:</span>
                        <span><i class="fa fa-home"></i>5 Rooms</span>
                        <span><i class="fa fa-bed"></i>2 Beds</span>
                        <span><i class="fa fa-shower"></i>3 Baths</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Male only</span>
                        <span>Fully Furnished</span>
                        <span>Available Now</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="#">Apartment Title</a> <i class="fa fa-check check"></i> </h3>
                        <p><i class="fa fa-map-marker"></i> Location</p>
                        <p><span class="ratings">4.3 <i class="fa fa-star"></i></span> 345 Reviews 475 Ratings</p>
                      </div>
                      <div class="aa-properties-detial">
                        <span>
                          <s>$35k</s>&nbsp;&nbsp;$25k
                        </span>
                        <a class="btn btn-primary btn-sm" href="rental-services-details.html">Book Now</a>
                        <a class="btn btn-info btn-sm" href="rental-services-details.html">View More</a>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-lg-6">
                  <article class="aa-properties-item">
                    <a class="aa-properties-item-img" href="#">
                      <img alt="img" src="https://5.imimg.com/data5/EC/SP/MY-13018244/simple-and-spaceful-flat-at-vesu-vip-roa-with-full-furnished-500x500.jpg">
                    </a>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>Nearby:</span>
                        <span><i class="fa fa-train"></i>Metro</span>
                        <span><i class="fa fa-shopping-basket"></i>Market</span>
                        <span><i class="fa fa-building"></i>Mall</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Amenities:</span>
                        <span><i class="fa fa-home"></i>5 Rooms</span>
                        <span><i class="fa fa-bed"></i>2 Beds</span>
                        <span><i class="fa fa-shower"></i>3 Baths</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Male only</span>
                        <span>Fully Furnished</span>
                        <span>Available Now</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="#">Apartment Title</a> <i class="fa fa-check check"></i> </h3>
                        <p><i class="fa fa-map-marker"></i> Location</p>
                        <p><span class="ratings">4.3 <i class="fa fa-star"></i></span> 345 Reviews 475 Ratings</p>
                      </div>
                      <div class="aa-properties-detial">
                        <span>
                          <s>$35k</s>&nbsp;&nbsp;$25k
                        </span>
                        <a class="btn btn-primary btn-sm" href="rental-services-details.html">Book Now</a>
                        <a class="btn btn-info btn-sm" href="rental-services-details.html">View More</a>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-lg-6">
                  <article class="aa-properties-item">
                    <a class="aa-properties-item-img" href="#">
                      <img alt="img" src="https://5.imimg.com/data5/EC/SP/MY-13018244/simple-and-spaceful-flat-at-vesu-vip-roa-with-full-furnished-500x500.jpg">
                    </a>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>Nearby:</span>
                        <span><i class="fa fa-train"></i>Metro</span>
                        <span><i class="fa fa-shopping-basket"></i>Market</span>
                        <span><i class="fa fa-building"></i>Mall</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Amenities:</span>
                        <span><i class="fa fa-home"></i>5 Rooms</span>
                        <span><i class="fa fa-bed"></i>2 Beds</span>
                        <span><i class="fa fa-shower"></i>3 Baths</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Male only</span>
                        <span>Fully Furnished</span>
                        <span>Available Now</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="#">Apartment Title</a> <i class="fa fa-check check"></i> </h3>
                        <p><i class="fa fa-map-marker"></i> Location</p>
                        <p><span class="ratings">4.3 <i class="fa fa-star"></i></span> 345 Reviews 475 Ratings</p>
                      </div>
                      <div class="aa-properties-detial">
                        <span>
                          <s>$35k</s>&nbsp;&nbsp;$25k
                        </span>
                        <a class="btn btn-primary btn-sm" href="rental-services-details.html">Book Now</a>
                        <a class="btn btn-info btn-sm" href="rental-services-details.html">View More</a>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
                   </div>

<div class="container_rent" id ="rent3">
              <div class="row ">
                <div class="col-lg-6">
                  <article class="aa-properties-item">
                    <a class="aa-properties-item-img" href="#">
                      <img alt="img" src="https://5.imimg.com/data5/EC/SP/MY-13018244/simple-and-spaceful-flat-at-vesu-vip-roa-with-full-furnished-500x500.jpg">
                    </a>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>Nearby:</span>
                        <span><i class="fa fa-train"></i>Metro</span>
                        <span><i class="fa fa-shopping-basket"></i>Market</span>
                        <span><i class="fa fa-building"></i>Mall</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Amenities:</span>
                        <span><i class="fa fa-home"></i>5 Rooms</span>
                        <span><i class="fa fa-bed"></i>2 Beds</span>
                        <span><i class="fa fa-shower"></i>3 Baths</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Male only</span>
                        <span>Fully Furnished</span>
                        <span>Available Now</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="#">Apartment Title</a> <i class="fa fa-check check"></i> </h3>
                        <p><i class="fa fa-map-marker"></i> Location</p>
                        <p><span class="ratings">4.3 <i class="fa fa-star"></i></span> 345 Reviews 475 Ratings</p>
                      </div>
                      <div class="aa-properties-detial">
                        <span>
                          <s>$35k</s>&nbsp;&nbsp;$25k
                        </span>
                        <a class="btn btn-primary btn-sm" href="rental-services-details.html">Book Now</a>
                        <a class="btn btn-info btn-sm" href="rental-services-details.html">View More</a>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-lg-6">
                  <article class="aa-properties-item">
                    <a class="aa-properties-item-img" href="#">
                      <img alt="img" src="https://5.imimg.com/data5/EC/SP/MY-13018244/simple-and-spaceful-flat-at-vesu-vip-roa-with-full-furnished-500x500.jpg">
                    </a>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>Nearby:</span>
                        <span><i class="fa fa-train"></i>Metro</span>
                        <span><i class="fa fa-shopping-basket"></i>Market</span>
                        <span><i class="fa fa-building"></i>Mall</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Amenities:</span>
                        <span><i class="fa fa-home"></i>5 Rooms</span>
                        <span><i class="fa fa-bed"></i>2 Beds</span>
                        <span><i class="fa fa-shower"></i>3 Baths</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Male only</span>
                        <span>Fully Furnished</span>
                        <span>Available Now</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="#">Apartment Title</a> <i class="fa fa-check check"></i> </h3>
                        <p><i class="fa fa-map-marker"></i> Location</p>
                        <p><span class="ratings">4.3 <i class="fa fa-star"></i></span> 345 Reviews 475 Ratings</p>
                      </div>
                      <div class="aa-properties-detial">
                        <span>
                          <s>$35k</s>&nbsp;&nbsp;$25k
                        </span>
                        <a class="btn btn-primary btn-sm" href="rental-services-details.html">Book Now</a>
                        <a class="btn btn-info btn-sm" href="rental-services-details.html">View More</a>
                      </div>
                    </div>
                  </article>
                </div>
                
                <div class="col-lg-6">
                  <article class="aa-properties-item">
                    <a class="aa-properties-item-img" href="#">
                      <img alt="img" src="https://5.imimg.com/data5/EC/SP/MY-13018244/simple-and-spaceful-flat-at-vesu-vip-roa-with-full-furnished-500x500.jpg">
                    </a>
                    <div class="aa-properties-item-content">
                      <div class="aa-properties-info">
                        <span>Nearby:</span>
                        <span><i class="fa fa-train"></i>Metro</span>
                        <span><i class="fa fa-shopping-basket"></i>Market</span>
                        <span><i class="fa fa-building"></i>Mall</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Amenities:</span>
                        <span><i class="fa fa-home"></i>5 Rooms</span>
                        <span><i class="fa fa-bed"></i>2 Beds</span>
                        <span><i class="fa fa-shower"></i>3 Baths</span>
                      </div>
                      <div class="aa-properties-info">
                        <span>Male only</span>
                        <span>Fully Furnished</span>
                        <span>Available Now</span>
                      </div>
                      <div class="aa-properties-about">
                        <h3><a href="#">Apartment Title</a> <i class="fa fa-check check"></i> </h3>
                        <p><i class="fa fa-map-marker"></i> Location</p>
                        <p><span class="ratings">4.3 <i class="fa fa-star"></i></span> 345 Reviews 475 Ratings</p>
                      </div>
                      <div class="aa-properties-detial">
                        <span>
                          <s>$35k</s>&nbsp;&nbsp;$25k
                        </span>
                        <a class="btn btn-primary btn-sm" href="rental-services-details.html">Book Now</a>
                        <a class="btn btn-info btn-sm" href="rental-services-details.html">View More</a>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
           
            <!-- Start properties content bottom -->
            
          </div>
 <div class="pagination">
      <a href="#">&laquo;</a>
      <!----<a href="#" class="active">1</a>--->
      <a  class="tablinks" onclick="openCity(event, 'rent1')" id="defaultOpen">1</a>
      <a class="tablinks" onclick="openCity(event, 'rent2')" id="defaultOpen">2</a>
      <a class="tablinks" onclick="openCity(event, 'rent3')" id="defaultOpen">3</a>
      <a class="tablinks" onclick="openCity(event, 'rent1')" id="defaultOpen">4</a>
      <a href="#">&raquo;</a>
    </div> 
        </div>

        </div>
        <!-- Start properties sidebar -->
       
    </div>
    </div>
  </section>
</main>



<!--==========================
    Footer
  ============================-->

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 about-text">
          <h6>About</h6>
          <p class="text-justify">We are a strong team focused on building a network where we could serve you regarding all your needs of having your own shelter.

We are bound to provide you the best possible care and support which helps you meet your demands.

Our core values- “Honesty, Authenticity, Concerns for Customer’s Privacy and Safety” are all closely interwoven into the fibre of our efforts.

We help you to find your match, book rental homes of choice across Indian cities. We assist with "Move-in, Personalised services, Transportation and Appliances & Furniture rentals".

We are with you whenever you are in need!
 </p>
          <p class="text-justify">Accept our warm SheltOwn hug.</p>
        </div>

        <div class="col-xs-6 col-md-3 category-text">
          <ul class="footer-links">
            <li><a href="{% url 'sheltown-aboutus' %}">About Us</a></li>
            <li><a href="{% url 'policy_list' %}">Policy</a></li>
            <li><a href="{% url 'policy_list' %}">FAQs</a></li>
            <li><a href="{% url 'policy_list' %}">SheltOwn+</a></li>
            <li><a href="{% url 'policy_list' %}">SheltOwn Family+</a></li>
            <li><a href="{% url 'sheltown-aboutus' %}#contact-us" class="scrollto">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 quick-text">
          <ul class="footer-links">
            <li><a href="{% url 'sheltown-testimonial' %}">Testimonials</a></li>
            <li><a href="{% url 'sheltown-blog' %}">Blogs</a></li>
            <li><a href="{% url 'join' %}">Join our Team</a></li>

            {% if user.is_authenticated %}
            {% else %}
            <li><a href="{% url 'policy_list' %}">List your Property</a></li>
            <li><a href="{% url 'policy_list' %}">Become our Service Partner</a></li>
            {% endif %}              
            
            <li><a href="#">SiteMap</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <section id="footer-two">
    <div class="container">
      <a style="color: #ff9719; cursor: pointer;" onclick="javascript:ShowHide('HiddenDiv')">More info</a>
      <br>
      <div class="mid" id="HiddenDiv" style="display: none;">
        <div class="row" id="more">
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Delhi</a></li>
              <li><a href="#">Room for boys in Delhi</a></li>
              <li><a href="#">Room for girls in Delhi</a></li>
              <li><a href="#">Room for family in Delhi</a></li>
              <li><a href="#">Room for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Delhi</a></li>
              <li><a href="#">PG for boys in Delhi</a></li>
              <li><a href="#">PG for girls in Delhi</a></li>
              <li><a href="#">PG for family in Delhi</a></li>
              <li><a href="#">PG for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Delhi</a></li>
              <li><a href="#">Hostel for boys in Delhi</a></li>
              <li><a href="#">Hostel for girls in Delhi</a></li>
              <li><a href="#">Hostel for family in Delhi</a></li>
              <li><a href="#">Hostel for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Delhi</a></li>
              <li><a href="#">Flats for boys in Delhi</a></li>
              <li><a href="#">Flats for girls in Delhi</a></li>
              <li><a href="#">Flats for family in Delhi</a></li>
              <li><a href="#">Flats for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Delhi</a></li>
              <li><a href="#">Apartments for boys in Delhi</a></li>
              <li><a href="#">Apartments for girls in Delhi</a></li>
              <li><a href="#">Apartments for family in Delhi</a></li>
              <li><a href="#">Apartments for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Delhi</a></li>
              <li><a href="#">House for boys in Delhi</a></li>
              <li><a href="#">House for girls in Delhi</a></li>
              <li><a href="#">House for family in Delhi</a></li>
              <li><a href="#">House for couple in Delhi</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Kota</a></li>
              <li><a href="#">Room for boys in Kota</a></li>
              <li><a href="#">Room for girls in Kota</a></li>
              <li><a href="#">Room for family in Kota</a></li>
              <li><a href="#">Room for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Kota</a></li>
              <li><a href="#">PG for boys in Kota</a></li>
              <li><a href="#">PG for girls in Kota</a></li>
              <li><a href="#">PG for family in Kota</a></li>
              <li><a href="#">PG for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Kota</a></li>
              <li><a href="#">Hostel for boys in Kota</a></li>
              <li><a href="#">Hostel for girls in Kota</a></li>
              <li><a href="#">Hostel for family in Kota</a></li>
              <li><a href="#">Hostel for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Kota</a></li>
              <li><a href="#">Flats for boys in Kota</a></li>
              <li><a href="#">Flats for girls in Kota</a></li>
              <li><a href="#">Flats for family in Kota</a></li>
              <li><a href="#">Flats for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Kota</a></li>
              <li><a href="#">Apartments for boys in Kota</a></li>
              <li><a href="#">Apartments for girls in Kota</a></li>
              <li><a href="#">Apartments for family in Kota</a></li>
              <li><a href="#">Apartments for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Kota</a></li>
              <li><a href="#">House for boys in Kota</a></li>
              <li><a href="#">House for girls in Kota</a></li>
              <li><a href="#">House for family in Kota</a></li>
              <li><a href="#">House for couple in Kota</a></li>
            </ul>
          </div>


          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Varanasi</a></li>
              <li><a href="#">Room for boys in Varanasi</a></li>
              <li><a href="#">Room for girls in Varanasi</a></li>
              <li><a href="#">Room for family in Varanasi</a></li>
              <li><a href="#">Room for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Varanasi</a></li>
              <li><a href="#">PG for boys in Varanasi</a></li>
              <li><a href="#">PG for girls in Varanasi</a></li>
              <li><a href="#">PG for family in Varanasi</a></li>
              <li><a href="#">PG for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Varanasi</a></li>
              <li><a href="#">Hostel for boys in Varanasi</a></li>
              <li><a href="#">Hostel for girls in Varanasi</a></li>
              <li><a href="#">Hostel for family in Varanasi</a></li>
              <li><a href="#">Hostel for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Varanasi</a></li>
              <li><a href="#">Flats for boys in Varanasi</a></li>
              <li><a href="#">Flats for girls in Varanasi</a></li>
              <li><a href="#">Flats for family in Varanasi</a></li>
              <li><a href="#">Flats for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Varanasi</a></li>
              <li><a href="#">Apartments for boys in Varanasi</a></li>
              <li><a href="#">Apartments for girls in Varanasi</a></li>
              <li><a href="#">Apartments for family in Varanasi</a></li>
              <li><a href="#">Apartments for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Varanasi</a></li>
              <li><a href="#">House for boys in Varanasi</a></li>
              <li><a href="#">House for girls in Varanasi</a></li>
              <li><a href="#">House for family in Varanasi</a></li>
              <li><a href="#">House for couple in Varanasi</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Patna</a></li>
              <li><a href="#">Room for boys in Patna</a></li>
              <li><a href="#">Room for girls in Patna</a></li>
              <li><a href="#">Room for family in Patna</a></li>
              <li><a href="#">Room for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Patna</a></li>
              <li><a href="#">PG for boys in Patna</a></li>
              <li><a href="#">PG for girls in Patna</a></li>
              <li><a href="#">PG for family in Patna</a></li>
              <li><a href="#">PG for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Patna</a></li>
              <li><a href="#">Hostel for boys in Patna</a></li>
              <li><a href="#">Hostel for girls in Patna</a></li>
              <li><a href="#">Hostel for family in Patna</a></li>
              <li><a href="#">Hostel for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Patna</a></li>
              <li><a href="#">Flats for boys in Patna</a></li>
              <li><a href="#">Flats for girls in Patna</a></li>
              <li><a href="#">Flats for family in Patna</a></li>
              <li><a href="#">Flats for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Patna</a></li>
              <li><a href="#">Apartments for boys in Patna</a></li>
              <li><a href="#">Apartments for girls in Patna</a></li>
              <li><a href="#">Apartments for family in Patna</a></li>
              <li><a href="#">Apartments for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Patna</a></li>
              <li><a href="#">House for boys in Patna</a></li>
              <li><a href="#">House for girls in Patna</a></li>
              <li><a href="#">House for family in Patna</a></li>
              <li><a href="#">House for couple in Patna</a></li>
            </ul>
          </div>
          <br>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Delhi</a></li>
              <li><a href="#">Plumber in Delhi</a></li>
              <li><a href="#">Repair & Maintenance in Delhi</a></li>
              <li><a href="#">Home Tuition in Delhi</a></li>
              <li><a href="#">Newspaper-Wala in Delhi</a></li>
              <li><a href="#">Salon in Delhi</a></li>
              <li><a href="#">Hair-Cut in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Varanasi</a></li>
              <li><a href="#">Plumber in Varanasi</a></li>
              <li><a href="#">Repair & Maintenance in Varanasi</a></li>
              <li><a href="#">Home Tuition in Varanasi</a></li>
              <li><a href="#">Newspaper-Wala in Varanasi</a></li>
              <li><a href="#">Salon in Varanasi</a></li>
              <li><a href="#">Hair-Cut in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Patna</a></li>
              <li><a href="#">Plumber in Patna</a></li>
              <li><a href="#">Repair & Maintenance in Patna</a></li>
              <li><a href="#">Home Tuition in Patna</a></li>
              <li><a href="#">Newspaper-Wala in Patna</a></li>
              <li><a href="#">Salon in Patna</a></li>
              <li><a href="#">Hair-Cut in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Kota</a></li>
              <li><a href="#">Plumber in Kota</a></li>
              <li><a href="#">Repair & Maintenance in Kota</a></li>
              <li><a href="#">Home Tuition in Kota</a></li>
              <li><a href="#">Newspaper-Wala in Kota</a></li>
              <li><a href="#">Salon in Kota</a></li>
              <li><a href="#">Hair-Cut in Kota</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <br>
          <a href="mailto:info@sheltown.com">info@sheltown.com</a>
          <br>
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved

          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <br>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/sheltown.india" class="fa fa-facebook"></a></li>
            <li><a class="twitter" href="https://twitter.com/OwnShelt?s=20"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="https://instagram.com/sheltown.india"><i class="fa fa-instagram"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/company/sheltown"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section><!-- #footer -->

     <!--Modal-->
<div class="modal fade container-fluid" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Create Account</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form id="first">
                        <div class="row" style="margin-top: 5px; margin-bottom: 15px;"> 
                            <div class="col-sm-3"><input type="radio" name="user" checked><small>&nbspUser</small></div>
                            <div class="col-sm-4"><input type="radio" name="user"><small>&nbspProperty Owner</small></div>
                            <div class="col-sm-4"><input type="radio" name="user"><small>&nbspService Provider</small></div>
                        </div>
                        Enter your Phone Number<br>
                        <input required type="tel" placeholder="+91" pattern="[7-9]{1}[0-9]{9}" maxlength="10" minlength="10" title="Enter a valid phone number" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"><br>
                        <small>Your information is safe with us</small>
                        <br><br>
                        <input required type="checkbox">&nbspBy continuing, you agree to our <a href="policy-page.html">Terms and Conditions</a>
                        <br>
                        <center><input type="submit" class="btn btn-success" value="Send OTP" style="margin: 5px 0;"></center>
                        <center><small>Already have an account? <a href="login-user.html">Log In now</a></small></center>
                    </form>
                </div>
                <div class="form-group">
                    <form id="second" style="display:none;">
                        <p>Phone Number: +91-1234567890 <button type="button" class="btn btn-secondary" id="back" style="float: right;">Change Number</button></p>
                        <br>
                        Enter OTP
                        <input required type="text" placeholder="xxxxxx" minlength="6" maxlength="6" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;">
                        <center><input type="submit" class="btn btn-success" value="Verify"></center>
                        <br>
                        <p>xx:xx time left<button type="button" class="btn btn-warning" style="float: right; padding: 3px;"><small>Resend OTP</small></button></p>
                    </form>
                </div>
                <div class="form-group">
                    <form id="third" style="display: none;">
                        <p>Verified Phone Number: +91 1234567890</p>
                        <table style="width: 100%">
                            <tr>
                                <td>Name&nbsp</td>
                                <td><input required type="text" placeholder="Name" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"></td>
                            </tr>
                            <tr>
                                <td>Email&nbsp</td>
                                <td><input required type="email" placeholder="e-mail" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"></td>
                            </tr>
                            <tr>
                                <td>Password&nbsp</td>
                                <td><input required type="password" placeholder="Password" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"></td>
                            </tr>
                        </table>
                        <br>
                        <center><input type="submit" class="btn btn-success" value="Create Account"></center>
                    </form>
                </div>
                <div class="form-group">
                    <form id="fourth" style="display:none;">
                        <hr>
                        <div class="google-btn" style="margin: 0 auto;">
                            <div class="google-icon-wrapper">
                                <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                            </div>
                            <a href="#" class="btn-text"><b>Sign in with google</b></a>
                        </div>
                    </form>
                </div>
                <div class="form-group"> 
                <hr>
                <form id="fifth">
                  <div class="row listbox" style="margin: 0 auto;">
                    <div class="col-sm-6"><i class="fa fa-check"></i> Safety Guaranteed</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> No Brokerage</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> Ultimate Privacy</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> Good Ambience</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> Affordable</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> Laissez-faire Policy</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> SheltOwn Verified</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> All-at-Home Services</div>
                    <div class="col-sm-6"><i class="fa fa-check"></i> Round-the-Clock Assistance</div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
$('#first').submit(function(e){
    $('#first').hide(); 
    $('#second').show(); 
    $('#third').hide(); 
    $('#fourth').hide(); 
    e.preventDefault();
    // Or with: return false;        
});
$('#second').submit(function(e){
    $('#first').hide(); 
    $('#second').hide();
    $('#third').show(); 
     $('#fourth').show(); 
     $('#fifth').hide();
    e.preventDefault();
    // Or with: return false;        
});

$('#back').click(function(e){
    $('#first').show(); 
    $('#second').hide(); 
    $('#third').hide(); 
    $('#fourth').hide(); 
    e.preventDefault();
    // Or with: return false;        
});
</script>



<script>
function openCity(evt, cityName) {
  var i, container_rent, tablinks;
  container_rent = document.getElementsByClassName("container_rent");
  for (i = 0; i < container_rent.length; i++) {
    container_rent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

  <!--  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
  <script type="text/javascript">
    // <![CDATA[
    function ShowHide(divId) {
      var atxt = document.getElementById("atext");
      if (document.getElementById(divId).style.display == 'none') {
        document.getElementById(divId).style.display = 'block';
      } else {
        document.getElementById(divId).style.display = 'none';
      }
    }
    // ]]>
  </script>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="lib/sticky/sticky.js"></script>


 
  <script src="js/main.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

   
    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>



  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
  <!--Start of Tawk.to Script-->
  <script src="js/main.js"></script>
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function() {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5ee991aa9e5f69442290b6fb/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>

  <script>
    if (!isTouchDevice()) {
      $('[data-toggle*="tooltip"]').tooltip();
    }

    // utility

    function isTouchDevice() {
      return !!('ontouchstart' in window || navigator.msMaxTouchPoints);
    }
  </script>

  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {
        slideIndex = 1
      }
      if (n < 1) {
        slideIndex = slides.length
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
  </script>
  <!--End of Tawk.to Script-->


  <script type="text/javascript">
        $(document).ready(function() {
  var pageItem = $(".pagination li").not(".prev,.next");
  var prev = $(".pagination li.prev");
  var next = $(".pagination li.next");

  pageItem.click(function() {
    pageItem.removeClass("active");
    $(this).not(".prev,.next").addClass("active");
  });

  next.click(function() {
    $('li.active').removeClass('active').next().addClass('active');
  });

  prev.click(function() {
    $('li.active').removeClass('active').prev().addClass('active');
  });


});
    </script>
</body>

</html>

