{% load static %}
{% load security_deposit %}


<!DOCTYPE html>
<html lang="en">

<head>
  <title>SheltOwn</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- map marker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="{% static 'sheltownapp/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link href="{% static 'sheltownapp/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">

  <!-- style sheets -->
  <link rel="stylesheet" href="{% static 'sheltownapp/css/style2.css' %}">
  <link rel="stylesheet" href="{% static 'sheltownapp/assets/css/rental-services-details.css' %}">
  <link rel="stylesheet" href="{% static 'sheltownapp/assets/css/personal-style.css' %}">
  <link href="{% static 'sheltownapp/assets/css/signup-modal.css' %}" rel="stylesheet">

  <style>
    .well .btn-green {
      background-color: #408E3C;
      border: 0px;
      color: white;
    }
  </style>
</head>
  <body id="body" onload="myFunction()">
        <!--==========================
         Header
       ============================-->
       <header id="header">
        <div id="logo" class="pull-left">
          <a href="{% url 'sheltown-emptyredirect' %}">
            <img src="{% static 'sheltownapp/img/logo.png' %}" alt="logo">
          </a>
        </div>
     
     <!-- <div id="logo" class="pull-left" style="margin-top:8px;">
           <a href="{% url 'sheltown-emptyredirect' %}">
           <p >SheltOwn</p>
           </a>
         </div>
           </div> -->
     
           <nav id="nav-menu-container">
             <ul class="nav-menu">
              
            {% if user.is_authenticated %}
            {% ifequal user.custom_user.usertype "User" %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'sheltown-personalservice' 'DELHI' 'NCR' %}"><i class="fa fa-star" aria-hidden="true" ></i> &nbsp;Personalised</a></li>
            <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true"></i> &nbsp;Rental</a></li>
            <li><a href="{% url 'myaccount-userpartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;My Account</a></li>

            {% endifequal %}

            {% ifequal user.custom_user.usertype "Property Owner" %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'myaccount-propertypartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;My Account</a></li>
            {% endifequal %}

            {% ifequal user.custom_user.usertype "Service Provider" %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'myaccount-servicepartner'  %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;My Account</a></li>
            {% endifequal %}  

            {% else %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'sheltown-personalservice' 'DELHI' 'NCR' %}"><i class="fa fa-star" aria-hidden="true" ></i> &nbsp;Personalised</a></li>
            <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true" ></i> &nbsp;Rental</a></li>
     
     
                
            <li><a href="{% url 'sheltown-index' 'openmodal' %}"><i class="fa fa-user-plus" aria-hidden="true" ></i> &nbsp;Sign up</a></li>
            <li><a href="{% url 'login' %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;Log in</a></li>
            {% endif %}
          </ul>
           </nav><!-- #nav-menu-container -->
         </div>
       </header><!-- #header -->

    <section class="guest">
        <div class="container-fluid">
          <div class="row" style="padding-top:15px;padding-bottom:15px;">
            <div class="col-sm-10 col-sm-offset-1">
              <h2 class="heading">{{rental.name}}</h2>
              <a href="#" class="button_book" target="_blank" style="float: right;">Book Now</a>
              <a href="{% url 'property-detail' pk=rental.pk %}" class="button_book" target="_blank" style="float: right;margin-right: 2%;">{{rental.name}} Details Page</a>
              <!-- <a class="btn btn-outline-success" href="#" role="button" style="float: right;">Book Now</a> -->
              <!-- <button type="button" class="btn btn-warning">

                <a class="" href="{% url 'property-detail' pk=rental.pk %}" style="float: right;">{{rental.name}} Details Page</a>
              </button>
               -->

            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="comment-tabs">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab">
                      <h4 class="reviews text-capitalize">Reviews</h4>
                    </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <br>
                  <div class="tab-pane active" id="comments-logout">
                    <ul class="media-list">
    
                        {% for review in reviews %}
                        <li class="media">
    
                        <a name="review{{review.pk}}">   </a> 
                        <div class="media-body">
                          <div class="well well-lg">
                            <h4 class="media-heading text-uppercase reviews">{{ review.user }}</h4>
                            <small>{{ review.updated_at | date:'M d, Y'  }}</small>
                            <br><br>
                            <p class="media-comment">
                                {{ review.review | linebreaksbr}}
                            </p>
                            <br>
                           
                            <!-- <button class="btn btn-primary btn-circle text-uppercase"> -->
                                {% if request.user.custom_user in review.likes.users.all%}
                                <!-- already liked-->
                                <a href={% url 'property_review_all_vote' review_id=review.pk opinion='like' %} class="btn btn-primary btn-circle text-uppercase"> <i
                                   data-toggle="tooltip" data-placement="bottom" title="Unlike"
                                   class="fas fa-thumbs-up" style="color: #fff;">
                                <span>{{review.get_total_likes}}</span>
                                </i>
                                </a>
                                {% else %}
                                <!--not liked-->
                                <a href={% url 'property_review_all_vote' review_id=review.pk opinion='like' %} class="btn btn-primary btn-circle text-uppercase"><i
                                   data-toggle="tooltip" data-placement="bottom" title="Like"
                                   class="fa fa-thumbs-o-up" aria-hidden="true" style="color: #fff;">
                                   
                                <span>{% if review.get_total_likes  %}{{review.get_total_likes}} {% else %} 0
                                {% endif %}</span></i>
                                </a>
                                {% endif %}
                            <!-- </button> -->
                            <!-- {{user.custom_user}} -->
                            <button class="btn btn-primary btn-circle text-uppercase">
                             {% if request.user.custom_user in review.dis_likes.users.all %}
                             <a href={% url 'property_review_all_vote' review_id=review.pk opinion='dis_like' %}><i
                                data-toggle="tooltip" data-placement="bottom" title="Undislike"
                                class="fas fa-thumbs-down " style="color: #fff;">
                             <span>{{review.get_total_dis_likes}}</span></i>
                             </a>
                             {% else %}
                             <a href={% url 'property_review_all_vote' review_id=review.pk opinion='dis_like' %}><i
                                data-toggle="tooltip" data-placement="bottom" title="dislike"
                                class="fa fa-thumbs-o-down " style="color: #fff;">
                             <span>{% if  review.get_total_dis_likes %}{{review.get_total_dis_likes}}
                             {% else %} 0 {% endif %}</span></i>
                             </a>
                             {% endif %}
                            </button>                                               
                           
                            <a class="btn btn-green btn-circle text-uppercase">
                              
                                {% with ''|center:review.rating as range %}
                                {% for _ in range %}
                                <span class="glyphicon glyphicon-star"></span>
                                {% endfor %}
                                {% endwith %}
                                {% five_minus_rating review.rating as five_minus_rate %}
                                
                                {% with ''|center:five_minus_rate as range %}
                                {% for _ in range %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                                {% endfor %}
                                {% endwith %}
                            
                            </a>
                          </div>
                        </div>
                    
                    </li>
    
                    
                      {% endfor %}
    
                     </ul>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
      </section>
        

    <!--==========================
      Footer
    ============================-->

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 about-text">
            <h6>About</h6>
            <p class="text-justify">We are a strong team focused on building a network where we could serve you regarding all your needs of having your own shelter.

              We are bound to provide you the best possible care and support which helps you meet your demands.

              Our core values- “Honesty, Authenticity, Concerns for Customer’s Privacy and Safety” are all closely interwoven into the fibre of our efforts.

              We help you to find your match, book rental homes of choice across Indian cities.
            </p>
            <p>Accept our warm SheltOwn hug.</p>
          </div>

          <div class="col-xs-6 col-md-3 category-text">
            <ul class="footer-links">
              <li><a href="{% url 'sheltown-aboutus' %}">About Us</a></li>
              <li><a href="{% url 'policy_list' %}">Policy</a></li>
              <li><a href="{% url 'policy_list' %}">FAQs</a></li>
              <li><a href="{% url 'policy_list' %}">SheltOwn+</a></li>
              <li><a href="{% url 'policy_list' %}">SheltOwn Family+</a></li>
              <li><a href="{% url 'sheltown-aboutus' %}#contact-us" class="scrollto">Contact Us</a></li>
            </ul>
          </div>
  
          <div class="col-xs-6 col-md-3 quick-text">
            <ul class="footer-links">
              <li><a href="{% url 'sheltown-testimonial' %}">Testimonials</a></li>
              <li><a href="{% url 'sheltown-blog' %}">Blogs</a></li>
              <li><a href="{% url 'join' %}">Join our Team</a></li>

         
              <li><a href="{% url 'becomepartner' %}">List your Property</a></li>
              <li><a href="{% url 'becomepartner' %}">Become our Service Partner</a></li>
                           
              
              <li><a href="#">SiteMap</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <section id="footer-two">
      <div class="container">
        <a style="color: #2ecab580; cursor: pointer;" onclick="javascript:ShowHide('HiddenDiv')">More info</a>
        <br>
        <div class="mid" id="HiddenDiv" style="display: none;">
          <div class="row" id="more">
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Room for rent in Delhi</a></li>
                <li><a href="#">Room for boys in Delhi</a></li>
                <li><a href="#">Room for girls in Delhi</a></li>
                <li><a href="#">Room for family in Delhi</a></li>
                <li><a href="#">Room for couple in Delhi</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">PG for rent in Delhi</a></li>
                <li><a href="#">PG for boys in Delhi</a></li>
                <li><a href="#">PG for girls in Delhi</a></li>
                <li><a href="#">PG for family in Delhi</a></li>
                <li><a href="#">PG for couple in Delhi</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Hostel for rent in Delhi</a></li>
                <li><a href="#">Hostel for boys in Delhi</a></li>
                <li><a href="#">Hostel for girls in Delhi</a></li>
                <li><a href="#">Hostel for family in Delhi</a></li>
                <li><a href="#">Hostel for couple in Delhi</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Flats for rent in Delhi</a></li>
                <li><a href="#">Flats for boys in Delhi</a></li>
                <li><a href="#">Flats for girls in Delhi</a></li>
                <li><a href="#">Flats for family in Delhi</a></li>
                <li><a href="#">Flats for couple in Delhi</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Apartments for rent in Delhi</a></li>
                <li><a href="#">Apartments for boys in Delhi</a></li>
                <li><a href="#">Apartments for girls in Delhi</a></li>
                <li><a href="#">Apartments for family in Delhi</a></li>
                <li><a href="#">Apartments for couple in Delhi</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">House for rent in Delhi</a></li>
                <li><a href="#">House for boys in Delhi</a></li>
                <li><a href="#">House for girls in Delhi</a></li>
                <li><a href="#">House for family in Delhi</a></li>
                <li><a href="#">House for couple in Delhi</a></li>
              </ul>
            </div>

            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Room for rent in Kota</a></li>
                <li><a href="#">Room for boys in Kota</a></li>
                <li><a href="#">Room for girls in Kota</a></li>
                <li><a href="#">Room for family in Kota</a></li>
                <li><a href="#">Room for couple in Kota</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">PG for rent in Kota</a></li>
                <li><a href="#">PG for boys in Kota</a></li>
                <li><a href="#">PG for girls in Kota</a></li>
                <li><a href="#">PG for family in Kota</a></li>
                <li><a href="#">PG for couple in Kota</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Hostel for rent in Kota</a></li>
                <li><a href="#">Hostel for boys in Kota</a></li>
                <li><a href="#">Hostel for girls in Kota</a></li>
                <li><a href="#">Hostel for family in Kota</a></li>
                <li><a href="#">Hostel for couple in Kota</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Flats for rent in Kota</a></li>
                <li><a href="#">Flats for boys in Kota</a></li>
                <li><a href="#">Flats for girls in Kota</a></li>
                <li><a href="#">Flats for family in Kota</a></li>
                <li><a href="#">Flats for couple in Kota</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Apartments for rent in Kota</a></li>
                <li><a href="#">Apartments for boys in Kota</a></li>
                <li><a href="#">Apartments for girls in Kota</a></li>
                <li><a href="#">Apartments for family in Kota</a></li>
                <li><a href="#">Apartments for couple in Kota</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">House for rent in Kota</a></li>
                <li><a href="#">House for boys in Kota</a></li>
                <li><a href="#">House for girls in Kota</a></li>
                <li><a href="#">House for family in Kota</a></li>
                <li><a href="#">House for couple in Kota</a></li>
              </ul>
            </div>


            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Room for rent in Varanasi</a></li>
                <li><a href="#">Room for boys in Varanasi</a></li>
                <li><a href="#">Room for girls in Varanasi</a></li>
                <li><a href="#">Room for family in Varanasi</a></li>
                <li><a href="#">Room for couple in Varanasi</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">PG for rent in Varanasi</a></li>
                <li><a href="#">PG for boys in Varanasi</a></li>
                <li><a href="#">PG for girls in Varanasi</a></li>
                <li><a href="#">PG for family in Varanasi</a></li>
                <li><a href="#">PG for couple in Varanasi</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Hostel for rent in Varanasi</a></li>
                <li><a href="#">Hostel for boys in Varanasi</a></li>
                <li><a href="#">Hostel for girls in Varanasi</a></li>
                <li><a href="#">Hostel for family in Varanasi</a></li>
                <li><a href="#">Hostel for couple in Varanasi</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Flats for rent in Varanasi</a></li>
                <li><a href="#">Flats for boys in Varanasi</a></li>
                <li><a href="#">Flats for girls in Varanasi</a></li>
                <li><a href="#">Flats for family in Varanasi</a></li>
                <li><a href="#">Flats for couple in Varanasi</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Apartments for rent in Varanasi</a></li>
                <li><a href="#">Apartments for boys in Varanasi</a></li>
                <li><a href="#">Apartments for girls in Varanasi</a></li>
                <li><a href="#">Apartments for family in Varanasi</a></li>
                <li><a href="#">Apartments for couple in Varanasi</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">House for rent in Varanasi</a></li>
                <li><a href="#">House for boys in Varanasi</a></li>
                <li><a href="#">House for girls in Varanasi</a></li>
                <li><a href="#">House for family in Varanasi</a></li>
                <li><a href="#">House for couple in Varanasi</a></li>
              </ul>
            </div>

            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Room for rent in Patna</a></li>
                <li><a href="#">Room for boys in Patna</a></li>
                <li><a href="#">Room for girls in Patna</a></li>
                <li><a href="#">Room for family in Patna</a></li>
                <li><a href="#">Room for couple in Patna</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">PG for rent in Patna</a></li>
                <li><a href="#">PG for boys in Patna</a></li>
                <li><a href="#">PG for girls in Patna</a></li>
                <li><a href="#">PG for family in Patna</a></li>
                <li><a href="#">PG for couple in Patna</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Hostel for rent in Patna</a></li>
                <li><a href="#">Hostel for boys in Patna</a></li>
                <li><a href="#">Hostel for girls in Patna</a></li>
                <li><a href="#">Hostel for family in Patna</a></li>
                <li><a href="#">Hostel for couple in Patna</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Flats for rent in Patna</a></li>
                <li><a href="#">Flats for boys in Patna</a></li>
                <li><a href="#">Flats for girls in Patna</a></li>
                <li><a href="#">Flats for family in Patna</a></li>
                <li><a href="#">Flats for couple in Patna</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">Apartments for rent in Patna</a></li>
                <li><a href="#">Apartments for boys in Patna</a></li>
                <li><a href="#">Apartments for girls in Patna</a></li>
                <li><a href="#">Apartments for family in Patna</a></li>
                <li><a href="#">Apartments for couple in Patna</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
              <ul class="footer-two-links">
                <li><a href="#">House for rent in Patna</a></li>
                <li><a href="#">House for boys in Patna</a></li>
                <li><a href="#">House for girls in Patna</a></li>
                <li><a href="#">House for family in Patna</a></li>
                <li><a href="#">House for couple in Patna</a></li>
              </ul>
            </div>
            <br>
            <div class="col-xs-6 col-sm-3">
              <ul class="footer-two-links">
                <li><a href="#">Electrician in Delhi</a></li>
                <li><a href="#">Plumber in Delhi</a></li>
                <li><a href="#">Repair & Maintenance in Delhi</a></li>
                <li><a href="#">Home Tuition in Delhi</a></li>
                <li><a href="#">Newspaper-Wala in Delhi</a></li>
                <li><a href="#">Salon in Delhi</a></li>
                <li><a href="#">Hair-Cut in Delhi</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
              <ul class="footer-two-links">
                <li><a href="#">Electrician in Varanasi</a></li>
                <li><a href="#">Plumber in Varanasi</a></li>
                <li><a href="#">Repair & Maintenance in Varanasi</a></li>
                <li><a href="#">Home Tuition in Varanasi</a></li>
                <li><a href="#">Newspaper-Wala in Varanasi</a></li>
                <li><a href="#">Salon in Varanasi</a></li>
                <li><a href="#">Hair-Cut in Varanasi</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
              <ul class="footer-two-links">
                <li><a href="#">Electrician in Patna</a></li>
                <li><a href="#">Plumber in Patna</a></li>
                <li><a href="#">Repair & Maintenance in Patna</a></li>
                <li><a href="#">Home Tuition in Patna</a></li>
                <li><a href="#">Newspaper-Wala in Patna</a></li>
                <li><a href="#">Salon in Patna</a></li>
                <li><a href="#">Hair-Cut in Patna</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
              <ul class="footer-two-links">
                <li><a href="#">Electrician in Kota</a></li>
                <li><a href="#">Plumber in Kota</a></li>
                <li><a href="#">Repair & Maintenance in Kota</a></li>
                <li><a href="#">Home Tuition in Kota</a></li>
                <li><a href="#">Newspaper-Wala in Kota</a></li>
                <li><a href="#">Salon in Kota</a></li>
                <li><a href="#">Hair-Cut in Kota</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <br>
            <a href="mailto:info@sheltown.com">info@sheltown.com</a>
            <br>
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved

            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <br>
            <ul class="social-icons">
              <li><a href="https://www.facebook.com/sheltown.india" class="fa fa-facebook"></a></li>
              <li><a class="twitter" href="https://twitter.com/OwnShelt?s=20"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="https://instagram.com/sheltown.india"><i class="fa fa-instagram"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/company/sheltown"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- #footer -->

 <!--Modal-->
 <div class="modal fade container-fluid" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Create Account</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <form id="first">
                      <div class="row" style="margin-top: 5px; margin-bottom: 15px;"> 
                          <div class="col-sm-3"><input type="radio" name="user" checked><small>&nbspUser</small></div>
                          <div class="col-sm-4"><input type="radio" name="user"><small>&nbspProperty Owner</small></div>
                          <div class="col-sm-4"><input type="radio" name="user"><small>&nbspService Provider</small></div>
                      </div>
                      Enter your Phone Number<br>
                      <input required type="tel" placeholder="+91" pattern="[7-9]{1}[0-9]{9}" maxlength="10" minlength="10" title="Enter a valid phone number" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"><br>
                      <small>Your information is safe with us</small>
                      <br><br>
                      <input required type="checkbox">&nbspBy continuing, you agree to our <a href="policy-page.html">Terms and Conditions</a>
                      <br>
                      <center><input type="submit" class="btn btn-success" value="Send OTP" style="margin: 5px 0;"></center>
                      <center><small>Already have an account? <a href="login-user.html">Log In now</a></small></center>
                  </form>
              </div>
              <div class="form-group">
                  <form id="second" style="display:none;">
                      <p>Phone Number: +91-1234567890 <button type="button" class="btn btn-secondary" id="back" style="float: right;">Change Number</button></p>
                      <br>
                      Enter OTP
                      <input required type="text" placeholder="xxxxxx" minlength="6" maxlength="6" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;">
                      <center><input type="submit" class="btn btn-success" value="Verify"></center>
                      <br>
                      <p>xx:xx time left<button type="button" class="btn btn-warning" style="float: right; padding: 3px;"><small>Resend OTP</small></button></p>
                  </form>
              </div>
              <div class="form-group">
                  <form id="third" style="display: none;">
                      <p>Verified Phone Number: +91 1234567890</p>
                      <table style="width: 100%">
                          <tr>
                              <td>Name&nbsp</td>
                              <td><input required type="text" placeholder="Name" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"></td>
                          </tr>
                          <tr>
                              <td>Email&nbsp</td>
                              <td><input required type="email" placeholder="e-mail" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"></td>
                          </tr>
                          <tr>
                              <td>Password&nbsp</td>
                              <td><input required type="password" placeholder="Password" style="width:100%;border-radius: 5px; padding: 5px; margin: 5px 0;"></td>
                          </tr>
                      </table>
                      <br>
                      <center><input type="submit" class="btn btn-success" value="Create Account"></center>
                  </form>
              </div>
              <div class="form-group">
                  <form id="fourth" style="display:none;">
                      <hr>
                      <div class="google-btn" style="margin: 0 auto;">
                          <div class="google-icon-wrapper">
                              <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                          </div>
                          <a href="#" class="btn-text"><b>Sign in with google</b></a>
                      </div>
                  </form>
              </div>
              <div class="form-group"> 
              <hr>
              <form id="fifth">
                <div class="row listbox" style="margin: 0 auto;">
                  <div class="col-sm-6"><i class="fa fa-check"></i> Safety Guaranteed</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> No Brokerage</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> Ultimate Privacy</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> Good Ambience</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> Affordable</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> Laissez-faire Policy</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> SheltOwn Verified</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> All-at-Home Services</div>
                  <div class="col-sm-6"><i class="fa fa-check"></i> Round-the-Clock Assistance</div>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>

<script>
  $('#first').submit(function(e){
      $('#first').hide(); 
      $('#second').show(); 
      $('#third').hide(); 
      $('#fourth').hide(); 
      e.preventDefault();
      // Or with: return false;        
  });
  $('#second').submit(function(e){
      $('#first').hide(); 
      $('#second').hide();
      $('#third').show(); 
       $('#fourth').show(); 
       $('#fifth').hide();
      e.preventDefault();
      // Or with: return false;        
  });
  
  $('#back').click(function(e){
      $('#first').show(); 
      $('#second').hide(); 
      $('#third').hide(); 
      $('#fourth').hide(); 
      e.preventDefault();
      // Or with: return false;        
  });
  </script>
  
    <!--  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
    <script type="text/javascript">
      // <![CDATA[
      function ShowHide(divId) {
        var atxt = document.getElementById("atext");
        if (document.getElementById(divId).style.display == 'none') {
          document.getElementById(divId).style.display = 'block';
        } else {
          document.getElementById(divId).style.display = 'none';
        }
      }
      // ]]>
      function Show(divId) {
        var atxt = document.getElementById("showmore");
        if (document.getElementById(divId).style.display == 'none') {
          document.getElementById(divId).style.display = 'block';
        } else {
          document.getElementById(divId).style.display = 'none';
        }
      }

      function openCity(evt, cityName) {
        var i, container_revmain, tablinks;
        container_revmain = document.getElementsByClassName("container_revmain");
        for (i = 0; i < container_revmain.length; i++) {
          container_revmain[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }

      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
    </script>
    <script>
      $(document).ready(function() {
        $('[data-toggle="popover"]').popover();
      });
    </script>
    JavaScript Libraries
    <script src="{% static 'sheltownapp/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'sheltownapp/lib/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'sheltownapp/lib/superfish/superfish.min.js' %}"></script>
    <script src="{% static 'sheltownapp/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'sheltownapp/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'sheltownapp/lib/sticky/sticky.js' %}"></script>
  
  

    <script src="{% static 'sheltownapp/js/main.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
      //ES5
      $.fn.stars = function() {
        return $(this).each(function() {
          var rating = $(this).data("rating");
          var fullStar = new Array(Math.floor(rating + 1)).join('<i class="fas fa-star"></i>');
          var halfStar = ((rating % 1) !== 0) ? '<i class="fas fa-star-half-alt"></i>' : '';
          var noStar = new Array(Math.floor($(this).data("numStars") + 1 - rating)).join('<i class="far fa-star"></i>');
          $(this).html(fullStar + halfStar + noStar);
        });
      }

      //ES6
      $.fn.stars = function() {
        return $(this).each(function() {
          const rating = $(this).data("rating");
          const numStars = $(this).data("numStars");
          const fullStar = '<i class="fas fa-star"></i>'.repeat(Math.floor(rating));
          const halfStar = (rating % 1 !== 0) ? '<i class="fas fa-star-half-alt"></i>' : '';
          const noStar = '<i class="far fa-star"></i>'.repeat(Math.floor(numStars - rating));
          $(this).html(`${fullStar}${halfStar}${noStar}`);
        });
      }

      $(function() {
        $('.stars').stars();
      });
    </script>
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function() {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5ee991aa9e5f69442290b6fb/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
    <!-- Template Main Javascript File -->
    <script src="{% static 'sheltownapp/js/main.js' %}"></script>
  </body>

  </html>