{% load static %}
{% load security_deposit %}

<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- map marker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="{% static 'sheltownapp/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link href="{% static 'sheltownapp/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">

  <!-- style sheets -->

  <link rel="stylesheet" href="{% static 'sheltownapp/css/style2.css' %}">
  <link rel="stylesheet" href="{% static 'sheltownapp/assets/css/rental-services-details.css' %}">
  <link rel="stylesheet" href="{% static 'sheltownapp/assets/css/personal-style.css' %}">
  
  <style>
    .well .btn-green {
      background-color: #408E3C;
      border: 0px;
      color: white;
    }
    .btn-def {
      background-color: #2874F0;
      color: #fff;
      border-radius: 50px;
      padding: 5px;
      font-size: 10px;
    }
  </style>
</head>

<body id="body" onload="myFunction()">
        <!--==========================
         Header
       ============================-->
       <header id="header">
        <div id="logo" class="pull-left">
          <a href="{% url 'sheltown-emptyredirect' %}">
            <img src="{% static 'sheltownapp/img/logo.png' %}" alt="logo">
          </a>
        </div>
     
     <!-- <div id="logo" class="pull-left" style="margin-top:8px;">
           <a href="{% url 'sheltown-emptyredirect' %}">
           <p >SheltOwn</p>
           </a>
         </div>
           </div> -->
     
           <nav id="nav-menu-container">
             <ul class="nav-menu">
              
            {% if user.is_authenticated %}
            {% ifequal user.custom_user.usertype "User" %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'sheltown-personalservice' 'DELHI' 'NCR' %}"><i class="fa fa-star" aria-hidden="true" ></i> &nbsp;Personalised</a></li>
            <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true"></i> &nbsp;Rental</a></li>
            <li><a href="{% url 'myaccount-userpartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;My Account</a></li>

            {% endifequal %}

            {% ifequal user.custom_user.usertype "Property Owner" %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'myaccount-propertypartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;My Account</a></li>
            {% endifequal %}

            {% ifequal user.custom_user.usertype "Service Provider" %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'myaccount-servicepartner'  %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;My Account</a></li>
            {% endifequal %}  

            {% else %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'sheltown-personalservice' 'DELHI' 'NCR' %}"><i class="fa fa-star" aria-hidden="true" ></i> &nbsp;Personalised</a></li>
            <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true" ></i> &nbsp;Rental</a></li>
     
     
                
            <li><a href="{% url 'sheltown-index' 'openmodal' %}"><i class="fa fa-user-plus" aria-hidden="true" ></i> &nbsp;Sign up</a></li>
            <li><a href="{% url 'login' %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;Log in</a></li>
            {% endif %}
          </ul>
           </nav><!-- #nav-menu-container -->
         </div>
       </header><!-- #header -->





  <section class="property">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8" style="padding-right:40px;">
          <h2 class="heading">{{ rental.name }}&nbsp;&nbsp;
            {% if rental.is_sheltown_verified %}
            <span class="glyphicon glyphicon-ok btn-def"></span>
            {% endif %}
          </h2>
          <p><i class='fas fa-map-marker-alt' style='font-size:20px;color:#ff9719;'></i> &nbsp;{{ rental.locality }}</p>
          

          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for image in rental.images.all %}
              <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }} " class="{% if forloop.first %} active{% endif %}"></li>
                {% endfor %}
            </ol>
            <!-- Wrapper for slides -->
            
            <div class="carousel-inner">

                {% for image in rental.images.all %}

                <div class="item  {% if forloop.first %} active{% endif %}" >

                  <img src="{{ image.image.url }}" alt="Property Images"  style="width:100%;height:400px;">
<!-- #class image-fluid -->
                </div>

                {% endfor %}

                <!-- <div class="item active">
                    <img src="img/arch1.jpeg" alt="Los Angeles" style="width:100%;height:400px;">
                    <div class="carousel-caption">
                        <h3>Title</h3>
                        <p>Description about picture</p>
                    </div>
                </div> -->

                <!-- <div class="item">
                    <img src="img/arch2.jpeg" alt="Chicago" style="width:100%;height:400px">
                    <div class="carousel-caption">
                        <h3>Title</h3>
                        <p>Description about picture</p>
                    </div>
                </div>

                <div class="item">
                    <img src="img/arch3.jpeg" alt="New York" style="width:100%;height:400px">
                    <div class="carousel-caption">
                        <h3>Title</h3>
                        <p>Description about picture</p>
                    </div>
                </div> -->
            </div>
            

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row offers-carousel">
            <div class="col-md-12">
              <div id="second_carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for coupon in coupons %}
                  <li data-target="#second_carousel" data-slide-to="{{ forloop.counter0 }} " class="{% if forloop.first %} active{% endif %}"></li>
                    {% endfor %}
                </ol>                
                <!-- Wrapper for slides -->
               
                <div class="carousel-inner">
                    {% for coupon in coupons %}

                    <div class="item  {% if forloop.first %} active{% endif %}" >

                      <img src="{{ coupon.image_with_all_information_to_be_displayed.url }}" alt="Offer Images" style="width:100%;height:150px;">

                    </div>

                    {% endfor %}

                    <!-- <div class="item active">
                        <img src="img/arch1.jpeg" alt="Los Angeles" style="width:100%;height:150px;">
                        <div class="carousel-caption">
                            <h4>Offers</h4>
                        </div>
                    </div>

                    <div class="item">
                        <img src="img/arch2.jpeg" alt="Chicago" style="width:100%;height:150px">
                        <div class="carousel-caption">
                            <h4>Offers</h4>
                        </div>
                    </div>

                    <div class="item">
                        <img src="img/arch3.jpeg" alt="New York" style="width:100%;height:150px">
                        <div class="carousel-caption">
                            <h4>Offers</h4>
                        </div>
                    </div> -->
                </div>                
               
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#second_carousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#second_carousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
          <div class="row rent-price-box">
            <div class="col-md-12">
              <h4>Rent Details</h4>
              <p>
                <span>Rent:&nbsp</span>
                <i class="fa fa-inr"></i>{% if rental.percentage_discount_from0to100 %}<s>{% endif %}{{rental.rent|floatformat:"0"}}{% if rental.percentage_discount_from0to100 %}</s>{% endif %}&nbsp&nbsp
                {% if rental.percentage_discount_from0to100 %}
                <b><i class="fa fa-inr"></i>{{rental.get_discounted_price|floatformat:"0"}}</b>&nbsp&nbsp {{rental.percentage_discount_from0to100|floatformat:"0"}}% Off
                {% endif %}
            </p>
              <p>
                <span>Security Deposit:&nbsp</span>
                <i class="fa fa-inr"></i>{% security_deposit_tag rental.security_deposit rental.rent|floatformat:"0" %}
              </p>
              <p>
                <span>Reservation Amount:&nbsp</span>
                <i class="fa fa-inr"></i>{% reservation_amount rental.get_discounted_price|floatformat:"0" %}
                <a href="#" title="Reservation Amount" data-toggle="popover" data-trigger="hover" data-content="Pay {% reservation_amount rental.get_discounted_price|floatformat:"0" %} to reserve your spot"><i class="fa fa-info-circle"></i></a>
              </p>
              <br />
              <center>
                <a href="{% url 'property-booking' property_id %}" class="button_book">Book Now</a>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="description">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8" style="padding-right:40px;">
          <h2 class="heading heading-background">Description <span style="color:darkgreen;font-size:12px">&nbsp<i class="fa fa-check"></i>&nbsp100% Brokage free</span></h2>
          <p> {{ rental.description_by_property_owner | linebreaksbr  }} </p>
          <p><b>Address:</b> &nbsp;{{rental.address_1}}, {{rental.address_2}}</p>
        </div>
        <div class="col-md-4">
          <div class="row typess">
            <div class="col-md-6 info pg-info">
                {% prop_type rental.proptype %}
            </div>
            {% if rental.electricity_included %}
            <div class="col-md-6 info sheltown-info">
                Electricity Included
            </div>
            {% endif %}
            {% if not rental.electricity_included %}
            <div class="col-md-6 info sheltown-info">
                Electricity Not Included
            </div>
            {% endif %}  
          </div>
          <div class="row typess">
            <div class="col-md-6 info male-info">
                {{ rental.gender_restrictions}}
            </div>
            {% if rental.is_meals_included %}
            <div class="col-md-6 info meal-info">
                Meals Included
            </div>
            {% endif %}
            {% if not rental.is_meals_included %}
            <div class="col-md-6 info meal-info">
                Meals Not Included
            </div>
            {% endif %} 
          </div>
          <div class="row typess">
            <div class="col-md-6 info furnished-info">
                {{ rental.furnished_type }}
            </div>
            <div class="col-md-6 info available-info">
                {{ rental.status }}
            </div>
          </div>

          <div class="row typess">
                        
            {% if rental.virtual_tour %}
            <!-- <button type="button" class="btn btn-outline-dark"> -->
                <div class="col-md-8">
            
            <a class="btn button_book   btn-large" target="_blank" style="margin-top: 2%;" href="{{ rental.virtual_tour }}">Take a Virtual Tour!</a>
           </div>
        <!-- </button> -->
            {% endif %}

        </div>

        </div>
      </div>
    </div>
  </section>

  <section class="amenity">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading heading-background">Amenities</h2>
        </div>
      </div>

      <div class="container_amn col-sm-2">
        <div class="row_amn">
            {% if rental.amenities.ambulance %}
            <div class="column_amn">
                <i class="fa fa-ambulance" style="font-size:15px;color:#ff9719;"></i> Ambulance <br>
            </div>
            {% endif %}
            {% if rental.amenities.wifi %}
            <div class="column_amn">
                <i class="fa fa-wifi" style="font-size:15px;color:#ff9719;"></i> Wifi <br>
            </div>
            {% endif %}
            {% if rental.amenities.TV %}
            <div class="column_amn">
                <i class="fa fa-tv" style="font-size:15px;color:#ff9719;"></i> TV <br>
            </div>
            {% endif %}
            {% if rental.amenities.medical_centre %}
            <div class="column_amn">
                <i class="fa fa-h-square" style="font-size:15px;color:#ff9719;"></i> Medical Center <br>
            </div>
            {% endif %}
            {% if rental.amenities.table_chair %}
            <div class="column_amn">
                <i class="fa fa-chair" style="font-size:15px;color:#ff9719;"></i> Table & Chair <br>
            </div>
            {% endif %}
            {% if rental.amenities.guard %}
            <div class="column_amn">
                <i class="fas fa-user-shield" style="font-size:15px;color:#ff9719;"></i> Guard <br>
            </div>
            {% endif %}
            {% if rental.amenities.bed %}
            <div class="column_amn">
                <i class="fa fa-bed" style="font-size:15px;color:#ff9719;"></i> Bed <br>
            </div>
            {% endif %}
            {% if rental.amenities.parking %}
            <div class="column_amn">
                <i class="fa fa-motorcycle" style="font-size:15px;color:#ff9719;"></i> Parking <br>
            </div>
            {% endif %}
            {% if rental.amenities.laundry_service %}
            <div class="column_amn">
                <i class="fa fa-check" style="font-size:15px;color:#ff9719;"></i> Laundry <br>
            </div>
            {% endif %}
            {% if rental.amenities.microwave %}
            <div class="column_amn">
                <i class="fa fa-check-circle" style="font-size:15px;color:#ff9719;"></i> Microwave <br>
            </div>
            {% endif %}
            {% if rental.amenities.balcony %}
            <div class="column_amn">
                <i class="fa fa-check-circle" style="font-size:15px;color:#ff9719;"></i> Balcony <br>
            </div>
            {% endif %}
            {% if rental.amenities.attached_bathroom %}
            <div class="column_amn">
                <i class="fa fa-check" style="font-size:15px;color:#ff9719;"></i>Attached Bathroom<br>
            </div>
            {% endif %}
            {% if rental.amenities.gym %}
            <div class="column_amn">
                <i class="fas fa-dumbbell" style="font-size:15px;color:#ff9719;"></i> Gym <br>
            </div>
            {% endif %}
            {% if rental.amenities.CCTV %}
            <div class="column_amn">
                <i class="fa fa-h-square" style="font-size:15px;color:#ff9719;"></i> CCTV <br>
            </div>
            {% endif %}
            {% if rental.amenities.pool %}
            <div class="column_amn">
                <i class="fa fa-water" style="font-size:15px;color:#ff9719;"></i> Pool <br>
            </div>
            {% endif %}
            {% if rental.amenities.lift %}
            <div class="column_amn">
                <i class="fa fa-check-circle" style="font-size:15px;color:#ff9719;"></i> Lift <br>
            </div>
            {% endif %}
            {% if rental.amenities.AC %}
            <div class="column_amn">
                <i class="fas fa-snowflake" style="font-size:15px;color:#ff9719;"></i> Ac <br>
            </div>
            {% endif %}
            {% if rental.amenities.cooler %}
            <div class="column_amn">
                <i class="fas fa-snowflake" style="font-size:15px;color:#ff9719;"></i> Cooler<br>
            </div>     
            {% endif %}  
            {% if rental.amenities.fridge %}
            <div class="column_amn">
                <i class="fa fa-check-circle" style="font-size:15px;color:#ff9719;"></i> Refrigerator<br>
            </div>
            {% endif %} 
            {% if rental.amenities.RO %}
            <div class="column_amn">
                <i class="fa fa-check" style="font-size:15px;color:#ff9719;"></i> R.O.<br>
            </div>
            {% endif %} 
            {% if rental.amenities.powerbackup %}
            <div class="column_amn">
                <i class="fas fa-plug" style="font-size:15px;color:#ff9719;"></i> Power Backup<br>
            </div>  
            {% endif %} 

            {% for amenity in rental.advanced_amenities.all %}
            <div class="column_amn">
                <i class="fa fa-check-circle" style="font-size:15px;color:#ff9719;"></i>
                <!-- <img href="{{amenity.amenity_icon.url}}"  style="width:20px;height:20px;"> -->
                {{amenity.amenity_name}}<br>
            </div>                         
            {% endfor %}
        </div>

        <!-- <div class="row_amn">
          <div class="column_amn">
            <i class="fa fa-bed" style="font-size:15px;color:#ff9719;"></i> Bed <br>
          </div>
          <div class="column_amn">
            <i class="fa fa-motorcycle" style="font-size:15px;color:#ff9719;"></i> Parking <br>
          </div>
          <div class="column_amn">
            <i class="fa fa-check" style="font-size:15px;color:#ff9719;"></i> Laundry <br>
          </div>
          <div class="column_amn">
            <i class="fa fa-check-circle" style="font-size:15px;color:#ff9719;"></i> Microwave <br>
          </div>
          <div class="column_amn">
            <i class="fa fa-check-circle" style="font-size:15px;color:#ff9719;"></i> Balcony <br>
          </div>
          <div class="column_amn">
            <i class="fa fa-check" style="font-size:15px;color:#ff9719;"></i>Attached Bathroom<br>
          </div>
        </div>

        <div class="row_amn">
          <div class="column_amn">
            <i class="fas fa-dumbbell" style="font-size:15px;color:#ff9719;"></i> Gym <br>
          </div>
          <div class="column_amn">
            <i class="fa fa-h-square" style="font-size:15px;color:#ff9719;"></i> CCTV <br>
          </div>
          <div class="column_amn">
            <i class="fa fa-water" style="font-size:15px;color:#ff9719;"></i> Pool <br>
          </div>
          <div class="column_amn">
            <i class="fa fa-check-circle" style="font-size:15px;color:#ff9719;"></i> Lift <br>
          </div>
          <div class="column_amn">
            <i class="fas fa-snowflake" style="font-size:15px;color:#ff9719;"></i> Ac <br>
          </div>
          <div class="column_amn">
            <i class="fas fa-snowflake" style="font-size:15px;color:#ff9719;"></i> Cooler<br>
          </div>
        </div> -->
        <!-- <div class="row_amn">
          <div class="column_amn">
            <i class="fa fa-check-circle" style="font-size:15px;color:#ff9719;"></i> Refrigerator<br>
          </div>
          <div class="column_amn">
            <i class="fa fa-check" style="font-size:15px;color:#ff9719;"></i> R.O.<br>
          </div>
          <div class="column_amn">
            <i class="fas fa-plug" style="font-size:15px;color:#ff9719;"></i> Power Backup<br>
          </div>
        </div> -->

      </div>
    </div>
  </section>

  <section class="know-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading heading-background">Know your new home</h2>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>House Keeping</td>
                <td><button>{% housekeep rental.housekeeping_freq %}</button></td>
              </tr>
              <tr>
                <td>Owner Stays at property</td>
                <td><button> 
                    {%  if rental.owner_stays %}Yes{% endif %}
                    {% if not rental.owner_stays %}No{% endif %}
                </button></td>
              </tr>
              <!-- <tr>
                <td>Common Area</td>
                <td><button>Living Area</button><button> Kitchen</button><button> Dining Hall</button><button>BathRoom</button><button>Store Room</button></td>
              </tr> -->

              {% if rental.common_areas %}
              <tr>
                  <td>Common Areas</td> 
                  <td>
                  {% for area in rental.common_areas.all %}    
                  <button>{{area.name}}</button>
                  {% endfor %}
                </td>
              </tr>    
              {% endif %}

              <tr>
                <td>Non-Veg Allowed</td>
                <td><button> 
                    
                    {%  if rental.non_veg_allowed %}Yes{% endif %}
                    {% if not rental.non_veg_allowed %}No{% endif %}


                </button></td>
              </tr>
              <tr>
                <td>Visiters Allowed</td>
                <td><button> 

                    {%  if rental.visitor_allowed %}Yes{% endif %}
                    {% if not rental.visitor_allowed %}No{% endif %}

                </button></td>
              </tr>
              <tr>
                <td>Drinking and Smoking Allowed</td>
                <td><button> 
                    
                    {%  if rental.smoking_drinking_allowed %}Yes{% endif %}
                    {% if not rental.smoking_drinking_allowed %}No{% endif %}

                </button></td>
              </tr>
              <tr>
                <td>Total Beds</td>
                <td><button> {{ rental.total_no_of_beds }}</button></td>
              </tr>
              <tr>
                <td>Sharing type</td>
                <td><button> +5</button></td>
              </tr>

              {% prop_type rental.proptype as propty %}

              {% ifequal propty "Pg/hostel" %}
              <tr>
              <td>Sharing type</td>
              <td><button> {% sharing_type rental.proptype %}</button></td>             
              </tr>
              {% endifequal %}
              
              {% ifequal propty "Flat/apartment" %}
              <tr>
              <td>BHK type</td>
              <td><button>{% sharing_type rental.proptype %}</button></td>>
              </tr>
              {% endifequal %}
            
              <tr>
                <td>Max. bed in a room</td>
                <td><button> {{ rental.max_bed_in_room }}</button></td>
              </tr>
              {% if rental.nearby %}
              <tr>
                <td>Landmarks Nearby</td>
                <td>
                    {% for lndmrk in rental.nearby.all %}    
                    <button> {{ lndmrk.name }}</button>
                    {% endfor %}
                </td>
              </tr>
              {% endif %}

              <tr>

              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="policy">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading heading-background">How SheltOwn is helping me
            <a href="#" data-toggle="popover" data-trigger="hover" data-content="Click to go on Policy page" class="fa fa-question-circle"></a>
          <!--  ADD LINK HERE LATER-  -->
        </h2>
          <div class="container_amn" style="margin-left:23px; margin-top: 2rem;">
            <ul_de>
                {% for point in list_help %}
                <li>{{ point.list_item_text | linebreaksbr }}</li>
            {% endfor %}
            </ul_de>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% if rental.reviews.all > 0 %}
  <section class="user-rating">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="container_rat">
            <span class="heading">User Rating</span>
            <!-- <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span> -->
            <span class="stars" data-rating="{{ rental.rating }}" data-num-stars="5" ></span>


            {% if rental.reviews.all > 0 %}
            <p>{{ rental.rating }} average based on {{rental.reviews.all|length}} reviews.</p>
            <hr style="border:1px solid #ff9719">
            {% per_rating review_1 rental.reviews.all|length as per_1 %}
            {% per_rating review_2 rental.reviews.all|length as per_2 %}
            {% per_rating review_3 rental.reviews.all|length as per_3 %}
            {% per_rating review_4 rental.reviews.all|length as per_4 %}
            {% per_rating review_5 rental.reviews.all|length as per_5 %}
            {%  endif %}
            <div class="row_rat">
              <div class="side">
                <div>5 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-5" style="width: {{per_5}}%;"></div>
                </div>
              </div>
              <div class="side right">
                <div>{{review_5 }}</div>
              </div>

              <div class="side">
                <div>4 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-4" style="width: {{per_4}}%;"></div>
                </div>
              </div>
              <div class="side right">
                <div>{{review_4 }}</div>
              </div>

              <div class="side">
                <div>3 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-3" style="width: {{per_3}}%;"></div>
                </div>
              </div>
              <div class="side right">
                <div>{{review_3 }}</div>
              </div>

              <div class="side">
                <div>2 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-2" style="width: {{per_2}}%;"></div>
                </div>
              </div>
              <div class="side right">
                <div>{{review_2 }}</div>
              </div>

              <div class="side">
                <div>1 star</div>
              </div>
              <div class="middle">
                <div class="bar-container">
                  <div class="bar-1" style="width: {{per_1}}%;"></div>
                </div>
              </div>
              <div class="side right">
                <div>{{review_1 }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="guest">
    <div class="container-fluid">
      <h2 class="heading">Guest Reviews</h2>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="comment-tabs">
            <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab">
                  <h4 class="reviews text-capitalize">Reviews</h4>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <br>
              <div class="tab-pane active" id="comments-logout">
                <ul class="media-list">

                    {% for review in reviews %}
                    <li class="media">

                    <a name="review{{review.pk}}">   </a> 
                    <div class="media-body">
                      <div class="well well-lg">
                        <h4 class="media-heading text-uppercase reviews">{{ review.user }}</h4>
                        <small>{{ review.updated_at | date:'M d, Y'  }}</small>
                        <br><br>
                        <p class="media-comment">
                            {{ review.review | linebreaksbr}}
                        </p>
                        <br>
                       
                        <!-- <button class="btn btn-primary btn-circle text-uppercase"> -->
                            {% if request.user.custom_user in review.likes.users.all%}
                            <!-- already liked-->
                            <a href={% url 'property_review_vote' review_id=review.pk opinion='like' %} class="btn btn-primary btn-circle text-uppercase"> <i
                               data-toggle="tooltip" data-placement="bottom" title="Unlike"
                               class="fas fa-thumbs-up" style="color: #fff;">
                            <span>{{review.get_total_likes}}</span>
                            </i>
                            </a>
                            {% else %}
                            <!--not liked-->
                            <a href={% url 'property_review_vote' review_id=review.pk opinion='like' %} class="btn btn-primary btn-circle text-uppercase"><i
                               data-toggle="tooltip" data-placement="bottom" title="Like"
                               class="fa fa-thumbs-o-up" aria-hidden="true" style="color: #fff;">
                               
                            <span>{% if review.get_total_likes  %}{{review.get_total_likes}} {% else %} 0
                            {% endif %}</span></i>
                            </a>
                            {% endif %}
                        <!-- </button> -->
                        <!-- {{user.custom_user}} -->
                        <button class="btn btn-primary btn-circle text-uppercase">
                         {% if request.user.custom_user in review.dis_likes.users.all %}
                         <a href={% url 'property_review_vote' review_id=review.pk opinion='dis_like' %}><i
                            data-toggle="tooltip" data-placement="bottom" title="Undislike"
                            class="fas fa-thumbs-down " style="color: #fff;">
                         <span>{{review.get_total_dis_likes}}</span></i>
                         </a>
                         {% else %}
                         <a href={% url 'property_review_vote' review_id=review.pk opinion='dis_like' %}><i
                            data-toggle="tooltip" data-placement="bottom" title="dislike"
                            class="fa fa-thumbs-o-down " style="color: #fff;">
                         <span>{% if  review.get_total_dis_likes %}{{review.get_total_dis_likes}}
                         {% else %} 0 {% endif %}</span></i>
                         </a>
                         {% endif %}
                        </button>                                               
                       
                        <a class="btn btn-green btn-circle text-uppercase">
                          
                            {% with ''|center:review.rating as range %}
                            {% for _ in range %}
                            <span class="glyphicon glyphicon-star"></span>
                            {% endfor %}
                            {% endwith %}
                            {% five_minus_rating review.rating as five_minus_rate %}
                            
                            {% with ''|center:five_minus_rate as range %}
                            {% for _ in range %}
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {% endfor %}
                            {% endwith %}
                        
                        </a>
                      </div>
                    </div>
                
                </li>

                
                  {% endfor %}

                 </ul>
              </div>
            </div>
            <center>
              <a class="btn btn-info" name="button" href="{% url 'property-detail-review' rental.pk %}">View All Reviews</a>
            </center>
          </div>
        </div>
      </div>
  </section>

  {%  endif %}
  <!--==========================
    Footer
  ============================-->

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 about-text">
          <h6>About</h6>
          <p class="text-justify">We are a strong team focused on building a network where we could serve you regarding all your needs of having your own shelter.

            We are bound to provide you the best possible care and support which helps you meet your demands.

            Our core values- “Honesty, Authenticity, Concerns for Customer’s Privacy and Safety” are all closely interwoven into the fibre of our efforts.

            We help you to find your match, book rental homes of choice across Indian cities.
          </p>
          <p>Accept our warm SheltOwn hug.</p>
        </div>


        <div class="col-xs-6 col-md-3 category-text">
          <ul class="footer-links">
            <li><a href="{% url 'sheltown-aboutus' %}">About Us</a></li>
            <li><a href="{% url 'policy_list' %}">Policy</a></li>
            <li><a href="{% url 'policy_list' %}">FAQs</a></li>
            <li><a href="{% url 'policy_list' %}">SheltOwn+</a></li>
            <li><a href="{% url 'policy_list' %}">SheltOwn Family+</a></li>
            <li><a href="{% url 'sheltown-aboutus' %}#contact-us" class="scrollto">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 quick-text">
          <ul class="footer-links">
            <li><a href="{% url 'sheltown-testimonial' %}">Testimonials</a></li>
            <li><a href="{% url 'sheltown-blog' %}">Blogs</a></li>
            <li><a href="{% url 'join' %}">Join our Team</a></li>

       
            <li><a href="{% url 'becomepartner' %}">List your Property</a></li>
            <li><a href="{% url 'becomepartner' %}">Become our Service Partner</a></li>
                         
            
            <li><a href="#">SiteMap</a></li>
          </ul>
        </div>

      </div>
    </div>
  </footer>
  <section id="footer-two">
    <div class="container">
      <a style="color: #2ecab580; cursor: pointer;" onclick="javascript:ShowHide('HiddenDiv')">More info</a>
      <br>
      <div class="mid" id="HiddenDiv" style="display: none;">
        <div class="row" id="more">
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Delhi</a></li>
              <li><a href="#">Room for boys in Delhi</a></li>
              <li><a href="#">Room for girls in Delhi</a></li>
              <li><a href="#">Room for family in Delhi</a></li>
              <li><a href="#">Room for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Delhi</a></li>
              <li><a href="#">PG for boys in Delhi</a></li>
              <li><a href="#">PG for girls in Delhi</a></li>
              <li><a href="#">PG for family in Delhi</a></li>
              <li><a href="#">PG for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Delhi</a></li>
              <li><a href="#">Hostel for boys in Delhi</a></li>
              <li><a href="#">Hostel for girls in Delhi</a></li>
              <li><a href="#">Hostel for family in Delhi</a></li>
              <li><a href="#">Hostel for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Delhi</a></li>
              <li><a href="#">Flats for boys in Delhi</a></li>
              <li><a href="#">Flats for girls in Delhi</a></li>
              <li><a href="#">Flats for family in Delhi</a></li>
              <li><a href="#">Flats for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Delhi</a></li>
              <li><a href="#">Apartments for boys in Delhi</a></li>
              <li><a href="#">Apartments for girls in Delhi</a></li>
              <li><a href="#">Apartments for family in Delhi</a></li>
              <li><a href="#">Apartments for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Delhi</a></li>
              <li><a href="#">House for boys in Delhi</a></li>
              <li><a href="#">House for girls in Delhi</a></li>
              <li><a href="#">House for family in Delhi</a></li>
              <li><a href="#">House for couple in Delhi</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Kota</a></li>
              <li><a href="#">Room for boys in Kota</a></li>
              <li><a href="#">Room for girls in Kota</a></li>
              <li><a href="#">Room for family in Kota</a></li>
              <li><a href="#">Room for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Kota</a></li>
              <li><a href="#">PG for boys in Kota</a></li>
              <li><a href="#">PG for girls in Kota</a></li>
              <li><a href="#">PG for family in Kota</a></li>
              <li><a href="#">PG for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Kota</a></li>
              <li><a href="#">Hostel for boys in Kota</a></li>
              <li><a href="#">Hostel for girls in Kota</a></li>
              <li><a href="#">Hostel for family in Kota</a></li>
              <li><a href="#">Hostel for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Kota</a></li>
              <li><a href="#">Flats for boys in Kota</a></li>
              <li><a href="#">Flats for girls in Kota</a></li>
              <li><a href="#">Flats for family in Kota</a></li>
              <li><a href="#">Flats for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Kota</a></li>
              <li><a href="#">Apartments for boys in Kota</a></li>
              <li><a href="#">Apartments for girls in Kota</a></li>
              <li><a href="#">Apartments for family in Kota</a></li>
              <li><a href="#">Apartments for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Kota</a></li>
              <li><a href="#">House for boys in Kota</a></li>
              <li><a href="#">House for girls in Kota</a></li>
              <li><a href="#">House for family in Kota</a></li>
              <li><a href="#">House for couple in Kota</a></li>
            </ul>
          </div>


          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Varanasi</a></li>
              <li><a href="#">Room for boys in Varanasi</a></li>
              <li><a href="#">Room for girls in Varanasi</a></li>
              <li><a href="#">Room for family in Varanasi</a></li>
              <li><a href="#">Room for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Varanasi</a></li>
              <li><a href="#">PG for boys in Varanasi</a></li>
              <li><a href="#">PG for girls in Varanasi</a></li>
              <li><a href="#">PG for family in Varanasi</a></li>
              <li><a href="#">PG for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Varanasi</a></li>
              <li><a href="#">Hostel for boys in Varanasi</a></li>
              <li><a href="#">Hostel for girls in Varanasi</a></li>
              <li><a href="#">Hostel for family in Varanasi</a></li>
              <li><a href="#">Hostel for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Varanasi</a></li>
              <li><a href="#">Flats for boys in Varanasi</a></li>
              <li><a href="#">Flats for girls in Varanasi</a></li>
              <li><a href="#">Flats for family in Varanasi</a></li>
              <li><a href="#">Flats for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Varanasi</a></li>
              <li><a href="#">Apartments for boys in Varanasi</a></li>
              <li><a href="#">Apartments for girls in Varanasi</a></li>
              <li><a href="#">Apartments for family in Varanasi</a></li>
              <li><a href="#">Apartments for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Varanasi</a></li>
              <li><a href="#">House for boys in Varanasi</a></li>
              <li><a href="#">House for girls in Varanasi</a></li>
              <li><a href="#">House for family in Varanasi</a></li>
              <li><a href="#">House for couple in Varanasi</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Patna</a></li>
              <li><a href="#">Room for boys in Patna</a></li>
              <li><a href="#">Room for girls in Patna</a></li>
              <li><a href="#">Room for family in Patna</a></li>
              <li><a href="#">Room for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Patna</a></li>
              <li><a href="#">PG for boys in Patna</a></li>
              <li><a href="#">PG for girls in Patna</a></li>
              <li><a href="#">PG for family in Patna</a></li>
              <li><a href="#">PG for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Patna</a></li>
              <li><a href="#">Hostel for boys in Patna</a></li>
              <li><a href="#">Hostel for girls in Patna</a></li>
              <li><a href="#">Hostel for family in Patna</a></li>
              <li><a href="#">Hostel for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Patna</a></li>
              <li><a href="#">Flats for boys in Patna</a></li>
              <li><a href="#">Flats for girls in Patna</a></li>
              <li><a href="#">Flats for family in Patna</a></li>
              <li><a href="#">Flats for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Patna</a></li>
              <li><a href="#">Apartments for boys in Patna</a></li>
              <li><a href="#">Apartments for girls in Patna</a></li>
              <li><a href="#">Apartments for family in Patna</a></li>
              <li><a href="#">Apartments for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Patna</a></li>
              <li><a href="#">House for boys in Patna</a></li>
              <li><a href="#">House for girls in Patna</a></li>
              <li><a href="#">House for family in Patna</a></li>
              <li><a href="#">House for couple in Patna</a></li>
            </ul>
          </div>
          <br>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Delhi</a></li>
              <li><a href="#">Plumber in Delhi</a></li>
              <li><a href="#">Repair & Maintenance in Delhi</a></li>
              <li><a href="#">Home Tuition in Delhi</a></li>
              <li><a href="#">Newspaper-Wala in Delhi</a></li>
              <li><a href="#">Salon in Delhi</a></li>
              <li><a href="#">Hair-Cut in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Varanasi</a></li>
              <li><a href="#">Plumber in Varanasi</a></li>
              <li><a href="#">Repair & Maintenance in Varanasi</a></li>
              <li><a href="#">Home Tuition in Varanasi</a></li>
              <li><a href="#">Newspaper-Wala in Varanasi</a></li>
              <li><a href="#">Salon in Varanasi</a></li>
              <li><a href="#">Hair-Cut in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Patna</a></li>
              <li><a href="#">Plumber in Patna</a></li>
              <li><a href="#">Repair & Maintenance in Patna</a></li>
              <li><a href="#">Home Tuition in Patna</a></li>
              <li><a href="#">Newspaper-Wala in Patna</a></li>
              <li><a href="#">Salon in Patna</a></li>
              <li><a href="#">Hair-Cut in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Kota</a></li>
              <li><a href="#">Plumber in Kota</a></li>
              <li><a href="#">Repair & Maintenance in Kota</a></li>
              <li><a href="#">Home Tuition in Kota</a></li>
              <li><a href="#">Newspaper-Wala in Kota</a></li>
              <li><a href="#">Salon in Kota</a></li>
              <li><a href="#">Hair-Cut in Kota</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <br>
          <a href="mailto:info@sheltown.com">info@sheltown.com</a>
          <br>
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved

          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <br>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/sheltown.india" class="fa fa-facebook"></a></li>
            <li><a class="twitter" href="https://twitter.com/OwnShelt?s=20"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="https://instagram.com/sheltown.india"><i class="fa fa-instagram"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/company/sheltown"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section><!-- #footer -->

  <!--  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
  <script type="text/javascript">
    // <![CDATA[
    function ShowHide(divId) {
      var atxt = document.getElementById("atext");
      if (document.getElementById(divId).style.display == 'none') {
        document.getElementById(divId).style.display = 'block';
      } else {
        document.getElementById(divId).style.display = 'none';
      }
    }
    // ]]>
    function Show(divId) {
      var atxt = document.getElementById("showmore");
      if (document.getElementById(divId).style.display == 'none') {
        document.getElementById(divId).style.display = 'block';
      } else {
        document.getElementById(divId).style.display = 'none';
      }
    }

    function openCity(evt, cityName) {
      var i, container_revmain, tablinks;
      container_revmain = document.getElementsByClassName("container_revmain");
      for (i = 0; i < container_revmain.length; i++) {
        container_revmain[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>
  <script>
    $(document).ready(function() {
      $('[data-toggle="popover"]').popover();
    });
  </script>
  <!-- JavaScript Libraries -->
  <script src="{% static 'sheltownapp/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/sticky/sticky.js' %}"></script>



  <script src="{% static 'sheltownapp/js/main.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script>
    //ES5
    $.fn.stars = function() {
      return $(this).each(function() {
        var rating = $(this).data("rating");
        var fullStar = new Array(Math.floor(rating + 1)).join('<i class="fas fa-star"></i>');
        var halfStar = ((rating % 1) !== 0) ? '<i class="fas fa-star-half-alt"></i>' : '';
        var noStar = new Array(Math.floor($(this).data("numStars") + 1 - rating)).join('<i class="far fa-star"></i>');
        $(this).html(fullStar + halfStar + noStar);
      });
    }

    //ES6
    $.fn.stars = function() {
      return $(this).each(function() {
        const rating = $(this).data("rating");
        const numStars = $(this).data("numStars");
        const fullStar = '<i class="fas fa-star"></i>'.repeat(Math.floor(rating));
        const halfStar = (rating % 1 !== 0) ? '<i class="fas fa-star-half-alt"></i>' : '';
        const noStar = '<i class="far fa-star"></i>'.repeat(Math.floor(numStars - rating));
        $(this).html(`${fullStar}${halfStar}${noStar}`);
      });
    }

    $(function() {
      $('.stars').stars();
    });
  </script>
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function() {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5ee991aa9e5f69442290b6fb/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!-- Template Main Javascript File -->
  <script src="{% static 'sheltownapp/js/main.js' %}"></script>
</body>

</html>