{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
{% if messages %}
  {% for message in messages %}
   {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
  {% endfor %}
  {% endif %} 
<head>
  <meta charset="utf-8">
  <title>SheltOwn</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <style>
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

  </style>
  <!-- Favicons -->
  <link href="{% static 'sheltownapp/img/favicon.png' %}" rel="icon">
  <link href="{% static 'sheltownapp/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

   <!-- Favicons -->
  <link href="{% static 'sheltownapp/img/favicon.png' %}" rel="icon">
  <link href="{% static 'sheltownapp/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <!-- Libraries CSS Files -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="{% static 'sheltownapp/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link href="{% static 'sheltownapp/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="{% static 'sheltownapp/css/starability-all.min.css' %}">


  <!-- Main Stylesheet File -->
  <link href="{% static 'sheltownapp/css/style2.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/assets/css/testimonials.css' %}" rel="stylesheet">
  <link href="{% static 'sheltownapp/assets/css/signup-modal.css' %}" rel="stylesheet">

</head>

<body id="body" onload="myFunction()">

        <!--==========================
         Header
       ============================-->
       <header id="header">
        <div id="logo" class="pull-left">
          <a href="{% url 'sheltown-emptyredirect' %}">
            <img src="{% static 'sheltownapp/img/logo.png' %}" alt="logo">
          </a>
        </div>
     
     <!-- <div id="logo" class="pull-left" style="margin-top:8px;">
           <a href="{% url 'sheltown-emptyredirect' %}">
           <p >SheltOwn</p>
           </a>
         </div>
           </div> -->
     
           <nav id="nav-menu-container">
             <ul class="nav-menu">
              
            {% if user.is_authenticated %}
            {% ifequal user.custom_user.usertype "User" %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'sheltown-personalservice' 'DELHI' 'NCR' %}"><i class="fa fa-star" aria-hidden="true" ></i> &nbsp;Personalised</a></li>
            <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true"></i> &nbsp;Rental</a></li>
            <li><a href="{% url 'myaccount-userpartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;My Account</a></li>

            {% endifequal %}

            {% ifequal user.custom_user.usertype "Property Owner" %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'myaccount-propertypartner' %}"><i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;My Account</a></li>
            {% endifequal %}

            {% ifequal user.custom_user.usertype "Service Provider" %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'myaccount-servicepartner'  %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;My Account</a></li>
            {% endifequal %}  

            {% else %}
            <li class="menu-active"><a href="{% url 'sheltown-emptyredirect' %}"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a></li>
            <li><a href="{% url 'sheltown-personalservice' 'DELHI' 'NCR' %}"><i class="fa fa-star" aria-hidden="true" ></i> &nbsp;Personalised</a></li>
            <li><a href="{% url 'sheltown-rental'%}"><i class="fa fa-bed" aria-hidden="true" ></i> &nbsp;Rental</a></li>
     
     
                
            <li><a href="{% url 'sheltown-index' 'openmodal' %}"><i class="fa fa-user-plus" aria-hidden="true" ></i> &nbsp;Sign up</a></li>
            <li><a href="{% url 'login' %}"><i class="fa fa-user-circle-o" aria-hidden="true" ></i> &nbsp;Log in</a></li>
            {% endif %}
          </ul>
           </nav><!-- #nav-menu-container -->
         </div>
       </header><!-- #header -->

 
     <!-- testimonials section -->
    <section class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">         
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <h2><b>Customer Reviews</b></h2>
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>   
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="item carousel-item active">
                                <div class="row">
                                  {% for customer in customerreview %}
                                    <div class="col-sm-6">
                                        <div class="testimonial" style="margin-right: 0; margin-left: 0;">
                                            <p>{{ customer.content }}</p>
                                        </div>
                                        <div class="media">
                                            <div class="media-left d-flex mr-3">
                                                <img src={{ customer.user.user_image.url }} alt="">                                       
                                            </div>
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>{{ customer.user }}</b></div>
                                                    <div class="details">{{ customer.user.city }}</div>
                                                    <div class="star-rating">
                                                      <ul class="starability-result mx-auto" data-rating="{{ customer.rating }}">
                                                         {{ customer.rating }} 
                                                      </ul>
                                                       <!-- <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>-->
                                                    </div>
                                                </div>                                      
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <!---<div class="col-sm-6">
                                        <div class="testimonial" style="margin-right: 0; margin-left: 0;">
                                            <p>I have got a genuine and very quick response from the site. I am very happy with the services SheltOwn provides. I've used their services twice and I'm satisfied everytime.</p>
                                        </div>
                                        <div class="media">
                                            <div class="media-left d-flex mr-3">
                                                <img src="img/team/nikheel.jpeg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Nikheel</b></div>
                                                    <div class="details">Web Developer</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>                                      
                                            </div>
                                        </div>
                                    </div>
                                </div>          
                            </div>
                            <div class="item carousel-item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="testimonial" style="margin-right: 0; margin-left: 0;">
                                            <p>Brokers become inevitable and unfortunately, unprofessional because of no direct 
                                            communication. Renting a property was very frustrating but SheltOwn did exactly 
                                            what I needed.</p>
                                        </div>
                                        <div class="media">
                                            <div class="media-left d-flex mr-3">
                                                <img src="img/team/sravya.jpeg" alt="">                                       
                                            </div>
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>sravya</b></div>
                                                    <div class="details">Web Developer</div>                                            
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>                                      
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonial" style="margin-right: 0; margin-left: 0;">
                                            <p>The support I received from SheltOwn was thorough and timely and my issues were
                                            addressed in a single interaction. Thank you for making the enquiry process so easy.
                                            Thank you sheltown.com</p>
                                        </div>
                                        <div class="media">
                                            <div class="media-left d-flex mr-3">
                                                <img src="img/team/shivam.jpeg" alt="">                                       
                                            </div>
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Shivam</b></div>
                                                    <div class="details">Web developer</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>                                      
                                            </div>
                                        </div>
                                    </div>
                                </div>          
                            </div>
                            <div class="item carousel-item">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="testimonial" style="margin-right: 0; margin-left: 0;">
                                            <p>Absolutely the Best! I'm new to this city and was looking for personal services and 
                                                I had no clue where to find help, but then I found this amazing website SheltOwn 
                                                The site speaks for itself. Truly Amazing.</p>
                                        </div>
                                        <div class="media">
                                            <div class="media-left d-flex mr-3">
                                                <img src="img/team/anwesha.jpeg" alt="">                                       
                                            </div>
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Anwesha</b></div>
                                                    <div class="details">Web developer</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>                                      
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonial" style="margin-right: 0; margin-left: 0;">
                                            <p>It gives me absolute pleasure to say that I am very happy with the kind of responses I am
                                                getting through sheltown.com. Sheltown works in a very organised way, with transparency. 
                                                Keep up the spirits Sheltown!
                                                </p>
                                        </div>
                                        <div class="media">
                                            <div class="media-left d-flex mr-3">
                                                <img src="img/team/shridhi.jpeg" alt="">                                       
                                            </div>
                                            <div class="media-body">
                                                <div class="overview">
                                                    <div class="name"><b>Shridhi</b></div>
                                                    <div class="details">Web Designer</div>
                                                    <div class="star-rating">
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                            <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>                                      
                                            </div>
                                        </div>
                                    </div>
                                </div>          
                            </div>-->
                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
    <form method="GET">
      <div class="mb-3">
        <label for="validationTextarea">Write your Review</label>
        <!-- <textarea class="form-control"  placeholder="Write something" required></textarea> -->
        {% render_field feedbackForm.review id="validationTextarea" placeholder="Write something"  class="form-control"  %}
          <div class="rate">&nbsp;
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
      </div>
          <button class="button" type="submit">Submit</button>
      </div>
             </form>
            </div>
            </div>
            </div>
  <!--==========================
    Footer
  ============================-->

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 about-text">
          <h6>About</h6>
          <p class="text-justify">We are a strong team focused on building a network where we could serve you regarding all your needs of having your own shelter.

We are bound to provide you the best possible care and support which helps you meet your demands.

Our core values- “Honesty, Authenticity, Concerns for Customer’s Privacy and Safety” are all closely interwoven into the fibre of our efforts.

We help you to find your match, book rental homes of choice across Indian cities.
 </p>
          <p>Accept our warm SheltOwn hug.</p>
        </div>

        <div class="col-xs-6 col-md-3 category-text">
          <ul class="footer-links">
            <li><a href="{% url 'sheltown-aboutus' %}">About Us</a></li>
            <li><a href="{% url 'policy_list' %}">Policy</a></li>
            <li><a href="{% url 'policy_list' %}">FAQs</a></li>
            <li><a href="{% url 'policy_list' %}">SheltOwn+</a></li>
            <li><a href="{% url 'policy_list' %}">SheltOwn Family+</a></li>
            <li><a href="{% url 'sheltown-aboutus' %}#contact-us" class="scrollto">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3 quick-text">
          <ul class="footer-links">
            <li><a href="{% url 'sheltown-testimonial' %}">Testimonials</a></li>
            <li><a href="{% url 'sheltown-blog' %}">Blogs</a></li>
            <li><a href="{% url 'join' %}">Join our Team</a></li>

       
            <li><a href="{% url 'becomepartner' %}">List your Property</a></li>
            <li><a href="{% url 'becomepartner' %}">Become our Service Partner</a></li>
                         
            
            <li><a href="#">SiteMap</a></li>
          </ul>
        </div>


      </div>
    </div>
  </footer>
  <section id="footer-two">
    <div class="container">
      <a style="color: #2ecab580; cursor: pointer;" onclick="javascript:ShowHide('HiddenDiv')">More info</a>
      <br>
      <div class="mid" id="HiddenDiv" style="display: none;">
        <div class="row" id="more">
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Delhi</a></li>
              <li><a href="#">Room for boys in Delhi</a></li>
              <li><a href="#">Room for girls in Delhi</a></li>
              <li><a href="#">Room for family in Delhi</a></li>
              <li><a href="#">Room for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Delhi</a></li>
              <li><a href="#">PG for boys in Delhi</a></li>
              <li><a href="#">PG for girls in Delhi</a></li>
              <li><a href="#">PG for family in Delhi</a></li>
              <li><a href="#">PG for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Delhi</a></li>
              <li><a href="#">Hostel for boys in Delhi</a></li>
              <li><a href="#">Hostel for girls in Delhi</a></li>
              <li><a href="#">Hostel for family in Delhi</a></li>
              <li><a href="#">Hostel for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Delhi</a></li>
              <li><a href="#">Flats for boys in Delhi</a></li>
              <li><a href="#">Flats for girls in Delhi</a></li>
              <li><a href="#">Flats for family in Delhi</a></li>
              <li><a href="#">Flats for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Delhi</a></li>
              <li><a href="#">Apartments for boys in Delhi</a></li>
              <li><a href="#">Apartments for girls in Delhi</a></li>
              <li><a href="#">Apartments for family in Delhi</a></li>
              <li><a href="#">Apartments for couple in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Delhi</a></li>
              <li><a href="#">House for boys in Delhi</a></li>
              <li><a href="#">House for girls in Delhi</a></li>
              <li><a href="#">House for family in Delhi</a></li>
              <li><a href="#">House for couple in Delhi</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Kota</a></li>
              <li><a href="#">Room for boys in Kota</a></li>
              <li><a href="#">Room for girls in Kota</a></li>
              <li><a href="#">Room for family in Kota</a></li>
              <li><a href="#">Room for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Kota</a></li>
              <li><a href="#">PG for boys in Kota</a></li>
              <li><a href="#">PG for girls in Kota</a></li>
              <li><a href="#">PG for family in Kota</a></li>
              <li><a href="#">PG for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Kota</a></li>
              <li><a href="#">Hostel for boys in Kota</a></li>
              <li><a href="#">Hostel for girls in Kota</a></li>
              <li><a href="#">Hostel for family in Kota</a></li>
              <li><a href="#">Hostel for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Kota</a></li>
              <li><a href="#">Flats for boys in Kota</a></li>
              <li><a href="#">Flats for girls in Kota</a></li>
              <li><a href="#">Flats for family in Kota</a></li>
              <li><a href="#">Flats for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Kota</a></li>
              <li><a href="#">Apartments for boys in Kota</a></li>
              <li><a href="#">Apartments for girls in Kota</a></li>
              <li><a href="#">Apartments for family in Kota</a></li>
              <li><a href="#">Apartments for couple in Kota</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Kota</a></li>
              <li><a href="#">House for boys in Kota</a></li>
              <li><a href="#">House for girls in Kota</a></li>
              <li><a href="#">House for family in Kota</a></li>
              <li><a href="#">House for couple in Kota</a></li>
            </ul>
          </div>


          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Varanasi</a></li>
              <li><a href="#">Room for boys in Varanasi</a></li>
              <li><a href="#">Room for girls in Varanasi</a></li>
              <li><a href="#">Room for family in Varanasi</a></li>
              <li><a href="#">Room for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Varanasi</a></li>
              <li><a href="#">PG for boys in Varanasi</a></li>
              <li><a href="#">PG for girls in Varanasi</a></li>
              <li><a href="#">PG for family in Varanasi</a></li>
              <li><a href="#">PG for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Varanasi</a></li>
              <li><a href="#">Hostel for boys in Varanasi</a></li>
              <li><a href="#">Hostel for girls in Varanasi</a></li>
              <li><a href="#">Hostel for family in Varanasi</a></li>
              <li><a href="#">Hostel for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Varanasi</a></li>
              <li><a href="#">Flats for boys in Varanasi</a></li>
              <li><a href="#">Flats for girls in Varanasi</a></li>
              <li><a href="#">Flats for family in Varanasi</a></li>
              <li><a href="#">Flats for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Varanasi</a></li>
              <li><a href="#">Apartments for boys in Varanasi</a></li>
              <li><a href="#">Apartments for girls in Varanasi</a></li>
              <li><a href="#">Apartments for family in Varanasi</a></li>
              <li><a href="#">Apartments for couple in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Varanasi</a></li>
              <li><a href="#">House for boys in Varanasi</a></li>
              <li><a href="#">House for girls in Varanasi</a></li>
              <li><a href="#">House for family in Varanasi</a></li>
              <li><a href="#">House for couple in Varanasi</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Room for rent in Patna</a></li>
              <li><a href="#">Room for boys in Patna</a></li>
              <li><a href="#">Room for girls in Patna</a></li>
              <li><a href="#">Room for family in Patna</a></li>
              <li><a href="#">Room for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">PG for rent in Patna</a></li>
              <li><a href="#">PG for boys in Patna</a></li>
              <li><a href="#">PG for girls in Patna</a></li>
              <li><a href="#">PG for family in Patna</a></li>
              <li><a href="#">PG for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Hostel for rent in Patna</a></li>
              <li><a href="#">Hostel for boys in Patna</a></li>
              <li><a href="#">Hostel for girls in Patna</a></li>
              <li><a href="#">Hostel for family in Patna</a></li>
              <li><a href="#">Hostel for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Flats for rent in Patna</a></li>
              <li><a href="#">Flats for boys in Patna</a></li>
              <li><a href="#">Flats for girls in Patna</a></li>
              <li><a href="#">Flats for family in Patna</a></li>
              <li><a href="#">Flats for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">Apartments for rent in Patna</a></li>
              <li><a href="#">Apartments for boys in Patna</a></li>
              <li><a href="#">Apartments for girls in Patna</a></li>
              <li><a href="#">Apartments for family in Patna</a></li>
              <li><a href="#">Apartments for couple in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-4">
            <ul class="footer-two-links">
              <li><a href="#">House for rent in Patna</a></li>
              <li><a href="#">House for boys in Patna</a></li>
              <li><a href="#">House for girls in Patna</a></li>
              <li><a href="#">House for family in Patna</a></li>
              <li><a href="#">House for couple in Patna</a></li>
            </ul>
          </div>
          <br>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Delhi</a></li>
              <li><a href="#">Plumber in Delhi</a></li>
              <li><a href="#">Repair & Maintenance in Delhi</a></li>
              <li><a href="#">Home Tuition in Delhi</a></li>
              <li><a href="#">Newspaper-Wala in Delhi</a></li>
              <li><a href="#">Salon in Delhi</a></li>
              <li><a href="#">Hair-Cut in Delhi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Varanasi</a></li>
              <li><a href="#">Plumber in Varanasi</a></li>
              <li><a href="#">Repair & Maintenance in Varanasi</a></li>
              <li><a href="#">Home Tuition in Varanasi</a></li>
              <li><a href="#">Newspaper-Wala in Varanasi</a></li>
              <li><a href="#">Salon in Varanasi</a></li>
              <li><a href="#">Hair-Cut in Varanasi</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Patna</a></li>
              <li><a href="#">Plumber in Patna</a></li>
              <li><a href="#">Repair & Maintenance in Patna</a></li>
              <li><a href="#">Home Tuition in Patna</a></li>
              <li><a href="#">Newspaper-Wala in Patna</a></li>
              <li><a href="#">Salon in Patna</a></li>
              <li><a href="#">Hair-Cut in Patna</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-3">
            <ul class="footer-two-links">
              <li><a href="#">Electrician in Kota</a></li>
              <li><a href="#">Plumber in Kota</a></li>
              <li><a href="#">Repair & Maintenance in Kota</a></li>
              <li><a href="#">Home Tuition in Kota</a></li>
              <li><a href="#">Newspaper-Wala in Kota</a></li>
              <li><a href="#">Salon in Kota</a></li>
              <li><a href="#">Hair-Cut in Kota</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <br>
          <a href="mailto:info@sheltown.com">info@sheltown.com</a>
          <br>
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved

          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <br>
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/sheltown.india" class="fa fa-facebook"></a></li>
            <li><a class="twitter" href="https://twitter.com/OwnShelt?s=20"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="https://instagram.com/sheltown.india"><i class="fa fa-instagram"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/company/sheltown"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
<!-- #footer -->


  <!--  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
  <script type="text/javascript">
    // <![CDATA[
    function ShowHide(divId) {
      var atxt = document.getElementById("atext");
      if (document.getElementById(divId).style.display == 'none') {
        document.getElementById(divId).style.display = 'block';
      } else {
        document.getElementById(divId).style.display = 'none';
      }
    }
    // ]]>
  </script>




 <!-- Optional JavaScript -->
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict'

      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation')

        // Loop over them and prevent submission
        Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.classList.add('was-validated')
          }, false)
        })
      }, false)
    }())
  </script>
  
  <script type="text/javascript">
    // <![CDATA[
    function ShowHide(divId) {
      var atxt = document.getElementById("atext");
      if (document.getElementById(divId).style.display == 'none') {
        document.getElementById(divId).style.display = 'block';
      } else {
        document.getElementById(divId).style.display = 'none';
      }
    }
    // ]]>
  </script>

  <!-- JavaScript Libraries -->
  <script src="{% static 'sheltownapp/lib/jquery/jquery.min.js' %}"></script>

  <!-- These three were in old -->
  <script src="{% static 'sheltownapp/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/easing/easing.min.js' %}"></script>

  <script src="{% static 'sheltownapp/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/magnific-popup/magnific-popup.min.js' %}"></script>
  <script src="{% static 'sheltownapp/lib/sticky/sticky.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'sheltownapp/contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'sheltownapp/js/main.js' %}"></script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js'></script>
  <script id="rendered-js">
    $('.responsive').slick({
      dots: true,
      prevArrow: $('.prev'),
      nextArrow: $('.next'),
      infinite: false,
      speed: 300,
      slidesToShow: 1,
      slidesToScroll: 1,
      responsive: [{
          breakpoint: 1024,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            dots: true
          }
        },


        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },


        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }


        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
    //# sourceURL=pen.js
  </script>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function() {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5ee991aa9e5f69442290b6fb/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
  {% block footerjs %}{% endblock %}

</body>
</html